<div class="row">
  <div class="col-8">
    <div class="card" style="border-radius: 0px; margin-top: 10px; border: 3px solid #104E8B; width: 95%; height: 600px;">
      <div class="form-group row">
        <div class="col-md-12 text-center">
          <span class="bold-2 label lineRes1">MEDICAL CERTIFICATE</span>
        </div>
        <div class="col-md-12 mt-3">
          <p class="mx-1">{{ value1 }}</p>
          <p class="mx-1">{{ value2 }}</p>
          <p class="mx-1">{{ value3 }}</p>
          <p class="mx-1">{{ value4 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
