<transaction-list [listType]="summary"></transaction-list>

<div class="container py-3 mb-3 d-print-none">
  <div class="form-group row bg-white rounded border mat-elevation-z2">

    <div class="col-md-12">
      <div class="form-group row">
        <div class="col-md-4">
          <button mat-mini-fab color="accent" matTooltip="Has record" class="mt-3">
            <mat-icon>visibility</mat-icon>
          </button>
          Has record, to view data
        </div>
        <div class="col-md-4">
          <button mat-mini-fab [color]="'success'" matTooltip="No record yet" class="mt-3">
            <mat-icon>add_circle</mat-icon>
          </button>
          No record yet, to add data
        </div>
      </div>
    </div>
  </div>
</div>
