<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="margin-top: 5px;">
      <img src="assets/image/QPDHeader.jpg" height="65px" width="100%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <p class="lineLabel">Name:</p>
    </div>
    <div class="col-md-5">
      <span class="lineLabel">{{ patientData?.fullName }}</span>
    </div>
    <div class="col-md-1">
      <p class="lineLabel">Date:</p>
    </div>
    <div class="col-md-5">
      <span class="lineLabel">{{ math.dateNow() }}</span>
    </div>
  </div>
  <div class="row" style="margin-top: -10px;">
    <div class="col-md-1">
      <p class="lineLabel">Age:</p>
    </div>
    <div class="col-md-5">
      <span class="lineLabel">{{ patientData?.age }}</span>
    </div>
    <div class="col-md-1">
      <p class="lineLabel">Gender:</p>
    </div>
    <div class="col-md-5">
      <span class="lineLabel ml-2">{{ patientData?.gender }}</span>
    </div>
  </div>
  <div class="row" style="margin-top: -10px;">
    <div class="col-md-1">
      <p class="lineLabel">Address:</p>
    </div>
    <div class="col-md-11">
      <span class="lineLabel ml-3">{{ patientData?.address }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card" style="border-radius: 0px; margin-top: 10px; border: 3px solid #104E8B; width: 100%;">
      <br>
      <textarea placeholder="Your text here.." #text matInput rows="17" style="margin-left: 5px;"></textarea>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <button type="button" mat-raised-button color="accent" (click)="cancel()" class="col">
      <mat-icon>close</mat-icon> Cancel
    </button>
    &nbsp;&nbsp;
    <button type="button" mat-raised-button color="primary" (click)="print()" class="col">
      <mat-icon>print</mat-icon> Print
    </button>
  </div>
  <!-- <div class="row">
    <div class="col-12" style="margin-top: 30px;">
      <img src="assets/image/QISFooter.png" height="30px" width="100%">
    </div>
  </div> -->
</div>
