<transaction-list listType="industrial"></transaction-list>

<div class="container py-3 mb-3">
  <div class="form-group row bg-white rounded border mat-elevation-z2 py-1">
    <div class="col-md-3 text-center mt-2">
      <button mat-mini-fab color="success">
        <clr-icon shape="plus"></clr-icon>
      </button>
      To add data
    </div>
    <div class="col-md-3 text-center mt-2">
      <button mat-mini-fab color="accent">
        <clr-icon shape="sync"></clr-icon>
      </button>
      To update data
    </div>
    <div class="col-md-3 text-center mt-2">
      <button mat-mini-fab color="success">
        <mat-icon>visibility</mat-icon>
      </button>
      To view data
    </div>
  </div>
</div>
