<mat-grid-list  cols="24" rowHeight="15px" class="bg-facebook-light-darker s-bottom mb-1 animated fadeIn font-weight-bold">
  <form [formGroup]="itemForm" autocomplete="off">
  <mat-grid-tile colspan="10" rowspan="4" style="text-align:center;font-size:12px;">
    {{ index + 1 }}. {{itemInfo.itemName}}
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="4">
    <mat-form-field class="input-num">
      <input matInput type="number" placeholder="Price" [value]="itemInfo.itemPrice" disabled>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="4">
    <mat-form-field class="input-num">
      <input matInput type="number" placeholder="Quantity" formControlName="quantity">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="4">
    <mat-form-field class="input-num">
      <input matInput type="number" placeholder="Discount" formControlName="discount" >
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="4">
    <mat-form-field class="input-num" style="font-weight:bolder;">
      <input matInput type="number" placeholder="Total" formControlName="total">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="4">
    <mat-icon class="delete-btn" (click)="deleteItem()">delete_forever</mat-icon>
  </mat-grid-tile>
</form>
</mat-grid-list>
