.input-num{
    position: absolute;
    width: 65px !important;
    top: 9px;
    letter-spacing: 2px;
    text-align: center;
}
.input-num input{
    color: white
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.delete-btn{
    color: crimson;
    cursor: pointer;
}
.delete-btn:hover{
    transform: scale(1.2,1.2);
}
mat-grid-list{
    border-left: 5px #628bde solid;
}
