<mat-form-field style="width: 100%">
  <mat-select [formControl]="itemCtrl" [placeholder]="placeholder" [(ngModel)]="selected" #singleSelect disableOptionCentering>
    <mat-option>
      <ngx-mat-select-search [formControl]="itemFilterCtrl"></ngx-mat-select-search>
    </mat-option>
    <mat-option [value]="selected" disabled>
      Select medication
    </mat-option>
    <mat-option *ngFor="let item of filteredItems | async" [value]="item">
      {{item.generic}} - {{item.medicine}} -- {{item.dosage}}
    </mat-option>
  </mat-select>
</mat-form-field>
