<mat-dialog-content>
  <patient-info [id]="transactionId" class="sticky-top"></patient-info>
  <form [formGroup]="addSummaryForm" (ngSubmit)="addSummary()">
    <div class="container mb-3">
      <div class="form-group row">
        <div class="col-md-7">
          <!-- Header -->
          <div class="row">
            <div class="header mt-1 ls-2">
              <span class="bold-2" style="font-size: 15px;">{{ title }} RADIOLOGY RESULTS</span>
            </div>
          </div>
          <!-- Xray Finding -->
          <div class="row">
            <div class="col-12 mt-2">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">X-ray Findings</div>
                <mat-form-field class="col">
                  <textarea matInput placeholder="Findings" formControlName="comment" rows="3"></textarea>
                  <mat-error *ngIf="addSummaryForm.get('comment').hasError('required')">
                    X-ray findings is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- Xray Impressions -->
          <div class="row">
            <div class="col-12 mt-2">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">X-ray Impressions</div>
                <mat-form-field class="col">
                  <input matInput placeholder="Impressions" formControlName="impression">
                  <mat-error *ngIf="addSummaryForm.get('impression').hasError('required')">
                    X-ray impression is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- Imaging Personel -->
          <div class="row mt-2">
            <div class="col-12">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">Imaging Personel</div>
                <mat-form-field class="col-md-6 mt-3">
                  <mat-label>Quality Assurance</mat-label>
                  <mat-select (selectionChange)="personel($event.value)" [value]="personelValue" formControlName="qa">
                    <mat-option *ngFor="let personel of personels" value="{{ personel }}">{{ personel }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-md-6 mt-3">
                  <mat-label>Radiologist</mat-label>
                  <mat-select (selectionChange)="radiology($event.value)" [value]="radiologistValue"
                    formControlName="radiologist">
                    <mat-option *ngFor="let radiology of radiologist;" value="{{ radiology?.rad }}">{{ radiology?.rad }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="addSummaryForm.get('radiologist').hasError('required')">
                    Radiologist is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <div class="row">
                  <div class="col-md-12 text-right">
                    <button mat-raised-button [color] = "'success'" type="submit" matTooltip="Save" [disabled]="!addSummaryForm.valid">
                      <mat-icon>save</mat-icon> Save
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <!-- Template -->
          <div class="row">
            <div class="header mt-1 ls-2">
              <span class="bold-2" style="font-size: 15px;">NORMAL CHEST FINDINGS TEMPLATES</span>
            </div>
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <p> DOC RAMIREZ NORMAL CHEST TEMPLATE</p>
                <p>No abnormal densities seen in both lung parenchyma. The heart is normal in size and configuration.
                  Aorta is unremarkable. The diaphragms, costrophrenic sulci and bony throrax are intact.
                </p>
              </div>
            </div>

            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <p> DOC PACHECO NORMAL CHEST TEMPLATE</p>
                <p>Lung fields are clear. Heart is not enlarged. Diaphragm, its sulci visualized bone are intact.
                </p>
              </div>
            </div>

            <mat-form-field class="col-md-6 mt-3">
              <mat-label>Other templates</mat-label>
                  <mat-select (selectionChange)="template($event.value)" [value]="templateValue">
                    <mat-option *ngFor="let template of templates;" value="{{ template?.temp }}">{{ template?.temp }}
                    </mat-option>
                  </mat-select>
            </mat-form-field>

          </div>
        </div>
      </div>

    </div>
  </form>
</mat-dialog-content>
