<div class="container py-3">
  <form [formGroup]="peAddForm" (ngSubmit)="addPe()" autocomplete="off">
    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">PATIENT INFORMATION</span>
                </div>
              </div>
              <div class="col-md-2">
                <p class="h6">Patient ID:</p>
                <p class="h6 font-weight-bold">{{ transactionData?.patientId }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Transaction No:</p>
                <p class="h6 font-weight-bold">{{ transactionData?.transactionId }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Transaction Date:</p>
                <p class="h6 font-weight-bold">{{ transactionData?.transactionDate }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Name:</p>
                <p class="h6 font-weight-bold">
                  {{ patientData?.lastName + ', ' + patientData?.firstName + ' ' + patientData?.middleName }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Company name:</p>
                <p class="h6 font-weight-bold">{{ patientData?.companyName }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Gender:</p>
                <p class="h6 font-weight-bold">{{ patientData?.gender }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <mat-card class="mat-elevation-z8 h-100" formGroupName="medhisForm">
          <mat-card-content>
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">Add Medical History</span>
                </div>
              </div>
              <div class="col-md-6 text-right">
                <p class="bold-3 ls-1">SIGNIFICANT PAST ILLNESS</p>
              </div>
              <div class="col-md-6 text-center">
                <p class="bold-3 ls-1">YES / NO</p>
              </div>
            </div>

            <!--  -->

            <div class="row mb-3" *ngFor="let medical of medicals">
              <div class="col-md-6 text-right">
                <p class="h6 bold-3 ls-1">{{ medical.category }}</p>
              </div>
              <div class="col-md-6 text-center">
                <mat-radio-group formControlName="{{ medical.control }}">
                  <mat-radio-button value="YES" color="primary" class="ml-2">
                  </mat-radio-button>
                  <mat-radio-button value="NO" color="primary" class="ml-2">
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card class="mat-elevation-z8 h-100" formGroupName="vitalForm">
          <mat-card-content>
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">Add Vital Signs</span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="col-md-12">
                    <mat-label>Height</mat-label>
                    <input matInput required formControlName="height">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="col-md-12">
                    <mat-label>Weight</mat-label>
                    <input matInput required formControlName="weight">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="col-md-12">
                    <mat-label>BMI</mat-label>
                    <input matInput formControlName="bmi">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="col-md-12">
                    <mat-label>BP</mat-label>
                    <input matInput required formControlName="bp">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="col-md-12">
                    <mat-label>PR</mat-label>
                    <input matInput required formControlName="pr">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="col-md-12">
                    <mat-label>RR</mat-label>
                    <input matInput required formControlName="rr">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-12 text-center">
                <p class="bold-3 ls-1">VISUAL ACUITY</p>
              </div>

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <p class="bold-3 ls-1 mt-3">Uncorrected</p>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="col-md-12">
                      <mat-label>OD</mat-label>
                      <input matInput formControlName="uod">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="col-md-12">
                      <mat-label>OS</mat-label>
                      <input matInput formControlName="uos">
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <p class="bold-3 ls-1 mt-3">Corrected</p>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="col-md-12">
                      <mat-label>OD</mat-label>
                      <input matInput formControlName="cod">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="col-md-12">
                      <mat-label>OS</mat-label>
                      <input matInput formControlName="cos">
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-md-12" *ngFor="let vital of vitals">
                <mat-form-field class="col-md-12">
                  <mat-label>{{ vital.category }}</mat-label>
                  <input matInput formControlName="{{ vital.control }}">
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field class="col-md-12" appearance="fill">
                  <mat-label>Others/Notes:</mat-label>
                  <textarea matInput formControlName="notes" rows="4"></textarea>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8 h-100" formGroupName="peForm">
          <mat-card-content>
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">Physical Examination</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <p class="bold-3 ls-2">NORMAL</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-right">
                  <p class="bold-3 ls-2">AREA</p>
                </div>
                <div class="col-md-6">
                  <p class="bold-3 ls-2">YES / NO</p>
                </div>
              </div>
              <div class="row" *ngFor="let area of areas">
                <div class="col-md-6 text-right">
                  <p class="h6 bold-3 ls-1 mt-3">{{ area.area }}:</p>
                </div>
                <div class="col-md-2">
                  <mat-radio-group formControlName="{{ area.control }}">
                    <mat-radio-button value="YES" color="primary" class="ml-2">
                    </mat-radio-button>
                    <mat-radio-button value="NO" color="primary" class="ml-2">
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-right">
                  <p class="h6 bold-3 ls-1 my-auto">Findings:</p>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="col-md-12" appearance="fill">
                    <textarea matInput rows="4" formControlName="find"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-right">
                  <p class="h6 bold-3 ls-1">Others/Notes:</p>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="col-md-12" appearance="fill">
                    <textarea matInput rows="4" formControlName="ot"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-right">
                  <p class="h6 bold-3 ls-1 mt-3">Doctor:</p>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="col-md-12">
                    <mat-select (selectionChange)="changeDoctor($event.value)" formControlName="doctor">
                      <mat-option *ngFor="let doctor of doctors" [value]="doctor.doctor">{{ doctor.doctor }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-right">
                  <p class="h6 bold-3 ls-1 mt-3">License No:</p>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="col-md-12">
                    <input matInput readonly #licenseInput formControlName="license">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <hr>

    <div class="form-group row">
      <div class="col-md-12 text-center">
        <button type="button" mat-raised-button color="warn" (click)="back()" class="">Back</button>
        <button type="submit" mat-raised-button color="primary" class="ml-2" [disabled]="!peAddForm.valid">Submit</button>
      </div>
    </div>
  </form>
</div>
