@media screen {
  :host {
    display: none;
  }
}

.card-header {
  font-family: "Times New Roman";
  font-size: 18px;
  color: white;
  background-color: #104E8B;
  padding: 0px;
  margin: 0px;
}

.line {
  font-family: "Garamond";
  display: table-cell;
  width: 50px;
  height: 16px;
  border-bottom: 1px solid #104E8B;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
  line-height: 22px;
  text-align: center;
  /*font-size: 18px;*/

}

.label {
  font-family: "Garamond";
  font-size: 18px;
  color: #104E8B;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  line-height: 22px;


}

.lineName {
  font-family: "Garamond";
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
  line-height: 18px;

}

.labelName {
  font-family: "Garamond";
  font-size: 18px;
  color: #104E8B;
  font-weight: bold;
  padding: 0px;
  line-height: 18px;
  margin: 0px;


}

.Names {
  font-family: "Garamond";
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
  line-height: 18px;
  color: #000000;
}

.lineNameSig {
  font-family: "Garamond";
  display: table-cell;
  width: 500px;
  height: 16px;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 1px;
  margin: 1px;
  line-height: 3px;
  color: #000000;

}


.label1 {
  font-family: "Garamond";
  font-size: 18px;
  color: #104E8B;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  line-height: 0px;


}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5 .col-6 {
  padding-left: 0px;
  margin-left: 0px;
}

.col u {
  font-family: "Garamond";
  text-transform: uppercase;
  font-weight: bolder;

}

hr {
  background-color: #fff;
  border-top: 3px dashed #8c8b8b;
  line-height: 1px;

}

.seroname {
  font-family: "Garamond";
  margin-top: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #104E8B;
}

.serores {
  font-family: "Garamond";
  font-size: 20px;
  font-weight: bolder;
  border-bottom: 1px solid black;
  text-align: center;
  height: 30px;

}

.resunit {
  font-weight: bold;
  margin-top: 5px;
}
