<div class="row">
  <div class="col-8">
    <div class="card"
      style="border-radius: 0px; margin-top: 10px; border: 3px solid #104E8B; width: 96%; height: 600px;">
      <div class="form-group row mx-1">
        <div class="col-md-12 text-center mb-2">
          <span class="bold-2 label lineRes1">COVID TEST RESULT</span>
        </div>

        <div class="col-sm-6">
          <p class="font-weight-bold h6">Result</p>
          <div class="row ml-1">
            <div class="col-md-12" style="margin-top: -10px;">
              <p class="h6">{{ covidData.result }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
