<div class="container-fluid">
  <div class="form-group row">
    <div class="col-md-12">
      <span class="bold-3 ls-2 p-3">PATIENT LIST</span>
    </div>
    <div class="col-md-12">
      <consultation [type]="'doctor'"></consultation>
    </div>
  </div>
</div>
