<div class="container-fluid">

  <doc-head-edit [patientId]="patientId"></doc-head-edit>

  <div class="row">
    <div class="col text-center">
      <p class="h5">MEDICAL REQUEST</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12">
          <p class="h6 font-weight-bold">Hematology</p>
          <div class="row">
            <div class="col-12 ml-2 nmt5" contenteditable="true" #hemasValue *ngFor="let value of hemas">
              {{ value }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">
          <p class="h6 font-weight-bold">Microscopy</p>
          <div class="row">
            <div class="col-12 ml-2 nmt5" contenteditable="true" #microsValue *ngFor="let value of micros">
              {{ value }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12">
          <p class="h6 font-weight-bold">Chemistry</p>
          <div class="row">
            <div class="col-12 ml-2 nmt5" contenteditable="true" #chemsValue *ngFor="let value of chems">
              {{ value }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">
          <p class="h6 font-weight-bold">Imaging</p>
          <div class="row">
            <div class="col-12 ml-2 nmt5" contenteditable="true" #xraysValue *ngFor="let value of xrays">
              {{ value }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12">
          <p class="h6 font-weight-bold">Others</p>
          <div class="row">
            <div class="col-12 ml-2 nmt5" contenteditable="true" #othersValue >
              {{ others }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <!--  -->
    </div>
  </div>

  <div class="row mt-1">
    <button type="button" mat-raised-button color="accent" (click)="cancel()" class="col">
      <mat-icon>close</mat-icon> Cancel
    </button>
    &nbsp;&nbsp;
    <button type="button" mat-raised-button color="primary" (click)="print()" class="col">
      <mat-icon>print</mat-icon> Print
    </button>
  </div>
  <!-- <div class="row">
    <div class="col-12" style="margin-top: 30px;">
      <img src="assets/image/QISFooter.png" height="30px" width="100%">
    </div>
  </div> -->
</div>
