.loader-con {
  position: absolute;
  height: calc(100vh - 64px);
  width: 100%;
  background-color: darkslategray;
  z-index: 999;
}

table {
  width: 100%;
}

.table-con {
  width: 95%;
  height: 520px;
  overflow: auto;
  margin: auto;
}

.search-field {
  width: 100%;
}

button {
  outline: none;
}

.delete-btn {
  color: crimson;
  cursor: pointer;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  width: 100%;
  z-index: 10;
}

.search-con {
  width: 95%;
  margin: auto;
}

.mat-success {
  background-color: #2980b9;
  color: #fff;
}
