<div class="container-fluid">
  <div class="form-group row mx-auto">
    <div class="col-md-7">
      <span class="bold-3 ls-2 p-3 text-uppercase"> List of {{ typeFinal }} Personnels </span>
    </div>
  </div>

  <div class="form-group row mx-auto">
    <div class="col-md-8">
      <mat-form-field class="col-md-6">
        <mat-label>Select Department</mat-label>
        <mat-select (selectionChange)="selectDep($event.value)">
          <mat-option value="-">-</mat-option>
          <mat-option *ngFor="let typeValue of types" [value]="typeValue.value">{{ typeValue.label }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="button" color="primary" (click)="addPersonnel()">
        <mat-icon>add_circle</mat-icon> Add
      </button>
    </div>

    <div class="col-md-4">
      <mat-form-field class="search-field">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Personnel">
      </mat-form-field>
    </div>
  </div>
</div>

<div class="mat-elevation-z2 table-con">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span style="text-transform: uppercase;" class="ls-1 bold-1">
          {{column}}
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <span [style.color]="element['color']" [ngClass]="{'font-weight-bold': column == 'patient'}">
          {{element[column]}}
        </span>
        <div *ngIf="column == 'action'">
          <button type="button" mat-raised-button color="accent" (click)="updatePersonnel(element.personnelID)">
            <mat-icon>update</mat-icon> Update
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]" class="mat-paginator-sticky"></mat-paginator>
</div>
