<mat-dialog-content>
  <div class="container-fluid">
    <form [formGroup]="addMedicationForm" (ngSubmit)="addMedication()" autocomplete="off">
      <div class="form-group row">
        <div class="col-md-12 text-center">
          <div class="header mt-1 ls-2 mb-3">
            <span class="bold-2">Add Medication</span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12">
          <mat-form-field class="col-md-12">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="quantity">
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="col-md-12">
            <mat-label>Duration ( days )</mat-label>
            <input matInput formControlName="duration">
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="col-md-12">
            <mat-label>Schedule</mat-label>
            <input matInput formControlName="sched">
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="col-md-12">
            <mat-label>Notes</mat-label>
            <input matInput formControlName="notes">
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12 text-right">
          <button type="button" mat-raised-button mat-dialog-close="cancel" color="warn" class="mr-1">
            <mat-icon>cancel</mat-icon> Close
          </button>
          <button type="submit" mat-raised-button color="primary" [disabled]="!addMedicationForm.valid">
            <mat-icon>save</mat-icon> Save
          </button>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>
