<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="container">
      <div class="form-group row">
        <div class="col-md-12 text-center">
          <div class="header mt-1 ls-2 mb-3">
            <span class="bold-2">PATIENT INFORMATION</span>
          </div>
        </div>
        <div class="col-md-3">
          <p class="h6">Name:</p>
          <p class="h6 font-weight-bold">
            {{ patientDatas?.fullName }}</p>
        </div>
        <div class="col-md-3">
          <p class="h6">Address:</p>
          <p class="h6 font-weight-bold">{{ patientDatas?.address }}</p>
        </div>
        <div class="col-md-3">
          <p class="h6">Age:</p>
          <p class="h6 font-weight-bold">{{ patientDatas?.age }}</p>
        </div>
        <div class="col-md-3">
          <p class="h6">Gender:</p>
          <p class="h6 font-weight-bold">{{ patientDatas?.gender }}</p>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12 text-center">
          <div class="header mt-1 ls-2 mb-3">
            <span class="bold-2">Covid Test</span>
          </div>
        </div>
        
        <mat-form-field class="col-md-4 mx-auto">
          <mat-label>Result</mat-label>
          <mat-select formControlName="result">
            <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider class="py-2"></mat-divider>

      <div class="form-group row mt-1">
        <div class="col-md-12 text-right">
          <button type="button" mat-raised-button color="warn" class="mr-1" (click)="close()">
            <mat-icon>cancel</mat-icon> Cancel
          </button>

          <button type="submit" mat-raised-button color="primary" class="mr-1" [disabled]="!form.valid">
            <mat-icon>save</mat-icon> Save
          </button>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
