<div class="container">
  <div class="row">
    <div class="col-md-7 mt-1">
      <div class="header ls-2 ">
        <span class="bold-2">P</span>AT<span class="bold-2">I</span>ENT
        <span class="bold-2">I</span>NFOR<span class="bold-2">M</span>ATION
      </div>
      <div class="con">
        <div>Patient ID.: <span class="bold-1">{{patient?.patientID}}</span> |
        Transaction NO.: <span class="bold-1">{{transaction?.transactionId}}</span> |
        Transaction: <span class="bold-1">{{transaction?.transactionType}}</span></div>
        <div class="bold-2 ls-2 name">{{patient?.lastName}}, {{patient?.firstName}} {{patient?.middleName}}</div>
        <span>Gender : </span>
        <span class="bold-1">{{patient?.gender}}</span>
        <span> | Age : </span>
        <span class="bold-1">{{math.computeAge(patient?.birthdate)}}</span><br/>
        <span>Company Name : </span>
        <span class="bold-1">{{patient?.companyName}}</span>
      </div>
    </div>
    <div class="col-md-5 mt-1">
      <div class="header ls-2 ">
          <span class="bold-2">A</span>VA<span class="bold-2">I</span>LED
          <span class="bold-2">I</span>TEMS
      </div>
      <div *ngFor="let pack of package" class="con">
        <span class="bold-1">{{pack.packageName}}</span><span> - ( {{pack.packageDescription}} )</span>
      </div>
      <div *ngFor="let i of item" class="con">
          <span class="bold-1">{{i.itemName}}</span>
        </div>
    </div>
  </div>
</div>
