<mat-dialog-content>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="header mt-1 ls-2 mb-3">
        <span class="bold-2">Patient's Xray</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 py-3">
        <form [formGroup]="form" (ngSubmit)="formSubmit()" enctype="multipart/form-data">
          <mat-card class="mat-elevation-z2">
            <mat-card-header>
              <mat-card-title>
                <span *ngIf="xrayContent">Update/View</span>
                <span *ngIf="!xrayContent">Add</span>
                Xray
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <hr>
              <div class="custom-file">
                <input type="file" class="custom-file-input" formControlName="image" (change)="fileProgress($event)"
                  multiple>
                <label class="custom-file-label" for="file">Choose picture</label>
              </div>
              <div *ngIf="fileUploadProgress">
                Upload progress: {{ fileUploadProgress }}
              </div>
              <div class="image-preview mb-3 text-center" *ngIf="previewUrl">
                <img [src]="previewUrl" class="img-fluid" width="500" height="500">
              </div>
              <!-- <div class="mb-3" *ngIf="uploadedFilePath">
                {{uploadedFilePath}}
              </div> -->
            </mat-card-content>
            <mat-card-footer class="text-center pb-2">
              <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">
                <span *ngIf="xrayContent">Update Xray</span>
                <span *ngIf="!xrayContent">Add Xray</span>
              </button>
            </mat-card-footer>
          </mat-card>
        </form>
      </div>
      <div class="col-md-6 py-3 text-center" *ngIf="xrayContent">
        <img [src]="imgXray" class="img-fluid" width="500" height="500">
        <hr>
        <button mat-raised-button color="primary" (click)="generatePdf(tid)" class="text-center">Save as PDF</button>
        <button mat-raised-button color="accent" (click)="generatePdfPrint(tid)" class="text-center">Print Xray</button>
      </div>
      <div class="col-md-6 py-3" *ngIf="!xrayContent">
        <h4>No Xray Scanned Image uploaded yet.</h4>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-8 mx-auto">
        <mat-card class="mat-elevation-z2">
          <mat-card-content>
            <h4>Must add radiology report first before add/updating patient/candidate's Xray Scanned Picture</h4>
          </mat-card-content>
        </mat-card>
      </div>
    </div> -->
  </div>

</mat-dialog-content>
