<div class="container py-3">
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <form [formGroup]="basic5Form" (ngSubmit)="basic5()">
        <div class="form-group row">
          <div class="col-md-12">
            <div class="header mt-1 ls-2">
              <span class="bold-2">BASIC 5 SUMMARY REPORT IN EXCEL</span>
            </div>
          </div>
          <div class="col-md-12 mt-2 mb-4">
            <p class="h6 text-muted">Note: This section is for Generating EXCEL FILE through browser for daily
              updating per company.</p>
          </div>
          <div class="col-md-3">
            <span class="bold-2 ls-1 mr-3"> Start Date: </span>
            <ejs-datetimepicker formControlName="from"></ejs-datetimepicker>
          </div>
          <div class="col-md-3">
            <span class="bold-2 ls-1 mr-3"> End Date: </span>
            <ejs-datetimepicker formControlName="to"></ejs-datetimepicker>
          </div>
          <div class="col-md-3">
            <company-select companyURL="getCompany" placeholder="Company List / Doctor"
              (selectTrig)="getCompany($event)">
            </company-select>
          </div>
          <div class="col-md-3">
            <button type="submit" mat-raised-button color="primary" [disabled]="!basic5Form.valid">Generate</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
