<mat-dialog-content>
        <patient-info [id]="id" class="sticky-top"></patient-info>
        <form >
          <div class="container mb-3">
            <div class="row">
              <div class="header mt-1 ls-2">
                <span *ngIf="update" class="bold-2">UPDATE</span>
                <span *ngIf="!update" class="bold-2">ADD</span>
                <span class="bold-2"> RADIOLOGY RESULTS</span>
              </div>
            </div>
            <div class="row">

              <div class="header mt-1 ls-2">
                <span class="bold-2"> THIS TEMPLATE IS ONLY FOR NORMAL CHEST FINDINGS</span>
              </div>

              <div class="col-md-6 mt-2">
                <div class="row mt-2 m-custom">
                  <div class="bold-1 p-3 des">
                    <p> DOC RAMIREZ CHEST PA TEMPLATE</p>
                    <p>No abnormal densities seen in both lung parenchyma. The heart is normal in size and configuration.
                       Aorta is unremarkable. The diaphragms, costrophrenic sulci and bony throrax are intact.
                      </p>
                  </div>
                </div>
              </div>


              <div class="col-md-6 mt-2">
                <div class="row mt-2 m-custom">
                  <div class="bold-1 p-3 des">
                      <p> DOC PACHECO CHEST PA TEMPLATE</p>
                         <p>Lung fields are clear. Heart is not enlarged. Diaphragm, its sulci visualized bone are intact.
                        </p>
                        <br>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="row">
                  <div class="col-12 mt-2">
                      <div class="row mt-2">
                          <div class="bold-1 p-3 des">
                              <div class="bold-1 title pl-2 pr-2">X-ray Findings</div>
                              <mat-form-field class="col">
                                  <input matInput placeholder="Findings" formControlName="chemNotes">
                              </mat-form-field>
                          </div>
                      </div>
                  </div>
              </div>
              </div>


            <div class="col-md-12">
              <div class="row">
                <div class="col-12 mt-2">
                    <div class="row mt-2">
                        <div class="bold-1 p-3 des">
                            <div class="bold-1 title pl-2 pr-2">X-ray Impressions</div>
                            <mat-form-field class="col">
                                <input matInput placeholder="Impressions" formControlName="chemNotes">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-12 mt-2">
              <div class="row mt-2">
                <div class="bold-1 p-3 des">
                  <div class="bold-1 title pl-2 pr-2">Immaging Personel</div>

                  <div class="col-md-12 mb-3">
                      <mat-form-field class="col-md-4">
                        <mat-label>Quality Assurance</mat-label>
                        <mat-select (selectionChange)="personel($event.value)" [value]="personelValue">
                          <mat-option *ngFor="let personel of personels" value="{{ personel }}">{{ personel }}</mat-option>
                        </mat-select>
                      </mat-form-field>

                          <mat-form-field class="col-md-4">
                            <mat-label>Radiologist</mat-label>
                            <mat-select (selectionChange)="radiology($event.value)" [value]="radiologistValue">
                              <mat-option *ngFor="let radiology of radiologist" value="{{ radiology }}">{{ radiology }}</mat-option>
                            </mat-select>
                          </mat-form-field>

                          </div>

                </div>
              </div>
            </div>

          </div>
          </div>
        </form>
      </mat-dialog-content>
