<div class="row">
  <div class="col-8">
    <div class="card" style="border-radius: 0px; margin-top: 10px; border: 3px solid #104E8B; width: 95%; height: 600px;">
      <div class="mx-1">
        <p class="h1"><b>Rx</b></p>
        <div class="row ml-4" *ngFor="let value of value1; let i = index;">

          <!-- VALUE 1 -->
          <div class="col">
            <p *ngIf="value == 'n/a'"></p>
            <p *ngIf="value !== 'n/a'" [innerHTML]="value | replace"></p>
          </div>

          <!-- VALUE 2 -->
          <div class="col">
            <p *ngIf="value2[i] == 'n/a'"></p>
            <p *ngIf="value2[i] !== 'n/a'">{{ value2[i] }}</p>
          </div>

          <!-- VALUE 3 -->
          <div class="col">
            <p *ngIf="value3[i] == 'n/a'"></p>
            <p *ngIf="value3[i] !== 'n/a'">{{ value3[i] }}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
