<div class="row">
  <div class="col-8">
    <div class="card"
      style="border-radius: 0px; margin-top: 10px; border: 3px solid #104E8B; width: 96%; height: 600px;">
      <div class="form-group row mx-1">
        <div class="col-md-12 text-center mb-2">
          <span class="bold-2 label lineRes1">CARDIO-PULMONARY CLEARANCE</span>
        </div>

        <div class="col-sm-6">
          <p class="font-weight-bold h6">Past Medical History</p>
          <div class="row ml-1" *ngFor="let value of medHis">
            <div class="col-md-12 nmt8">{{ value }}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <p class="font-weight-bold h6">Physical Exam</p>
          <div class="row ml-1" *ngFor="let value of pe">
            <div class="col-md-12 nmt8">{{ value }}</div>
          </div>
        </div>

        <div class="col-sm-6">
          <p class="font-weight-bold h6">Allergy</p>
          <div class="row ml-1">
            <div class="col-md-12 nmt8">{{ allergies }}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <p class="font-weight-bold h6">Work-Up</p>
          <div class="row ml-1">
            <div class="col-md-12 nmt8">{{ workUp }}</div>
          </div>
        </div>

        <div class="col-sm-6">
          <p class="font-weight-bold h6">Previous Surgery</p>
          <div class="row ml-1">
            <div class="col-md-12 nmt8">{{ prevSurgery }}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <p class="font-weight-bold h6">Assessment/Plan</p>
          <div class="row ml-1">
            <div class="col-md-12 nmt8">{{ assessmentPlan }}</div>
          </div>
        </div>

        <div class="col-sm-6">
          <p class="font-weight-bold h6">Review of System</p>
          <div class="row ml-1" *ngFor="let value of ros">
            <div class="col-md-12 nmt8">{{ value }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
