@media screen {
  :host {
    display: none;
  }
}


.card-header {
    font-family: "Times New Roman";
    font-size: 18px;
    color: white;
    background-color: #104E8B;
    padding: 0px;
    margin: 0px;
  }
  .label {
    font-family: "Garamond";
    font-size: 18px;
    color: #104E8B;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    line-height: 16px;
  
  }

  .label1 {
    font-family: "Garamond";
    background-color: #104E8B;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
  
  }



  .label2 {
    font-family: "Garamond";
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
  
  }
  
  
  .label3 {
    font-family: "Garamond";
    background-color: #104E8B;
    font-size: 15.5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
  
  }

  .lineName {
    font-family: "Garamond";
    font-size: 18px;
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
    line-height: 25px;
  
  }
  
  .labelName {
    font-family: "Garamond";
    font-size: 18px;
    color: #104E8B;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
  }


  table, th , td  {
    margin-left: auto;
    margin-right: auto;
    font-family: "Garamond";
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: rgb(255, 255, 255);
  }

  table tr:nth-child(even) {
    background-color: #ffffff;
  }