
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12" style="visibility: hidden;">
        <img src="assets/QPDHEADER.jpg" height="100px" width="100%">
      </div>
    </div>

 
      <div class="col-sm-12">
        <div class="card" style="border-radius: 0px;  margin-top: 20px; ">
          <div class="card-header text-center"><b>QUESTPHIL DIAGNOSTICS BALIBAGO MEDICAL CENTER</b></div>
          <div class="card-block" style="height: 1.3in; margin-left: 25px; margin-right: 25px; margin-bottom: 10px;">
  
            <div class="row">
              <div class="col">
                <p class="labelName">Company:</p>
              </div>
              <div class="col-6">
                <span class="lineName" style="margin-left: -80px;">{{ patientDatas?.companyName }}</span>
              </div>
              <div class="col-2 text-right">
                <p class="labelName">Date:</p>
              </div>
              <div class="col">
                <span class="lineName">{{ patientDatas?.creationDate }}</span>
              </div>
            </div>
  
  
            <div class="row">
              <div class="col">
                <p class="labelName">Name:</p>
              </div>
              <div class="col-6">
                <span class="lineName" style="margin-left: -80px;">
                  {{ patientDatas?.lastName + ', ' + patientDatas?.firstName + ' ' + patientDatas?.middleName }}</span>
              </div>
              <div class="col-2 text-right">
                <p class="labelName">QuestID:</p>
              </div>
              <div class="col">
                <span class="lineName">{{ patientID }}</span>
              </div>
            </div>
  
  
            <div class="row">
              <div class="col">
                <p class="labelName">Address:</p>
              </div>
              <div class="col-6">
                <span class="lineName" style="white-space: nowrap; margin-left: -80px;">{{ patientDatas?.address }}</span>
              </div>
              <div class="col-2 text-right">
                <p class="labelName">Gender:</p>
              </div>
              <div class="col">
                <span class="lineName">{{ patientDatas?.gender }}</span>
              </div>
            </div>
  
  
  
            <div class="row">
              <div class="col">
                <p class="labelName">Email:</p>
              </div>
              <div class="col-6">
                <span class="lineName" style="margin-left: -80px;">{{ patientDatas?.email }}</span>
              </div>
              <div class="col-2 text-right">
                <p class="labelName">Age:</p>
              </div>
              <div class="col">
                <span class="lineName">{{ patientDatas?.age }}</span>
              </div>
            </div>
  
  
            <div class="row">
              <div class="col">
                <p class="labelName">Mobile:</p>
              </div>
              <div class="col-6">
                <span class="lineName" style="margin-left: -80px;">{{ patientDatas?.contactNo }}</span>
              </div>
              <div class="col-2 text-right">
                <p class="labelName">Birthdate:</p>
              </div>
              <div class="col">
                <span class="lineName">{{ patientDatas?.birthdate }}</span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="card" style="border-radius: 0px;  margin-top: 20px; ">
          <div class="card-header text-center"><b>2-DIMENSIONAL ECHOCARDIOGRAM REPORT</b></div>
           <div class="card-block" style="height: 4.5in; margin-left: 25px; margin-right: 25px; margin-bottom: 10px;">
      <br>

      <table>
        <tr>
          <td class="label1">Parameter</td>
          <td class="label1">Result</td>
          <td class="label1">Normal Range (F/M)</td>
          <td class="label1">Parameter</td>
          <td class="label1">Result</td>
          <td class="label1">Normal Range (F/M)</td>
          <td class="label1">Parameter</td>
          <td class="label1">Result</td>
          <td class="label1">Normal Range (F/M)</td>
        </tr>
        <tr><td *ngFor="let line1 of a" class="label2">{{ line1['label']}}</td></tr>
        <tr><td *ngFor="let line2 of b" class="label2">{{ line2['label']}}</td></tr>
        <tr><td *ngFor="let line3 of c" class="label2">{{ line3['label']}}</td></tr>
        <tr><td *ngFor="let line4 of d" class="label2">{{ line4['label']}}</td></tr>
        <tr><td *ngFor="let line5 of e" class="label2">{{ line5['label']}}</td></tr>
        <tr><td *ngFor="let line6 of f" class="label2">{{ line6['label']}}</td></tr>
        <tr><td *ngFor="let line7 of g" class="label2">{{ line7['label']}}</td></tr>
        <tr><td *ngFor="let line8 of h" class="label2">{{ line8['label']}}</td></tr>
        <tr><td *ngFor="let line9 of i" class="label2">{{ line9['label']}}</td></tr>
        <tr><td *ngFor="let line10 of j" class="label2">{{ line10['label']}}</td></tr>
        <tr><td *ngFor="let line11 of k" class="label2">{{ line11['label']}}</td></tr>
        <tr><td *ngFor="let line12 of l" class="label2">{{ line12['label']}}</td></tr>
        <tr><td *ngFor="let line13 of m" class="label2">{{ line13['label']}}</td></tr>
      </table>

          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="card" style="border-radius: 0px;  margin-top: 20px; ">
          <div class="card-header text-center"><b>COLOR FLOW AND DOPPLER STUDIES</b></div>
           <div class="card-block" style="height: 2.4in; margin-left: 25px; margin-right: 25px; margin-bottom: 10px;">
      <br>

      <table>
        <tr>
          <td class="label3"> </td>
          <td class="label3">Velocity(m/sec)</td>
          <td class="label3">Peak Gradient(mmHg)</td>
          <td class="label3">VTI</td>
          <td class="label3">Valve Area(cm2)</td>
          <td class="label3">Ratio</td>
          <td class="label3">Jet Area</td>
          <td class="label3">Vc(cm)</td>
        </tr>
        <tr><td *ngFor="let line14 of n" class="label2">{{ line14['label']}}</td></tr>
        <tr><td *ngFor="let line15 of o" class="label2">{{ line15['label']}}</td></tr>
        <tr><td *ngFor="let line16 of p" class="label2">{{ line16['label']}}</td></tr>
        <tr><td *ngFor="let line17 of q" class="label2">{{ line17['label']}}</td></tr>
        <tr><td *ngFor="let line18 of r" class="label2">{{ line18['label']}}</td></tr>
        <tr><td *ngFor="let line19 of s" class="label2">{{ line19['label']}}</td></tr>
      </table>
      
          </div>
        </div>
      </div>




      

   
    <div class="row">
      <div class="col-sm-12" style="position: absolute; bottom: 0; left: 0; visibility: hidden;">
        <img src="assets/QPDFOOTER.jpg" height="50px" width="100%">
      </div>
    </div>
  </div>
  
