<div class="container">
  <div class="form-group row">
    <div class="col-md-12 text-center">
      <div class="header mt-1 ls-2 mb-3">
        <span class="bold-2">TAKE A PICTURE</span>
      </div>
    </div>
    <div class="col-md-6">
      <app-camera (pictureTaken)="handleImage($event)"></app-camera>
    </div>
    <div class="col-md-6 text-center">
      <div *ngIf="webcamImage">
        <img [src]="webcamImage.imageAsDataUrl" class="img-fluid">
        <br>
        <button type="button" mat-raised-button color="primary" (click)="savePatient()" class="mt-2">
          <mat-icon>save</mat-icon> Save
        </button>
      </div>
      <div *ngIf="!webcamImage">
        <button type="button" mat-raised-button color="primary" (click)="savePatient()" class="mt-2"
          style="position: absolute; bottom: 0;">
          <mat-icon>save</mat-icon> Save
        </button>
      </div>
    </div>
  </div>
</div>

<img src="assets/no_image.png" class="collapse" #noImageImg>
