<div class="col-md-12">
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <form [formGroup]="patientForm" enctype="multipart/form-data" autocomplete="off">
        <div class="col-md-12">
          <mat-card class="mat-elevation-z8">
            <mat-card-content>
              <div class="form-group row">
                <div class="col-md-12 text-center">
                  <div class="header mt-1 ls-2 mb-3">
                    <span class="bold-2">ADD PATIENT</span>
                  </div>
                </div>
                <div class="row col-md-12">
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <mat-form-field class="col-md-8">
                        <input matInput cdkFocusInitial placeholder="First name" formControlName="firstName"
                          class="text-uppercase">
                        <mat-hint>*Required Field</mat-hint>
                        <mat-error *ngIf="patientForm.get('firstName').hasError('required')">
                          First Name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="col-md-4">
                        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker"
                          placeholder="mm/dd/yyyy" [max]="maxDate" formControlName="birthdate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-hint>*Required Field</mat-hint>
                        <mat-error *ngIf="patientForm.get('birthdate').hasError('required')">
                          Birth Date is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="col-md-8">
                        <input matInput placeholder="Middle Name" formControlName="middleName" class="text-uppercase">
                        <mat-hint>*Required Field</mat-hint>
                        <mat-error *ngIf="patientForm.get('middleName').hasError('required')">
                          Middle Name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="col-md-4">
                        <input matInput placeholder="Age" type="number" formControlName="age">
                        <mat-hint>*Required Field</mat-hint>
                        <mat-error *ngIf="patientForm.get('age').hasError('required')">
                          Age is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="col-md-8">
                        <input matInput placeholder="Last Name" formControlName="lastName" class="text-uppercase">
                        <mat-hint>*Required Field</mat-hint>
                        <mat-error *ngIf="patientForm.get('lastName').hasError('required')">
                          Last Name <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="col-md-4">
                        <input matInput placeholder="Contact Number" formControlName="contactNo">
                        <mat-hint>*Required Field</mat-hint>
                        <mat-error *ngIf="patientForm.get('contactNo').hasError('required')">
                          Contact is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="col-md-8">
                        <input matInput placeholder="Notes" formControlName="notes" class="text-uppercase">
                      </mat-form-field>

                      <mat-form-field class="col-md-4">
                        <mat-select placeholder="Gender" formControlName="gender">
                          <mat-option value="MALE">Male</mat-option>
                          <mat-option value="FEMALE">Female</mat-option>
                        </mat-select>
                        <mat-hint>*Required Field</mat-hint>
                        <mat-error *ngIf="patientForm.get('gender').hasError('required')">
                          Gender is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field class="col-md-8">
                        <input matInput placeholder="Address" formControlName="address" class="text-uppercase">
                        <mat-error *ngIf="patientForm.get('address').hasError('required')">
                          Address is <strong>required</strong>
                        </mat-error>
                        <mat-hint>*Required Field</mat-hint>
                      </mat-form-field>
                      <div class="form-group row col-md-12">
                        <div class="col-md-2">
                          <button mat-raised-button [disabled]="!patientForm.valid" (click)="savePatient()"
                            color="primary">Submit</button>
                        </div>
                        <div class="col-md-2">
                          <button mat-raised-button [disabled]="!patientForm.valid" (click)="clear()" color="warn">Clear
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <select-patient patientURL="getPatient" placeholder="Patient List"
                      (selectTrig)="getPatient($event)">
                    </select-patient>
                    <!-- patient information container -->
                    <mat-grid-list *ngIf="patient !== undefined" cols="20" rowHeight="5px" class="animated fadeIn mt-2"
                      gutterSize="0px">
                      <mat-grid-tile colspan="20" rowspan="5" class="bg-facebook">
                        <span class="bold-1 text-white">{{patient?.patientType}}</span>
                      </mat-grid-tile>
                      <div class="form-group row">
                        <div class="col-md-12">
                          <mat-grid-tile colspan="10" rowspan="30" class="bg-facebook-light">
                            <div class="container">
                              <img [src]="imgSrc" class="image" style="height: 100px; width: 100px;">
                              <span class="bold-1 text-white">PATIENT: </span>
                              <span class="bold-1 text-white">{{patient?.patientID}}</span>
                              <div class="middle">
                                <button mat-mini-fab type="button" color="accent" matTooltip="open camera" class="mt-3"
                                  (click)="openCamera(patient?.patientID)">
                                  <mat-icon>camera</mat-icon>
                                </button>
                              </div>
                            </div>
                          </mat-grid-tile>

                          <mat-grid-tile colspan="10" rowspan="5" class="bg-facebook-light">
                            <span class="bold-1 text-white">"PATIENT DATA"</span>
                          </mat-grid-tile>

                          <mat-grid-tile colspan="10" rowspan="5" class="bg-facebook-light">
                            <span class="bold-1 text-white">{{patient?.age}}</span>

                          </mat-grid-tile>

                          <mat-grid-tile colspan="10" rowspan="5" class="bg-facebook-light">
                            <span class="bold-1 text-white">{{patient?.gender}}</span>

                          </mat-grid-tile>

                          <mat-grid-tile colspan="10" rowspan="5" class="bg-facebook-light">
                            <span class="bold-1 text-white">{{patient?.address}}</span>

                          </mat-grid-tile>

                          <mat-grid-tile colspan="10" rowspan="5" class="bg-facebook-light">
                            <span class="bold-1 text-white">{{patient?.contactNo}}</span>
                          </mat-grid-tile>

                          <mat-grid-tile colspan="10" rowspan="5" class="bg-facebook-light">
                            <span class="bold-1 text-white">{{patient?.notes}}</span>
                          </mat-grid-tile>
                        </div>
                      </div>
                      <mat-grid-tile colspan="20" rowspan="5" class="bg-facebook">
                        <span class="bold-1 text-white">{{patient?.fullName}}</span>
                      </mat-grid-tile>

                      <br><br><br><br><br><br><br>

                      <div class="form-group row">
                        <div class="col-md-2">
                          <button type="button" mat-raised-button color="accent" matTooltip="Add to consultation"
                            (click)="addConsulation(patient?.patientID)">CONSULTATION</button>
                        </div>
                      </div>
                    </mat-grid-list>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </form>
    </mat-card-content>
    <div class="col-md-12">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <div class="form-group row">
            <div class="col-md-12 text-center">
              <div class="header mt-1 ls-2 mb-3">
                <span class="bold-2">CONSULTATIONS</span>
              </div>
            </div>
            <div class="col-md-12">
              <consultation [type]="'secretary'"></consultation>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</div>
