<mat-dialog-content>
  <div class="form-group row" *ngIf="loading">
    <div class="col-md-10 mx-auto text-center">
      <!-- <img src="assets/image/loading1.gif" alt="Loading GIF" class="img-fluid rounded"> -->
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="col-md-9 mx-auto text-center">
      <p class="h4">Sending Email...</p>
    </div>
  </div>
  <div class="form-group row" *ngIf="!loading">
    <div class="col-md-12">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <form [formGroup]="sendDialogForm" (ngSubmit)="sendDialog()" enctype="multipart/form-data" autocomplete="off">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">SEND RESULTS</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <!-- Input file -->
              <div class="col-md-6">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" formControlName="file" (change)="onChange($event)" multiple>
                  <label class="custom-file-label" for="file">Choose file</label>
                </div>
              </div>

              <!-- Subject -->
              <div class="col-md-6">
                <mat-form-field class="col-md-12">
                  <mat-label>Subject: </mat-label>
                  <input matInput formControlName="subject">
                </mat-form-field>
              </div>
            </div>

            <div formArrayName="recipients" *ngFor="let recipient of sendDialogForm.get('recipients')['controls']; let i = index;">
              <div [formGroupName]="i">
                <div class="form-group row">
                  <div class="col-md-9">
                    <!-- Recipient -->
                    <mat-form-field class="col-md-12">
                      <mat-label>Recipient: </mat-label>
                      <input matInput formControlName="recipient_email">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3" *ngIf="sendDialogForm.get('recipients')['length'] > 1 && i !== 0">
                    <button type="button" mat-mini-fab color="warn" matTooltip="Remove recipient"
                      (click)="removeRecipient(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12 text-center">
                <button type="submit" mat-raised-button color="primary" matTooltip="Send">
                  <mat-icon>mail</mat-icon>SEND
                </button>

                <button type="button" mat-raised-button color="accent" matTooltip="Add Recipient" (click)="addMore()" class="ml-1">
                  <mat-icon>add</mat-icon> Add recipient
                </button>

                <button type="button" mat-raised-button color="warn" matTooltip="Close dialog" mat-dialog-close class="ml-1">
                  <mat-icon>cancel</mat-icon> Close
                </button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-dialog-content>
