<div class="container-fluid">
  
  <doc-head-edit [patientId]="patientId"></doc-head-edit>

  <div class="row">
    <div class="col text-center">
      <p class="h5">CARDIO-PULMONARY CLEARANCE</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12">
          <p class="h6 font-weight-bold">Past Medical History</p>
          <div class="col-12 ml-2 nmt5" contenteditable="true" *ngFor="let value of pastMedhis"
            #pastMedicalHistoryValue>
            {{ value }}
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">
          <p class="h6 font-weight-bold">Physical Exam</p>
          <div class="row">
            <div class="col-12 ml-2 nmt5" contenteditable="true" #peValue>
              <b>BP: </b> {{ peData?.bp }}
            </div>
            <div class="col-12 ml-2 nmt5" contenteditable="true" #peValue>
              <b>HR: </b> {{ peData?.hr }}
            </div>
            <div class="col-12 ml-2 nmt5" contenteditable="true" #peValue>
              <b>H/N: </b> {{ peData?.hn }}
            </div>
            <div class="col-12 ml-2 nmt5" contenteditable="true" #peValue>
              <b>C/L: </b> {{ peData?.cl }}
            </div>
            <div class="col-12 ml-2 nmt5" contenteditable="true" #peValue>
              <b>Cardiac: </b> {{ peData?.cardiac }}
            </div>
            <div class="col-12 ml-2 nmt5" contenteditable="true" #peValue>
              <b>ABD: </b> {{ peData?.abd }}
            </div>
            <div class="col-12 ml-2 nmt5" contenteditable="true" #peValue>
              <b>EXT: </b> {{ peData?.ext }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12">
          <p class="h6 font-weight-bold">Allergy</p>
          <div class="row">
            <div class="col-12 ml-2 nmt5" contenteditable="true" #allergiesValue>
              {{ (clearanceData?.allergies == '') ? "-" : clearanceData?.allergies }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">
          <p class="h6 font-weight-bold">Work-Up</p>
          <div class="row">
            <div class="col-12 ml-2 nmt5" contenteditable="true" #workUpValue>
              {{ (clearanceData?.workUp == '') ? "-" : clearanceData?.workUp }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12">
          <p class="h6 font-weight-bold">Previous Surgery</p>
          <div class="row">
            <div class="col-12 ml-2 nmt5" contenteditable="true" #prevSurgeryValue>
              {{ (clearanceData?.prevSurgery == '') ? "-" : clearanceData?.prevSurgery }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">
          <p class="h6 font-weight-bold">Assessment/Plan</p>
          <div class="row">
            <div class="col-12 ml-2 nmt5" contenteditable="true" #assesmentPlanValue>
              {{ (clearanceData?.assesmentPlan == '') ? "-" : clearanceData?.assesmentPlan }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12">
          <p class="h6 font-weight-bold">Review of Systems</p>
          <div class="col-12 ml-2 nmt5" contenteditable="true" *ngFor="let value of ros"
            #rOsValue>
            {{ value }}
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <!--  -->
    </div>
  </div>
  
  <div class="row mt-4">
    <button type="button" mat-raised-button color="accent" (click)="cancel()" class="col">
      <mat-icon>close</mat-icon> Cancel
    </button>
    &nbsp;&nbsp;
    <button type="button" mat-raised-button color="primary" (click)="print()" class="col">
      <mat-icon>print</mat-icon> Print
    </button>
  </div>
  <!-- <div class="row">
    <div class="col-12" style="margin-top: 30px;">
      <img src="assets/image/QISFooter.png" height="30px" width="100%">
    </div>
  </div> -->
</div>
