<mat-dialog-content>
<patient-info [id]="id" class="sticky-top"></patient-info>
<form [formGroup]="toxic" autocomplete="off">
  <div class="container mb-3">
    <div class="row">
      <div class="header mt-1 ls-2">
        <span *ngIf="update" class="bold-2">UPDATE</span>
        <span *ngIf="!update" class="bold-2">ADD</span>
        <span class="bold-2"> TOXICOLOGY </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mx-auto mt-2">
        <div class="row mt-2 m-1">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Toxicology</div>
            <div class="row">
              <mat-form-field class="col">
                <mat-label>METHAMPHETHAMINE</mat-label>
                <mat-select formControlName="meth">
                  <mat-option value="N/A">N/A</mat-option>
                  <mat-option *ngFor="let f of foo" [value]="f">
                    {{f}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col">
                <mat-label>TETRAHYDROCANABINOL</mat-label>
                <mat-select formControlName="tetra">
                  <mat-option value="N/A">N/A</mat-option>
                  <mat-option *ngFor="let f of foo" [value]="f">
                    {{f}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col">
                <mat-label>Drug Test Result</mat-label>
                <mat-select formControlName="drugtest">
                  <mat-option value="N/A">N/A</mat-option>
                  <mat-option *ngFor="let f of foo" [value]="f">
                    {{f}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- lab pesonnel -->
    <div class="row mb-4">
      <div class="col-md-12 mt-2">
        <div class="row mt-2">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Laboratory Personnel</div>
            <mat-form-field class="col-3">
              <!-- Get from transaction biller -->
              <input matInput placeholder="Clinician/Walk-In" [value]="transaction?.biller" disabled>
            </mat-form-field>
            <mat-form-field class="col-3">
              <mat-label>Medical Technologist</mat-label>
              <mat-select formControlName="medID">
                <mat-option value=""> - </mat-option>
                <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
                  {{m.lastName}}, {{m.firstName}}&nbsp;{{m.middleName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-3">
              <mat-label>Quality Control</mat-label>
              <mat-select formControlName="qualityID">
                <mat-option value=""> - </mat-option>
                <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
                  {{m.lastName}}, {{m.firstName}}&nbsp;{{m.middleName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-3">
              <mat-label>Pathologist</mat-label>
              <mat-select formControlName="pathID">
                <mat-option value=""> - </mat-option>
                <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
                  {{m.lastName}}, {{m.firstName}}&nbsp;{{m.middleName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto" style="width: 65px;">
    <button mat-raised-button color="primary" class="mb-3" (click)="addToxicology()" *ngIf="!update">ADD</button>
    <button mat-raised-button color="accent" class="mb-3" (click)="updateToxicology()" *ngIf="update">UPDATE</button>
  </div>
</form>
</mat-dialog-content>
