<!-- <ngx-barcode [bc-value]="tid" style="width: 1000px; height: 1000px;"></ngx-barcode>-->

<div class="container-fluid ml-3" style="margin-top: -65px;">
  <div class="form-group row">
    <div class="col-md-12 text-center">
      <ngx-barcode [bc-value]="tid" [bc-height]="100" [bc-width]="5"></ngx-barcode>
      <p class="h3" style="font-size: 1.65rem !important;">{{ patientName }}</p>
      <!-- <img src="assets/image/barbar.png" width="270" height="75" style="margin-top: -10px;"> -->
    </div>
  </div>
</div>
