<mat-dialog-content>
  <div class="container">
    <div class="form-group row">
      <div class="col-md-12">
        <p class="h6">Transaction ID: <b>{{ transactionId }}</b></p>
      </div>

      <div class="col-md-12">
        <p class="h6">Name:</p>
        <p class="h6 font-weight-bold">{{ patientDatas?.lastName + ', ' + patientDatas?.firstName + ' ' + patientDatas?.middleName }}</p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between" *ngFor="let have of haves">
            <mat-checkbox color="primary" (click)="tickMe(transactionId, have.label, have.value)" [checked]="have.check">{{ have.label | uppercase  }}</mat-checkbox>
          </li>
        </ul>
      </div>
    </div>
  </div>
</mat-dialog-content>
