<mat-grid-list cols="2" rowHeight="10px">
  <mat-grid-tile colspan="1" rowspan="4">
    <h1 style="font-size: 2em; text-align: left !important;">Total: </h1>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="4">
    <h1 style="font-size: 2em;">₱{{Title | number}}</h1>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="4">
    <h1 style="font-size: 2em; text-align: left !important;">Change Cash: </h1>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="4">
    <h1 style="font-size: 2em; color: red">₱{{Content | number}}</h1>
  </mat-grid-tile>
  <br>
  <br>
  <mat-grid-tile colspan="2" rowspan="3">
    <button mat-button matDialogClose (click)="cancel()">{{cancelBTN}}</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="ok()">{{okBTN}}</button>
  </mat-grid-tile>
</mat-grid-list>
