<transaction-list [listType]="markers" [markerOptions]="markerOptions" (printMarker)="onPrintMarker($event)"></transaction-list>

<div class="container py-3 mb-3">
  <div class="form-group row bg-white rounded border mat-elevation-z2">
    <!-- <div class="col-md-3 text-center mt-2">
      <button mat-mini-fab [color]="'accent'">
        <clr-icon shape="printer"></clr-icon>
      </button>
      <p class="h6">To view printed marker</p>
    </div>
    <div class="col-md-3 text-center mt-2">
      <button mat-mini-fab [color]="'success'">
        <clr-icon shape="printer"></clr-icon>
      </button>
      <p class="h6">To add and print marker</p>
    </div>
    <div class="col-md-12">
      <hr>
    </div> -->

    <div class="col-md-2">
      <button mat-raised-button (click)="manageMarkers()" [color]="'success'" matTooltip="Manage items" class="mt-3">
        <mat-icon>settings_applications</mat-icon> Manage Items
      </button>
    </div>
    <div class="col-md-10">
      <div class="form-group row">
        <div class="col-md-12">
          <p class="h6 bold-2 ls-2 mt-3">Select marker options</p>
        </div>
        <div class="col-md-4">
          <mat-form-field class="col-md-12">
            <mat-label>Film Size</mat-label>
            <mat-select [value]="filmSizeValue" #filmSizeSelect>
              <mat-option *ngFor="let filmSize of filmSizes" [value]="filmSize['name']">{{ filmSize['name'] }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="col-md-12">
            <mat-label>Rad tech</mat-label>
            <mat-select [value]="radTechValue" #radTechSelect>
              <mat-option *ngFor="let radTech of radTechs" [value]="radTech['name']">{{ radTech['name'] }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="col-md-12">
            <mat-label>Body part</mat-label>
            <mat-select [value]="bodyPartValue" #bodyPartSelect>
              <mat-option *ngFor="let bodyPart of bodyParts" [value]="bodyPart['name']">{{ bodyPart['name'] }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>

