<mat-dialog-content>
  <div class="container py-3">

    <!-- <div class="form-group row">
      <div class="col-md-12 text-right">
        <button mat-raised-button color="primary" mat-dialog-close="update"><mat-icon>edit</mat-icon> Update</button>
      </div>
    </div> -->

    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <p class="bold-3 ls-2 p-2">PATIENT INFORMATION</p>
                <hr class="pt-1 bg-primary rounded">
              </div>
              <div class="col-md-2">
                <p class="h6">Patient ID:</p>
                <p class="h6 font-weight-bold">{{ patientId }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Transaction No:</p>
                <p class="h6 font-weight-bold">{{ transactionId }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Transaction Date:</p>
                <p class="h6 font-weight-bold">{{ transactionDatas?.transactionDate }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Name:</p>
                <p class="h6 font-weight-bold">
                  {{ patientDatas?.lastName + ', ' + patientDatas?.firstName + ' ' + patientDatas?.middleName }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Company name:</p>
                <p class="h6 font-weight-bold">{{ patientDatas?.companyName }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <p class="bold-3 ls-2">Medical History</p>
                <hr class="pt-1 bg-primary rounded">
              </div>
              <div class="col-md-6 text-right">
                <p class="bold-3 ls-1">SIGNIFICANT PAST ILLNESS</p>
              </div>
              <div class="col-md-6 text-center">
                <p class="bold-3 ls-1">YES / NO</p>
              </div>
            </div>
            <div class="row mb-3" *ngFor="let medHisData of medHisDatas">
              <div class="col-md-6 text-right">
                <p class="h6 bold-3 ls-1">{{ medHisData?.label }}</p>
              </div>
              <div class="col-md-6 text-center">
                <p class="h6 font-weight-bold">{{medHisData?.value }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card class="mat-elevation-z8 h-100">
          <mat-card-content>
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <p class="bold-3 ls-2">Vital Signs</p>
                <hr class="pt-1 bg-primary rounded">
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4 form-inline">
                    <p class="h6 bold-3 ls-1 mr-2">Height: </p>
                    <p class="mt-2 font-weight-bold">{{ vitalDatas?.height }}</p>
                  </div>
                  <div class="col-md-4 form-inline">
                    <p class="h6 bold-3 ls-1 mr-2">Weight: </p>
                    <p class="h6 font-weight-bold">{{ vitalDatas?.weight }}</p>
                  </div>
                  <div class="col-md-4 form-inline">
                    <p class="h6 bold-3 ls-1 mr-2">BMI: </p>
                    <p class="h6 font-weight-bold">{{ vitalDatas?.bmi }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4 form-inline">
                    <p class="h6 bold-3 ls-1 mr-2">BP: </p>
                    <p class="h6 font-weight-bold">{{ vitalDatas?.bp }}</p>
                  </div>
                  <div class="col-md-4 form-inline">
                    <p class="h6 bold-3 ls-1 mr-2">PR: </p>
                    <p class="h6 font-weight-bold">{{ vitalDatas?.pr }}</p>
                  </div>
                  <div class="col-md-4 form-inline">
                    <p class="h6 bold-3 ls-1 mr-2">RR: </p>
                    <p class="h6 font-weight-bold">{{ vitalDatas?.rr }}</p>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mt-3 text-center">
                <p class="bold-3 ls-1">VISUAL ACUITY</p>
              </div>

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <p class="bold-3 ls-1 mt-3">Uncorrected</p>
                  </div>
                  <div class="col-md-4 form-inline">
                    <p class="h6 bold-3 ls-1 mr-2">OD: </p>
                    <p class="h6 font-weight-bold">{{ vitalDatas?.uod }}</p>
                  </div>
                  <div class="col-md-4 form-inline">
                    <p class="h6 bold-3 ls-1 mr-2">OS: </p>
                    <p class="h6 font-weight-bold">{{ vitalDatas?.uos }}</p>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <p class="bold-3 ls-1 mt-3">Corrected</p>
                  </div>
                  <div class="col-md-4 form-inline">
                    <p class="h6 bold-3 ls-1 mr-2">OD: </p>
                    <p class="h6 font-weight-bold">{{ vitalDatas?.cod }}</p>
                  </div>
                  <div class="col-md-4 form-inline">
                    <p class="h6 bold-3 ls-1 mr-2">OS: </p>
                    <p class="h6 font-weight-bold">{{ vitalDatas?.cos }}</p>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="row" *ngFor="let vital of vitals">
                  <div class="col-md-4 mb-3">
                    <p class="h6 bold-3 ls-1">{{ vital.label }}</p>
                  </div>
                  <div class="col-md-8 mb-3">
                    <p class="h6 font-weight-bold">{{ vital?.value }}</p>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 mx-auto">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <p class="bold-3 ls-2">Medical History</p>
                <hr class="pt-1 bg-primary rounded">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6 text-center">
                <p class="bold-3 ls-1">NORMAL</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6 text-center">
                <p class="bold-3 ls-1">YES / NO</p>
              </div>
            </div>
            <div class="row mb-3" *ngFor="let pe of pes">
              <div class="col-md-6 text-right">
                <p class="bold-3 ls-1">{{ pe?.label }}</p>
              </div>
              <div class="col-md-6 text-center">
                <p class="h6 font-weight-bold">{{ pe?.value }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

</mat-dialog-content>
