<div class="container py-3 d-print-none">
  <div class="form-group row">
    <div class="col-md-4">
      <div class="card h-100 mat-elevation-z8">
        <div class="card-body pe-img" (click)="openQueue('pe')">
          <p style="font-size: 3em; text-align: center;">Physical Exam</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 mat-elevation-z8">
        <div class="card-body xray-img" (click)="openQueue('xray')">
          <p style="font-size: 3em; text-align: center;">X-Ray</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 mat-elevation-z8">
        <div class="card-body phleb-img" (click)="openQueue('phleb')">
          <p style="font-size: 3em; text-align: center;">Phlebotomy</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4 mx-auto">
      <div class="card h-100 mat-elevation-z8">
        <div class="card-body xray-img" (click)="openQueue('all')">
          <p style="font-size: 3em; text-align: center;">Display All</p>
        </div>
      </div>
    </div>
  </div>
</div>
