<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-5 bold-3 ls-2 p-3">
      ITEM LIST
    </div>
    <div class="col-4">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="col-3 p-2">
      <button mat-raised-button (click)="addItem()" [color] = "'success'" style="float:right">Add Item</button>
    </div>
  </div>
</div>

<div class="mat-elevation-z8 table-con">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="itemId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{ row.itemId }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="itemName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
      <td mat-cell *matCellDef="let row"> {{ row.itemName }} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="itemType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TYPE </th>
      <td mat-cell *matCellDef="let row"> {{row.itemType}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="itemPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PRICE </th>
      <td mat-cell *matCellDef="let row"> {{row.itemPrice}} </td>
    </ng-container>

    <!-- Action column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTION </th>
      <td mat-cell *matCellDef="let row">
        <button mat-mini-fab (click)="updateItem(row.itemId)" color="warn">
          <clr-icon shape="pencil" ></clr-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[ 25, 50, 75, 100]" class="mat-paginator-sticky"></mat-paginator>
</div>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
