<mat-dialog-content>
  <patient-info [id]="id" class="sticky-top"></patient-info>
  <form [formGroup]="ultraForm" (ngSubmit)="ultraSubmit()">
    <div class="container mb-3">
      <div class="row">
        <div class="header mt-1 ls-2">
          <span *ngIf="update" class="bold-2">UPDATE</span>
          <span *ngIf="!update" class="bold-2">ADD</span>
          <span class="bold-2"> ULTRASOUND RESULTS</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12 mb-3">
          <mat-form-field class="col-md-4">
            <mat-label>Procedure</mat-label>
            <mat-select (selectionChange)="procedure($event.value)" [value]="procedureValue" formControlName="procedure">
              <mat-option value="-">Select procedure</mat-option>
              <mat-option *ngFor="let procedure of procedures" value="{{ procedure.value }}">{{ procedure.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'PELVIC ULTRASOUND'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2" style="margin-top: -7px">Findings</div>
              <div class="form-inline">
                <p class="h6">Within the fundus of the gravid
                  <mat-form-field>
                    <mat-select formControlName="uterus" class="px-2">
                      <mat-option value="anteverted">anteverted</mat-option>
                      <mat-option value="retroverted">retroverted</mat-option>
                    </mat-select>
                  </mat-form-field>
                  uterus is a well formed gestational sac containing a single live embryo with good somatic
                  and cardiac activities.
                  <br>
                  Heart rate is
                  <mat-form-field class="col-md-1">
                    <input matInput formControlName="hr" value="0" maxlength="3" class="px-2">
                  </mat-form-field>
                  beats per minute.
                  <br>
                  Crown-rump length (CRL) measures about
                  <mat-form-field class="col-md-1">
                    <input matInput formControlName="crl" value="0" maxlength="3" class="px-2">
                  </mat-form-field>
                  mm equivalent to
                  <mat-form-field class="col-md-1">
                    <input matInput formControlName="week" value="0" maxlength="2" class="px-2">
                  </mat-form-field>
                  weeks and
                  <mat-form-field class="col-md-1">
                    <input matInput formControlName="day" value="0" maxlength="1" max="7" class="px-2">
                  </mat-form-field>
                  day.
                  <br>
                  The developing placenta is seen posteriorly, grade zero maturity, low lying.
                  <br>
                  Minimal subchorionic hemorrhage is noted.
                  <br>
                  Adequate amniotic fluid is seen.
                  <br>
                  No uterine nor adnexal mass is seen.
                  <br>
                  EDD:
                  <mat-form-field>
                    <input matInput type="date" formControlName="datee" value="2019-09-22" class="px-2">
                  </mat-form-field>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2" style="margin-top: -7px">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  1. SINGLE, ALIVE ,INTRAUTERINE PREGNANCY OF ABOUT
                  <mat-form-field class="col-md-1">
                    <input matInput formControlName="iweek" value="0" class="px-2">
                  </mat-form-field>
                  WEEKS
                  <mat-form-field class="col-md-1">
                    <input matInput formControlName="iday" value="0">
                  </mat-form-field>
                  DAYS AOG BY Crown-rump length (CRL) MEASUREMENT.
                  <br>
                  2. NORMOHYDRAMNIOS.
                  <br>
                  3. PLACENTA POSTERIOR, GRADE ZERO MATURITY, LOW LYING.
                  <br>
                  4. MINIMAL SUBCHORIONIC HEMORRHAGE.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'PELVIC ULTRASOUND001'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <div class="form-group row">
                <div class="col-md-1 mx-2">
                  I
                </div>
                <div class="col-md-2 mx-3">
                  <mat-form-field>
                    <mat-label>FETUS NUMBER</mat-label>
                    <input matInput formControlName="fets" value="ONE">
                  </mat-form-field>
                </div>
                <div class="col-md-2 mx-3">
                  <mat-form-field>
                    <mat-label>PRESENTATION</mat-label>
                    <input matInput formControlName="pres" value="CEPHALIC">
                  </mat-form-field>
                </div>
                <div class="col-md-2 mx-3">
                  <mat-form-field>
                    <mat-label>Fetal Heart Rate</mat-label>
                    <input matInput formControlName="hr" value="0">
                    <mat-hint>beats per minutes</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-md-2 mx-3">
                  <mat-form-field>
                    <mat-label>ESTIMATED WEIGHT :</mat-label>
                    <input matInput type="text" name="est" size="30" value="0 grams ( 0 lbs 0 oz)">
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  BIOMETRIC PARAMETERS :
                  <table border="1" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td valign="top"><span class="mx-2">A) Biparietal diameter (BPD)</span></td>
                        <td valign="center">
                          <mat-form-field class="px-2 col-md-3" style="margin-top: -50px;">
                            <input matInput type="text" name="bpd">
                          </mat-form-field>
                          mm
                        </td>
                        <td valign="center">
                          <mat-form-field class="px-2 col-md-12" style="margin-top: -50px;">
                            <input matInput type="text" name="bpdwd" value="0 weeks and 0 days">
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top"><span class="mx-2">B) Head Circumference (HC)</span></td>
                        <td valign="center">
                          <mat-form-field class="px-2 col-md-3" style="margin-top: -50px;">
                            <input matInput type="text" name="hc" size="3">
                          </mat-form-field>
                          mm
                        </td>
                        <td valign="center">
                          <mat-form-field class="px-2 col-md-12" style="margin-top: -50px;">
                            <input matInput type="text" name="hcwd" value="0 weeks and 0 days">
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top"><span class="mx-2">C) Abdominal Circumference(AC)</span></td>
                        <td valign="center">
                          <mat-form-field class="px-2 col-md-3" style="margin-top: -50px;">
                            <input matInput type="text" name="ac" size="3">
                          </mat-form-field>
                          mm
                        </td>
                        <td valign="center">
                          <mat-form-field class="px-2 col-md-12" style="margin-top: -50px;">
                            <input matInput type="text" name="acwd" value="0 weeks and 0 days">
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top"><span class="mx-2">D) Femoral length (FL)</span></td>
                        <td valign="center">
                          <mat-form-field class="px-2 col-md-3" style="margin-top: -50px;">
                            <input matInput type="text" name="fl" size="3">
                          </mat-form-field>
                          mm
                        </td>
                        <td valign="center">
                          <mat-form-field class="px-2 col-md-12" style="margin-top: -50px;">
                            <input matInput type="text" name="flwd" value="0 weeks and 0 days">
                          </mat-form-field>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-1 mx-2">
                  II
                </div>
                <div class="col-md-6 mx-2">
                  <mat-form-field class="col-md-12">
                    <mat-label>PLACENTA LOCATION</mat-label>
                    <input matInput formControlName="loc" value="ONE" value="POSTERIOR IN LOCATION , GRADE 2 MATURITY, HIGH LYING">
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-1 mx-2">
                  III
                </div>
                <div class="col-md-3 mx-2">
                  <mat-form-field class="col-md-12">
                    <mat-label>AMNIOTIC FLUID INDEX</mat-label>
                    <input matInput type="text" name="afi" value="ADEQUATE">
                  </mat-form-field>
                </div>
                <div class="col-md-3 mx-2">
                  <mat-form-field class="col-md-12">
                    <mat-label>AOG by ULTRASOUND</mat-label>
                    <input matInput type="text" name="aog" value="0 WEEKS 0 DAY">
                  </mat-form-field>
                </div>
                <div class="col-md-3 mx-2">
                  <mat-form-field class="col-md-12">
                    <mat-label>EDD</mat-label>
                    <input matInput type="date" name="datee" value="2020-01-30">
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-1 mx-2">
                  <span style="visibility: hidden;">HEY</span>
                </div>
                <div class="col-md-3 mx-2 ml-2">
                  <mat-form-field class="col-md-12">
                    <mat-label>FETA GENITALIAL</mat-label>
                    <mat-select value="LABIA MAJORA">
                      <mat-option value="LABIA MAJORA">LABIA MAJORA</mat-option>
                      <mat-option value="LABIA MINORA">LABIA MINORA</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2" style="margin-top: -7px">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  PREGNANCY UTERINE,
                  <mat-form-field class="col-md-1">
                    <input matInput formControlName="iweek" class="px-2">
                  </mat-form-field>
                  WEEKS
                  <mat-form-field class="col-md-1">
                    <input matInput formControlName="iday" class="px-2">
                  </mat-form-field>
                  DAY BY FETAL BIOMETRY, LIVE, SINGLETON, IN CEPHALIC PRESENTATION.
                  <br>
                  NORMOHYDRAMNIOS.
                  <br>
                  GENDER :
                  <mat-form-field class="col-md-2">
                    <mat-select formControlName="igen" value="MALE">
                      <mat-option value="MALE">MALE</mat-option>
                      <mat-option value="FEMALE">FEMALE</mat-option>
                    </mat-select>
                  </mat-form-field>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'WHOLE ABDOMEN ULTRASOUND'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The liver is normal in size with mild diffuse increased parenchymal echopattern . No solid mass nor cystic lesion seen
                in the parenchyma. Biliary ducts are not dilated.
                The gallbladder is surgically absent.
                The pancreas is normal in size and parenchymal echopattern measuring about
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="head">
                </mat-form-field>
                cm (head),
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="tail">
                </mat-form-field>
                cm (tail).
                No mass nor cystic lesion seen in the parenchyma. No peripancreatic lymphadenopathy noted.<br>The spleen is normal in
                size and parenchymal echopattern with a span of
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="span">
                </mat-form-field>
                cm. No mass nor cystic lesion seen in
                the parenchyma.<br>Both kidneys are normal in sizes with homogeneous parenchymal echopattern. No evident solid mass,
                cystic lesion nor lithiasis . The cortical thickness and corticomedullary differentiations are within normal limits.
                Both pelvocalyceal structures are not dilated.
                <br>
                Right kidney:
                <mat-form-field class="col-md-10">
                  <input matInput formControlName="rk" value="0.0 x 0.0 x 0.0 cm with cortical thickness: 0.0 cm">
                </mat-form-field>
                <br>
                Left kidney:
                <mat-form-field class="col-md-10">
                  <input matInput formControlName="lk" value="0.0 x 0.0 x 0.0 cm  with cortical thickness : 0.0 cm">
                </mat-form-field>
                <br>Urinary bladder is physiologically distended.
                No intraluminal mass nor lithiasis. The wall is not thickened. <br> <br>No free fluid seen in the abdomen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  MILD FATTY LIVER.<br>SURGICALLY ABSENT GALLBLADDER.<br>ULTRASONICALLY NORMAL PANCREAS, KIDNEYS, SPLEEN AND URINARY
                  BLADDER.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'WHOLE ABDOMEN ULTRASOUND001'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The liver is normal in size with mild diffuse increased parenchymal echopattern . No solid mass nor cystic
                lesion seen
                in the parenchyma. Biliary ducts are not dilated.
                The gallbladder is surgically absent.
                The pancreas is normal in size and parenchymal echopattern measuring about
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="head">
                </mat-form-field>
                cm (head),
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="tail">
                </mat-form-field>
                cm (tail).
                No mass nor cystic lesion seen in the parenchyma. No peripancreatic lymphadenopathy noted.<br>The spleen is
                normal in
                size and parenchymal echopattern with a span of
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="span">
                </mat-form-field>
                cm. No mass nor cystic lesion seen in
                the parenchyma.<br>Both kidneys are normal in sizes with homogeneous parenchymal echopattern. No evident solid
                mass,
                cystic lesion nor lithiasis . The cortical thickness and corticomedullary differentiations are within normal
                limits.
                Both pelvocalyceal structures are not dilated.
                <br>
                Right kidney:
                <mat-form-field class="col-md-10">
                  <input matInput formControlName="rk" value="0.0 x 0.0 x 0.0 cm with cortical thickness: 0.0 cm">
                </mat-form-field>
                <br>
                Left kidney:
                <mat-form-field class="col-md-10">
                  <input matInput formControlName="lk" value="0.0 x 0.0 x 0.0 cm  with cortical thickness : 0.0 cm">
                </mat-form-field>
                <br>
                Urinary bladder is physiologically distended. No intraluminal mass nor lithiasis. The wall is not thickened. Pre void
                volume of
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="prevv">
                </mat-form-field>
                 ml. Post void volume is
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="postvv">
                </mat-form-field>
                ml.
                Transabdominal scanning of the prostate gland shows enlarged in size with volume weight of
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="vw">
                </mat-form-field>
                grams. &nbsp;No calcification, solid mass, nor cystic lesion seen in the parenchyma.No free fluid seen in the abdomen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  SURGICALLY ABSENT GALLBLADDER.<br>MILD HYDRONEPHROSIS, RIGHT KIDNEY.<br>ENLARGED PROSTATE GLAND.<br>ULTRASONICALLY
                  NORMAL LIVER, PANCREAS, LEFT KIDNEY, SPLEEN AND URINARY BLADDER.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'WHOLE ABDOMEN ULTRASOUND002'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The liver is normal in size with mild diffuse increased parenchymal echopattern . No solid mass nor cystic
                lesion seen
                in the parenchyma. Biliary ducts are not dilated.
                The gallbladder is surgically absent.
                The pancreas is normal in size and parenchymal echopattern measuring about
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="head">
                </mat-form-field>
                cm (head),
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="body">
                </mat-form-field>
                cm (body).
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="tail">
                </mat-form-field>
                , and cm (tail).
                No mass nor cystic lesion seen in the parenchyma. No peripancreatic lymphadenopathy noted.<br>The spleen is
                normal in
                size and parenchymal echopattern with a span of
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="span">
                </mat-form-field>
                cm. No mass nor cystic lesion seen in
                the parenchyma.<br>Both kidneys are normal in sizes with homogeneous parenchymal echopattern. No evident solid
                mass,
                cystic lesion nor lithiasis . The cortical thickness and corticomedullary differentiations are within normal
                limits.
                Both pelvocalyceal structures are not dilated.
                <br>
                Right kidney:
                <mat-form-field class="col-md-10">
                  <input matInput formControlName="rk" value="0.0 x 0.0 x 0.0 cm with cortical thickness: 0.0 cm">
                </mat-form-field>
                <br>
                Left kidney:
                <mat-form-field class="col-md-10">
                  <input matInput formControlName="lk" value="0.0 x 0.0 x 0.0 cm  with cortical thickness : 0.0 cm">
                </mat-form-field>
                <br>
                Urinary bladder is physiologically distended. No intraluminal mass nor lithiasis. The wall is not thickened.
                Pre void
                volume of
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="prevv">
                </mat-form-field>
                ml. Post void volume is
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="postvv" value="very minimal">
                </mat-form-field>
                in amount.
                &nbsp;No free fluid seen in the abdomen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  SURGICALLY ABSENT GALLBLADDER<br>ULTRASONICALLY NORMAL LIVER, PANCREAS, KIDNEYS, SPLEEN AND URINARY BLADDER.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'WHOLE ABDOMEN ULTRASOUND003'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The <strong>liver </strong>is small in size &nbsp;with coarsened parenchymal echotexture and blunted borders . No solid
                mass nor cystic lesion seen in the parenchyma. Biliary&nbsp; ducts &nbsp;and vessels are not
                dilated.<br> The <strong>gallbladder</strong> is physiologically distended with
                intraluminal diameter of
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="intd">
                </mat-form-field>
                 cm. An intraluminal lithiasis is seen measuring about
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="intl">
                </mat-form-field>
                cm. The wall is not thickened.<br> &nbsp;The <strong>pancreas
                </strong>is normal in size and parenchymal echopattern measuring about
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="head">
                </mat-form-field>
                cm (head),
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="body">
                </mat-form-field>
                cm (body), and
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="tail">
                </mat-form-field>
                cm (tail). No mass nor cystic lesion seen in the parenchyma. No peripancreatic lymphadenopathy noted.<br> &nbsp;The
                <strong>spleen</strong> is normal in size with a span of
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="span">
                </mat-form-field>
                cm exhibiting homogeneous parenchymal echopattern. No mass nor cystic lesion seen in the parenchyma.<br>&nbsp; Both
                &nbsp;<strong>kidneys </strong>are &nbsp;small in sizes with diffuse increased parenchymal&nbsp; echopattern. No evident
                solid mass, cyst nor &nbsp;lithiasis . The cortical thickness and corticomedullary differentiations are within normal
                limits. Both pelvocalyceal structures are not dilated.
                <br>Right kidney :
                <mat-form-field class="col-md-8">
                  <input matInput formControlName="rk" value="0.0 x 0.0 x 0.0 cm with cortical thickness: 0.0 cm">
                </mat-form-field>
                <br>Left kidney:
                <mat-form-field class="col-md-8">
                  <input matInput formControlName="lk" value="0.0 x 0.0 x 0.0 cm with cortical thickness: 0.0 cm">
                </mat-form-field>
                <br><strong>&nbsp; Urinary
                  bladder</strong> is physiologically distended. No intraluminal mass nor lithiasis. The wall is not
                thickened.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Massive free fluid is seen in the abdomen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  LIVER CIRRHOSIS.<br>CHOLELITHIASIS.<br>SMALL-SIZED KIDNEY WITH PARENCHYMAL DISEASE,BILATERAL.<br>MASSIVE
                  ASCITES<br>ULTRASONICALLY NORMAL PANCREAS, AND THE URINARY BLADDER.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'WHOLE ABDOMEN ULTRASOUND004'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The <strong>liver </strong>is normal in size exhibiting coarsened parenchymal echotexture . No solid mass nor cystic
                lesion seen in the parenchyma. Biliary ducts are not dilated. Common duct is not dilated which measures about
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="cdt">
                </mat-form-field>
                mm.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The <strong>gallbladder</strong> is physiologically
                distended with intraluminal diameter of
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="intd">
                </mat-form-field>
                cm. No intraluminal mass nor lithiasis seen.
                The wall is not thickened.<br>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;The <strong>pancreas </strong>is normal in size and
                parenchymal echopattern measuring about
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="head">
                </mat-form-field>
                cm (head),
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="body">
                </mat-form-field>
                cm (body), and
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="tail">
                </mat-form-field>
                cm (tail). No mass nor cystic lesion seen in the parenchyma. No
                peripancreatic lymphadenopathy noted.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The <strong>spleen</strong> is normal in size
                with a span of
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="span">
                </mat-form-field>
                cm exhibiting homogeneous parenchymal echopattern. No mass nor cystic
                lesion seen in the parenchyma.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Both &nbsp;<strong>kidneys </strong>are &nbsp;normal in
                sizes with homogeneous parenchymal&nbsp; echopattern. No evident solid mass, cystic lesion nor &nbsp;lithiasis . The
                cortical thickness and corticomedullary differentiations are within normal limits. Post void study shows the
                pelvocalyceal structures are not dilated.<br>Right kidney :
                <mat-form-field class="col-md-8">
                  <input matInput formControlName="rk" value="0.0 x 0.0 x 0.0 cm with cortical thickness: 0.0 cm">
                </mat-form-field>
                <br>Left kidney :
                <mat-form-field class="col-md-8">
                  <input matInput formControlName="lk" value="0.0 x 0.0 x 0.0 cm with cortical thickness : 0.0 cm">
                </mat-form-field>
                <br><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Urinary
                  bladder</strong> is physiologically distended. No intraluminal mass nor lithiasis. The wall is not thickened. Pre void
                volume is
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="prevv">
                </mat-form-field>
                ml. Post void volume is
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="postvv">
                </mat-form-field>
                ml.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No free fluid is seen in the abdomen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  LIVER CIRRHOSIS.<br>ULTRASONICALLY NORMAL GALLBLADDER, PANCREAS,SPLEEN KIDNEYS AND URINARY BLADDER.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'WHOLE ABDOMEN ULTRASOUND005'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The <strong>liver </strong>is normal in size with homogeneous parenchymal echotexture . No solid mass nor cystic lesion
                seen in the parenchyma. Intrahepatic vessels are dilated. Biliary ducts are not dilated. Common duct is not dilated
                which measures about
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="cdt">
                </mat-form-field>
                mm.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The
                <strong>gallbladder</strong> is physiologically distended with intraluminal diameter of
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="intd">
                </mat-form-field>
                cm. No intraluminal mass nor lithiasis seen. The wall is not thickened.<br>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;The
                <strong>pancreas </strong>is normal in size and parenchymal echopattern measuring about
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="head">
                </mat-form-field>
                cm (head),
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="body">
                </mat-form-field>
                cm (body), and
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="tail">
                </mat-form-field>
                cm (tail). No mass nor cystic lesion seen in the parenchyma. No peripancreatic lymphadenopathy noted.<br>&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;The <strong>spleen</strong> is enlarged in size with a span of
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="span">
                </mat-form-field>
                cm exhibiting homogeneous parenchymal echopattern. No mass nor cystic lesion seen in the
                parenchyma.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Both <strong>kidneys </strong>are normal in sizes with homogeneous
                parenchymal echopattern. No evident solid mass, cystic lesion nor lithiasis . The cortical thickness and
                corticomedullary differentiations are within normal limits. Both pelvocalyceal structures and ureters are not
                dilated.<br>&nbsp;<br>Right kidney :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field class="col-md-8">
                  <input matInput formControlName="rk" value="0.0 x 0.0 x 0.0 cm with cortical thickness: 0.0 cm">
                </mat-form-field>
                <br>Left kidney :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field class="col-md-8">
                  <input matInput formControlName="lk" value="0.0 x 0.0 x 0.0 cm with cortical thickness : 0.0 cm">
                </mat-form-field>
                <br>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <strong>Urinary bladder</strong> is partially distended. No intraluminal mass nor lithiasis. The wall is not
                thickened.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Moderate free fluid is seen in the abdomen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  HEPATIC CONGESTION.<br>SPLENOMEGALY.<br>MODERATE ASCITES<br>ULTRASONICALLY NORMAL GALLBLADDER, PANCREAS, <br>KIDNEYS AND URINARY BLADDER.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'TVS THICKENED fluid cul de sac obscured'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The uterus is
                <mat-form-field class="col-md-3">
                  <mat-select formControlName="uterus" value="anteverted">
                    <mat-option value="anteverted">anteverted</mat-option>
                    <mat-option value="retroverted">retroverted</mat-option>
                  </mat-select>
                </mat-form-field>
                and normal in size measuring about
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="utem" value="0 x 0.0 x 0">
                </mat-form-field>
                cm. No uterine mass lesion seen.<br>The endometrium is echogenic and thickened measuring about
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="echog" value="0 x 0.0 x 0">
                </mat-form-field>
                cm. No endometrial mass, gestational sac nor fluid collection.<br>Both ovaries are obscured by bowel gas
                echoes. No adnexal mass seen.<br>Free fluid collection is seen in the posterior cul de sac with an approximate volume of
                <mat-form-field class="col-md-1">
                  <input matInput formControlName="bpd" value="0">
                </mat-form-field>
                ml.<br>The cervix is unremarkable. No mass lesion seen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  <mat-form-field class="col-md-3">
                    <mat-select formControlName="iuterus" value="RETROVERTED">
                      <mat-option value="RETROVERTED">RETROVERTED</mat-option>
                      <mat-option value="ANTEVERTED">ANTEVERTED</mat-option>
                    </mat-select>
                  </mat-form-field>
                  UTERUS WITH THICKENED ENDOMETRIUM.<br>MINIMAL FREE FLUID, POSTERIOR CUL DE SAC.<br>NORMAL STUDY OF THE
                  CERVIX.<br>OBSCURED BOTH OVARIES
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'TVS COMPLETE ABORTION RETRO'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The uterus is
                <mat-form-field class="col-md-2">
                  <mat-select formControlName="uterus" value="anteverted">
                    <mat-option value="anteverted">anteverted</mat-option>
                    <mat-option value="retroverted">retroverted</mat-option>
                  </mat-select>
                </mat-form-field>
                and normal in size measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="utem" value="0 x 0.0 x 0">
                </mat-form-field>
                cm. No uterine solid mass nor cystic lesion seen. The endometrium is echogenic and not thickened measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="echog" value="0.0">
                </mat-form-field>
                mm. No gestational sac, fetal pole nor solid mass seen.<br>
                The right ovary measures about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="rovary" value="0.0 x 0.0">
                </mat-form-field>
                cm while the left measures about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="lovary" value="0.0 x 0.0">
                </mat-form-field>
                cm. No adnexal mass seen.<br>
                No abnormal fluid collection seen in the cul de sac.<br>
                The cervix is unremarkable. No mass lesion seen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  <mat-form-field class="col-md-4">
                    <mat-select formControlName="iuterus" value="RETROVERTED">
                      <mat-option value="RETROVERTED">RETROVERTED</mat-option>
                      <mat-option value="ANTEVERTED">ANTEVERTED</mat-option>
                    </mat-select>
                  </mat-form-field>
                  UTERUS WITH THIN ENDOMETRIUM.<br> CONSIDER COMPLETE ABORTION.<br> NORMAL FINDINGS OF THE OVARIES, CERVIX AND CUL DE SAC.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'TVS COMPLETE ABORTION'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The uterus is
                <mat-form-field class="col-md-2">
                  <mat-select formControlName="uterus" value="anteverted">
                    <mat-option value="anteverted">anteverted</mat-option>
                    <mat-option value="retroverted">retroverted</mat-option>
                  </mat-select>
                </mat-form-field>
                and normal in size measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="utem" value="0 x 0.0 x 0">
                </mat-form-field>
                cm. No uterine solid mass nor cystic lesion seen. The endometrium is echogenic and not thickened measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="echog" value="0.0">
                </mat-form-field>
                mm. No gestational sac, fetal pole nor solid mass seen.<br> The right ovary measures about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="rovary" value="0.0 x 0.0">
                </mat-form-field>
                cm while the left measures about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="lovary" value="0.0 x 0.0">
                </mat-form-field>
                cm. No adnexal mass
                seen.<br> No abnormal fluid collection seen in the cul de sac.<br> The cervix is unremarkable. No mass lesion seen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  <mat-form-field class="col-md-4">
                    <mat-select formControlName="iuterus" value="RETROVERTED">
                      <mat-option value="RETROVERTED">RETROVERTED</mat-option>
                      <mat-option value="ANTEVERTED">ANTEVERTED</mat-option>
                    </mat-select>
                  </mat-form-field>
                  UTERUS WITH THIN ENDOMETRIUM.<br> CONSIDER COMPLETE ABORTION.<br> NORMAL FINDINGS OF THE OVARIES, CERVIX AND CUL DE SAC.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'TVS'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The <strong>uterus</strong> is
                <mat-form-field class="col-md-2">
                  <mat-select formControlName="uterus" value="anteverted">
                    <mat-option value="anteverted">anteverted</mat-option>
                    <mat-option value="retroverted">retroverted</mat-option>
                  </mat-select>
                </mat-form-field>
                and normal in size measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="utem" value="0 x 0.0 x 0">
                </mat-form-field>
                cm. No uterine mass lesion seen.<br>The <strong>endometrium</strong> is echogenic in appearance and not thickened measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="echog" value="0.0">
                </mat-form-field>
                cm. No endometrial mass,gestational sac nor fluid collection seen.<br>The right ovary measures about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="rovary" value="0.0 x 0.0">
                </mat-form-field>
                cm while the left ovary measures about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="lovary" value="0.0 x 0.0">
                </mat-form-field>
                cm. No adnexal mass seen.<br>No free fluid collection is seen in the posterior <strong>cul de sac</strong>.<br>The <strong>cervix</strong> is unremarkable.
                Cervical length is
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="qaf" value="0.0">
                </mat-form-field>
                cm. No mass lesion seen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  <mat-form-field class="col-md-4">
                    <mat-select formControlName="iuterus" value="RETROVERTED">
                      <mat-option value="RETROVERTED">RETROVERTED</mat-option>
                      <mat-option value="ANTEVERTED">ANTEVERTED</mat-option>
                    </mat-select>
                  </mat-form-field>
                  UTERUS WITH THIN ENDOMETRIUM.<br>NORMAL STUDY OF CUL DE SAC, CERVIX AND BOTH OVARIES.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'TVS ES FLUID RETRO obscured'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The <strong>uterus</strong> is
                <mat-form-field class="col-md-2">
                  <mat-select formControlName="uterus" value="anteverted">
                    <mat-option value="anteverted">anteverted</mat-option>
                    <mat-option value="retroverted">retroverted</mat-option>
                  </mat-select>
                </mat-form-field>
                and normal in size measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="utem" value="0 x 0.0 x 0">
                </mat-form-field>
                . No uterine mass lesion seen.<br>The <strong>endometrium</strong> is echogenic in appearance and not thickened measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="echog" value="0.0">
                </mat-form-field>
                cm. Minimal endometrial fluid collection is seen with an approximate volume of
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="bpd" value="0.0">
                </mat-form-field>
                ml. No endometrial mass nor gestational sac seen. <br>Both <strong>ovaries </strong>are obscured by bowel gas echoes. No adnexal mass seen.<br>No free fluid collection is seen in
                the posterior <strong>cul de sac</strong>.<br>The <strong>cervix</strong> is unremarkable. Cervical length is
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="head" value="0.0">
                </mat-form-field>
                cm. No Mass lession seen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  <mat-form-field class="col-md-4">
                    <mat-select formControlName="iuterus" value="RETROVERTED">
                      <mat-option value="RETROVERTED">RETROVERTED</mat-option>
                      <mat-option value="ANTEVERTED">ANTEVERTED</mat-option>
                    </mat-select>
                  </mat-form-field>
                  UTERUS WITH THIN ENDOMETRIUM.<br>MINIMAL ENDOMETRIAL FLUID COLLECTION.<br>NORMAL STUDY OF CUL DE SAC AND
                  CERVIX.<br>OBSCURED BOTH OVARIES.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'TVS ES FLUID CYST  CERVIX obscured'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The <strong>uterus</strong> is
                <mat-form-field class="col-md-2">
                  <mat-select formControlName="uterus" value="anteverted">
                    <mat-option value="anteverted">anteverted</mat-option>
                    <mat-option value="retroverted">retroverted</mat-option>
                  </mat-select>
                </mat-form-field>
                and normal in size measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="utem" value="0 x 0.0 x 0">
                </mat-form-field>
                cm. No uterine mass lesion seen.<br>The <strong>endometrium</strong> is echogenic in appearance and not thickened measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="echog" value="0.0">
                </mat-form-field>
                cm. Minimal endometrial fluid collection is seen with an approximate volume of
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="bpd" value="0.0">
                </mat-form-field>
                ml. No endometrial mass nor gestational sac seen. <br>Both <strong>ovaries </strong>are obscured by bowel gas echoes. No adnexal mass seen.<br>No free fluid collection is seen in the posterior <strong>cul de sac</strong>.<br>There is an anechoic cyst in the <strong>cervix</strong> measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="postvv" value="0.0">
                </mat-form-field>
                cm. Cervical length is
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="head" value="0.0">
                </mat-form-field>
                cm. No solid mass lesion seen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  <mat-form-field class="col-md-4">
                    <mat-select formControlName="iuterus" value="RETROVERTED">
                      <mat-option value="RETROVERTED">RETROVERTED</mat-option>
                      <mat-option value="ANTEVERTED">ANTEVERTED</mat-option>
                    </mat-select>
                  </mat-form-field>
                  UTERUS WITH THIN ENDOMETRIUM.<br>MINIMAL ENDOMETRIAL FLUID COLLECTION.<br>NABOTHIAN CYST, CERVIX<br>NORMAL STUDY OF THE
                  POSTERIOR CUL DE SAC.<br>OBSCURED BOTH OVARIES.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'TVS ANTE obscured'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The <strong>uterus</strong> is
                <mat-form-field class="col-md-2">
                  <mat-select formControlName="uterus" value="anteverted">
                    <mat-option value="anteverted">anteverted</mat-option>
                    <mat-option value="retroverted">retroverted</mat-option>
                  </mat-select>
                </mat-form-field>
                and normal in size measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="utem" value="0 x 0.0 x 0">
                </mat-form-field>
                cm. No uterine mass lesion seen.<br>The <strong>endometrium</strong> is echogenic in appearance and not thickened measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="echog" value="0.0">
                </mat-form-field>
                cm. No endometrial mass, fluid collection nor gestational sac. &nbsp;<br>Both <strong>ovaries </strong>are obscured by bowel gas echoes. No adnexal mass seen.<br>No free fluid collection is seen in
                the posterior <strong>cul de sac</strong>.<br>The <strong>cervix</strong> is unremarkable.No mass lesion seen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  <mat-form-field class="col-md-4">
                    <mat-select formControlName="iuterus" value="RETROVERTED">
                      <mat-option value="RETROVERTED">RETROVERTED</mat-option>
                      <mat-option value="ANTEVERTED">ANTEVERTED</mat-option>
                    </mat-select>
                  </mat-form-field>
                  UTERUS WITH THIN ENDOMETRIUM.<br>NORMAL STUDY OF CUL DE SAC AND CERVIX.<br>OBSCURED BOTH OVARIES.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'TVS cyst LEFT'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The uterus is
                <mat-form-field class="col-md-2">
                  <mat-select formControlName="uterus" value="anteverted">
                    <mat-option value="anteverted">anteverted</mat-option>
                    <mat-option value="retroverted">retroverted</mat-option>
                  </mat-select>
                </mat-form-field>
                and normal in size measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="utem" value="0 x 0.0 x 0">
                </mat-form-field>
                cm. No uterine mass lesion seen.<br>The endometrium is echogenic in appearance and not thickened measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="echog" value="0.0">
                </mat-form-field>
                cm. No endometrial mass, fluid collection nor gestational sac. &nbsp;<br>The right ovary measures about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="rovary" value="0.0 x 0.0">
                </mat-form-field>
                cm.<br>There is an anechoic and unilocular cyst seen in the left adnexa measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="lovary" value="0.0 x 0.0">
                </mat-form-field>
                cm. No solid component seen.<br>No free fluid collection is seen in the posterior cul de sac.<br>The cervix is unremarkable. Cervical
                length is
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="qaf" value="0.0">
                </mat-form-field>
                cm. No mass lesion seen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  FUNCTIONAL OVARIAN CYST, LEFT ADNEXA.
                  <br>
                  <mat-form-field class="col-md-4">
                    <mat-select formControlName="iuterus" value="RETROVERTED">
                      <mat-option value="RETROVERTED">RETROVERTED</mat-option>
                      <mat-option value="ANTEVERTED">ANTEVERTED</mat-option>
                    </mat-select>
                  </mat-form-field>
                  UTERUS WITH THIN ENDOMETRIUM.<br>NORMAL STUDY OF RIGHT OVARY, CERVIX AND THE CUL DE SAC.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'TRANSVAGINAL ULTRASOUND'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The uterus is
                <mat-form-field class="col-md-2">
                  <mat-select formControlName="uterus" value="anteverted">
                    <mat-option value="anteverted">anteverted</mat-option>
                    <mat-option value="retroverted">retroverted</mat-option>
                  </mat-select>
                </mat-form-field>
                and normal in size measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="utem" value="0 x 0.0 x 0">
                </mat-form-field>
                cm. No uterine mass lesion seen.<br> The endometrium is echogenic in appearance and thickened measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="echog" value="0.0">
                </mat-form-field>
                m. No endometrial mass, fluid collection nor gestational sac. <br> There is a thin-walled, anechoic and
                unilocular cystic lesion in the right adnexa measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="bpwd" value="0 x 0.0">
                </mat-form-field>
                <br> The left ovary measures about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="lovary" value="0.0 x 0.0">
                </mat-form-field>
                cm. No adnexal mass seen.<br> No free fluid collection is seen in the posterior cul de sac .<br> The
                cervix is unremarkable. Cervical length is
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="qaf" value="0.0">
                </mat-form-field>
                cm. No mass lesion seen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  <mat-form-field class="col-md-4">
                    <mat-select formControlName="iuterus" value="RETROVERTED">
                      <mat-option value="RETROVERTED">RETROVERTED</mat-option>
                      <mat-option value="ANTEVERTED">ANTEVERTED</mat-option>
                    </mat-select>
                  </mat-form-field>
                  UTERUS WITH THICKENED ENDOMETRIUM.<br>FUNCTIONAL OVARIAN CYST, RIGHT ADNEXA.<br>NORMAL STUDY OF CUL DE SAC, CERVIX AND
                  LEFT OVARY.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'TVS THICKENED MYOMA SUBMUCOUS'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The uterus is
                <mat-form-field class="col-md-2">
                  <mat-select formControlName="uterus" value="anteverted">
                    <mat-option value="anteverted">anteverted</mat-option>
                    <mat-option value="retroverted">retroverted</mat-option>
                  </mat-select>
                </mat-form-field>
                and normal in size measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="utem" value="0 x 0.0 x 0">
                </mat-form-field>
                cm.<br>The endometrium is echogenic and thickened measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="echog" value="0.0">
                </mat-form-field>
                cm. There is a well-defined hypoechoic mass lesion is seen in the endometrium measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="bpwd" value="0 x 0.0">
                </mat-form-field>
                cm.<br>The right ovary measures about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="rovary" value="0.0 x 0.0">
                </mat-form-field>
                cm. The left ovary measures about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="lovary" value="0.0 x 0.0">
                </mat-form-field>
                cm. No adnexal mass seen.<br>No free fluid collection is seen in the posterior cul de sac .<br>The cervix is unremarkable. Cervical length is
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="qaf" value="0.0">
                </mat-form-field>
                cm. No mass lesion seen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  <mat-form-field class="col-md-4">
                    <mat-select formControlName="iuterus" value="RETROVERTED">
                      <mat-option value="RETROVERTED">RETROVERTED</mat-option>
                      <mat-option value="ANTEVERTED">ANTEVERTED</mat-option>
                    </mat-select>
                  </mat-form-field>
                  UTERUS WITH THICKENED ENDOMETRIUM.<br>SUBMUCOUS MYOMA UTERI.<br>NORMAL STUDY OF THE OVARIES, CERVIX AND CUL DE
                  SAC.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'TVS THICKENED MYOMA cyst large mid'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The uterus is
                <mat-form-field class="col-md-2">
                  <mat-select formControlName="uterus" value="anteverted">
                    <mat-option value="anteverted">anteverted</mat-option>
                    <mat-option value="retroverted">retroverted</mat-option>
                  </mat-select>
                </mat-form-field>
                and normal in size measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="utem" value="0 x 0.0 x 0">
                </mat-form-field>
                cm. There is a mass lesion seen in the posterior myometrium measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="bpwd" value="0 x 0.0">
                </mat-form-field>
                cm.<br>The endometrium is echogenic and thickened measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="echog" value="0.0">
                </mat-form-field>cm. No gestational sac, endometrial mass nor fluid collection.<br>There is a large cystic
                lesion with septations in the mid pelvic area measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="rovary" value="0.0 x 0.0">
                </mat-form-field>
                cm<br>Both ovaries are obscured by the said large pelvic cystic lesion.<br>No free fluid collection is seen in
                the posterior cul de sac .<br>The cervix is
                unremarkable.Cervical length is
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="qaf" value="0.0">
                </mat-form-field>
                cm. No mass lesion seen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  <mat-form-field class="col-md-4">
                    <mat-select formControlName="iuterus" value="RETROVERTED">
                      <mat-option value="RETROVERTED">RETROVERTED</mat-option>
                      <mat-option value="ANTEVERTED">ANTEVERTED</mat-option>
                    </mat-select>
                  </mat-form-field>
                  UTERUS WITH THICKENED ENDOMETRIUM.<br>POSTERIOR INTRAMURAL MYOMA UTERI.<br>LARGE COMPLEX OVARIAN CYST, MID
                  PELVIC AREA.<br>NORMAL STUDY OF THE CERVIX AND CUL DE SAC.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'TVS CUL DE SAC FLUID CYST LEFT'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The uterus is
                <mat-form-field class="col-md-2">
                  <mat-select formControlName="uterus" value="anteverted">
                    <mat-option value="anteverted">anteverted</mat-option>
                    <mat-option value="retroverted">retroverted</mat-option>
                  </mat-select>
                </mat-form-field>
                and normal in size measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="utem" value="0 x 0.0 x 0">
                </mat-form-field>
                cm. No mass lesion seen in the myometrium.<br>The endometrium is trilaminar in appearance and not thickened measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="echog" value="0.0">
                </mat-form-field>
                cm. No endometrial mass, fluid collection nor gestational sac. <br>The right
                ovary measures about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="rovary" value="0.0 x 0.0">
                </mat-form-field>
                cm. There is an anechoic cyst in the left adnexa measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="lovary" value="0.0 x 0.0">
                </mat-form-field>
                cm. No solid adnexal mass seen.<br>Minimal free fluid collection is seen in the posterior cul de sac with an approximate volume of
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="f_tone" value="0">
                </mat-form-field>
                ml .<br>The cervix is unremarkable. Cervical length is
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="qaf" value="0.0">
                </mat-form-field>
                cm. No mass lesion seen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  <mat-form-field class="col-md-4">
                    <mat-select formControlName="iuterus" value="RETROVERTED">
                      <mat-option value="RETROVERTED">RETROVERTED</mat-option>
                      <mat-option value="ANTEVERTED">ANTEVERTED</mat-option>
                    </mat-select>
                  </mat-form-field>
                  UTERUS WITH THIN ENDOMETRIUM.<br>FUNCTIONAL OVARIAN CYST, LEFT ADNEXA.<br>MINIMAL FREE FLUID, POSTERIOR CUL DE SAC.<br>NORMAL STUDY OF CERVIX AND RIGHT OVARY.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'TVS MYOMA ovarian cyst'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The uterus is
                <mat-form-field class="col-md-2">
                  <mat-select formControlName="uterus" value="anteverted">
                    <mat-option value="anteverted">anteverted</mat-option>
                    <mat-option value="retroverted">retroverted</mat-option>
                  </mat-select>
                </mat-form-field>
                and normal in size measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="utem" value="0 x 0.0 x 0">
                </mat-form-field>
                cm. There are two mass lesions seen in the anterior myometrium measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="bpwd" value="0 x 0.0">
                </mat-form-field>
                cm and
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="hcwd" value="0.0 x 0.0">
                </mat-form-field>
                cm.<br>The endometrium is echogenic and not thickened measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="echog" value="0.0">
                </mat-form-field>
                cm. No endometrial mass nor fluid collection.<br>The right ovary measures about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="rovary" value="0.0 x 0.0">
                </mat-form-field>
                cm.<br>There is a thin-walled, non-septated, anechoic and unilocular cyst seen in the left adnexa measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="lovary" value="0.0 x 0.0">
                </mat-form-field>
                cm.<br>No free fluid collection is seen in the posterior cul de sac.<br>The cervix is unremarkable with cervical of
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="qaf" value="0.0">
                </mat-form-field>
                cm. No mass lesion seen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  INTRAMURAL MYOMA UTERI.<br>FUNCTIONAL CYST, LEFT ADNEXA.<br>
                  <mat-form-field class="col-md-4">
                    <mat-select formControlName="iuterus" value="RETROVERTED">
                      <mat-option value="RETROVERTED">RETROVERTED</mat-option>
                      <mat-option value="ANTEVERTED">ANTEVERTED</mat-option>
                    </mat-select>
                  </mat-form-field>
                  UTERUS WITH THIN ENDOMETRIUM.<br>NORMAL STUDY OF THE CERVIX, CUL DE SAC AND THE RIGHT OVARY.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="procedureValue == 'WHOLE ABDOMEN ULTRASOUND006'">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Findings</div>
              <p class="h6">
                The <strong>liver </strong>is normal in size showing coarsened
                parenchymal echotexture. No solid mass nor cystic lesion seen in the parenchyma.
                Biliary ducts are not dilated. Common duct is not dilated which
                measures about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="cdt">
                </mat-form-field>
                mm without intraluminal echoes.<br> The <strong>gallbladder</strong> is physiologically distended with intraluminal diameter of
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="intd">
                </mat-form-field>
                cm. No intraluminal lithiasis nor mass seen. The wall is not thickened<br> The
                <strong>pancreas </strong>is normal in size and parenchymal echopattern measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="head">
                </mat-form-field>
                cm (head),
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="body">
                </mat-form-field>
                cm (body), and
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="tail">
                </mat-form-field>cm
                (tail). No mass nor cystic lesion seen in the parenchyma. No peripancreatic lymphadenopathy
                noted.<br> The <strong>spleen</strong> is enlarged in size with a
                span of
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="span">
                </mat-form-field>
                cm exhibiting homogeneous parenchymal echopattern. No mass nor cystic lesion seen in the parenchyma.<br> Both
                <strong>kidneys </strong>are normal in sizes with homogeneous parenchymal echopattern.
                There is a calculus in the upper pole of the left kidney measuring about
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="hc">
                </mat-form-field>
                cm. No
                evident solid mass nor cystic lesion. The cortical thickness and corticomedullary differentiations are within
                normal limits. Post void study shows the pelvocalyceal structures are not dilated.<br>Right kidney:
                <mat-form-field class="col-md-6">
                  <input matInput formControlName="rk" value="0.0 x 0.0 x 0.0 cm with cortical thickness: 0.0 cm">
                </mat-form-field>
                <br>Left kidney:
                <mat-form-field class="col-md-6">
                  <input matInput formControlName="lk" value="0.0 x 0.0 x 0.0 cm with cortical thickness : 0.0 cm">
                </mat-form-field>
                <br><strong>Urinary bladder</strong> is physiologically distended. No intraluminal mass nor lithiasis. The wall is not
                thickened. Pre void volume is
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="prevv">
                </mat-form-field>
                ml. Post void volume shows residual urine volume of
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="postvv">
                </mat-form-field>ml.<br> Transabdominal
                scanning of the prostate gland shows enlarged in size with volume weight of
                <mat-form-field class="col-md-2">
                  <input matInput formControlName="qaf">
                </mat-form-field>
                grams. No solid mass, parenchymal calcifications nor cystic lesion in the
                parenchyma.<br> No free fluid is seen in the abdomen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row mt-2 m-custom">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Impressions</div>
              <div class="form-inline">
                <p class="h6">
                  <strong>LIVER CIRRHOSIS.<br>SPLENOMEGALY.<br>NEPHROLITHIASIS, UPPER POLE OF THE LEFT KIDNEY.<br>ENLARGED PROSTATE GLAND
                    <br>ULTRASONICALLY NORMAL GALLBLADDER, PANCREAS, RIGHT KIDNEY <br>AND URINARY BLADDER.</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>

      <div class="row mb-4">
        <div class="col-md-12 mt-2">
          <div class="row mt-2">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Immaging Personel</div>
              <div class="col-md-12 mb-3">
                <mat-form-field class="col-md-4">
                  <mat-label>QA</mat-label>
                  <mat-select (selectionChange)="personel($event.value)" [value]="personelValue" formControlName="qualityID">
                    <mat-option *ngFor="let personel of personels" value="{{ personel }}">{{ personel }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Sonologist</mat-label>
                  <mat-select (selectionChange)="sonology($event.value)" [value]="sonologistValue" formControlName="sonoID">
                    <mat-option *ngFor="let sonology of sonologist" value="{{ sonology }}">{{ sonology }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
