<div style="height: 820px" class="ml-2 mr-1">
  <div class="container" >
    <div class="row">
      <div class="col-12">
        <div class="bold-1 mt-2">CHEMISTRY</div>
      </div>
    </div>
    <!-- fasting blood sugar -->
    <div class="row" *ngIf="math.hideRes(chemistry?.fbs)">
      <div class="col-4">
        <span class="r-label">Fasting Blood Sugar</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.fbs}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L 4.1-5.9
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.fbscon}}</span>
      </div>
      <div class="col-3 n-value">
        mg/dl 75 -107
      </div>
    </div>

    <!-- Random blood sugar -->
    <div class="row" *ngIf="math.hideRes(chemistry?.rbs)">
      <div class="col-4">
        <span class="r-label">Random Blood Sugar</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.rbs}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L < 7.7
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.rbscon}}</span>
      </div>
      <div class="col-3 n-value">
        mg/dl < 140
      </div>
    </div>

    <!-- Uric Acid -->
    <div class="row" *ngIf="math.hideRes(chemistry?.bua)">
      <div class="col-4">
        <span class="r-label">Uric Acid</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.bua}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L 155 - 428
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.buacon}}</span>
      </div>
      <div class="col-3 n-value">
        mg/dl 2.60 - 7.18
      </div>
    </div>

    <!-- Blood Urea Nitrogen-->
    <div class="row" *ngIf="math.hideRes(chemistry?.bun)">
      <div class="col-4">
        <span class="r-label">Blood Urea Nitrogen</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.bun}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L 2.5 - 7.5
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.buncon}}</span>
      </div>
      <div class="col-3 n-value">
        mg/dl 7 - 21
      </div>
    </div>

    <!-- Creatinine -->
    <div class="row" *ngIf="math.hideRes(chemistry?.crea)">
      <div class="col-4 pt-3">
        <span class="r-label ">Creatinine</span>
      </div>
      <div class="col-1 r-text pt-3">
        <span>{{chemistry?.crea}}</span>
      </div>
      <div class="col-1 pt-3">
        <span class="nvText n-value"> umol/L </span>
      </div>
      <div class="col-2">
          <span class="nvText n-value">
            M: 71 - 115<br />
            F: 53 - 106

          </span>
      </div>
      <div class="col-1 r-text pt-3">
        <span>{{chemistry?.creacon}}</span>
      </div>
      <div class="col-1 pt-3">
        <span class="nvText n-value"> mg/dl </span>
      </div>
      <div class="col-2">
          <span class="nvText n-value">
              M: 0.60 - 1.20<br />
              F: 0.80 - 1.30
          </span>
      </div>
    </div>

    <!-- Lipid Profile -->
    <div class="row">
      <div class="col-12 label-1"
      *ngIf="math.hideRes(chemistry?.chol) && math.hideRes(chemistry?.trig) && math.hideRes(chemistry?.hdl)">
        Lipid Profile
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.chol)">
      <div class="col-4">
        <span class="r-label">Cholesterol</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.chol}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L < 5.17
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.cholcon}}</span>
      </div>
      <div class="col-3 n-value">
        mg/dl < 200
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.trig)">
      <div class="col-4">
        <span class="r-label">Triglycerides</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.trig}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L 0.3-1.7
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.trigcon}}</span>
      </div>
      <div class="col-3 n-value">
        mg/dl 26.54-150
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.hdl)">
      <div class="col-4">
        <span class="r-label">HDL</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.hdl}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L 0.9-2.21
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.hdlcon}}</span>
      </div>
      <div class="col-3 n-value">
        mg/dl 34.6-85
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.ldl)">
      <div class="col-4">
        <span class="r-label">LDL</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.ldl}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L 2.5-4.1
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.ldlcon}}</span>
      </div>
      <div class="col-3 n-value">
        mg/dl 96.15-157.70
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.ch)">
      <div class="col-4">
        <span class="r-label">Cholesterol/HDL Ratio</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.ch}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L < 4.40
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.vldl)">
      <div class="col-4">
        <span class="r-label">VLDL</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.vldl}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L 0.050-1.04
      </div>
    </div>

     <!-- ELECTROLYTES -->
    <div class="row"
    *ngIf="math.hideRes(chemistry?.na) || math.hideRes(chemistry?.k) || math.hideRes(chemistry?.cl)">
      <div class="col-12 label-1">
        ELECTROLYTES
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.na)">
      <div class="col-4">
        <span class="r-label">Sodium</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.na}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L 135 - 153
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.k)">
      <div class="col-4">
        <span class="r-label">Potassium</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.k}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L 3.50 - 5.30
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.cl)">
      <div class="col-4">
        <span class="r-label">Chloride</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.cl}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L 98-107
      </div>
    </div>

    <!-- ENZYMES -->
    <div class="row"
    *ngIf="math.hideRes(chemistry?.alt) || math.hideRes(chemistry?.ast) || math.hideRes(chemistry?.amylase) || math.hideRes(chemistry?.lipase)">
      <div class="col-12 label-1">
        ENZYMES
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.alt)">
      <div class="col-4">
        <span class="r-label">SGPT/ALT</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.alt}}</span>
      </div>
      <div class="col-1 pt-3">
        <span class="nvText n-value"> U/L </span>
      </div>
      <div class="col-2">
        <span class="nvText n-value">
          F: 5 - 31<br />
          M: 10 - 41
        </span>
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.ast)">
      <div class="col-4 pt-3">
        <span class="r-label">SGOT/AST</span>
      </div>
      <div class="col-1 r-text pt-3">
        <span>{{chemistry?.ast}}</span>
      </div>
      <div class="col-1 pt-3">
          <span class="nvText n-value"> U/L 0-40</span>
        </div>

    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.amylase)">
      <div class="col-4">
        <span class="r-label">Amylase</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.amylase}}</span>
      </div>
      <div class="col-3 n-value">
        U/L 22 - 80
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.lipase)">
      <div class="col-4">
        <span class="r-label">Lipase</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.lipase}}</span>
      </div>
      <div class="col-3 n-value">
        U/L 0 - 62
      </div>
    </div>

    <!-- Oral Glucose Tolerance Test (OGTT) -->
    <div class="row"
    *ngIf="math.hideRes(chemistry?.ogtt1) || math.hideRes(chemistry?.ogtt2)">
      <div class="col-12 label-1">
        Oral Glucose Tolerance Test (OGTT)
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.ogtt1)">
      <div class="col-4">
        <span class="r-label">OGTT 1 HR</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.ogtt1}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L < 11.0
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.ogtt1con}}</span>
      </div>
      <div class="col-3 n-value">
        mg/dl < 200
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.ogtt2)">
      <div class="col-4">
        <span class="r-label">OGTT 2 HR</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.ogtt2}}</span>
      </div>
      <div class="col-3 n-value">
        mmo/L < 7.7
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.ogtt2con}}</span>
      </div>
      <div class="col-3 n-value">
        mg/dl < 140
      </div>
    </div>

    <!-- Creatine Phosphokinase (CPK) -->
    <div class="row"
    *ngIf="math.hideRes(chemistry?.cpkmb) || math.hideRes(chemistry?.totalCPK) || math.hideRes(chemistry?.cpkmm)">
      <div class="col-12 label-1">
        Creatine Phosphokinase (CPK)
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.cpkmb)">
      <div class="col-4">
        <span class="r-label">CPK - MB</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.cpkmb}}</span>
      </div>
      <div class="col-3 n-value">
        U/L 0 - 25
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.cpkmm)">
      <div class="col-4">
        <span class="r-label">CPK - MM</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.cpkmm}}</span>
      </div>
      <div class="col-3 n-value">
        U/L 25 - 170
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.totalCPK)">
      <div class="col-4">
        <span class="r-label">TOTAL CPK</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.totalCPK}}</span>
      </div>
      <div class="col-3 n-value">
        U/L 25 - 195
      </div>
    </div>

    <!-- Bilirubin -->
    <div class="row"
    *ngIf="math.hideRes(chemistry?.biltotal) || math.hideRes(chemistry?.bildirect) || math.hideRes(chemistry?.bilindirect)">
      <div class="col-12 label-1">
        BILIRUBIN
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.biltotal)">
      <div class="col-4">
        <span class="r-label">Total ( Adult )</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.biltotal}}</span>
      </div>
      <div class="col-3 n-value">
        umol/L 5 - 21
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.bildirect)">
      <div class="col-4">
        <span class="r-label">Direct</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.bildirect}}</span>
      </div>
      <div class="col-3 n-value">
        umol/L 0 - 6.9
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(chemistry?.bilindirect)">
      <div class="col-4">
        <span class="r-label">Indirect</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.bilindirect}}</span>
      </div>
      <div class="col-3 n-value">
        umol/L 5 - 14.1
      </div>
    </div>

    <!-- hba1c -->
    <div class="row pt-3" *ngIf="math.hideRes(chemistry?.hb)">
      <div class="col-4">
        <span class="r-label">HBA1C</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.hb}}</span>
      </div>
      <div class="col-3 n-value">
        % 4.3 - 6.3
      </div>
    </div>

    <!-- Alkaline Phosphatase -->
    <div class="row pt-2" *ngIf="math.hideRes(chemistry?.alp)">
      <div class="col-4">
        <span class="r-label">Alkaline Phosphatase</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.alp}}</span>
      </div>
      <div class="col-3 n-value">
        <!-- U/L up to 105 -->
        U/L 25-140
      </div>
    </div>

    <!-- PSA ( Prostate-Specific Antigen ) -->
    <div class="row pt-2" *ngIf="math.hideRes(chemistry?.psa)">
      <div class="col-4">
        <span class="r-label">PSA ( Prostate-Specific Antigen )</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.psa}}</span>
      </div>
      <div class="col-3 n-value">
        ng/mL 0-4
      </div>
    </div>

    <!-- GGTP -->
    <div class="row pt-2" *ngIf="math.hideRes(chemistry?.ggtp)">
      <div class="col-4">
        <span class="r-label">GGTP</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.ggtp}}</span>
      </div>
      <div class="col-3 n-value">
        ng/mL 0-4
      </div>
    </div>

    <!-- LDH -->
    <div class="row pt-2" *ngIf="math.hideRes(chemistry?.ldh)">
      <div class="col-4">
        <span class="r-label">LDH</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.ldh}}</span>
      </div>
      <div class="col-3 n-value">
        U/L 225-450
      </div>
    </div>

     <!-- TOTAL CALCIUM -->
     <div class="row pt-2" *ngIf="math.hideRes(chemistry?.calcium)">
      <div class="col-4">
        <span class="r-label">TOTAL CALCIUM</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.calcium}}</span>
      </div>
      <div class="col-3 n-value">
        <!-- U/L 2.10-2.63 -->
        <!-- U/L 0.87-1.45 -->
        U/L 2.30-2.70
      </div>
    </div>

    <!-- IONIZED CALCIUM -->
    <div class="row pt-2" *ngIf="math.hideRes(chemistry?.ionCalcium)">
      <div class="col-4">
        <span class="r-label">IONIZED CALCIUM</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.ionCalcium}}</span>
      </div>
      <div class="col-3 n-value">
        <!-- U/L 2.10-2.63 -->
        mmol/L 1.13-1.32
      </div>
    </div>

     <!-- TOTAL PROTEIN -->
     <div class="row pt-2" *ngIf="math.hideRes(chemistry?.protein)">
      <div class="col-4">
        <span class="r-label">TOTAL PROTEIN</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.protein}}</span>
      </div>
      <div class="col-3 n-value">
        U/L 66 - 83
      </div>
    </div>

     <!-- Inoraganic Phosphorus -->
     <div class="row pt-2" *ngIf="math.hideRes(chemistry?.inPhos)">
      <div class="col-4">
        <span class="r-label">Inoraganic Phosphorus</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.inPhos}}</span>
      </div>
      <div class="col-3 n-value">
        <!-- U/L 0.8 - 1.50 -->
        U/L 0.87 - 1.45
      </div>
    </div>

     <!-- Albumin -->
     <div class="row pt-2" *ngIf="math.hideRes(chemistry?.albumin)">
      <div class="col-4">
        <span class="r-label">Albumin</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.albumin}}</span>
      </div>
      <div class="col-3 n-value">
        U/L 38 - 51
      </div>
    </div>

     <!-- Globulin -->
     <div class="row pt-2" *ngIf="math.hideRes(chemistry?.globulin)">
      <div class="col-4">
        <span class="r-label">Globulin</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.globulin}}</span>
      </div>
      <div class="col-3 n-value">
        U/L 23 - 35
      </div>
    </div>

     <!-- Magnesium -->
     <div class="row pt-2" *ngIf="math.hideRes(chemistry?.magnesium)">
      <div class="col-4">
        <span class="r-label">Magnesium</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.magnesium}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L 0.70 - 0.98
      </div>
    </div>

    <!-- Oral Glucose Challenge Test (OGCT) -->
    <div class="row" *ngIf="math.hideRes(chemistry?.ogct)">
      <div class="col-4">
        <span class="r-label">Oral Glucose Challenge Test (OGCT)</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.ogct}}</span>
      </div>
      <div class="col-3 n-value">
        mmol/L < 7.7
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.ogctcon}}</span>
      </div>
      <div class="col-3 n-value">
        mg/dl < 140
      </div>
    </div>

    <!-- Magnesium -->
    <div class="row pt-2" *ngIf="math.hideRes(chemistry?.agratio)">
      <div class="col-4">
        <span class="r-label">A/G Ratio</span>
      </div>
      <div class="col-1 r-text">
        <span>{{chemistry?.agratio}}</span>
      </div>
      <div class="col-3 n-value">
        1.5 - 3.0
      </div>
    </div>

  </div>
</div>
