<form [formGroup]="form" (ngSubmit)="formSubmit()">
  <div class="form-group row">
    <div class="col-md-12 text-center">
      <h5>Enter approval code for this transaction!</h5>
    </div>
  </div>
  <div class="form-group row">
    <mat-form-field class="col-md-12">
      <input matInput formControlName="approvalCode" cdkFocusInitial placeholder="Approval Code">
      <mat-hint>{{ hint }}</mat-hint>
    </mat-form-field>
  </div>
  <div class="form-group row">
    <div class="col-md-12 text-center">
      <button mat-button (click)="close()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Verify</button>
    </div>
  </div>
</form>
