<div class="container-fluid">
    <div class="row">
        <div class="col-6 p-3">
            <div class="text-center font-weight-bold">Top 10 Sold Items/Services</div>
            <div id="chartdiv" style="width: 100%; height: 500px"></div>
        </div>
    </div>
</div>