<mat-dialog-content>
  <div class="container py-3">
    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">PATIENT INFORMATION</span>
                </div>
              </div>
              <div class="col-md-2">
                <p class="h6">Name:</p>
                <p class="h6 font-weight-bold">
                  {{ patientData?.fullName }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Contact:</p>
                <p class="h6 font-weight-bold">{{ patientData?.contactNo }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Age:</p>
                <p class="h6 font-weight-bold">{{ patientData?.age }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Gender:</p>
                <p class="h6 font-weight-bold">{{ patientData?.gender }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Address:</p>
                <p class="h6 font-weight-bold">{{ patientData?.address }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="form-group row" *ngIf="type == 'payment'">
      <div class="col-md-12">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <mat-card class="mat-elevation-z8">
            <mat-card-content>
              <div class="form-group row">
                <div class="col-md-12 text-center">
                  <div class="header mt-1 ls-2 mb-3">
                    <span class="bold-2">PAYMENT</span>
                  </div>
                </div>
                <div class="col-md-6 mx-auto">
                  <div class="form-group row">
                    <mat-form-field class="col-md-12">
                      <mat-label>Select Item</mat-label>
                      <mat-select (selectionChange)="selectItem($event.value)">
                        <mat-option *ngFor="let item of items" value="{{ item.itemPrice }}|{{ item.itemId }}">
                          {{ item.itemName }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="form-group row">
                    <mat-form-field class="col-md-12">
                      <mat-label>Amount Tendered</mat-label>
                      <input matInput type="text" formControlName="paidIn">
                    </mat-form-field>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <h5>Total Price: {{ totalPrice | number }}</h5>
                    </div>
                    <div class="col-md-6">
                      <h5 class="text-danger">Change: {{ change | number }}</h5>
                    </div>
                  </div>

                  <hr>

                  <div class="form-group row">
                    <div class="col-md-12 text-center">
                      <button type="button" mat-raised-button color="accent" (click)="cancel()">
                        <mat-icon>close</mat-icon> Cancel
                      </button>
                      &nbsp;
                      <button type="submit" mat-raised-button color="primary"
                        [disabled]="totalPrice > form.get('paidIn').value || totalPrice == 0">
                        <mat-icon>save</mat-icon> Save
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </div>
    </div>

    <mat-card class="mat-elevation-z8" *ngIf="type == 'view'">
      <mat-card-content>
        <div class="form-group row">
          <div class="col-md-12 text-center">
            <div class="header mt-1 ls-2 mb-3">
              <span class="bold-2">PAYMENT INFORMATION</span>
            </div>
          </div>
          <div class="col-md-6 mx-auto">
            <div class="form-group row">
              <div class="col-md-12">
                <p class="h6"><b>Item Purchased:</b> {{ itemName }}</p>
              </div>
              <div class="col-md-12">
                <p class="h6"><b>Total Price:</b> {{ docTrans?.totalPrice }}</p>
              </div>
              <div class="col-md-12">
                <p class="h6"><b>Amount Tendered:</b> {{ docTrans?.paidIn }}</p>
              </div>
              <div class="col-md-12">
                <p class="h6"><b>Change:</b> {{ docTrans?.paidOut }}</p>
              </div>
            </div>

            <hr>

            <div class="form-group row">
              <div class="col-md-12 text-center">
                <button type="button" mat-raised-button color="accent" (click)="cancel()">
                  <mat-icon>close</mat-icon> close
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
