<mat-dialog-content>
<patient-info [id]="id" class="sticky-top"></patient-info>
<form [formGroup]="chem" autocomplete="off">
  <div class="container mb-3">
    <div class="row">
      <div class="header mt-1 ls-2">
        <span *ngIf="update" class="bold-2">UPDATE</span>
        <span *ngIf="!update" class="bold-2">ADD</span>
        <span class="bold-2"> CHEMISTRY</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Fasting Blood Sugar</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-3">
                    <input matInput placeholder="Result" formControlName="fbs">
                  </mat-form-field>
                  <div class="col-3 pt-3">
                    <span class="nvText">mmol/L 4.1-5.9</span>
                  </div>
                  <mat-form-field class="col-3">
                    <input matInput placeholder="Conventional" formControlName="fbscon">
                  </mat-form-field>
                  <div class="col-3 pt-3">
                    <span class="nvText">mg/dl 75 -107</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Random Blood Sugar</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-3">
                    <input matInput placeholder="Result" formControlName="rbs">
                  </mat-form-field>
                  <div class="col-3 pt-3">
                    <span class="nvText">mmol/L < 7.7</span>
                  </div>
                  <mat-form-field class="col-3">
                    <input matInput placeholder="Conventional" formControlName="rbscon">
                  </mat-form-field>
                  <div class="col-3 pt-3">
                    <span class="nvText">mg/dl < 140</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Uric Acid</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-3">
                    <input matInput placeholder="Result" formControlName="bua">
                  </mat-form-field>
                  <div class="col-3 pt-3">
                    <span class="nvText">mmol/L 155 - 428</span>
                  </div>
                  <mat-form-field class="col-3">
                    <input matInput placeholder="Conventional" formControlName="buacon">
                  </mat-form-field>
                  <div class="col-3 pt-3">
                    <span class="nvText">mg/dl 2.60 - 7.18</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Blood Urea Nitrogen</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-3">
                    <input matInput placeholder="Result" formControlName="bun">
                  </mat-form-field>
                  <div class="col-3 pt-3">
                    <span class="nvText">mmol/L 2.5 - 7.5</span>
                  </div>
                  <mat-form-field class="col-3">
                    <input matInput placeholder="Conventional" formControlName="buncon">
                  </mat-form-field>
                  <div class="col-3 pt-3">
                    <span class="nvText">mg/dl 7 - 21</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Creatinine</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-2">
                    <input matInput placeholder="Result" formControlName="crea">
                  </mat-form-field>
                  <div class="col-1 pt-3">
                    <span class="nvText">umol/L</span>
                  </div>
                  <div class="col-3">
                    <span class="nvText">
                      &nbsp;Female : 53 - 106<br />
                      &nbsp;Male &nbsp;&nbsp;&nbsp; : 71 - 115
                    </span>
                  </div>
                  <mat-form-field class="col-2">
                    <input matInput placeholder="Conventional" formControlName="creacon">
                  </mat-form-field>
                  <div class="col-1 pt-3">
                    <span class="nvText">mg/dl</span>
                  </div>
                  <div class="col-3">
                    <span class="nvText">
                      &nbsp;F &nbsp; : 0.60 - 1.20<br />
                      &nbsp;M : 0.80 - 1.30
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Hemoglobin A1C</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Result" formControlName="hb">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">% 4.3 - 6.3</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Alkaline Phosphatase (ALP)</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Result" formControlName="alp">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <!-- <span class="nvText">U/L up to 105</span> -->
                    <span class="nvText">U/L 25 - 140</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">GGTP</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col">
                    <mat-label>Result</mat-label>
                    <mat-select formControlName="ggtp">
                        <mat-option value="-"> - </mat-option>
                        <mat-option *ngFor="let f of foo" [value]="f">
                            {{f}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">LDH</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Result" formControlName="ldh">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">U/L 225-450</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Total Calcium</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Result" formControlName="calcium">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <!-- <span class="nvText">mmol/L 2.10-2.63</span> -->
                    <!-- <span class="nvText">mmol/L 0.87-1.45</span> -->
                    <span class="nvText">mmol/L 2.30-2.70</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Total Protein</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Result" formControlName="protein">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">g/L 66-83</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Inorganic Phosphorus</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Result" formControlName="inPhos">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <!-- <span class="nvText">mmol/L 0.8-1.50</span> -->
                    <span class="nvText">mmol/L 0.87-1.45</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Albumin</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Result" formControlName="albumin">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">g/L 38-51</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Globulin</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Result" formControlName="globulin">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">g/L 23-35</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Magnesium</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Result" formControlName="magnesium">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">mmol/L 0.70-0.98</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Lipid Profile</div>
            <!-- Cholesterol -->
            <div class="row">
              <mat-form-field class="col-3">
                <input matInput placeholder="Cholesterol" formControlName="chol">
              </mat-form-field>
              <div class="col-3 pt-3">
                <span class="nvText">mmol/L < 5.17</span>
              </div>
              <mat-form-field class="col-3">
                <input matInput placeholder="Conventional" formControlName="cholcon">
              </mat-form-field>
              <div class="col-3 pt-3">
                <span class="nvText">mg/dl < 200</span>
              </div>
            </div>
            <!-- triglycerides -->
            <div class="row">
              <mat-form-field class="col-3">
                <input matInput placeholder="Triglycerides" formControlName="trig">
              </mat-form-field>
              <div class="col-3 pt-3">
                <span class="nvText">mmol/L 0.3-1.7</span>
              </div>
              <mat-form-field class="col-3">
                <input matInput placeholder="Conventional" formControlName="trigcon">
              </mat-form-field>
              <div class="col-3 pt-3">
                <span class="nvText">mg/dl 26.54-150</span>
              </div>
            </div>
            <!-- HDL -->
            <div class="row">
              <mat-form-field class="col-3">
                <input matInput placeholder="HDL" formControlName="hdl">
              </mat-form-field>
              <div class="col-3 pt-3">
                <span class="nvText">mmol/L 0.9-2.21</span>
              </div>
              <mat-form-field class="col-3">
                <input matInput placeholder="Conventional" formControlName="hdlcon">
              </mat-form-field>
              <div class="col-3 pt-3">
                <span class="nvText">mg/dl 34.6-85</span>
              </div>
            </div>
             <!-- LDL -->
             <div class="row">
              <mat-form-field class="col-3">
                <input matInput placeholder="LDL" formControlName="ldl">
              </mat-form-field>
              <div class="col-3 pt-3">
                <span class="nvText">mmol/L 2.5-4.1</span>
              </div>
              <mat-form-field class="col-3">
                <input matInput placeholder="Conventional" formControlName="ldlcon">
              </mat-form-field>
              <div class="col-3 pt-3">
                <span class="nvText">mg/dl 96.15-157.70</span>
              </div>
            </div>
             <div class="row">
                <!-- HDL.RATIO -->
              <mat-form-field class="col-3">
                <input matInput placeholder="HDL.RATIO" formControlName="ch">
              </mat-form-field>
              <div class="col-3 pt-3">
                <span class="nvText">mmol/L < 4.40</span>
              </div>
               <!-- VLDL -->
              <mat-form-field class="col-3">
                <input matInput placeholder="VLDL" formControlName="vldl">
              </mat-form-field>
              <div class="col-3 pt-3">
                <span class="nvText">mmol/L 0.050-1.04</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-md-6 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">Ionized Calcium</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="ionCalcium">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <!-- <span class="nvText">mmol/L 0.93-1.32</span> -->
                        <span class="nvText">mmol/L 1.13-1.32</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">A/G Ratio</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="agratio">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">1.5 - 3.0</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">Oral Glucose Tolerance Test (OGTT)</div>
                <div class="row">
                  <mat-form-field class="col-3">
                    <input matInput placeholder="OGTT 1 HR" formControlName="ogtt1">
                  </mat-form-field>
                  <div class="col-3 pt-3">
                    <span class="nvText">mmol/L < 11.0</span>
                  </div>
                  <mat-form-field class="col-3">
                    <input matInput placeholder="Conventional" formControlName="ogtt1con">
                  </mat-form-field>
                  <div class="col-3 pt-3">
                    <span class="nvText">mg/dl < 200</span>
                  </div>
                </div>
                <div class="row">
                  <mat-form-field class="col-3">
                    <input matInput placeholder="OGTT 2 HR" formControlName="ogtt2">
                  </mat-form-field>
                  <div class="col-3 pt-3">
                    <span class="nvText">mmo/L < 7.7</span>
                  </div>
                  <mat-form-field class="col-3">
                    <input matInput placeholder="Conventional" formControlName="ogtt2con">
                  </mat-form-field>
                  <div class="col-3 pt-3">
                    <span class="nvText">mg/dl < 140</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">OGCT (50G)</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-3">
                        <input matInput placeholder="Result" formControlName="ogct">
                      </mat-form-field>
                      <div class="col-3 pt-3">
                        <span class="nvText">mmol/L < 7.7</span>
                      </div>
                      <mat-form-field class="col-3">
                        <input matInput placeholder="Conventional" formControlName="ogctcon">
                      </mat-form-field>
                      <div class="col-3 pt-3">
                        <span class="nvText">mg/dl < 140</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">ELECTROLYTES</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-5">
                    <input matInput placeholder="Sodium" formControlName="na">
                  </mat-form-field>
                  <div class="col-7 pt-3">
                    <span class="nvText">mmol/L 135 - 153</span>
                  </div>
                </div>
                <div class="row">
                  <mat-form-field class="col-5">
                    <input matInput placeholder="Potassium" formControlName="k">
                  </mat-form-field>
                  <div class="col-7 pt-3">
                    <span class="nvText">mmol/L 3.50 - 5.30</span>
                  </div>
                </div>
                <div class="row">
                  <mat-form-field class="col-5">
                    <input matInput placeholder="Chloride" formControlName="cl">
                  </mat-form-field>
                  <div class="col-7 pt-3">
                    <span class="nvText">mmol/L 98-107</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">ENZYMES</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-5">
                    <input matInput placeholder="SGPT/ALT" formControlName="alt">
                  </mat-form-field>
                  <div class="col-1 pt-3">
                    <span class="nvText">U/L</span>
                  </div>
                  <div class="col-5">
                    <span class="nvText">
                      &nbsp;F &nbsp;&nbsp;: 5 - 31<br />
                      &nbsp;M : 10 - 41
                    </span>
                  </div>
                </div>
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="SGOT/AST" formControlName="ast">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">U/L 0 - 40</span>
                  </div>
                </div>
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Amylase" formControlName="amylase">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">U/L 22 - 80</span>
                  </div>
                </div>
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Lipase" formControlName="lipase">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">U/L 0 - 62</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Creatine phosphokinase (CPK)</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="CPK - MB" formControlName="cpkmb">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">U/L 0 - 25</span>
                  </div>
                </div>
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="CPK - MM" formControlName="cpkmm">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">U/L 25 - 170</span>
                  </div>
                </div>
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="TOTAL CPK" formControlName="totalCPK">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">U/L 25 - 195</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="row mt-2 m-custom">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">BILIRUBIN</div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Total ( Adult )" formControlName="cpkmb">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">umol/L 5 - 21</span>
                  </div>
                </div>
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Direct" formControlName="cpkmm">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">umol/L 0 - 6.9</span>
                  </div>
                </div>
                <div class="row">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Indirect" formControlName="totalCPK">
                  </mat-form-field>
                  <div class="col-6 pt-3">
                    <span class="nvText">umol/L 5 - 14.1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-12 mt-2">
              <div class="row mt-2">
                  <div class="bold-1 p-3 des">
                      <div class="bold-1 title pl-2 pr-2">Other Notes</div>
                      <mat-form-field class="col">
                          <input matInput placeholder="Notes" formControlName="chemNotes">
                      </mat-form-field>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
    <!-- lab pesonnel -->
    <div class="row mb-4">
      <div class="col-md-12 mt-2">
        <div class="row mt-2">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Laboratory Personnel</div>
            <mat-form-field class="col-3">
              <!-- Get from transaction biller -->
              <input matInput placeholder="Clinician/Walk-In" [value]="transaction?.biller" disabled>
            </mat-form-field>
            <mat-form-field class="col-3">
              <mat-label>Medical Technologist</mat-label>
              <mat-select formControlName="medID">
                <mat-option value=""> - </mat-option>
                <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
                  {{m.lastName}}, {{m.firstName}}&nbsp;{{m.middleName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-3">
              <mat-label>Quality Control</mat-label>
              <mat-select formControlName="qualityID">
                <mat-option value=""> - </mat-option>
                <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
                  {{m.lastName}}, {{m.firstName}}&nbsp;{{m.middleName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-3">
              <mat-label>Pathologist</mat-label>
              <mat-select formControlName="pathID">
                <mat-option value=""> - </mat-option>
                <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
                  {{m.lastName}}, {{m.firstName}}&nbsp;{{m.middleName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto" style="width: 65px;">
    <button mat-raised-button color="primary" class="mb-3" (click)="addChem()" *ngIf="!update">ADD</button>
    <button mat-raised-button color="accent" class="mb-3" (click)="updateChem()" *ngIf="update">UPDATE</button>
</div>
</form>
</mat-dialog-content>
