<div class="container mt-3">
  <div class="form-group row">
    <div class="col-md-2"></div>
    <div class="col-md-4 py-3">
      <form [formGroup]="validityForm" (ngSubmit)="validityFormSubmit()">
        <mat-card class="mat-elevation-z8">
          <mat-card-header>
            <mat-card-title>Manage password validity</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="col-md-12">
              <mat-select formControlName="validity" [value]="validityValue">
                <mat-option *ngFor="let validity of validities" [value]="validity.value">{{ validity.value }}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
          <mat-card-footer class="text-center pb-2">
            <button mat-raised-button color="accent">Update Validity</button>
          </mat-card-footer>
        </mat-card>
      </form>
    </div>
    <div class="col-md-4 py-3">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <mat-card class="mat-elevation-z8">
          <mat-card-header>
            <mat-card-title>Current password</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="col-md-12">
              <input matInput type="password" formControlName="password" placeholder="Password">
            </mat-form-field>
          </mat-card-content>
          <mat-card-footer class="text-center pb-2">
            <button mat-raised-button color="primary" [disabled]="!form.valid">Update Password</button>
          </mat-card-footer>
        </mat-card>
      </form>
    </div>
  </div>
</div>
