<div class="loader-con" *ngIf="showLoading">
  <div style="margin-top: 30vh">
    <loading></loading>
  </div>
</div>
<!-- <mat-grid-list cols="20" rowHeight="8px" class="main">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile colspan="20" rowspan="6">
    Generate Sales Report
  </mat-grid-tile>
</mat-grid-list> -->

<div class="search-con mt-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <span class="bold-2 ls-1 mr-3"> Start Date: </span>
        <ejs-datetimepicker [formControl]='from'></ejs-datetimepicker>
      </div>
      <div class="col-md-3">
        <span class="bold-2 ls-1 mr-3"> End Date: </span>
        <ejs-datetimepicker [formControl]='to'></ejs-datetimepicker>
      </div>

      <div class="col-md-1">
        <button mat-raised-button class="mt-3" (click)="setData()" [color]="'success'">Filter</button>
      </div>

      <div class="col-md-5">
        <span class="bold-2 ls-1 mr-3" style="width:30%"> GENERATE:</span>
        <mat-form-field style="width:40%">
          <mat-label>SELECT</mat-label>
          <mat-select [formControl]="generateFile">
            <mat-option *ngFor="let generate of gen" [value]="generate.value">
              {{generate.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button class="ml-4" (click)="generate()" [color]="'success'" style="width:30%"
          [disabled]="!generateFile.valid">Generate</button>
      </div>

    </div>
  </div>
</div>

<div class="mat-elevation-z8 table-con">

  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span style="text-transform: uppercase;" class="ls-1 bold-1">
          {{column}}
        </span>
      </th>
      <td mat-cell *matCellDef="let element" [style.color]="element['color']"
        [ngClass]="{'font-weight-bold': column == 'patient'}">
        <span>{{element[column]}}</span>
      </td>

    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="bold-1">Purchased Items: </div>
                <div *ngFor="let item of element.items">
                  + {{item.itemName}}
                  <span style="font-size:10px" *ngIf="item.itemDescription != '' && item.itemDescription != ' '">
                    - ( {{item.itemDescription}} )
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="bold-1">Patient Information: </div>
                <div>{{element.patInfo?.contactNo}} || {{element.patInfo?.email}}</div>
                <div>{{element.patInfo?.birthdate}} || {{element.patInfo?.gender}}</div>
                <div>{{element.patInfo?.companyName}} || {{element.patInfo?.address}}</div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns; " class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">>
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" class="mat-paginator-sticky"></mat-paginator>
</div>
