<div class="row mt-4">
  <div class="col-8">
    <div class="row">
      <div class="col-5 ml-auto">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="lineLabel">FROILAN A. CANLAS, M.D.</p>
          </div>
          <div class="col-md-12 text-center" style="margin-top: -30px;">
            <small class="lineLabelSmall" style="font-size: .7em; margin-left: -10px;">INTERNAL MEDICINE</small>
          </div>
          <div class="col-md-12" style="margin-top: -10px;">
            <p class="lineLabel">LIC No.:82468</p>
          </div>
          <div class="col-md-12" style="margin-top: -10px;">
            <p class="lineLabel">PTR No.:1923882</p>
          </div>
          <div class="col-md-12" style="margin-top: -10px;">
            <p class="lineLabel">S2 No.: ________________</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-7">
    <img src="assets/QPDFOOTER.jpg" class="img-fluid">
  </div>
</div>
