<div class="container-fluid py-3">
  <div class="form-group row">
    <div class="col-md-6">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="header mt-1 ls-2">
                <span class="bold-2">XRay Film Inventory</span>
              </div>
            </div>
          </div>

          <form [formGroup]="filmForm">
            <div class="form-group row">
              <div class="col-md-6">
                <mat-form-field class="col-md-12">
                  <input matInput formControlName="dateFromFilm" dateFromFilm="dateFromFilm" [matDatepicker]="dateFromFilm"
                    [max]="maxDate"
                    placeholder="Date from" readonly>
                  <mat-datepicker-toggle matSuffix [for]="dateFromFilm"></mat-datepicker-toggle>
                  <mat-datepicker #dateFromFilm></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="col-md-12">
                  <input matInput formControlName="dateToFilm" dateToFilm="dateToFilm" [matDatepicker]="dateToFilm"
                    [max]="maxDate"
                    placeholder="Date to" readonly>
                  <mat-datepicker-toggle matSuffix [for]="dateToFilm"></mat-datepicker-toggle>
                  <mat-datepicker #dateToFilm></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </form>

          <div class="form-group row py-3">
            <div class="col-md-12 text-right">
              <button mat-raised-button color="accent" (click)="table()">
                <mat-icon>reorder</mat-icon> Table
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="header mt-1 ls-2">
                <span class="bold-2">Print Sticker</span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <form [formGroup]="stickerDateForm" (ngSubmit)="stickerDate()">
                <p class="h6 bold-2 ls-2 text-center">By Date</p>
                <mat-form-field class="col-md-12">
                  <input matInput [matDatepicker]="dateFromStickerDate" [max]="maxDate" placeholder="Date from" formControlName="dateForm" readonly>
                  <mat-datepicker-toggle matSuffix [for]="dateFromStickerDate"></mat-datepicker-toggle>
                  <mat-datepicker #dateFromStickerDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="col-md-12">
                  <input matInput [matDatepicker]="dateToStickerDate" [max]="maxDate" placeholder="Date to" formControlName="dateTo" readonly>
                  <mat-datepicker-toggle matSuffix [for]="dateToStickerDate"></mat-datepicker-toggle>
                  <mat-datepicker #dateToStickerDate></mat-datepicker>
                </mat-form-field>
                <div class="form-group row py-3">
                  <div class="col-md-12 text-center">
                    <button mat-raised-button color="accent" type="submit" [disabled]="!stickerDateForm.valid">
                      <mat-icon>print</mat-icon> Print
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <form [formGroup]="stickerIdForm" (ngSubmit)="stickerId()">
                <p class="h6 bold-2 ls-2 text-center">By Id</p>
                <mat-form-field class="col-md-12">
                  <mat-label>From ID</mat-label>
                  <input type="number" matInput formControlName="idForm">
                </mat-form-field>
                <mat-form-field class="col-md-12">
                  <mat-label>To ID</mat-label>
                  <input type="number" matInput formControlName="idTo">
                </mat-form-field>
                <div class="form-group row py-3">
                  <div class="col-md-12 text-center">
                    <button mat-raised-button color="accent" type="submit" [disabled]="!stickerIdForm.valid">
                      <mat-icon>print</mat-icon> Print
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
