.left{
    position: absolute;
    left: 5px;
    font-size: 25px;
}
.right{
    position: absolute;
    right: 5px;
    font-size: 20px;
}
.top{
    position: absolute;
    top: 5px;
}
.bottom{
    position: absolute;
    bottom: 5px;
}
body {
  font-family: "Garamond";
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

hr {
  border-top: 2px solid #8c8b8b;
  line-height: 1px;
  margin-left: 0px;
  margin: 0px;
  width: 80%;
}

h3 {
  font-family: "Garamond";
  padding: 0px;
  margin: 0px;
  color: black;

}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5 .col-6 {
  padding-left: 0px;
  margin-left: 5px;
}

.items {
  padding-left: 20px;
}

.tab {
  border-top: 2px solid #8c8b8b;
  border-bottom: 2px solid #8c8b8b;



}
@media screen {
    :host {
      display: none;
    }
  }
