<div style="width: 450px" class="ml-4 mt-2" id="print-section">
<mat-grid-list cols="20" rowHeight="10px" >
    <mat-grid-tile colspan="20" rowspan="4">
        <span class="left">
          {{transData?.transactionDate}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="20" rowspan="4">
        <span class="bold-1" style="font-size: 25px;">
            QUEST PHIL DIAGNOSTICS QIS JAVA
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="20" rowspan="3">
        <span style="font-size: 20px;">
            McArthur Hi-Way Cor. Salome Rd. Angeles City
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="20" rowspan="3">
       <!-- margin -->
       <span *ngIf="transData?.salesType == 'refund'" class="bold-1 ls-2">
            REFUND TRANSACTION
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="5">
        <span class="right" >
            Name :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="5">
        <span class="left bold-1">
            {{patient?.fullName}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="5">
        <span class="right">
            Company :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="5" >
        <span class="left bold-1" >
            {{patient?.companyName}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="3" >
        <span class="right">
            Age/Gen :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="3">
        <span class="left bold-1">
            {{math.computeAge(patient?.birthdate)}}/{{patient?.gender}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="3">
        <span class="right">
            Birthdate :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="3">
        <span class="left bold-1">
            {{patient?.birthdate}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="3">
        <span class="right">
            Phone # :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="3">
        <span class="left bold-1">
            {{patient?.contactNo}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="5">
        <span class="right">
            Referral :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="5">
        <span class="left bold-1">
            {{transData?.biller}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="3">
        <span class="right">
            Cashier :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="3">
        <span class="left bold-1">
            {{cashier}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="3">
        <span class="right">
            Type :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="3">
        <span class="left bold-1">
            {{transData?.transactionType}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="4">
        <span class="right bold-1 ts-3">
            RCPT :
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="14" rowspan="4">
        <span class="left bold-1 ts-3">
            # {{transData?.transactionId.toString().padStart(13, '0')}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="15" rowspan="4" class="border-top border-bottom">
        <span class="left bold-1">
          <span *ngIf="transData?.salesType == 'refund'">
              Refund
          </span> Items
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="4" class="border-top border-bottom">
        <span class="bold-1" style="font-size: 20px;">
            Price
        </span>
    </mat-grid-tile>
</mat-grid-list>
    <!-- <div *ngFor="let i of item">
        <span class="left" style="width: 260px;">
           {{i.itemName}}
        </span>
        <span class="right">
            ₱:{{i.itemPrice}}
        </span>
    </div> -->
    <div class="container-fluid">
        <div class="row pt-2 pb-2" *ngFor="let i of item" style="line-height: 23px;font-size: 13px">
            <div class="col-sm-8" style="font-size: 25px;">
                {{i.item.itemName}} - {{ i.item.itemDescription }}
            </div>

            <div class="col-sm-4">

                <div style="font-size: 23px; margin-top: 20px; margin-bottom: 15px;">( A.P ) {{i.item.itemPrice}}</div>
                <span *ngIf="transData?.currency == 'PESO'" class="bold-1 mt-5" style="font-size: 20px;">₱:</span>
                <span *ngIf="transData?.currency == 'USD'" class="bold-1 mt-5" style="font-size: 20px;">$:</span>
                <span class="bold-1" style="font-size: 20px;">
                    {{math.computeDisc(i.item.itemPrice, i.ext.itemDisc, i.ext.itemQTY)}}
                </span>

            </div>
        </div>
    </div>
  <mat-grid-list cols="20" rowHeight="10px"
    *ngIf="transData.transactionType == 'CASH'">
    <mat-grid-tile colspan="13" rowspan="4" class="border-top">
      <span class="right bold-1" style="font-size: 25px;">
        Receipt Total :
      </span>
    </mat-grid-tile>

    <mat-grid-tile colspan="7" rowspan="5" class="border-top">
      <span class="bold-1" style="font-size: 25px; margin-top: -13px;">
        <span *ngIf="transData?.currency == 'PESO'">₱:</span>
        <span *ngIf="transData?.currency == 'USD'" class="bold-1">$:</span>
        {{transData?.grandTotal}}
      </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="13" rowspan="3">
      <span class="right" style="font-size: 20px;">
        Amount Tendered :
      </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="3">
      <span style="font-size: 25px; margin-top: -19px;">
        <span *ngIf="transData?.currency == 'PESO'">₱:</span>
        <span *ngIf="transData?.currency == 'USD'" class="bold-1">$:</span>
        {{transData?.paidIn}}
      </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="13" rowspan="3">
      <span class="right bold-1" style="font-size: 20px;">
        Given Change :
      </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="3">
      <span class="bold-1" style="font-size: 25px; margin-top: -19px;">
        <span *ngIf="transData?.currency == 'PESO'">₱:</span>
        <span *ngIf="transData?.currency == 'USD'" class="bold-1">$:</span>
        {{transData?.paidOut}}
      </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="20" rowspan="3">
      <!-- margin top-->
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="5">
      <!-- margin left -->
    </mat-grid-tile>
    <br><br><br><br>
      <span class="left bold-1 ts-3" style="font-size: 25px;">
        {{patient?.notes}}
      </span>

    <!-- <div class="row">
      <div class="col-sm-3" style="margin-top: 5px;">
        <img src="assets/image/qr.PNG" height="100px" width="100%">
      </div>
    </div> -->
    <!--<mat-grid-tile colspan="14" rowspan="7" class="bold-1" style="border: dotted 2px black; margin-top: -30px;">

      <div class="top" style="font-size: 20px;">Powered By,</div>
      <div class="bottom" style="font-size: 20px;">Quest Info System</div>
    </mat-grid-tile> -->
      <!-- <div colspan='14' rowspan="7" style="margin-top: 10px;">
        <div class="col-sm-14" style="margin-top: 100px;">
          <img src="assets/image/bar.png" height="100px" width="100%">
        </div>
      </div> -->

    <mat-grid-tile colspan="3" rowspan="7">
      <!-- margin right -->
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="20" rowHeight="10px" *ngIf="transData.transactionType == 'APE' || transData.transactionType == 'ACCOUNT' || transData.transactionType == 'HMO'">
    <mat-grid-tile colspan="13" rowspan="4" class="border-top">
        <span class="right bold-1" style="font-size: 20px;">
            Total Accounted:
        </span>
    </mat-grid-tile>

    <mat-grid-tile colspan="7" rowspan="5" class="border-top">
        <span class="bold-1" style="font-size: 25px; margin-top: -13px;">
            <span *ngIf="transData?.currency == 'PESO'">₱:</span>
            <span *ngIf="transData?.currency == 'USD'" class="bold-1">$:</span>
             {{transData?.grandTotal}}
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="13" rowspan="3">
        <span class="right" style="font-size: 20px;">
            Billed to:
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="3">
        <span style="font-size: 15px; margin-top: -19px;">
            {{transData?.biller}}

        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="20" rowspan="3">
        <!-- margin top-->
      </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="5">
      <!-- margin left -->
    </mat-grid-tile>
        <!-- <div class="row">
          <div class="col-sm-3" style="margin-top: 5px;">
            <img src="assets/image/qr.PNG" height="100px" width="100%">
          </div>
        </div> -->
    <!-- <mat-grid-tile colspan="14" rowspan="7"
      class="bold-1" style="border: dotted 2px black; margin-top: -30px;">
       <div class="top" style="font-size: 20px;">Powered By,</div>
       <div class="bottom" style="font-size: 20px;">Quest Info System</div>
    </mat-grid-tile>-->

    <!-- <div colspan='14' rowspan="7" style="margin-top: 10px;">
      <div class="col-sm-14" style="margin-top: 100px;">
        <img src="assets/image/bar.png" height="100px" width="100%">
      </div>
    </div> -->
    <mat-grid-tile colspan="3" rowspan="7">
        <!-- margin right -->
    </mat-grid-tile>
    <br><br><br>

        <span class="left bold-1 ts-3">
          {{patient?.notes}}
        </span>


     <br><br>
        <span style="margin-right: 30px;" class="left bold-1 ts-3">
          {{transData?.loe}}
          {{transData?.an}}
        </span>




  </mat-grid-list>
</div>
