<mat-dialog-content>
  <patient-info [id]="transactionId" class="sticky-top"></patient-info>
  <div class="container">
    <div class="form-group row">
      <div class="col-md-12">
        <div class="header mt-1 ls-2 mb-3">
          <span class="bold-2">RADIOLOGY REPORT</span>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-12 h-100">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">X-RAY FINDINGS</div>
              <p>{{ rad?.comment }}</p>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 h-100">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">X-RAY IMPRESSIONS</div>
              <p>{{ rad?.impression }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-12 h-100">
            <div class="row">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">PERSONELS</div>
                <div class="col-md-12 mb-3">
                  <span class="bold-1">QUALITY ASSURANCE</span>
                  <p>{{ rad?.qa }}</p>
                  <span class="bold-1">RADIOLOGIST</span>
                  <p>{{ rad?.radiologist }}</p>
                  <button mat-raised-button color="accent" (click)="xrayUpdate(transactionId)"
                    matTooltip="Edit xray summary">
                    <mat-icon>edit</mat-icon> Edit patient
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
