<mat-form-field style="width: 100%">
    <mat-select [formControl]="patientCtrl" [placeholder]="placeholder" #singleSelect>
      <mat-option>
        <ngx-mat-select-search [formControl]="patientFilterCtrl"
        placeholderLabel="Search Patient"></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let patient of filteredPatient |async" [value]="patient" >
       {{patient.fullName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
