<div class="loader-con" *ngIf="showLoading">
  <div style="margin-top: 30vh">
    <loading></loading>
  </div>
</div>
<div class="search-con mt-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 bold-3 ls-2 p-3">
        <div *ngIf="filmType">
          <span>XRAY FILM INVENTORY</span>
        </div>
        <div *ngIf="!filmType">
          <span *ngIf="listType == 'transactions' || listType == 'HMO' || listType == 'accounting'">
            TRANSACTION LIST
          </span>
          <span *ngIf="listType == 'microscopy'">
            MICROSCOPY LIST
          </span>
          <span *ngIf="listType == 'hematology'">
            HEMATOLOGY LIST
          </span>
          <span *ngIf="listType == 'chemistry'">
            CHEMISTRY LIST
          </span>
          <span *ngIf="listType == 'serology'">
            SEROLOGY LIST
          </span>
          <span *ngIf="listType == 'toxicology'">
            TOXICOLOGY LIST
          </span>
          <span *ngIf="listType == 'industrial'">
            INDUSTRIAL LIST
          </span>
          <span *ngIf="listType == 'basictwo'">
            BASIC TWO
          </span>
          <span *ngIf="listType == 'imagingMarkers'">
            XRAY MARKER LIST
          </span>
          <span *ngIf="listType == 'imagingSummary'">
            XRAY REPORT
          </span>
          <span *ngIf="listType == 'imagingXraySummary'">
            XRAY SUMMARY
          </span>
          <span *ngIf="listType == 'imaging2DEchoSummary'">
            2DECHO SUMMARY
          </span>
          <span *ngIf="listType == 'imagingUltrasound'">
            ULTRASOUND REPORT
          </span>
          <span *ngIf="listType == 'emailResults'">
            SEND RESULTS
          </span>
          <span *ngIf="listType == 'ecg'">
            PRINT ECG
          </span>
          <span *ngIf="listType == 'qc'">
            QUALITY LIST
          </span>
          <span *ngIf="listType == 'docClearance'">
            CLEARANCE LIST
          </span>
          <span
            *ngIf="listType == 'peSummary' || listType == 'peList' || listType == 'peRecord' || listType == 'peCertificate' || listType == 'imagingCertificate'">
            PATIENT LIST
          </span>
          <span *ngIf="listType == 'nurseClassification'">
            CLASSIFICATION
          </span>
          <!--Doctor's -->
          <span *ngIf="listType == 'docPatient'">
            SECRETARY'S PATIENT LIST
          </span>
          <span *ngIf="listType == 'docpatientList'">
            DOCTOR'S PATIENT
          </span>
        </div>
      </div>
      <div class="col-md-7" *ngIf="!filmType">
        <!-- <span class="bold-2 ls-1 mr-3">Filter by DATE: </span> -->
        <!-- <mat-form-field class="mr-4" style="width: 100px !important">
          <mat-label>Month</mat-label>
          <mat-select [formControl]="monthVal">
            <mat-option *ngFor="let month of months" [value]="month.value">
              {{month.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 100px !important">
          <mat-label>Year</mat-label>
          <mat-select [formControl]="yearVal">
            <mat-option *ngFor="let year of years" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <div class="row">
          <div class="col-md-4">
            <span class="bold-2 ls-1 mr-3"> Start Date: </span>
            <ejs-datetimepicker  [formControl]='from'></ejs-datetimepicker>
          </div>
          <div class="col-md-4">
              <span class="bold-2 ls-1 mr-3"> End Date: </span>
              <ejs-datetimepicker [formControl]='to'></ejs-datetimepicker>
          </div>
          <div class="col-md-auto">
            <button mat-raised-button class="ml-4 mt-3" (click)="setData()" [color]="'success'">Filter</button>
            <!-- <button mat-raised-button class="ml-4 mt-3" (click)="export(listType)" color="accent"
              *ngIf="listType == 'microscopy' || listType == 'hematology' || listType == 'chemistry' || listType ==
              'serology' || listType == 'toxicology' || listType == 'imagingSummary'">Export</button> -->
            <button mat-raised-button class="ml-2 mt-3" (click)="generatePending()" color="accent" *ngIf="listType == 'nurseClassification'">Pending</button>
            <button mat-raised-button class="ml-2 mt-3" (click)="generatePendingImaging()" color="accent"
              *ngIf="listType == 'imagingSummary'">Pending</button>
            <button mat-raised-button class="ml-2 mt-3" (click)="classExc()" color="accent" *ngIf="listType == 'nurseClassification'">List</button>
            <button mat-raised-button class="ml-2 mt-3" (click)="radAcc()" color="accent" *ngIf="listType == 'imagingXraySummary'">Accounts</button>
            <button mat-raised-button class="ml-2 mt-3" (click)="radCash()" color="accent" *ngIf="listType == 'imagingXraySummary'">Walk-In</button>
            <button mat-raised-button class="ml-2 mt-3" (click)="radHygiene()" color="accent" *ngIf="listType == 'imagingXraySummary'">Hygiene</button>
          </div>
        </div>
      </div>
      <div class="col-md-5" [ngClass]="{'offset-7': filmType}">
        <mat-form-field class="search-field" [ngClass]="{'collapse': listType == 'xrayMarkerInventory'}">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Transaction">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <small class="text-secondary ml-4 mb-3" *ngIf="listType == 'markers'">*Note: Purple print button means not
          printed yet.</small>
      </div>
    </div>
  </div>
</div>

<div class="mat-elevation-z2 table-con">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span style="text-transform: uppercase;" class="ls-1 bold-1">
          {{column}}
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <span [style.color]="element['color']"
          [ngClass]="{'font-weight-bold': column == 'patient'}">
          {{element[column]}}
        </span>
        <div *ngIf="column == 'action'">
          <button mat-mini-fab  (click)="receipt(element['id'])" [color]="'success'" class="mr-1" matTooltip="Reciept"
            *ngIf="listType == 'transactions' || listType == 'HMO'">
            <mat-icon>receipt</mat-icon>
          </button>
          <button mat-mini-fab (click)="checklist(element.id)" color="accent" class="mr-1" matTooltip="Checklist"
            *ngIf="listType == 'transactions' || listType == 'HMO'">
            <mat-icon>done</mat-icon>
          </button>
          <button mat-mini-fab (click)="printBarcode(element.id)" color="success" class="mr-1" matTooltip="Barcode"
            *ngIf="listType == 'transactions' || listType == 'HMO'">
            <mat-icon>calendar_view_day</mat-icon>
          </button>
          <button mat-raised-button (click)="edit(element['id'])" color="accent" class="mr-1" *ngIf="listType == 'HMO'">
            Edit
          </button>
          <button mat-raised-button (click)="getTrans(element)" [color]="'success'" class="mr-1"
            *ngIf="listType == 'billing'">
            ADD
          </button>
          <button mat-mini-fab (click)="payment(element['id'])" [color]="'success'"
            *ngIf="listType == 'accounting' && element['biller']" matTooltip="account payment">
            <clr-icon shape="wallet"></clr-icon>
          </button>

          <!-- microscopy action -->
          <div *ngIf="listType == 'microscopy'">
            <div *ngIf="!checkLab(element['id'])">
              <button mat-mini-fab (click)="labNavigate(element.id, 'microscopy')" [color]="'success'"
                *ngIf="listType == 'microscopy' " matTooltip="Add Data">
                <clr-icon shape="plus"></clr-icon>
              </button>
            </div>
            <div *ngIf="checkLab(element['id'])">
              <button mat-mini-fab (click)="labNavigate(element['id'], 'microscopy')" color="accent"
                *ngIf="listType == 'microscopy'" matTooltip="Update Data" class="mr-2">
                <clr-icon shape="sync"></clr-icon>
              </button>
              <button mat-mini-fab (click)="labRes(element['id'],'microscopy')" [color]="'success'"
                *ngIf="listType == 'microscopy'" matTooltip="Print Result">
                <clr-icon shape="printer"></clr-icon>
              </button>
            </div>
          </div>

          <!-- hematology action -->
          <div *ngIf="listType == 'hematology'">
            <div *ngIf="!checkLab(element['id'])">
              <button mat-mini-fab (click)="labNavigate(element['id'], 'hematology')" [color]="'success'"
                *ngIf="listType == 'hematology' " matTooltip="Add Data">
                <clr-icon shape="plus"></clr-icon>
              </button>
            </div>
            <div *ngIf="checkLab(element['id'])">
              <button mat-mini-fab (click)="labNavigate(element['id'], 'hematology')" color="accent"
                *ngIf="listType == 'hematology'" matTooltip="Update Data" class="mr-2">
                <clr-icon shape="sync"></clr-icon>
              </button>
              <button mat-mini-fab (click)="labRes(element['id'],'hematology')" [color]="'success'"
                *ngIf="listType == 'hematology'" matTooltip="Print Result">
                <clr-icon shape="printer"></clr-icon>
              </button>
            </div>
          </div>

          <!-- chemistry action -->
          <div *ngIf="listType == 'chemistry'">
            <div *ngIf="!checkLab(element['id'])">
              <button mat-mini-fab (click)="labNavigate(element['id'], 'chemistry')" [color]="'success'"
                *ngIf="listType == 'chemistry' " matTooltip="Add Data">
                <clr-icon shape="plus"></clr-icon>
              </button>
            </div>
            <div *ngIf="checkLab(element['id'])">
              <button mat-mini-fab (click)="labNavigate(element['id'], 'chemistry')" color="accent"
                *ngIf="listType == 'chemistry'" matTooltip="Update Data" class="mr-2">
                <clr-icon shape="sync"></clr-icon>
              </button>
              <button mat-mini-fab (click)="labRes(element['id'],'chemistry')" [color]="'success'"
                *ngIf="listType == 'chemistry'" matTooltip="Print Result">
                <clr-icon shape="printer"></clr-icon>
              </button>
            </div>
          </div>

          <!-- serology action -->
          <div *ngIf="listType == 'serology'">
            <div *ngIf="!checkLab(element['id'])">
              <button mat-mini-fab (click)="labNavigate(element['id'], 'serology')" [color]="'success'"
                *ngIf="listType == 'serology' " matTooltip="Add Data">
                <clr-icon shape="plus"></clr-icon>
              </button>
            </div>
            <div *ngIf="checkLab(element['id'])">
              <button mat-mini-fab (click)="labNavigate(element['id'], 'serology')" color="accent"
                *ngIf="listType == 'serology'" matTooltip="Update Data" class="mr-2">
                <clr-icon shape="sync"></clr-icon>
              </button>
              <button mat-mini-fab (click)="labRes(element['id'], 'serology')" [color]="'success'"
                *ngIf="listType == 'serology'" matTooltip="Print Result">
                <clr-icon shape="printer"></clr-icon>
              </button>
            </div>
          </div>

          <!-- toxicology action -->
          <div *ngIf="listType == 'toxicology'">
            <div *ngIf="!checkLab(element['id'])">
              <button mat-mini-fab (click)="labNavigate(element.id, 'toxicology')" [color]="'success'"
                *ngIf="listType == 'toxicology' " matTooltip="Add Data">
                <clr-icon shape="plus"></clr-icon>
              </button>
            </div>
            <div *ngIf="checkLab(element['id'])">
              <button mat-mini-fab (click)="labNavigate(element['id'], 'toxicology')" color="accent"
                *ngIf="listType == 'toxicology'" matTooltip="Update Data" class="mr-2">
                <clr-icon shape="sync"></clr-icon>
              </button>
              <button mat-mini-fab (click)="labRes(element['id'], 'toxicology')" [color]="'success'"
                *ngIf="listType == 'toxicology'" matTooltip="Print Result">
                <clr-icon shape="printer"></clr-icon>
              </button>
            </div>
          </div>

          <!-- industrial action -->
          <div *ngIf="listType == 'industrial'">
            <div *ngIf="!checkLab(element['id'])">
              <button mat-mini-fab (click)="addIndustrial(element['id'], element['patientID'])" [color]="'success'"
                *ngIf="listType == 'industrial' " matTooltip="Add Data">
                <clr-icon shape="plus"></clr-icon>
              </button>
            </div>
            <div *ngIf="checkLab(element['id'])">
              <button mat-mini-fab (click)="addIndustrial(element['id'])" color="accent"
                *ngIf="listType == 'industrial'" matTooltip="Update Data" class="mr-2">
                <clr-icon shape="sync"></clr-icon>
              </button>
              <button mat-mini-fab (click)="labRes1(element.patientID, element.id)" [color]="'success'"
                *ngIf="listType == 'industrial'" matTooltip="View Record">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </div>


          <!-- basictwo -->
          <div *ngIf="listType == 'basictwo'">
            <div *ngIf="!checkLab(element['id'])">
              <button mat-mini-fab (click)="addBasictwo(element['id'])" [color]="'success'"
                *ngIf="listType == 'basictwo' " basictwo matTooltip="Add Data">
                <clr-icon shape="plus"></clr-icon>
              </button>
            </div>
            <div *ngIf="checkLab(element['id'])">
              <button mat-mini-fab (click)="addBasictwo(element['id'])" color="accent"
                *ngIf="listType == 'basictwo'" matTooltip="Update Data" class="mr-2">
                <clr-icon shape="sync"></clr-icon>
              </button>
              <button mat-mini-fab (click)="labRes2(element.id)" [color]="'success'"
                *ngIf="listType == 'basictwo'" matTooltip="Print">
                <mat-icon>print</mat-icon>
              </button>
            </div>
          </div>

          <!-- marker action -->
          <div *ngIf="listType == 'imagingMarkers'">
            <button mat-mini-fab (click)="printMarkerClick(element.id)" color="{{ element.marker }}"
              *ngIf="listType == 'imagingMarkers'" matTooltip="Print Result">
              <clr-icon shape="printer"></clr-icon>
            </button>
          </div>

          <!-- radiology action -->
          <div *ngIf="listType == 'imagingSummary'">
            <a (click)="openDialog(element.id)" mat-mini-fab [color]="'success'"
              *ngIf="element.xrayStatus == 'without'" matTooltip="Add">
              <mat-icon>add_circle</mat-icon>
            </a>
            <button mat-mini-fab color="accent" (click)="viewSummary(element.id)"
              *ngIf="element.xrayStatus == 'with'" matTooltip="View">
              <mat-icon>visibility</mat-icon>
            </button>
            <a (click)="uploadImage(element.id, 'add')" mat-mini-fab [color]="'success'" matTooltip="Add" matTooltip="View">
              <mat-icon>add_photo_alternate</mat-icon>
            </a>
          </div>


            <!-- xray summary action -->
          <div *ngIf="listType == 'imagingXraySummary'">
           <a (click)="openDialog(element.id)" mat-mini-fab [color]="'success'"
              *ngIf="element.xrayStatus == 'without'" matTooltip="Add">
              <mat-icon>add_circle</mat-icon>
            </a>
            <button mat-mini-fab color="accent" (click)="viewSummary(element.id)"
              *ngIf="element.xrayStatus == 'with'" matTooltip="View">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="xrayResult(element.id)"
              *ngIf="element.xrayStatus == 'with'" matTooltip="Print" class="ml-1">
              <clr-icon shape="printer"></clr-icon>
            </button>
          </div>


             <!-- 2d summary action -->
             <div *ngIf="listType == 'imaging2DEchoSummary'">
              <a (click)="open2D(element.id)" mat-mini-fab [color]="'success'"
                 *ngIf="element.xrayStatus == 'without'" matTooltip="Add">
                 <mat-icon>add_circle</mat-icon>
               </a>
               <button mat-mini-fab color="accent" (click)="viewSummary(element.id)"
                 *ngIf="element.xrayStatus == 'with'" matTooltip="View">
                 <mat-icon>visibility</mat-icon>
               </button>
               <button mat-mini-fab (click)="echoResult(element.id)" [color]="'success'"
               *ngIf="listType == 'imaging2DEchoSummary'" matTooltip="Print">
               <mat-icon>print</mat-icon>
             </button>
             </div>


          <!-- ultrasound action -->
          <div *ngIf="listType == 'imagingUltrasound'">
            <button mat-mini-fab (click)="openUltra(element.value,element.id)" [color]="'success'"
              *ngIf="listType == 'imagingUltrasound'" matTooltip="Add Record">
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <!-- imaging certificate action -->
          <div *ngIf="listType == 'imagingCertificate'">
            <mat-form-field class="col-md-3">
              <mat-select (selectionChange)="changePE($event.value, element.id)" [value]="'PE'">
                <mat-option value="PE" disabled>PE</mat-option>
                <mat-option value="View PE">View PE</mat-option>
                <mat-option value="Print PE">Print PE</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
              <mat-select (selectionChange)="changeMedical($event.value, element.id)" [value]="'Medical'">
                <mat-option value="Medical" disabled>Medical</mat-option>
                <mat-option value="View Medical">View Medical</mat-option>
                <mat-option value="Print Medical">Print Medical</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-checkbox *ngIf="element.released_status == '0'" color="primary" (change)="releaseMe(element.id)">
              Released!!
            </mat-checkbox>
            <mat-checkbox *ngIf="element.released_status == '1'" color="primary" [(ngModel)]="checkedBox" (change)="releaseMe(element.id)">
              Released!!
            </mat-checkbox>
          </div>

          <!-- pe summary action -->
          <div *ngIf="listType == 'peSummary'">
            <button mat-mini-fab (click)="clickPeSummary(element.id)" [color]="'success'"
              *ngIf="listType == 'peSummary'" matTooltip="View summary">
              <mat-icon>library_books</mat-icon>
            </button>
          </div>

          <!-- pe list action -->
          <div *ngIf="listType == 'peList'">
            <button mat-mini-fab (click)="peNavigate(element['id'])" [color]="'success'"
              *ngIf="element.peStatus == 'without'" matTooltip="Add Data">
              <clr-icon shape="plus"></clr-icon>
            </button>
            <button mat-mini-fab color="accent" (click)="clickPeData(element.id)"
              *ngIf="element.peStatus == 'with'">
              <mat-icon>visibility</mat-icon>
            </button>
          </div>

          <!-- pe record action -->
          <div *ngIf="listType == 'peRecord'">
            <button mat-mini-fab [color]="'success'" (click)="clickPatientInfo(element.patientID)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          <!-- pe certificate action -->
          <div *ngIf="listType == 'peCertificate'">
            <mat-form-field class="col-md-3">
              <mat-select (selectionChange)="changePE($event.value, element.id)" [value]="'PE'">
                <mat-option value="PE" disabled>PE</mat-option>
                <mat-option value="View PE">View PE</mat-option>
                <mat-option value="Print PE">Print PE</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
              <mat-select (selectionChange)="changeMedical($event.value, element.id)"
                [value]="'Medical'">
                <mat-option value="Medical" disabled>Medical</mat-option>
                <mat-option value="View Medical">View Medical</mat-option>
                <mat-option value="Print Medical">Print Medical</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- doctor secretary -->
          <div *ngIf="listType == 'docPatient'">
            <button mat-mini-fab [color]="'success'" (click)="patientRec1(element.id, element.patientID)">
              <mat-icon> monetization_on</mat-icon>
            </button>
          </div>


          <!-- doctor action -->
          <div *ngIf="listType == 'docpatientList'">
            <button mat-mini-fab color="primary" (click)="patientRec(element.id, element.patientID)"
              matTooltip="Edit Patient">
              <mat-icon>edit</mat-icon>
            </button>
          </div>


          <!--nurse action-->
          <div *ngIf="listType == 'nurseClassification'">
            <a mat-mini-fab (click)="openClassify(element.id)" [color]="'success'"
              *ngIf="element.nurseStatus == 'without'" matTooltip="Add Record">
              <mat-icon>add_circle</mat-icon>
            </a>
            <button mat-mini-fab color="accent" (click)="openClassify(element.id)"
              *ngIf="element.nurseStatus == 'with'" matTooltip="View">
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          <div *ngIf="listType == 'nurseCertificate'">
            <mat-form-field class="col-md-3">
              <mat-select (selectionChange)="changePE($event.value, element.id)" [value]="'PE'">
                <mat-option value="PE" disabled>PE</mat-option>
                <mat-option value="View PE">View PE</mat-option>
                <mat-option value="Print PE">Print PE</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-3">
              <mat-select (selectionChange)="changeMedical($event.value, element.id)" [value]="'Medical'">
                <mat-option value="Medical" disabled>Medical</mat-option>
                <mat-option value="View Medical">View Medical</mat-option>
                <mat-option value="Print Medical">Print Medical</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- ecg action -->
          <div *ngIf="listType == 'ecg'">
            <button mat-mini-fab color="primary" (click)="ecgForm(element.id)" matTooltip="Print ECG Form">
              <mat-icon>print</mat-icon>
            </button>
          </div>

          <!-- qc action -->
          <div *ngIf="listType == 'emailResults'">
            <button mat-mini-fab color="primary" (click)="reportPdf(element.id)" matTooltip="Print Result">
              <mat-icon>picture_as_pdf</mat-icon>
            </button>
          </div>

          <!-- qc qc action -->
          <div *ngIf="listType == 'qc'">
            <button mat-mini-fab color="primary" (click)="addQc(element.id)" matTooltip="Add QC" *ngIf="element.classificationStatus == 'false'">
              <mat-icon>add_circle</mat-icon>
            </button>
            <button mat-mini-fab color="accent" (click)="updateQc(element.id)" matTooltip="Update QC"
              *ngIf="element.classificationStatus == 'true'">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="bold-1">Purchased Items: </div>
                <div *ngFor="let item of element.items" class="font-weight-bold">
                  + {{item.itemName}}
                  <span style="font-size:10px" *ngIf="item.itemDescription != '' && item.itemDescription != ' '">
                    - ( {{item.itemDescription}} )
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="bold-1">Patient Information: </div>
                <div>{{element.patInfo?.contactNo}} || {{element.patInfo?.email}}</div>
                <div>{{element.patInfo?.birthdate}} || {{element.patInfo?.gender}}</div>
                <div class="bold-2">{{element.patInfo?.companyName}}</div>
                <div>{{element.patInfo?.address}}</div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns; " class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">>
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" class="mat-paginator-sticky"></mat-paginator>
</div>
