<mat-dialog-content>
  <div class="container">
    <div class="col-md-12 text-center">
      <p class="h5">Medical Certificate History</p>
    </div>
    <div class="col-md-12">
      <p class="h6">Name:</p>
      <p class="h6 font-weight-bold">
        {{ patientDatas?.lastName + ', ' + patientDatas?.firstName + ' ' + patientDatas?.middleName }}</p>
    </div>
    <div class="col-md-12">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table class="table" [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let row" class="font-weight-bold"> {{row.date}} </td>
          </ng-container>
          <!-- Progress Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
              <button mat-mini-fab color="accent" matTooltip="Print Medcert" (click)="printMedcert(row.id)">
                <mat-icon>print</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <br>
    <br>
    <div class="form-group row">
      <div class="col-md-12 text-right">
        <button type="button" mat-raised-button color="warn" class="mr-1" (click)="close()">
          <mat-icon>close</mat-icon>Close
        </button>

        <button type="button" (click)="addMedcert(patientId)" mat-raised-button matDialogClose
          color="primary">
          <mat-icon>add_circle</mat-icon>ADD
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>
