<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-5 bold-3 ls-2 pt-3">
      PACKAGE LIST
    </div>
    <div class="col-4">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="col-3 p-2">
      <button mat-raised-button (click)="addItem()" [color] = "'success'" style="float:right">Add Package</button>
    </div>
  </div>
</div>

<div class="mat-elevation-z8 table-con">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="packageName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
      <td mat-cell *matCellDef="let row"> {{ row.packageName }} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="packageType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TYPE </th>
      <td mat-cell *matCellDef="let row"> {{row.packageType}} </td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="packageDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let row"> {{row.packageDescription}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="packagePrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PRICE </th>
      <td mat-cell *matCellDef="let row"> {{row.packagePrice}} </td>
    </ng-container>

    <!-- Action column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTION </th>
      <td mat-cell *matCellDef="let row">
        <button mat-mini-fab (click)="updateItem(row.packageName)" color="warn">
            <clr-icon shape="pencil" ></clr-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[ 25, 50, 75, 100]" class="mat-paginator-sticky"></mat-paginator>
</div>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
