<div style="height: 840px" class="ml-2 mr-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bold-1 mt-2">HEMATOLOGY</div>
      </div>
    </div>
    <!-- complete blood count here -->
    <div class="row" *ngIf="math.hideRes(hematology?.whiteBlood)">
      <div class="col-12">
        <div class="row">
          <div class="col-12 label-1">
            Complete Blood Count
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">White Blood Cell</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.whiteBlood}}</span>
          </div>
          <div class="col-3 n-value">
            x10^9/L
          </div>
          <div class="col-4 n-value">
            4:23~11.07z
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Neutrophilis</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.neutrophils}}</span>
          </div>
          <div class="col-3 n-value">
            %
          </div>
          <div class="col-4 n-value">
            34.00~71.00
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Lymphocytes</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.lymphocytes}}</span>
          </div>
          <div class="col-3 n-value">
            %
          </div>
          <div class="col-4 n-value">
            22.00~53.00
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Monocytes</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.monocytes}}</span>
          </div>
          <div class="col-3 n-value">
            %
          </div>
          <div class="col-4 n-value">
            5.00~12.00
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Eosinophils</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.eos}}</span>
          </div>
          <div class="col-3 n-value">
            %
          </div>
          <div class="col-4 n-value">
            1.00~7.00
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Basophils</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.bas}}</span>
          </div>
          <div class="col-3 n-value">
            %
          </div>
          <div class="col-4 n-value">
            0.00~1.00
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">RBC</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.cbcrbc}}</span>
          </div>
          <div class="col-3 n-value">
            x 10^12/L
          </div>
          <div class="col-4 n-value">
            4.32~5.72
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Hemoglobin</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.hemoglobin}}</span>
          </div>
          <div class="col-3 n-value">
            %
          </div>
          <div class="col-2 n-value">
            M: 137.00~175.00
          </div>
          <div class="col-2 n-value">
            F: 112.00~157.00
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Hematocrit</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.hematocrit}}</span>
          </div>
          <div class="col-3 n-value">
            g/L
          </div>
          <div class="col-2 n-value">
            <!-- M: 137.00~175.00 -->
            M: 0.40~0.50
          </div>
          <div class="col-2 n-value">
            <!-- F: 112.00~157.00 -->
            F: 0.34~0.45
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Platelet</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.plt}}</span>
          </div>
          <div class="col-3 n-value">
            x 10^9/L
          </div>
          <div class="col-4 n-value">
            150~400
          </div>
        </div>
      </div>
    </div>
    <!-- cbc ended -->
    <!-- begin esr -->
    <div class="row" *ngIf="math.hideRes(hematology?.esr)">
      <div class="col-12">
        <div class="row">
          <div class="col-12 label-1">
            Erythrocyte Sedimentation Rate ( ESR )
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">ESR Rate</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.esr}}</span>
          </div>
          <div class="col-3 n-value">
            mm/hr
          </div>
          <div class="col-2 n-value">
            M: 0~15 mm/hr
          </div>
          <div class="col-2 n-value">
            F: 1~20 mm/hr
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">ESR Method</span>
          </div>
          <div class="col-4 r-text">
            <span>{{hematology?.esrmethod}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- esr end -->
    <!-- begin aptt -->
    <div class="row" *ngIf="math.hideRes(hematology?.apttime)">
      <div class="col-12">
        <div class="row">
          <div class="col-12 label-1">
            Activated Partial Thromboplastin Time ( APTT )
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Patient Time</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.apttime}}</span>
          </div>
          <div class="col-3 n-value">
            secs
          </div>
          <div class="col-4 n-value">
            {{hematology?.apttimeNV}} secs
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Control</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.aptcontrol}}</span>
          </div>
          <div class="col-3 n-value">
            secs
          </div>
          <div class="col-4 n-value">
            {{hematology?.aptcontrolNV}} secs
          </div>
        </div>
      </div>
    </div>
    <!-- aptt end -->
    <!-- blood typing start -->
    <div class="row" *ngIf="math.hideRes(hematology?.bloodType)">
      <div class="col-12">
        <div class="row">
          <div class="col-12 label-1">
            Blood Typing
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Blood Type</span>
          </div>
          <div class="col-2 r-text">
            <span>{{hematology?.bloodType}}</span>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Rhesus (Rh) Factor</span>
          </div>
          <div class="col-2 r-text">
            <span>{{hematology?.rh}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- blood typing end -->
    <!-- clotting time start -->
    <div class="row" *ngIf="math.hideRes(hematology?.clottingTime)">
      <div class="col-12">
        <div class="row">
          <div class="col-12 label-1">
            Clotting Time
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Time</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.bleedingTime}}</span>
          </div>
          <div class="col-3 n-value">
            Minutes
          </div>
          <div class="col-4 n-value">
            4-10 Minutes
          </div>
        </div>
      </div>
    </div>
    <!-- clotting time end -->
    <!-- bleeding time start -->
    <div class="row" *ngIf="math.hideRes(hematology?.bleedingTime)">
      <div class="col-12">
        <div class="row">
          <div class="col-12 label-1">
            Bleeding Time
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Time</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.clottingTime}}</span>
          </div>
          <div class="col-3 n-value">
            Minutes
          </div>
          <div class="col-4 n-value">
            1-5 Minutes
          </div>
        </div>
      </div>
    </div>
    <!-- bleeding time end -->
    <!-- ms time start -->
    <div class="row" *ngIf="math.hideRes(hematology?.ms)">
      <div class="col-12">
        <div class="row">
          <div class="col-12 label-1">
            Malarial Smear
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Result</span>
          </div>
          <div class="col-2 r-text">
            <span>{{hematology?.ms}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- ms end -->
    <!-- PROTHROMBIN TIME begin -->
    <div class="row" *ngIf="math.hideRes(hematology?.ptime)">
      <div class="col-12">
        <div class="row">
          <div class="col-12 label-1">
            Prothrombin Time
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Patient Time</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.ptime}}</span>
          </div>
          <div class="col-3 n-value">
            secs
          </div>
          <div class="col-4 n-value">
            <!-- {{hematology?.ptimeNV}} -->
            11.14
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">Control</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.ptcontrol}}</span>
          </div>
          <div class="col-3 n-value">
            secs
          </div>
          <div class="col-4 n-value">
            <!-- {{hematology?.ptcontrolNV}} -->
            11.5-16.6
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">% Activity</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.actPercent}}</span>
          </div>
          <div class="col-3 n-value">
            %
          </div>
          <div class="col-4 n-value">
            <!-- {{hematology?.actPercentNV}} -->
            82-118
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="r-label">INR</span>
          </div>
          <div class="col-1 r-text">
            <span>{{hematology?.inr}}</span>
          </div>
          <div class="col-3 n-value">

          </div>
          <div class="col-4 n-value">
            <!-- {{hematology?.inrnv}} -->
            0.82-1.18
          </div>
        </div>
      </div>
    </div>
    <!-- aptt end -->
    <!-- other Notes -->
    <div class="row" *ngIf="math.hideRes(hematology?.cbcot)">
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            <span class="r-label">Other Notes</span>
          </div>
          <div class="col-4 r-text">
            <span>{{hematology?.cbcot}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- end of other notes -->
  </div>
</div>
