<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Transaction">
</mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="items">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Items </th>
        <td mat-cell *matCellDef="let row">
         {{row.items}}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
        <td mat-cell *matCellDef="let row"> {{row.patient?.fullName}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button (click)="unHold(row.id)"
             color="primary">unHold</button>
            <button mat-button (click)="delete(row.id)"
             class="delete-btn">
                <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

