<div class="container-fluid">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group row">
      <div class="col-md-12">
        <div class="header mt-1 ls-2 mb-3">
          <span class="bold-2">
            <span *ngIf="update">UPDATE</span><span *ngIf="!update">ADD</span> PERSONNEL</span>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <mat-form-field class="col-md-12">
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <mat-label>Middle name</mat-label>
        <input matInput formControlName="middleName">
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <mat-label>License No</mat-label>
        <input matInput formControlName="licenseNO">
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <mat-label>Position</mat-label>
        <input matInput formControlName="position">
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <mat-label>Position EXT</mat-label>
        <input matInput formControlName="positionEXT">
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <mat-label>Department</mat-label>
        <mat-select formControlName="department" (selectionChange)="departmentSelect($event.value)" [value]="departmentDefault">
          <mat-option value="-" disabled>-</mat-option>
          <mat-option *ngFor="let dept of depts" [value]="dept">{{ dept }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group row">
      <div class="col-md-12 text-center">
        <button type="button" mat-raised-button mat-dialog-close color="warn">
          <mat-icon>close</mat-icon> Close
        </button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">
          <mat-icon>add_circle</mat-icon> Add
        </button>
      </div>
    </div>
  </form>
</div>
