<mat-dialog-content>
    <div class="container py-3">

      <!-- <div class="form-group row">
        <div class="col-md-12 text-right">
          <button mat-raised-button color="primary" mat-dialog-close="update"><mat-icon>edit</mat-icon> Update</button>
        </div>
      </div> -->

      <div class="form-group row">
        <div class="col-md-12">
          <mat-card class="mat-elevation-z8">
            <mat-card-content>
              <div class="form-group row">
                <div class="col-md-12 text-center">
                  <div class="header mt-1 ls-2 mb-3">
                    <span class="bold-2">PATIENT INFORMATION</span>
                  </div>
                </div>
                <div class="col-md-2">
                  <p class="h6">Patient ID:</p>
                  <p class="h6 font-weight-bold">{{ patientId }}</p>
                </div>
                <div class="col-md-2">
                  <p class="h6">Transaction No:</p>
                  <p class="h6 font-weight-bold">{{ transactionId }}</p>
                </div>
                <div class="col-md-2">
                  <p class="h6">Transaction Date:</p>
                  <p class="h6 font-weight-bold">{{ transDatas?.transactionDate }}</p>
                </div>
                <div class="col-md-2">
                  <p class="h6">Name:</p>
                  <p class="h6 font-weight-bold">
                    {{ patientDatas?.lastName + ', ' + patientDatas?.firstName + ' ' + patientDatas?.middleName }}</p>
                </div>
                <div class="col-md-2">
                  <p class="h6">Company name:</p>
                  <p class="h6 font-weight-bold">{{ patientDatas?.companyName }}</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    <div class="form-group row">
        <div class="col-md-12">
          <mat-card class="mat-elevation-z8">
            <mat-card-content>
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="header mt-1 ls-2 mb-3">
                    <span class="bold-2">LABORATORY SCIENCES RESULTS</span>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <p class="h6 font-weight-bold">HEMATOLOGY</p>
                </div>
                <div class="col-md-6">
                  <p class="h6 font-weight-bold">Complete Blood Count</p>
                </div>
                <div class="col-md-6">
                  <p class="h6 font-weight-bold">Normal Range</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">White Blood Cells :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ hemaDatas?.cbcrbc == '' ? '-' : hemaDatas?.cbcrbc }}</p>
                </div>
                <div class="col-md-1">
                  <p class="h6">x10^9/L</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">4.23-11.07</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Hemoglobin :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ hemaDatas?.hemoglobin == '' ? '-' : hemaDatas?.hemoglobin }}</p>
                </div>
                <div class="col-md-1">
                  <p class="h6">g/L</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ hemaDatas?.hemoNR == '' ? '-' : hemaDatas?.hemoNR }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Hematocrit :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ hemaDatas?.hematocrit == '' ? '-' : hemaDatas?.hematocrit }}</p>
                </div>
                <div class="col-md-1">
                  <p class="h6">VF</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ hemaDatas?.hemaNR == '' ? '-' : hemaDatas?.hemaNR }}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Others / Notes :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ hemaDatas?.cbcot == '' ? '-' : hemaDatas?.cbcot }}</p>
                </div>
              </div>

              <div class="form-group row mt-3">
                <div class="col-md-12">
                  <p class="h6 font-weight-bold">CLINICAL MICROSCOPY</p>
                </div>
                <div class="col-md-12">
                  <p class="h6 font-weight-bold">Complete Urinalysis</p>
                </div>
                <div class="col-md-4">
                  <p class="h6 font-weight-bold">Physical/Chemical</p>
                </div>
                <div class="col-md-4 text-center">
                  <p class="h6 font-weight-bold">Microscopic</p>
                </div>
                <div class="col-md-4">
                  <p class="h6 font-weight-bold">Normal Range</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Color :</p>
                </div>
                <div class="col-md-1">
                  <p class="h6 font-weight-bold">{{ microDatas?.uriColor == '' ? '-' : microDatas?.uriColor }}</p>
                </div>
                <div class="col-md-2 text-right">
                  <p class="h6">RBC :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ microDatas?.rbc == '' ? '-' : microDatas?.rbc }}</p>
                </div>
                <div class="col-md-1">
                  <p class="h6">/hpf</p>
                </div>
                <div class="col-md-2">
                  <p class="h6">0-3</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Transparency :</p>
                </div>
                <div class="col-md-1">
                  <p class="h6 font-weight-bold">{{ microDatas?.uriTrans == '' ? '-' : microDatas?.uriTrans }}</p>
                </div>
                <div class="col-md-2 text-right">
                  <p class="h6">WBC :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ microDatas?.wbc == '' ? '-' : microDatas?.wbc }}</p>
                </div>
                <div class="col-md-1">
                  <p class="h6">/hpf</p>
                </div>
                <div class="col-md-2">
                  <p class="h6">0-5</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">pH :</p>
                </div>
                <div class="col-md-1">
                  <p class="h6 font-weight-bold">{{ microDatas?.uriPh == '' ? '-' : microDatas?.uriPh }}</p>
                </div>
                <div class="col-md-2 text-right">
                  <p class="">E.Cells :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ microDatas?.ecells == '' ? '-' : microDatas?.ecells }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6 ">Sp. Gravity :</p>
                </div>
                <div class="col-md-1">
                  <p class="h6 font-weight-bold">{{ microDatas?.uriSp == '' ? '-' : microDatas?.uriSp }}</p>
                </div>
                <div class="col-md-2 text-right">
                  <p class="h6">M.Threads :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ microDatas?.mthreads == '' ? '-' : microDatas?.mthreads }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Protein :</p>
                </div>
                <div class="col-md-1">
                  <p class="h6 font-weight-bold">{{ microDatas?.uriPro == '' ? '-' : microDatas?.uriPro }}</p>
                </div>
                <div class="col-md-2 text-right">
                  <p class="h6">Bacteria :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ microDatas?.bac == '' ? '-' : microDatas?.bac }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Glucose :</p>
                </div>
                <div class="col-md-1">
                  <p class="h6 font-weight-bold">{{ microDatas?.uriGlu == '' ? '-' : microDatas?.uriGlu }}</p>
                </div>
                <div class="col-md-2 text-right">
                  <p class="h6">Amorphous :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ microDatas?.amorph == '' ? '-' : microDatas?.amorph }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Others / Notes :</p>
                </div>
                <div class="col-md-1">
                  <p class="h6 font-weight-bold">{{ microDatas?.uriOt == '' ? 'NORMAL' : microDatas?.uriOt }}</p>
                </div>
                <div class="col-md-2 text-right">
                  <p class="h6">CaOx :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ microDatas?.coAx == '' ? '-' : microDatas?.coAx }}</p>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <p class="h6 font-weight-bold">DRUG SCREENING</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Methamphethamine :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ toxiDatas?.meth == '' ? '-' : toxiDatas?.meth }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Tetrahydrocanabinol :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ toxiDatas?.tetra == '' ? '-' : toxiDatas?.tetra }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Dt Result :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ toxiDatas?.drugtest == '' ? '-' : toxiDatas?.drugtest }}</p>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">SEROLOGY</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">HBsAg :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ seroDatas?.hbsAG == '' ? '-' : seroDatas?.hbsAG }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Pregnancy Test :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ microDatas?.pregTest == '' ? '-' : microDatas?.pregTest }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Others / Notes :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ seroDatas?.seroOt == '' ? 'NORMAL' : seroDatas?.seroOt }}</p>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">FECALYSIS :</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Color :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ microDatas?.fecColor == '' ? '-' : microDatas?.fecColor }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Consistency :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ microDatas?.fecCon== '' ? '-' : microDatas?.fecCon }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Microscopic Findings :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ microDatas?.fecMicro == '' ? '-' : microDatas?.fecMicro }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-right">
                  <p class="h6">Others / Notes :</p>
                </div>
                <div class="col-md-2">
                  <p class="h6 font-weight-bold">{{ microDatas?.fecOt == '' ? 'NORMAL' : microDatas?.fecOt }}</p>
                </div>
              </div>

              <div class="form-group row mt-5">
                <div class="col-md-3 mx-auto text-center">
                  <p class="h6 font-weight-bold">
                    {{ medical?.firstName + ' ' + medical?.middleName + ' ' + medical?.lastName + ', ' + medical?.positionEXT }}
                  </p>
                  <p class="h6">Medical Technologist</p>
                </div>
                <div class="col-md-3 mx-auto text-center">
                  <p class="h6 font-weight-bold">
                    {{ quality?.firstName + ' ' + quality?.middleName + ' ' + quality?.lastName + ', ' + quality?.positionEXT }}
                  </p>
                  <p class="h6">Quality Control</p>
                </div>
                <div class="col-md-3 mx-auto text-center">
                  <p class="h6 font-weight-bold">
                    {{ path?.firstName + ' ' + path?.middleName + ' ' + path?.lastName + ', ' + path?.positionEXT }}</p>
                  <p class="h6 ">Pathologist</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>
  </mat-dialog-content>
