<mat-dialog-content>
  <div class="container py-3">
    <div class="form-group row">
      <div class="col-md-12 text-center">
        <span class="h3 bold-2">PATIENT INFORMATION</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">Personal Information</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-3">
                <p class="h6">Company Name:</p>
                <p class="h6 font-weight-bold text-uppercase">
                  {{ patientDatas?.companyName == '' ? '-' : patientDatas?.companyName }}</p>
              </div>
              <div class="col-md-3">
                <p class="h6">Birth date:</p>
                <p class="h6 font-weight-bold text-uppercase">
                  {{ patientDatas?.birthdate == '' ? '-' : patientDatas?.birthdate }}</p>
              </div>
              <div class="col-md-3">
                <p class="h6">LOE:</p>
                <p class="h6 font-weight-bold text-uppercase">{{ transDatas?.loe == '' ? '-' : transDatas?.loe }}</p>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-3">
                <p class="h6">Applied position:</p>
                <p class="h6 font-weight-bold text-uppercase">
                  {{ patientDatas?.position == '' ? '-' : patientDatas?.position }}</p>
              </div>
              <div class="col-md-3">
                <p class="h6">Age:</p>
                <p class="h6 font-weight-bold text-uppercase">{{ patientDatas?.age == '' ? '-' : patientDatas?.age }}
                </p>
              </div>
              <div class="col-md-3">
                <p class="h6">AN:</p>
                <p class="h6 font-weight-bold text-uppercase">{{ transDatas?.an == '' ? '-' : transDatas?.an }}</p>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-3">
                <p class="h6">Name:</p>
                <p class="h6 font-weight-bold text-uppercase">
                  {{ patientDatas?.lastName + ', ' + patientDatas?.firstName + ' ' + patientDatas?.middleName }}</p>
              </div>
              <div class="col-md-3">
                <p class="h6">Gender:</p>
                <p class="h6 font-weight-bold text-uppercase">{{ patientDatas?.gender }}</p>
              </div>
              <div class="col-md-3">
                <p class="h6">AC:</p>
                <p class="h6 font-weight-bold text-uppercase">{{ transDatas?.ac == '' ? '-' : transDatas?.ac }}</p>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-3">
                <p class="h6">Address:</p>
                <p class="h6 font-weight-bold text-uppercase">{{ patientDatas?.address }}</p>
              </div>
              <div class="col-md-3">
                <p class="h6">Contact no:</p>
                <p class="h6 font-weight-bold text-uppercase">{{ patientDatas?.contactNo }}</p>
              </div>
              <div class="col-md-3">
                <p class="h6">Senior ID:</p>
                <p class="h6 font-weight-bold text-uppercase">{{ patientDatas?.sid }}</p>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-3">
                <p class="h6">Email address:</p>
                <p class="h6 font-weight-bold text-uppercase">
                  {{ patientDatas?.email == '' ? '-' : patientDatas?.email }}
                </p>
              </div>
              <div class="col-md-6">
                <p class="h6">Comment:</p>
                <p class="h6 font-weight-bold text-uppercase">
                  {{ patientDatas?.notes == '' ? '-' : patientDatas?.notes }}
                </p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">Transaction</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-md-12">
                    <p class="h6">SR No.:</p>
                    <p class="h6 font-weight-bold">{{ transactionId }}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <p class="h6">Availed:</p>
                    <p class="h6 font-weight-bold">{{ availed }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-md-12">
                    <p class="h6">Transaction type:</p>
                    <p class="h6 font-weight-bold">{{ description }}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <p class="h6">Description:</p>
                    <p class="h6 font-weight-bold">{{ transactionType }}</p>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">Medical History</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6 text-right">
                <p class="h6">Significant Past Illness</p>
              </div>
              <div class="col-md-6">
                <p class="h6 ml-3">YES / NO</p>
              </div>
            </div>
            <div class="row mt-1" *ngFor="let medisData of medisDatas">
              <div class="col-md-6 text-right">
                <p class="h6">{{ medisData?.label }}</p>
              </div>
              <div class="col-md-6">
                <p class="h6 ml-3">{{ medisData?.value }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">Vital Signs</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-2">
                <p class="h6">Height:</p>
              </div>
              <div class="col-md-2 text-left">
                <p class="h6 font-weight-bold">{{ vitalDatas?.height }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Weight:</p>
              </div>
              <div class="col-md-2">
                <p class="h6 font-weight-bold">{{ vitalDatas?.weight }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">BMI:</p>
              </div>
              <div class="col-md-2">
                <p class="h6 font-weight-bold">{{ vitalDatas?.bmi }}</p>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-2">
                <p class="h6">BP:</p>
              </div>
              <div class="col-md-2">
                <p class="h6 font-weight-bold">{{ vitalDatas?.bp }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">PR:</p>
              </div>
              <div class="col-md-2">
                <p class="h6 font-weight-bold">{{ vitalDatas?.pr }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">RR:</p>
              </div>
              <div class="col-md-2">
                <p class="h6 font-weight-bold">{{ vitalDatas?.rr }}</p>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12 text-center mb-2">
                <p class="h6 font-weight-bold">VISUAL ACUITY</p>
              </div>

              <div class="col-md-4">
                <p class="h6 font-weight-bold">Uncorrected</p>
              </div>
              <div class="col-md-2">
                <p class="h6">OD:</p>
              </div>
              <div class="col-md-2">
                <p class="h6 font-weight-bold">{{ vitalDatas?.uod }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">OS:</p>
              </div>
              <div class="col-md-2">
                <p class="h6 font-weight-bold">{{ vitalDatas?.uos }}</p>
              </div>

              <div class="col-md-4">
                <p class="h6 font-weight-bold">Corrected</p>
              </div>
              <div class="col-md-2">
                <p class="h6">OD:</p>
              </div>
              <div class="col-md-2">
                <p class="h6 font-weight-bold">{{ vitalDatas?.cod }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">OS:</p>
              </div>
              <div class="col-md-2">
                <p class="h6 font-weight-bold">{{ vitalDatas?.cos }}</p>
              </div>
            </div>
            <div class="row" *ngFor="let vital of vitals">
              <div class="col-md-4">
                <p class="h6">{{ vital?.label }}</p>
              </div>
              <div class="col-md-8">
                <p class="h6 font-weight-bold">{{ vital?.value }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">Physical Examination</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6"></div>
              <div class="col-md-6">
                <p class="h6 ml-3">NORMAL</p>
              </div>
              <div class="col-md-6"></div>
              <div class="col-md-6">
                <p class="h6 ml-3">YES / NO</p>
              </div>
            </div>
            <div class="row" *ngFor="let pe of pes">
              <div class="col-md-6 text-right">
                <p class="h6">{{ pe?.label }}</p>
              </div>
              <div class="col-md-6">
                <p class="h6 font-weight-bold ml-3">{{ pe?.value }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">Laboratory Results</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <p class="h6 font-weight-bold">HEMATOLOGY</p>
              </div>
              <div class="col-md-6">
                <p class="h6 font-weight-bold">Complete Blood Count</p>
              </div>
              <div class="col-md-6">
                <p class="h6 font-weight-bold">Normal Range</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">White Blood Cells :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ hemaDatas?.cbcrbc == '' ? '-' : hemaDatas?.cbcrbc }}</p>
              </div>
              <div class="col-md-1">
                <p class="h6">x10^9/L</p>
              </div>
              <div class="col-md-2">
                <p class="h6">4.23-11.07</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Hemoglobin :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ hemaDatas?.hemoglobin == '' ? '-' : hemaDatas?.hemoglobin }}</p>
              </div>
              <div class="col-md-1">
                <p class="h6">g/L</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ hemaDatas?.hemoNR == '' ? '-' : hemaDatas?.hemoNR }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Hematocrit :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ hemaDatas?.hematocrit == '' ? '-' : hemaDatas?.hematocrit }}</p>
              </div>
              <div class="col-md-1">
                <p class="h6">VF</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ hemaDatas?.hemaNR == '' ? '-' : hemaDatas?.hemaNR }}</p>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <p class="h6 font-weight-bold">Differential Count</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Neutrophils :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ hemaDatas?.neutrophils == '' ? '-' : hemaDatas?.neutrophils }}</p>
              </div>
              <div class="col-md-1">
                <p class="h6">%</p>
              </div>
              <div class="col-md-2">
                <p class="h6">34-71</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Lymphocytes :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ hemaDatas?.lymphocytes == '' ? '-' : hemaDatas?.lymphocytes }}</p>
              </div>
              <div class="col-md-1">
                <p class="h6">%</p>
              </div>
              <div class="col-md-2">
                <p class="h6">22-53</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Monocytes :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ hemaDatas?.monocytes == '' ? '-' : hemaDatas?.monocytes }}</p>
              </div>
              <div class="col-md-1">
                <p class="h6">%</p>
              </div>
              <div class="col-md-2">
                <p class="h6">5-12</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Others / Notes :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ hemaDatas?.CBCOt == '' ? '-' : hemaDatas?.CBCOt }}</p>
              </div>
            </div>

            <div class="form-group row mt-3">
              <div class="col-md-12">
                <p class="h6 font-weight-bold">CLINICAL MICROSCOPY</p>
              </div>
              <div class="col-md-12">
                <p class="h6 font-weight-bold">Complete Urinalysis</p>
              </div>
              <div class="col-md-4">
                <p class="h6 font-weight-bold">Physical/Chemical</p>
              </div>
              <div class="col-md-4 text-center">
                <p class="h6 font-weight-bold">Microscopic</p>
              </div>
              <div class="col-md-4">
                <p class="h6 font-weight-bold">Normal Range</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Color :</p>
              </div>
              <div class="col-md-1">
                <p class="h6">{{ microDatas?.uriColor == '' ? '-' : microDatas?.uriColor }}</p>
              </div>
              <div class="col-md-2 text-right">
                <p class="h6">RBC :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ microDatas?.rbc == '' ? '-' : microDatas?.rbc }}</p>
              </div>
              <div class="col-md-1">
                <p class="h6">/hpf</p>
              </div>
              <div class="col-md-2">
                <p class="h6">0-3</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Transparency :</p>
              </div>
              <div class="col-md-1">
                <p class="h6">{{ microDatas?.uriTrans == '' ? '-' : microDatas?.uriTrans }}</p>
              </div>
              <div class="col-md-2 text-right">
                <p class="h6">WBC :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ microDatas?.wbc == '' ? '-' : microDatas?.wbc }}</p>
              </div>
              <div class="col-md-1">
                <p class="h6">/hpf</p>
              </div>
              <div class="col-md-2">
                <p class="h6" *ngIf="patientDatas?.gender == 'MALE'">0-5</p>
                <p class="h6" *ngIf="patientDatas?.gender == 'FEMALE'">0-10</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">pH :</p>
              </div>
              <div class="col-md-1">
                <p class="h6">{{ microDatas?.uriPh == '' ? '-' : microDatas?.uriPh }}</p>
              </div>
              <div class="col-md-2 text-right">
                <p class="h6">E.Cells :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ microDatas?.ecells == '' ? '-' : microDatas?.ecells }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Sp. Gravity :</p>
              </div>
              <div class="col-md-1">
                <p class="h6">{{ microDatas?.uriSp == '' ? '-' : microDatas?.uriSp }}</p>
              </div>
              <div class="col-md-2 text-right">
                <p class="h6">M.Threads :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ microDatas?.mthreads == '' ? '-' : microDatas?.mthreads }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Protein :</p>
              </div>
              <div class="col-md-1">
                <p class="h6">{{ microDatas?.uriPro == '' ? '-' : microDatas?.uriPro }}</p>
              </div>
              <div class="col-md-2 text-right">
                <p class="h6">Bacteria :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ microDatas?.bac == '' ? '-' : microDatas?.bac }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Glucose :</p>
              </div>
              <div class="col-md-1">
                <p class="h6">{{ microDatas?.uriGlu == '' ? '-' : microDatas?.uriGlu }}</p>
              </div>
              <div class="col-md-2 text-right">
                <p class="h6">Amorphous :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ microDatas?.amorph == '' ? '-' : microDatas?.amorph }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Others / Notes :</p>
              </div>
              <div class="col-md-1">
                <p class="h6">{{ microDatas?.uriOt == '' ? 'NORMAL' : microDatas?.uriOt }}</p>
              </div>
              <div class="col-md-2 text-right">
                <p class="h6">CaOx :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ microDatas?.coAx == '' ? '-' : microDatas?.coAx }}</p>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <p class="h6 font-weight-bold">DRUG SCREENING</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Methamphethamine :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ toxiDatas?.meth == '' ? '-' : toxiDatas?.meth }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Tetrahydrocanabinol :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ toxiDatas?.tetra == '' ? '-' : toxiDatas?.tetra }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Dt Result :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ toxiDatas?.drugtest == '' ? '-' : toxiDatas?.drugtest }}</p>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-2">
                <p class="h6 font-weight-bold">SEROLOGY</p>
              </div>
            </div>
            <div class="row" *ngIf="math.hideRes(seroDatas?.antiHav)">
              <div class="col-md-3 text-right">
                <p class="h6">Anti-Hav :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ seroDatas?.antiHav == '' ? '-' : seroDatas?.antiHav }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">HBsAg :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ seroDatas?.hbsAG == '' ? '-' : seroDatas?.hbsAG }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Pregnancy Test :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ microDatas?.pregTest == '' ? '-' : microDatas?.pregTest }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Others / Notes :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ seroDatas?.seroOt == '' ? 'NORMAL' : seroDatas?.seroOt }}</p>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-2">
                <p class="h6 font-weight-bold">FECALYSIS :</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Color :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ microDatas?.fecColor == '' ? '-' : microDatas?.fecColor }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Consistency :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ microDatas?.fecCon== '' ? '-' : microDatas?.fecCon }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Microscopic Findings :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ microDatas?.fecMicro == '' ? '-' : microDatas?.fecMicro }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <p class="h6">Others / Notes :</p>
              </div>
              <div class="col-md-2">
                <p class="h6">{{ microDatas?.fecOt == '' ? 'NORMAL' : microDatas?.fecOt }}</p>
              </div>
            </div>

            <div class="form-group row mt-5">
              <div class="col-md-3 mx-auto text-center">
                <p class="h6">
                  {{ medical?.firstName + ' ' + medical?.middleName + ' ' + medical?.lastName + ', ' + medical?.positionEXT }}
                </p>
                <p class="h6">Medical Technologist</p>
              </div>
              <div class="col-md-3 mx-auto text-center">
                <p class="h6">
                  {{ quality?.firstName + ' ' + quality?.middleName + ' ' + quality?.lastName + ', ' + quality?.positionEXT }}
                </p>
                <p class="h6">Quality Control</p>
              </div>
              <div class="col-md-3 mx-auto text-center">
                <p class="h6">
                  {{ path?.firstName + ' ' + path?.middleName + ' ' + path?.lastName + ', ' + path?.positionEXT }}</p>
                <p class="h6">Pathologist</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">Radiology Report</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <p class="h6">Comment :</p>
              </div>
              <div class="col-md-10">
                <p class="h6 font-weight-bold">{{ rad?.comment }}</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-2">
                <p class="h6">Impressions :</p>
              </div>
              <div class="col-md-10">
                <p class="h6 font-weight-bold">{{ rad?.impression }}</p>
              </div>
            </div>

            <div class="form-group row mt-5">
              <div class="col-md-4 mx-auto text-center">
                <p class="h6 font-weight-bold">{{ rad?.qa }}</p>
                <p class="h6">Quality Assurance</p>
              </div>
              <div class="col-md-4 mx-auto text-center">
                <p class="h6 font-weight-bold">{{ rad?.radiologist }}</p>
                <p class="h6">Radiologist</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">Classification</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <p class="h6">Class :</p>
              </div>
              <div class="col-md-10">
                <p class="h6 font-weight-bold"> {{ class }}</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-2">
                <p class="h6">Notes :</p>
              </div>
              <div class="col-md-10">
                <p class="h6 font-weight-bold">{{ classification?.notes == '' ? 'NORMAL' : classification?.notes }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="form-group row" *ngIf="classifyFormCheck">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <!--Classify-->
            <form [formGroup]="classifyForm" (ngSubmit)="classify()" autocomplete="off">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="header mt-1 ls-2 mb-3">
                    <span class="bold-2 text-uppercase">Modify Classification of
                      {{ patientDatas?.lastName + ', ' + patientDatas?.firstName + ' ' + patientDatas?.middleName }}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <p class="h6">Classification:</p>
                </div>
                <div class="col-md-10">
                  <mat-form-field class="col">
                    <mat-select formControlName="medicalClass" (selectionChange)="classificationChange($event.target)" [value]="classificationDefault">
                      <mat-option *ngFor="let classification of classifications" value="{{ classification }}">{{ classification }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-2">
                  <p class="h6">Overall Findings:</p>
                </div>
                <div class="col-md-10">
                  <mat-form-field class="col">
                    <input matInput formControlName="notes">
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12 text-center">
                  <button type="submit" mat-raised-button color="primary" [disabled]="!classifyForm.valid">Classify</button>
                  <!-- <button type="button" mat-raised-button color="primary" *ngIf="!classifyFormData" disabled>Can't Classify</button> -->
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

</mat-dialog-content>
