<mat-dialog-content>
  <mat-card class="mat-elevation-z8 h-100">
    <mat-card-content>
      <form [formGroup]="updateVitalForm" (ngSubmit)="updateVital()" autocomplete="off">
        <div class="form-group row">
          <div class="col-md-12 text-center">
            <div class="header mt-1 ls-2 mb-3">
              <span class="bold-2">Update Vital Signs</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="col-md-12">
                <mat-label>Height</mat-label>
                <input matInput required formControlName="height">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12">
                <mat-label>Weight</mat-label>
                <input matInput required formControlName="weight">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12">
                <mat-label>BMI</mat-label>
                <input matInput formControlName="bmi">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="col-md-12">
                <mat-label>BP</mat-label>
                <input matInput required formControlName="bp">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12">
                <mat-label>PR</mat-label>
                <input matInput required formControlName="pr">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12">
                <mat-label>RR</mat-label>
                <input matInput required formControlName="rr">
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-12 text-center">
            <p class="bold-3 ls-1">VISUAL ACUITY</p>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <p class="bold-3 ls-1 mt-3">Uncorrected</p>
              </div>
              <div class="col-md-4">
                <mat-form-field class="col-md-12">
                  <mat-label>OD</mat-label>
                  <input matInput formControlName="uod">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="col-md-12">
                  <mat-label>OS</mat-label>
                  <input matInput formControlName="uos">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <p class="bold-3 ls-1 mt-3">Corrected</p>
              </div>
              <div class="col-md-4">
                <mat-form-field class="col-md-12">
                  <mat-label>OD</mat-label>
                  <input matInput formControlName="cod">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="col-md-12">
                  <mat-label>OS</mat-label>
                  <input matInput formControlName="cos">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <mat-form-field class="col-md-12">
              <mat-label>Ishihara test:</mat-label>
              <input matInput formControlName="cv">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="col-md-12">
              <mat-label>Hearing:</mat-label>
              <input matInput formControlName="hearing">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="col-md-12">
              <mat-label>Hospitalization:</mat-label>
              <input matInput formControlName="hosp">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="col-md-12">
              <mat-label>Operations:</mat-label>
              <input matInput formControlName="opr">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="col-md-12">
              <mat-label>Medications:</mat-label>
              <input matInput formControlName="pm">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="col-md-12">
              <mat-label>Smoker:</mat-label>
              <input matInput formControlName="smoker">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="col-md-12">
              <mat-label>Alcoholic:</mat-label>
              <input matInput formControlName="ad">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="col-md-12">
              <mat-label>Last Menstrual:</mat-label>
              <input matInput formControlName="lmp">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="col-md-12" appearance="fill">
              <mat-label>Others/Notes:</mat-label>
              <textarea matInput formControlName="notes" rows="4"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12 text-right">
            <button mat-raised-button color="accent" mat-dialog-close>
              <mat-icon>clear</mat-icon> cancel
            </button>
            <button type="submit" mat-raised-button color="primary" class="ml-2">
              <mat-icon>save</mat-icon> Save changes
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
