<mat-dialog-content>
  <div class="container-fluid">
    <form [formGroup]="peForm" (ngSubmit)="updatePe()" autocomplete="off">
      <div class="form-group row">
        <div class="col-md-12 text-center">
          <div class="header mt-1 ls-2 mb-3">
            <span class="bold-2">Update Physical Examination</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <p class="bold-3 ls-2">NORMAL</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-right">
            <p class="bold-3 ls-2">AREA</p>
          </div>
          <div class="col-md-6">
            <p class="bold-3 ls-2">YES / NO</p>
          </div>
        </div>
        <div class="row" *ngFor="let area of areas">
          <div class="col-md-6 text-right">
            <p class="h6 bold-3 ls-1 mt-3">{{ area.area }}:</p>
          </div>
          <div class="col-md-2">
            <mat-radio-group formControlName="{{ area.control }}">
              <mat-radio-button value="YES" color="primary" class="ml-2">
              </mat-radio-button>
              <mat-radio-button value="NO" color="primary" class="ml-2">
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-right">
            <p class="h6 bold-3 ls-1 my-auto">Findings:</p>
          </div>
          <div class="col-md-5">
            <mat-form-field class="col-md-12" appearance="fill">
              <textarea matInput rows="4" formControlName="find"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-right">
            <p class="h6 bold-3 ls-1">Others/Notes:</p>
          </div>
          <div class="col-md-5">
            <mat-form-field class="col-md-12" appearance="fill">
              <textarea matInput rows="4" formControlName="ot"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-right">
            <p class="h6 bold-3 ls-1 mt-3">Doctor:</p>
          </div>
          <div class="col-md-5">
            <mat-form-field class="col-md-12">
              <mat-select (selectionChange)="changeDoctor($event.value)" formControlName="doctor">
                <mat-option *ngFor="let doctor of doctors" [value]="doctor.doctor">{{ doctor.doctor }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-right">
            <p class="h6 bold-3 ls-1 mt-3">License No:</p>
          </div>
          <div class="col-md-5">
            <mat-form-field class="col-md-12">
              <input matInput readonly #licenseInput formControlName="license">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12 text-right">
          <button mat-raised-button color="accent" mat-dialog-close>
            <mat-icon>clear</mat-icon> cancel
          </button>
          <button type="submit" mat-raised-button color="primary" class="ml-2">
            <mat-icon>save</mat-icon> Save changes
          </button>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>
