<div class="row">
  <div class="col-8">
    <div class="card"
      style="border-radius: 0px; margin-top: 10px; border: 3px solid #104E8B; width: 96%; height: 600px;">
      <div class="form-group row mx-1">
        <div class="col-md-12 text-center mb-2">
          <span class="bold-2 label lineRes1">MEDICAL CERTIFICATE</span>
        </div>

        <div class="col-sm-6">
          <p class="font-weight-bold h6">Hematology</p>
          <div class="row ml-1" *ngFor="let value of hemas">
            <div class="col-md-12 nmt8">{{ value }}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <p class="font-weight-bold h6">Microscopy</p>
          <div class="row ml-1" *ngFor="let value of micros">
            <div class="col-md-12 nmt8">{{ value }}</div>
          </div>
        </div>

        <div class="col-sm-6">
          <p class="font-weight-bold h6">Chemistry</p>
          <div class="row ml-1" *ngFor="let value of chems">
            <div class="col-md-12 nmt8">{{ value }}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <p class="font-weight-bold h6">Imaging</p>
          <div class="row ml-1" *ngFor="let value of xrays">
            <div class="col-md-12 nmt8">{{ value }}</div>
          </div>
        </div>

        <div class="col-sm-6">
          <p class="font-weight-bold h6">Others</p>
          <div class="row ml-1" *ngFor="let value of others">
            <div class="col-md-12 nmt8">{{ value }}</div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
