<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
        <user-list url="Y" title="USER MANAGEMENT"></user-list>
    </div>
    <div class="col-md-6">
        <user-list url="N" title="VERIFY USER"></user-list>
    </div>
  </div>
</div>