<div class="container py-3">
  <div class="form-group row">
    <div class="col-md-4">
      <mat-card class="mat-elevation-z2">
        <mat-card-content>
          <div class="form-group row">
            <div class="col-md-12 text-center">
              <p class="h5">Request Categories</p>
            </div>

            <mat-form-field class="col-md-12">
              <mat-label>Select Category</mat-label>
              <mat-select (selectionChange)="getCatOption($event.value)">
                <mat-option *ngFor="let category of categories" [value]="category.docReqCatId">{{ category.category }}</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="col-md-12 clearfix">
              <button type="button" mat-raised-button color="primary" (click)="new('category')" class="float-left">
                <mat-icon>linear_scale</mat-icon> New Category
              </button>
              
              <button type="button" mat-raised-button color="accent" (click)="new('option')" class="float-right">
                <mat-icon>share</mat-icon> New Option
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card class="mat-elevation-z2">
        <mat-card-content>
          <div class="form-group row">
            <div class="col-md-6">
              <p class="h5">{{ labelOptions }}</p>
            </div>
            <div class="col-md-6">
              <mat-form-field class="col-md-12">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search option">
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <div class="mat-elevation-z2 table-con">
                <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
                  </ng-container>

                  <ng-container matColumnDef="option">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> OPTION </th>
                    <td mat-cell *matCellDef="let row"> {{ row.option }} </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTION </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-form-field>
                        <mat-label>Update category</mat-label>
                        <mat-select (selectionChange)="updateOption(row.id, $event.value)">
                          <mat-option *ngFor="let category of categories" [value]="category.docReqCatId">
                            {{ category.category }}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <button type="button" mat-mini-fab color="warn" (click)="removeOption(row.id, row.status)" class="ml-2" *ngIf="row.status == 1">
                        <mat-icon>close</mat-icon>
                      </button>

                      <button type="button" mat-mini-fab color="primary" (click)="removeOption(row.id, row.status)" class="ml-2" *ngIf="row.status == 2">
                        <mat-icon>check</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </table>

                <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" class="mat-paginator-sticky"></mat-paginator>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>