.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size:cover;

}
.filter{
    background-color: rgba(0,0,0, 0.5);
}
.box{
    width: 100%;
    height: 500px;
    background-color: rgb(233, 233, 233)
}
.header{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: #2980b9;
    letter-spacing: 5px;
}
.subtitle{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 5px;
}
.redirect{
    text-align: center;
    font-size: 15px;
}
.mat-raised-button{
    margin:0 auto;
    display:block;
}
