<div class="row">
  <div class="col-md-12" style="margin-top: 5px;">
    <img src="assets/QPDHEADER.jpg" class="img-fluid" width="90%">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col">
        <p><b>Name:</b> {{ patientData?.fullName }}</p>
      </div>
      <div class="col">
        <p><b>Date:</b> {{ math.dateNow() }}</p>
      </div>
    </div>

    <div class="row" style="margin-top: -10px;">
      <div class="col">
        <p><b>Age:</b> {{ patientData?.age }}</p>
      </div>
      <div class="col">
        <p><b>Gender:</b> {{ patientData?.gender }}</p>
      </div>
    </div>

    <div class="row" style="margin-top: -10px;">
      <div class="col">
        <p><b>Address:</b> </p>
      </div>
    </div>

    <div class="row" style="margin-top: -10px;">
      <div class="col">
        <p>{{ patientData?.address }}</p>
      </div>
    </div>
  </div>
</div>
