<lab-header [transaction]="transaction" [patient]="patient"></lab-header>
<microscopy-result [microscopy]="microscopy" *ngIf="id[1] === 'microscopy'"></microscopy-result>
<hematology-result [hematology]="hematology" *ngIf="id[1] === 'hematology'"></hematology-result>
<chemistry-result [chemistry]="chemistry1" *ngIf="id[1] === 'chemistry'"></chemistry-result>
<serotoxic-result [serology]="serology" [toxicology]="toxicology" *ngIf="id[1] === 'serology' || id[1] == 'toxicology'"></serotoxic-result>
<lab-footer [path]="path" [qc]="qc" [mt]="mt"></lab-footer>
<div *ngIf="chemistry2">
  <lab-header [transaction]="transaction" [patient]="patient"></lab-header>
  <chemistry-result [chemistry]="chemistry2" *ngIf="id[1] === 'chemistry'"></chemistry-result>
  <lab-footer [path]="path" [qc]="qc" [mt]="mt"></lab-footer>
</div>