<mat-dialog-content>
  <div class="container">
    <div class="col-md-12 text-center">
      <div class="header mt-1 ls-2 mb-3">
        <span class="bold-2">PATIENT INFORMATION</span>
      </div>
      <div class="col-md-12">
        <p class="h6 font-weight-bold">{{ patientDatas?.lastName + ', ' + patientDatas?.firstName + ' ' + patientDatas?.middleName }}</p>
          <form [formGroup]="addMedcert" (ngSubmit)="saveMedcert()">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between">
                <mat-form-field class="col-md-12">
                  <mat-label>Due to:</mat-label>
                  <input matInput formControlName="due">
                </mat-form-field>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <mat-form-field class="col-md-12">
                  <mat-label>Diagnosis:</mat-label>
                  <input matInput formControlName="diagnosis">
                </mat-form-field>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <mat-form-field class="col-md-12">
                  <mat-label>Remarks:</mat-label>
                  <input matInput formControlName="remarks">
                </mat-form-field>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <mat-form-field class="col-md-12">
                  <mat-label>Days:</mat-label>
                  <input matInput formControlName="days">
                </mat-form-field>
              </li>
            </ul>
          <br>
          <!--End-->
          <div class="text-center">
            <button type="button" mat-raised-button color="warn" class="mr-1" (click)="close()">
              <mat-icon>cancel</mat-icon>Close
            </button>
            <button type="submit" mat-raised-button color="primary" [disabled]="!addMedcert.valid">
              <mat-icon>save</mat-icon>Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>
