<div class="container" id="myTableElementId" style="margin-left: -12px;">
  <div class="form-group row">
    <div class="col-md-12 text-center">
      <p class="h5">Summary Report</p>
      <p class="h5">{{ companyName }}</p>
    </div>
    <div class="col-md-12">
      <table class="table table-bordered"
        style="display: 100%; table-layout: auto; font-family:'Century Gothic'; font-size: .5em;">
        <thead>
          <tr>
            <th class="text-uppercase" *ngFor="let displayedColumn of displayedColumns">{{ displayedColumn }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datas">
            <td *ngFor="let element of displayedColumns">{{ data[element] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
