<div class="container-fluid">

  <doc-head-edit [patientId]="patientId"></doc-head-edit>

  <div class="row">
    <div class="col text-center">
      <p class="h5">MEDICATION</p>
    </div>
  </div>

  <div class="row" *ngFor="let value of values">
    <div class="col">
      <mat-form-field class="col-md-12">
        <textarea matInput #value1 rows="3" value="{{ value['genericName'] + '&#13;&#10;' }}{{ '(' + value['brandName'] + ')' }}{{ '&#13;&#10;' + value['quantity'] }}x a day for {{ value['duration'] }} day(s)"></textarea>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="col-md-12">
        <textarea matInput #value2 rows="3" value="{{ value['dosage'] }}"></textarea>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="col-md-12">
        <textarea matInput #value3 rows="3" value="#{{ value['quantity'] }}"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="col-md-12">
        <textarea matInput #value1 rows="3"></textarea>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="col-md-12">
        <textarea matInput #value2 rows="3"></textarea>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="col-md-12">
        <textarea matInput #value3 rows="3"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-1">
    <button type="button" mat-raised-button color="accent" (click)="cancel()" class="col">
      <mat-icon>close</mat-icon> Cancel
    </button>
    &nbsp;&nbsp;
    <button type="button" mat-raised-button color="primary" (click)="print()" class="col">
      <mat-icon>print</mat-icon> Print
    </button>
  </div>
  <!-- <div class="row">
    <div class="col-12" style="margin-top: 30px;">
      <img src="assets/image/QISFooter.png" height="30px" width="100%">
    </div>
  </div> -->
</div>
