<div class="container-fluid">

  <doc-head-edit [patientId]="patientId"></doc-head-edit>

  <div class="row">
    <div class="col text-center">
      <p class="h5">MEDICAL CERTIFICATE</p>
    </div>
  </div>

  <div class="row">
    <form [formGroup]="form">
      <mat-form-field class="col-md-12">
        <textarea matInput formControlName="value1" rows="3"></textarea>
      </mat-form-field>
      <mat-form-field class="col-md-12">
        <textarea matInput formControlName="value2" rows="3"></textarea>
      </mat-form-field>
      <mat-form-field class="col-md-12">
        <textarea matInput formControlName="value3" rows="3"></textarea>
      </mat-form-field>
      <mat-form-field class="col-md-12">
        <textarea matInput formControlName="value4" rows="3"></textarea>
      </mat-form-field>
    </form>
  </div>
  <div class="row mt-1">
    <button type="button" mat-raised-button color="accent" (click)="cancel()" class="col">
      <mat-icon>close</mat-icon> Cancel
    </button>
    &nbsp;&nbsp;
    <button type="button" mat-raised-button color="primary" (click)="print()" class="col">
      <mat-icon>print</mat-icon> Print
    </button>
  </div>
  <!-- <div class="row">
    <div class="col-12" style="margin-top: 30px;">
      <img src="assets/image/QISFooter.png" height="30px" width="100%">
    </div>
  </div> -->
</div>
