<div class="form-group row">
  <div class="col-md-12 text-center">
    <webcam [height]="530" [width]="530" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
      *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
      [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)">
    </webcam>
    <button type="button" mat-raised-button color="primary" (click)="triggerSnapshot()">
      <mat-icon>camera_alt</mat-icon>
    </button>
    <button type="button" mat-raised-button color="accent" (click)="showNextWebcam(true)">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>
