<mat-dialog-content>
  <!-- Name -->
  <div class="form-group row">
    <div class="col-md-12">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <div class="form-group row">
            <div class="col-md-12 text-center">
              <div class="header mt-1 ls-2 mb-3">
                <span class="bold-2">PATIENT INFORMATION</span>
              </div>
            </div>
            <div class="col-md-2">
              <p class="h6">Name:</p>
              <p class="h6 font-weight-bold">
                {{ patientDatas?.fullName }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Contact:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.contactNo }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Age:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.age }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Gender:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.gender }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Address:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.address }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Company name:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.companyName }}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <div class="form-group row">
            <div class="col-md-12 text-center">
              <div class="header mt-1 ls-2 mb-3">
                <span class="bold-2">MEDICATIONS</span>
              </div>
            </div>
            <div class="col-md-8 py-1">
              <div class="table-con mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="{{ column }}" *ngFor="let column of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef>
                      <span style="text-transform: uppercase;" class="ls-1 bold-1">
                        {{ column }}
                      </span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element[column] }}
                      <div *ngIf="column == 'select'">
                        <mat-checkbox color="primary" (click)="tickMe(element['docMedID'])"></mat-checkbox>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="mat-paginator-sticky"></mat-paginator>
              </div>
            </div>
            <div class="col-md-4 py-1">
              <div class="form-group row">
                <div class="col-md-12">
                  <p class="h6">Select Medication</p>
                  <app-select-doc-item itemUrl="getDocItems" (selectTrig)="getItem($event)" [selected]="patItem">
                  </app-select-doc-item>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <form [formGroup]="addMedicationForm" (ngSubmit)="addMedication()" autocomplete="off">
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">NAME OF MEDICINE</span>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="col-md-3">
                  <mat-form-field class="col-md-12">
                    <mat-label>GENERIC*</mat-label>
                    <input matInput formControlName="genericName">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="col-md-12">
                    <mat-label>QUANTITY*</mat-label>
                    <input matInput formControlName="quantity">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="col-md-6">
                    <mat-label>DOSAGE*</mat-label>
                    <input matInput formControlName="dosage_amount">
                  </mat-form-field>
                  <mat-form-field class="col-md-6">
                    <mat-label>UNIT*</mat-label>
                    <mat-select [value]="unitDefault" formControlName="dosage_unit">
                      <mat-option *ngFor="let unit of units" [value]="unit">{{ unit }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="col-md-12">
                    <mat-label>FORM*</mat-label>
                    <mat-select [value]="formDefault" formControlName="form">
                      <mat-option *ngFor="let form of forms" [value]="form">{{ form }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row col-md-12 mt-4">
                <div class="col-md-3">
                  <mat-form-field class="col-md-12">
                    <mat-label>BRAND*</mat-label>
                    <input matInput formControlName="brandName">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="col-md-12">
                    <mat-label>SCHEDULE*</mat-label>
                    <input matInput formControlName="sched">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="col-md-6">
                    <mat-label>DURATION*</mat-label>
                    <input matInput formControlName="duration">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="col-md-12">
                    <mat-label>OTHER NOTES</mat-label>
                    <input matInput formControlName="notes">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-12">
                <hr>
              </div>
              <div class="col-md-12 clearfix">
                <div class="float-left">
                  <button type="button" mat-raised-button color="warn" class="mr-1" (click)="close()">
                    <mat-icon>cancel</mat-icon> Close dialog
                  </button>
                </div>
                <div class="float-right">
                  <button type="reset" id="resetFormButton" style="display: none;"></button>
                  <button type="submit" mat-raised-button color="primary" class="mr-1" [disabled]="!addMedicationForm.valid">
                    <mat-icon>add_circle</mat-icon> Add
                  </button>

                  <button type="button" mat-raised-button color="warn" class="mr-1" (click)="deleteMedication()">
                    <mat-icon>delete</mat-icon> Delete
                  </button>

                  <button type="button" mat-raised-button color="accent" class="mr-1" (click)="printMedication()">
                    <mat-icon>print</mat-icon> Print
                  </button>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</mat-dialog-content>
