<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12" style="margin-top: 5px;">
        <img src="assets/image/QPDHeader.jpg" style="height: 100px; width: 100%;">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">

        <div class="card" style="border-radius: 0px;  margin-top: 20px; ">
          <div class="card-header text-center"><b>QUEST PHIL DIAGNOSTICS MEDICAL EXAMINATION REPORT</b></div>
          <div class="card-block" style="height: 1.3in; margin-left: 25px; margin-right: 25px; margin-bottom: 10px;">

            <div class="row">
              <div class="col">
                <p class="labelName">Company:</p>
              </div>
              <div class="col-6">
                <span class="lineName" style="margin-left: -80px;">{{ patientDatas?.companyName }}</span>
              </div>
              <div class="col-2 text-right">
                <p class="labelName">Date:</p>
              </div>
              <div class="col">
                <span class="lineName">{{ patientDatas?.creationDate }}</span>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="labelName">Name:</p>
              </div>
              <div class="col-6">
                <span class="lineName" style="margin-left: -80px;">
                  {{ patientDatas?.lastName + ', ' + patientDatas?.firstName + ' ' + patientDatas?.middleName }}</span>
              </div>
              <div class="col-2 text-right">
                <p class="labelName">QuestID:</p>
              </div>
              <div class="col">
                <span class="lineName">{{ patientID }}</span>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="labelName">Address:</p>
              </div>
              <div class="col-6">
                <span class="lineName"
                  style="white-space: nowrap; margin-left: -80px;">{{ patientDatas?.address }}</span>
              </div>
              <div class="col-2 text-right">
                <p class="labelName">Gender:</p>
              </div>
              <div class="col">
                <span class="lineName">{{ patientDatas?.gender }}</span>
              </div>
            </div>



            <div class="row">
              <div class="col">
                <p class="labelName">Email:</p>
              </div>
              <div class="col-6">
                <span class="lineName" style="margin-left: -80px;">{{ patientDatas?.email }}</span>
              </div>
              <div class="col-2 text-right">
                <p class="labelName">Age:</p>
              </div>
              <div class="col">
                <span class="lineName">{{ patientDatas?.age }}</span>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <p class="labelName">Mobile:</p>
              </div>
              <div class="col-6">
                <span class="lineName" style="margin-left: -80px;">{{ patientDatas?.contactNo }}</span>
              </div>
              <div class="col-2 text-right">
                <p class="labelName">Birthdate:</p>
              </div>
              <div class="col">
                <span class="lineName">{{ patientDatas?.birthdate }}</span>
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="border-radius: 0px; margin-top: 10px;">
          <div class="card-header text-center"><b>MEDICAL HISTORY</b></div>
          <div class="card-block" style="height: 4.9in; margin-left: 25px;">
            <div class="row">
              <div class="col">
                <p class="labelName">Significant Past Illness</p>
              </div>
            </div>
            <div class="row" *ngFor="let medHisData of medHisDatas">
              <div class="col-8">
                <p class="labelName">{{ medHisData?.label }}</p>
              </div>
              <div class="col-4">
                <p class="lineName" [ngClass]="{'text-danger': medHisData?.value == 'YES'}">{{medHisData?.value }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="border-radius: 0px; margin-top: 10px;">
          <div class="card-header text-center "><b>VITAL SIGNS</b></div>
          <div class="card-block " style="height: 4.9in; margin-left: 25px;">
            <div class="row">
              <div class="col">
                <p class="labelName">Height</p>
              </div>
              <div class="col">
                <p class="lineName" style="text-transform: lowercase;">{{ vitalDatas?.height }}</p>
              </div>
              <div class="col">
                <p class="labelName">Weight</p>
              </div>
              <div class="col">
                <p class="lineName" style="text-transform: lowercase;">{{ vitalDatas?.weight }}</p>
              </div>
              <div class="col">
                <p class="labelName">BMI</p>
              </div>
              <div class="col">
                <p class="lineName">{{ vitalDatas?.bmi }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="labelName">BP</p>
              </div>
              <div class="col">
                <p class="lineName">{{ vitalDatas?.bp }}</p>
              </div>
              <div class="col">
                <p class="labelName">PR</p>
              </div>
              <div class="col">
                <p class="lineName">{{ vitalDatas?.pr }}</p>
              </div>
              <div class="col">
                <p class="labelName">RR</p>
              </div>
              <div class="col">
                <p class="lineName">{{ vitalDatas?.rr }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="labelName">Visual Acuity Uncorrected</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="labelName">OD</p>
              </div>
              <div class="col">
                <p class="lineName">{{ vitalDatas?.uod }}</p>
              </div>
              <div class="col">
                <p class="labelName">OS</p>
              </div>
              <div class="col">
                <p class="lineName">{{ vitalDatas?.uos }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="labelName">Visual Acuity Corrected</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="labelName">OD</p>
              </div>
              <div class="col">
                <p class="lineName">{{ vitalDatas?.cod }}</p>
              </div>
              <div class="col">
                <p class="labelName">OS</p>
              </div>
              <div class="col">
                <p class="lineName">{{ vitalDatas?.cos }}</p>
              </div>
            </div>
            <div class="row" *ngFor="let vital of vitals">
              <div class="col">
                <p class="labelName">{{ vital?.label }}</p>
              </div>
              <div class="col">
                <p class="lineName">{{ vital?.value }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card" style="border-radius: 0px; margin-top: 10px;">
          <div class="card-header text-center"><b>PHYSICAL EXAMINATION</b></div>
          <div class="card-block" style="height: 4in; margin-left: 25px; margin-right: 25px; ">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-sm-6">
                    <p class="labelName"></p>
                  </div>
                  <div class="col-sm-6">
                    <p class="labelName">NORMAL</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="labelName"></p>
                  </div>
                  <div class="col-sm-6">
                    <p class="labelName">YES/NO</p>
                  </div>
                </div>


                <div class="row" *ngFor="let pe of pes">
                  <div class="col-sm-6">
                    <p class="labelName">{{ pe?.label }}</p>
                  </div>
                  <div class="col-sm-6">
                    <p class="lineName" id="aa" [ngClass]="{'text-danger': pe?.value == 'NO'}">{{ pe?.value }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-11">
                    <p class="para">(Scalp, Eyes, Ears, Nose, Sinuses, Mouth, Throat, Thyroid, Axilla, Back,
                      Anus-rectum, G-U System, Inguinals, Genitals, others)</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row" style="margin-top: 28px;">
                  <div class="col">
                    <p class="labelName">FINDINGS</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <p class="labelName"></p>
                  </div>
                  <div class="col-sm-11">
                    <p class="line" id="FINDINGS">{{ findings }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <p class="labelName"></p>
                  </div>
                  <div class="col-sm-11">
                    <p class="line"></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <p class="labelName"></p>
                  </div>
                  <div class="col-sm-11">
                    <p class="line"></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <p class="labelName"></p>
                  </div>
                  <div class="col-sm-11">
                    <p class="line"></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <p class="labelName"></p>
                  </div>
                  <div class="col-sm-11">
                    <p class="line"></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <p class="labelName"></p>
                  </div>
                  <div class="col-sm-11">
                    <p class="line"></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <p class="labelName"></p>
                  </div>
                  <div class="col-sm-11">
                    <p class="lineName"></p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="labelName">Physician:</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="lineName">{{ phy }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="labelName" style="line-height: 1px;">License:</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="lineName" style="line-height: 1px;">{{ phyLic }}</p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="dashedhr">
            <div class="row">
              <div class="col-sm-3">
                <p class="labelName"></p>
              </div>
              <div class="col-sm-10">
                <p class="lineName" style="line-height: 2px;">Patient Signature</p>
              </div>
            </div>
            <div class="row">
              <div class="col align-center">
                <p class="para"><br>I hereby authorized QPD and its physicians to furnish information that the company
                  may need pertaining to my health status and do hereby release them from any and all legal
                  responsibility be doing so, I certify that the medical history is true of my knowledge and any false
                  statement will disqualify me from my employment benefits and claims.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <img src="assets/image/QISFooter.png" style="height: 40px; width: 100%;">
      </div>
    </div>

  </div>
</mat-dialog-content>
