<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12" style="margin-top: 5px;">
        <img src="/assets/image/QPDHeader.jpg" height="100px" width="100%">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card" style="border-radius: 0px; margin-top: 10px;">
          <div class="card-header text-center">
            <b>Patient Data Information</b>
          </div>
          <div class="card-block" style="height: 1.3in; margin-left: 25px; margin-right: 25px; margin-bottom: 50px;">
            <div class="row">
              <div class="col-2">
                <p class="labelName">Company:</p>
              </div>
              <div class="col-5">
               <span class="lineName" style="margin-left: -80px;">{{ patientDatas?.companyName }}</span>
              </div>
              <div class="col-2 text-right">
                <p class="labelName">Date:</p>
              </div>
              <div class="col">
                <span class="lineName">{{ patientDatas?.creationDate }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <p class="labelName">Name:</p>
              </div>
              <div class="col-5">
                <span class="lineName" style="margin-left: -80px;">
                  {{ patientDatas?.lastName + ', ' + patientDatas?.firstName + ' ' + patientDatas?.middleName }}</span>
              </div>
              <div class="col-2 text-right">
                <p class="labelName">QuestID:</p>
              </div>
              <div class="col">
                <span class="lineName">{{ patientID }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <p class="labelName">Age/Gender:</p>
              </div>
              <div class="col-5">
                <span class="lineName" style="margin-left: -50px;">{{ patientDatas?.age }} / {{ patientDatas?.gender }} </span>
              </div>
              <div class="col-2 text-right">
                <p class="labelName">Procedure:</p>
              </div>
              <div class="col">
                <span class="lineName">Electrocardiography</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card" style="border-radius: 0px; margin-top: 10px; margin-bottom: 20;">
          <div class="card-header text-center">
            <b>ELECTROCARDIOGRAPHIC REPORT</b>
          </div>
          <div class="card-block" style="height: 8.7in;">
            <div class="row" style="padding: 15px;">
              <div class="col-sm-2">
                <p class="lineName">Rhythm:</p>
              </div>
              <div class="col-sm-4">
                <span class="lineName">______________</span>
              </div>
              <div class="col-sm-2">
                <p class="lineName">Axis:</p>
              </div>
              <div class="col-sm-4">
                <span class="lineName">______________</span>
              </div>
            </div>

            <div class="row" style="padding: 15px;">
              <div class="col-sm-2">
                <p class="lineName">PR Interval:</p>
              </div>
              <div class="col-sm-4">
                <span class="lineName">______________</span>
              </div>
              <div class="col-sm-2">
                <p class="lineName">P-Wave:</p>
              </div>
              <div class="col-sm-4">
                <span class="lineName">______________</span>
              </div>
            </div>

            <div class="row" style="padding: 15px;">
              <div class="col-sm-2">
                <p class="lineName">Rate Atrial:</p>
              </div>
              <div class="col-sm-4">
                <span class="lineName">______________</span>
              </div>
              <div class="col-sm-2">
                <p class="lineName">Ventricular:</p>
              </div>
              <div class="col-sm-4">
                <span class="lineName">______________</span>
              </div>
            </div>
            <br>
            <div class="row" style="padding: 15px;">
              <div class="col-sm-6">
                <p class="lineName">INTERPRETATION:</p>
              </div>
              <div class="col-sm-4">
                <span class="lineName"></span>
              </div>
              <div class="col-sm-2">
                <p class="lineName"></p>
              </div>
              <div class="col-sm-4">
                <span class="lineName"></span>
              </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="row" style="margin-left: 5px;">
              <div class="col-sm-5">
                <p class="lineName" style="line-height: 20px">FROILAN CANLAS, MD</p>
                <p class="lineName" style="line-height: 20px">License:82498</p>
                <p class="lineName" style="line-height: 20px">Internal Medicine</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-12">
          <img src="/assets/image/QISFooter.png" height="50px" width="100%">
        </div>
      </div>
  </div>
</mat-dialog-content>
