@media screen {
  :host {
    display: none;
  }
}

.card-header {
	font-family: "Times New Roman";
	font-size: 18px;
	color: white;
	background-color: #104E8B;
	padding: 0px;
	margin: 0px;
}

.card-block {
	padding-top: 0px;
	padding-bottom: 0px;
}

.line {
	font-family: "Garamond";
	display: table-cell;
	width: 1000px;
	height: 24px;
	border-bottom: 1px solid #104E8B;
	text-transform: uppercase;
	font-weight: bolder;
	padding: 0px;
	margin: 0px;
}

.label {
	font-family: "Garamond";
	font-size: 18px;
	color: #104E8B;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	line-height:16px;

}

.lineName {
	font-family: "Garamond";
	font-size: 20px;
	font-weight: bolder;
	padding: 0px;
	margin: 0px;
	line-height: 50px;

}

.labelName {
	font-family: "Garamond";
	font-size: 20px;
	color: #104E8B;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	line-height: 50px;
}

.para {
	font-family: "Garamond";
	font-size: 14px;
	color:#104E8B;
	line-height: 14px;
	padding: 0px;
	margin: 0px;
}

.Names {
	font-family: "Garamond";
	text-transform: uppercase;
	font-weight: bolder;
	padding: 0px;
	margin: 0px;
	line-height:18px;
	color: #000000;
}

.lineNameSig {
	font-family: "Garamond";
	display: table-cell;
	width: 500px;
	height: 16px;
	border-bottom: 1px solid black;
	text-transform: uppercase;
	font-weight: bolder;
	padding: 1px;
	margin: 1px;
	line-height:3px;
	color: #000000;
}

.label1 {
	font-family: "Garamond";
	font-size: 18px;
	color: #104E8B;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	line-height:0px;

}

.col, .col-1, .col-2, .col-3, .col-4, .col-5 .col-6 {
	padding-left: 0px;
	margin-left: 0px;
}


.col u {
	font-family: "Garamond";
	text-transform: uppercase;
	font-weight: bolder;

}

.dashedhr {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
	line-height: 2px;

}
