<div class="nav-container mat-elevation-z6" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar text-white" style="background-color: #4267B2;" *ngIf="isNav">
    <button mat-icon-button (click)="snav.toggle()" id="sbIcon"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">{{title}}</h1>
    <span class="spacer"></span>
    <button *ngFor="let link of navLink" mat-button [routerLink]="link.route">
      <mat-icon *ngIf="link.icon">{{link.icon}}</mat-icon> {{link.name}}
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="toolbar-icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" x-position="after">
      <button mat-menu-item routerLink="/admin/manage-user">
        <mat-icon>perm_identity</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="accountSetting()">
        <mat-icon>settings</mat-icon>
        <span>Account Settings</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item *ngFor="let nav of fillerNav" [routerLink]="nav.route" >
         <mat-icon>{{nav.icon}}</mat-icon>&nbsp; {{nav.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="background-color: white" (click)="snav.close()">
      <router-outlet></router-outlet>
      <router-outlet name="print"></router-outlet>
      <router-outlet name="billing"></router-outlet>
      <router-outlet name="imaging"></router-outlet>
      <router-outlet name="imagingSticker"></router-outlet>
      <router-outlet name="peForm"></router-outlet>
      <router-outlet name="peMedical"></router-outlet>
      <router-outlet name="basicTwo"></router-outlet>
      <router-outlet name="reportPdf"></router-outlet>
      <router-outlet name="ecgForm"></router-outlet>
      <router-outlet name="pdfSummaryReport"></router-outlet>
      <router-outlet name="xrayResult"></router-outlet>
      <router-outlet name="barCode"></router-outlet>
      <router-outlet name="xrayScan"></router-outlet>
      <router-outlet name="xrayScanPrint"></router-outlet>
      <router-outlet name="doc"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <router-outlet name="salesReport"></router-outlet>
  <router-outlet name="lab"></router-outlet>
</div>



