<div style="height: 840px" class="ml-2 mr-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bold-1 mt-2">SEROLOGY</div>
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(serology?.hbsAG)">
      <div class="col-5">
        <span class="r-label">HBsAG</span>
      </div>
      <div class="col-3 r-text">
        <span>{{serology?.hbsAG}}</span>
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(serology?.antiHav)">
      <div class="col-5">
        <span class="r-label">Anti-HAV</span>
      </div>
      <div class="col-3 r-text">
        <span>{{serology?.antiHav}}</span>
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(serology?.vdrl)">
      <div class="col-5">
        <span class="r-label">VDRL/RPR</span>
      </div>
      <div class="col-3 r-text">
        <span>{{serology?.vdrl}}</span>
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(serology?.antiHBS)">
      <div class="col-5">
        <span class="r-label">Anti-HBS</span>
      </div>
      <div class="col-3 r-text">
        <span>{{serology?.antiHBS}}</span>
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(serology?.hbeAG)">
      <div class="col-5">
        <span class="r-label">HBeAG</span>
      </div>
      <div class="col-3 r-text">
        <span>{{serology?.hbeAG}}</span>
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(serology?.antiHBE)">
      <div class="col-5">
        <span class="r-label">Anti-Hbe</span>
      </div>
      <div class="col-3 r-text">
        <span>{{serology?.antiHBE}}</span>
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(serology?.antiHBC)">
      <div class="col-5">
        <span class="r-label">Anti-Hbc</span>
      </div>
      <div class="col-3 r-text">
        <span>{{serology?.antiHBC}}</span>
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(serology?.psanti)">
      <div class="col-5">
        <span class="r-label">Prostate specific antigen ( PSA )</span>
      </div>
      <div class="col-3 r-text">
        <span>{{serology?.psanti}}</span>
      </div>
      <div class="col-4 n-value">
        ng/mL 0 - 4
      </div>
    </div>
    <div class="row" *ngIf="math.hideRes(serology?.tppa)">
      <div class="col-5">
        <span class="r-label">TPPA</span>
      </div>
      <div class="col-3 r-text">
        <span>{{serology?.tppa}}</span>
      </div>
    </div>

    <!-- thyphidot -->
    <div class="row">
      <div class="col-12" *ngIf="math.hideRes(serology?.tydotigM) || math.hideRes(serology?.tydotigG)">
        <div class="row">
          <div class="col-12 label-1">
            Typhidot
          </div>
        </div>
        <div class="row" *ngIf="math.hideRes(serology?.tydotigM)">
          <div class="col-5">
            <span class="r-label">IgM</span>
          </div>
          <div class="col-3 r-text">
            <span>{{serology?.tydotigM}}</span>
          </div>
        </div>
        <div class="row" *ngIf="math.hideRes(serology?.tydotigG)">
          <div class="col-5">
            <span class="r-label">IgG</span>
          </div>
          <div class="col-3 r-text">
            <span>{{serology?.tydotigG}}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Thyroid -->
    <div class="row">
      <div class="col-12" *ngIf="math.hideRes(serology?.tsh) || math.hideRes(serology?.ft3) || math.hideRes(serology?.t3) ||
        math.hideRes(serology?.ft4)">
        <div class="row">
          <div class="col-12 label-1">
            Thyroid
          </div>
        </div>
        <div class="row" *ngIf="math.hideRes(serology?.tsh)">
          <div class="col-5">
            <span class="r-label">TSH</span>
          </div>
          <div class="col-3 r-text">
            <span>{{serology?.tsh}}</span>
          </div>
          <div class="col-4 n-value">
            uIU/mL 0.4 - 5.0
          </div>
        </div>
        <div class="row" *ngIf="math.hideRes(serology?.ft3)">
          <div class="col-5">
            <span class="r-label">FT3</span>
          </div>
          <div class="col-3 r-text">
            <span>{{serology?.ft3}}</span>
          </div>
          <div class="col-4 n-value">
            ng/mL 0.52 - 1.85
          </div>
        </div>
        <div class="row" *ngIf="math.hideRes(serology?.t3)">
          <div class="col-5">
            <span class="r-label">T3</span>
          </div>
          <div class="col-3 r-text">
            <span>{{serology?.t3}}</span>
          </div>
          <div class="col-4 n-value">
            ng/dL 81.0 - 178.0
          </div>
        </div>
        <div class="row" *ngIf="math.hideRes(serology?.ft4)">
          <div class="col-5">
            <span class="r-label">FT4</span>
          </div>
          <div class="col-3 r-text">
            <span>{{serology?.ft4}}</span>
          </div>
          <div class="col-4 n-value">
            ng/dL 0.8 - 2.0
          </div>
        </div>
        <div class="row" *ngIf="math.hideRes(serology?.t4)">
          <div class="col-5">
            <span class="r-label">T4</span>
          </div>
          <div class="col-3 r-text">
            <span>{{serology?.t4}}</span>
          </div>
          <div class="col-4 n-value">
            ug/dL 4.4 - 11.6
          </div>
        </div>
      </div>
    </div>

    <!-- C-Reactive Protein -->
    <div class="row">
      <div class="col-12" *ngIf="math.hideRes(serology?.crpdil) || math.hideRes(serology?.crpres)">
        <div class="row">
          <div class="col-12 label-1">
            C-Reactive Protein
          </div>
        </div>
        <div class="row" *ngIf="math.hideRes(serology?.crpdil)">
          <div class="col-5">
            <span class="r-label">Dilution</span>
          </div>
          <div class="col-3 r-text">
            <span>{{serology?.crpdil}}</span>
          </div>
          <div class="col-4 n-value">
            uIU/mL 0.4 - 5.0
          </div>
        </div>
        <div class="row" *ngIf="math.hideRes(serology?.crpres)">
          <div class="col-5">
            <span class="r-label">Result</span>
          </div>
          <div class="col-3 r-text">
            <span>{{serology?.crpres}}</span>
          </div>
          <div class="col-4 n-value">
            &lt; 6 mg/L
          </div>
        </div>
      </div>
    </div>

    <!-- Human Immunodeficiency Viruses ( HIV ) -->
    <div class="row">
      <div class="col-12" *ngIf="math.hideRes(serology?.hiv1) || math.hideRes(serology?.hiv2)">
        <div class="row">
          <div class="col-12 label-1">
            Human Immunodeficiency Viruses ( HIV )
          </div>
        </div>
        <div class="row" *ngIf="math.hideRes(serology?.hiv1)">
          <div class="col-5">
            <span class="r-label">Test 1</span>
          </div>
          <div class="col-3 r-text">
            <span>{{serology?.hiv1}}</span>
          </div>
        </div>
        <div class="row" *ngIf="math.hideRes(serology?.hiv2)">
          <div class="col-5">
            <span class="r-label">Test 2</span>
          </div>
          <div class="col-3 r-text">
            <span>{{serology?.hiv2}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="math.hideRes(serology?.cea)">
      <div class="col-5">
        <span class="r-label">Carcinoembryonic Antigen</span>
      </div>
      <div class="col-3 r-text">
        <span>{{serology?.cea}}</span>
      </div>
      <div class="col-4 n-value">
        ng/mL 0 - 5
      </div>
    </div>

    <div class="row" *ngIf="math.hideRes(serology?.afp)">
      <div class="col-5">
        <span class="r-label">AFP</span>
      </div>
      <div class="col-3 r-text">
        <span>{{serology?.afp}}</span>
      </div>
      <div class="col-4 n-value">
        IU/mL 0.5-5.5
      </div>
    </div>

    <div class="row" *ngIf="math.hideRes(serology?.ca125)">
      <div class="col-5">
        <span class="r-label">Cancer Antigen 125</span>
      </div>
      <div class="col-3 r-text">
        <span>{{serology?.ca125}}</span>
      </div>
      <div class="col-4 n-value">
        U/mL 0 - 35
      </div>
    </div>

    <div class="row" *ngIf="math.hideRes(serology?.ca19)">
      <div class="col-5">
        <span class="r-label">Cancer Antigen 19-9</span>
      </div>
      <div class="col-3 r-text">
        <span>{{serology?.ca19}}</span>
      </div>
      <div class="col-4 n-value">
        U/mL 0 - 39
      </div>
    </div>

    <div class="row" *ngIf="math.hideRes(serology?.ca15)">
      <div class="col-5">
        <span class="r-label">Cancer Antigen 15-3</span>
      </div>
      <div class="col-3 r-text">
        <span>{{serology?.ca15}}</span>
      </div>
      <div class="col-4 n-value">
        U/mL 0 - 25
      </div>
    </div>

    <div class="row" *ngIf="math.hideRes(serology?.seroOt)">
      <div class="col-3">
        <span class="r-label">Other Notes</span>
      </div>
      <div class="col-8 r-text" style="text-align: left;">
        <span>{{serology?.seroOt}}</span>
      </div>
    </div>

    <!-- Toxicology -->
    <div class="row">
      <div class="col-12"
        *ngIf="math.hideRes(toxicology?.meth) || math.hideRes(toxicology?.tetra) || math.hideRes(toxicology?.drugtest)">
        <div class="row">
          <div class="col-12 label-1">
            Toxicology
          </div>
        </div>
        <div class="row" *ngIf="math.hideRes(toxicology?.meth)">
          <div class="col-5">
            <span class="r-label">METHAMPHETHAMINE</span>
          </div>
          <div class="col-3 r-text">
            <span>{{toxicology?.meth}}</span>
          </div>
        </div>
        <div class="row" *ngIf="math.hideRes(toxicology?.tetra)">
          <div class="col-5">
            <span class="r-label">TETRAHYDROCANABINOL</span>
          </div>
          <div class="col-3 r-text">
            <span>{{toxicology?.tetra}}</span>
          </div>
        </div>
        <div class="row" *ngIf="math.hideRes(toxicology?.drugtest)">
          <div class="col-5">
            <span class="r-label">Drug Test Result</span>
          </div>
          <div class="col-3 r-text">
            <span>{{toxicology?.drugtest}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <hr>
      </div>
    </div>

    <!-- COVID -->
    <div class="row">
      <div class="col-12">
        <div class="row" *ngIf="math.hideRes(serology?.sarsg)">
          <div class="col-5 r-label">
            SARS-Cov2 IgG
          </div>
          <div class="col-3 r-text">
            <span>{{serology?.sarsg}}</span>
          </div>
        </div>
    
        <div class="row" *ngIf="math.hideRes(serology?.sarsm)">
          <div class="col-5 r-label">
            SARS-Cov2 IgM
          </div>
          <div class="col-3 r-text">
            <span>{{serology?.sarsm}}</span>
          </div>
        </div>
    
        <div class="row">
          <div class="col-5 r-label">
            METHOD: LATERAL FLOW ASSAY
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
