.label-1{
  font-weight: bold;
}
.r-label{
   color: #104E8B;
   margin-left: 15px;
   letter-spacing: 1px;
}
.r-text{
   border-bottom: solid 1px #000;
   text-align: center;
   font-weight: bold;
}
.n-value{
   color: #000;
}
.row{
   margin-top: 5px;
}
