@media screen {
  :host {
    display: none;
  }
}

table {
  border-collapse: collapse;
  border: 2px solid black;
}

.bb {
  border-bottom: 2px solid black;
}

.bl {
  border-left: 2px solid black;
}
