<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 mt-4" *ngFor="let sticker of stickers; index as i">
        <table width="480px" height="90px" style="font-size: 16px">
          <tr>
            <td colspan="3" class="bb text-center">
              QUESTPHIL DIAGNOSTICS
            </td>
          </tr>
          <tr>
            <td width="300px">
              <b>{{ sticker.patient?.fullName }}</b>
            </td>
            <td rowspan="3" colspan="2" style="width: 50px; font-size: 40px" class="bb bl text-center">
              <b>{{ sticker.transaction?.transactionId }}</b>
            </td>
          </tr>
          <tr>
            <td><b>{{ sticker.patient?.age }}/{{ sticker.patient?.gender }}</b></td>
          </tr>
          <tr>
            <td class="bb"><b> {{ sticker.patient?.companyName }} </b></td>
          </tr>
          <tr>
            <td>
              <b>{{ sticker.xray?.xrayType }} </b>
            </td>
            <td style="width: 100px" class="bl text-center">
              {{ sticker.xray?.radTech }}
            </td>
            <td style="width: 100px" class="bl text-center">
              {{ sticker.transaction?.transactionDate | date: 'yyyy/MM/dd'}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</mat-dialog-content>
