<transaction-list listType="emailResults"></transaction-list>

<div class="container py-3 mb-3">
    <div class="form-group row bg-white rounded border mat-elevation-z2">

      <div class="col-md-3">
        <div class="form-group row">
          <div class="col-md-12">
            <p class="h6 bold-2 ls-2 mt-3" style="margin-right: -25px;">Send Email Results</p>
          </div>
          <div class="col-md-12">
            <button mat-raised-button color="accent" (click)="openDialog()" matTooltip="Manage credentials" class="mt-3">
              <mat-icon>mail</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
