<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-8">
      <doc-head [patientId]="patientId"></doc-head>
      <blank-page-print *ngIf="type == 'blank'"></blank-page-print>
      <print-medication *ngIf="type == 'medication'"></print-medication>
      <print-medcert *ngIf="type == 'medcert'"></print-medcert>
      <print-clearance *ngIf="type == 'clearance'"></print-clearance>
      <print-request *ngIf="type == 'request'"></print-request>
      <print-covid *ngIf="type == 'covid'"></print-covid>
      <doc-foot></doc-foot>
    </div>
  </div>
</div>
