.date {
  font-size: 12px;
}

.right {
  text-align: right;
}

.bold-1 {
  color: #16036b;
}

.date .line {
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
}

.title {
  width: 100%;
  text-align: center;
  background-color: #16036b;
  color: white;
}

.lineLabel {
  color: #104E8B;
  font-family: "Times New Roman";
}

.lineValue {
  color: #000;
  font-weight: bold;
}
