<div class="col-md-12" style="margin-top: 5px;padding: 5px;">
  <!-- <div class="col-md-12" style="top: -5px;"> -->
  <img src="../../../../assets/image/QPDHeader.png" height="100px" width="100%" >
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 bold-1 ls-1 lineLabel">
      Name:
    </div>
    <div class="col-5 lineValue">
      {{patient?.lastName}}, {{patient?.firstName}} {{patient?.middleName}}
    </div>
    <div class="col-2 bold-1 ls-1 lineLabel">
      Lab Number:
    </div>
    <div class="col-3 lineValue">
      {{transaction?.transactionId}}
    </div>
  </div>
  <div class="row">
    <div class="col-2 bold-1 ls-1 lineLabel">
      Gender:
    </div>
    <div class="col-2 lineValue">
      {{patient?.gender}}
    </div>
    <div class="col-1 bold-1 ls-1 lineLabel">
      Age:
    </div>
    <div class="col-2 lineValue">
      {{patient?.age}}
    </div>
    <div class="col-2 bold-1 ls-1 lineLabel">
      QuestID:
    </div>
    <div class="col-3 lineValue">
      {{patient?.patientID}}
    </div>
  </div>
  <div class="row">
    <div class="col-2 bold-1 ls-1 lineLabel">
      Referred by:
    </div>
    <div class="col-5 lineValue">
      {{patient?.companyName}}
    </div>
  </div>
  <div class="row date mt-1">
    <div class="col-4">
      <span class="bold-1 ls-1 lineLabel">Date Received: &nbsp;&nbsp;</span>
      <span class="line lineValue">{{transaction?.transactionDate}}</span>
    </div>
    <div class="col-4">
      <span class="bold-1 ls-1 lineLabel">Reported: &nbsp;&nbsp;</span>
      <span class="line lineValue">{{createdDate}}</span>
    </div>
    <div class="col-4">
      <span class="bold-1 ls-1 lineLabel">Printed: &nbsp;&nbsp;</span>
      <span class="line lineValue">{{math.getDateNow()}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="p-1 title-dash bold-2 ls-2 mt-2">LABORATORY RESULT</div>
    </div>
  </div>
</div>
