<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content>
    <div class="container">
      <div class="form-group row">
        <div class="col-md-12">
          <p class="h5">
            {{ labelText }}
          </p>
        </div>
      </div>

      <hr>

      <div class="form-group row" *ngIf="type == 'category'">
        <mat-form-field class="col-md-12">
          <mat-label>Category name</mat-label>
          <input matInput formControlName="category">
        </mat-form-field>
      </div>

      <div class="form-group row" *ngIf="type == 'option'">
        <mat-form-field class="col-md-12">
          <mat-label>Select Category</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category.docReqCatId">{{ category.category }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-12">
          <mat-label>Option name</mat-label>
          <input matInput formControlName="option">
        </mat-form-field>
      </div>

      <div class="form-group row">
        <div class="col-md-12 text-right">
          <button type="button" mat-raised-button color="accent" (click)="cancel()">
            <mat-icon>close</mat-icon> Cancel
          </button>

          <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid" class="ml-2">
            <mat-icon>save</mat-icon> Save
          </button>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</form>