<div class="mx-2 my-2">
  <table width="450px" height="85px" style="font-size: 17px">
    <tr>
      <td colspan="3" class="bb text-center">QUEST PHIL DIAGNOSTICS</td>
    </tr>
    <tr>
      <td width="450px">
        <b>{{ patientData['fullName'] }}</b>
      </td>
      <td rowspan="3" colspan="2" style="width: 50px; font-size: 45px;" class="bl bb text-center">
        <b>{{ transactionId }}</b>
      </td>
    </tr>
    <tr>
      <td><b> {{ patientData['age'] + '/' + patientData['gender'] }}</b></td>
    </tr>
    <tr>
      <td class="bb"><b> {{ patientData['companyName'] }} </b></td>
    </tr>
    <tr>
      <td>
        <b>{{ data[2] }}</b>
      </td>
      <td style="width: 100px" class="bl text-center">
        {{ data[1] }}
      </td>
      <td style="width: 100px" class="bl text-center">
        {{ transData['transactionDate'] | date: 'yyyy/MM/dd' }}
      </td>
    </tr>
  </table>
</div>
