.item-box-container{
    width: 100%;
    height: 580px;
}
.item-box-label{
    width: 100%;
    height: 60px;
    z-index: -1 !important;
}
.item-list-con{
    background-color: #628bde;
    height: 310px;
    overflow-y: auto;
}
.item-footer{
    width: 100%;
    height: 175px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #2980b9;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2980b9;
}
button {
    outline: none;
}
.discountBtn{
    line-height: 30px;
    min-width: 30px !important;
}
.total-label{
    position: absolute;
    font-size: 15px;
    font-weight: bolder;
    left: 10px;
}
mat-grid-tile[colspan='6'] span{
    position: absolute;
    right: 10px;
    font-weight: bold;
    color: darkslategray;
}
mat-grid-tile[colspan='4'] span{
    color: white;
    letter-spacing: 1px;
}
.transbtn{
    position: absolute;
    top:70px;
}
.back{
    position: absolute;
    left: 10px;
}
.moneybtn{
    line-height: 20px;
    min-width: 20px !important;
}
.moneycon{
    position: absolute;
    top: 0px;
}
.arError{
    position: absolute;
    bottom: 5px;
}
.input-group-sm{
    position: absolute;
    width:400px
}
.patHead{
    position: absolute;
    top: -15px;
    left: 10px;
}
.patHeadCon{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
}
.bg-dark{
    color:white;
}
.patinfo{
    position: absolute;
    left:10px;
}
.patclose{
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
.otherBtn{
    position: absolute;
    bottom: 10px;
}
.transBtnlabel{
    position: absolute;
    top: 20px;
}

.transcolor {
  background-color: #628bde;
  color: #fff;
}

.transcolorfacebook {
  background-color: #4267B2;
}
