<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 mt-2">
      <!-- transaction information -->
      <mat-grid-list cols="10" rowHeight="10px">
        <mat-grid-tile *ngIf="transID != undefined" colspan="10" rowspan="4" class="bg-info text-light">
          <div style="position: absolute; left: 10px">
            Unhold transaction ID: <span class="bold-1">{{transID}}</span>
          </div>
          <div style="position: absolute; right: 20px">
            <button mat-button (click)="cancel()" class="bg-danger text-light" style="left: 10px">
              Cancel
            </button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <!-- Item selection -->
      <select-item itemURL="AllItems" placeholder="Select Items" (selectTrig)="getItem($event )">
      </select-item>
      <div class="row">
        <div class="col-md-8">
          <!-- Item account selection -->
          <app-select-item-account itemURL="AllItems"
            placeholder="Select Items" (selectTrig)="getItem($event )">
          </app-select-item-account>
        </div>
        <div class="col-md-4">
          <button mat-raised-button (click)="addCompany()" class="mt-1 bg-info text-light ls-1"
            style="background-color: #4267B2 !important">
            <clr-icon shape="plus"></clr-icon>&nbsp; Company
          </button>
        </div>

      </div>
      <!-- patient selection -->
      <div class="row mt-3">
        <div class="col-8">
          <select-patient patientURL="getPatient" placeholder="Patient List" (selectTrig)="getPatient($event)">
          </select-patient>
        </div>

          <div class="col-4">
            <button mat-raised-button (click)="newPatient()" class="mt-2 bg-info text-light ls-1"
              style="background-color: #4267B2 !important">
              <clr-icon shape="plus"></clr-icon>&nbsp; New Patient
            </button>
          </div>
      </div>
      <!-- patient information container -->
      <mat-grid-list *ngIf="patient !== undefined"
      cols="20" rowHeight="5px" class="animated fadeIn mt-2" gutterSize="0px">
        <mat-grid-tile colspan="20" rowspan="10" >
          <div class="bg-facebook patHeadCon" >
            <div  class="bg-success patHead shadow-light p-2 pl-4 pr-4 text-light">
              <clr-icon shape="assign-user"></clr-icon>
              <span class="ls-2"> PATIENT INFO</span>
            </div>
            <span class="patclose text-white" (click)="resetPatient()">
              <clr-icon shape="times" size="25"></clr-icon>
            </span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="20" rowspan="1" ></mat-grid-tile>
        <mat-grid-tile colspan="20" rowspan="8" class="bg-facebook-light">
          <div class="patinfo">
            <span class="bold-1 ls-1 text-white">NAME: </span>
            &nbsp;&nbsp;<span class="text-light ls-1">{{patient?.fullName}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="7" rowspan="8" class="bg-facebook-light" >
          <div class="patinfo">
            <span class="bold-1 ls-1 text-white">AGE: </span>
            &nbsp;&nbsp;<span class="text-light ls-1">{{patient?.age}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="13" rowspan="8" class="bg-facebook-light" >
          <div class="patinfo">
            <span class="bold-1 ls-1 text-white">BirthDate: </span>
            &nbsp;&nbsp;<span class="text-light ls-1">{{patient?.birthdate}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="7" rowspan="8" class="bg-facebook-light" >
          <div class="patinfo">
            <span class="bold-1 ls-1 text-white">Gender: </span>
            &nbsp;&nbsp;<span class="text-light ls-1">{{patient?.gender}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="13" rowspan="8" class="bg-facebook-light" >
          <div class="patinfo">
            <span class="bold-1 ls-1 text-white">Position: </span>
            &nbsp;&nbsp;<span class="text-light ls-1">{{patient?.position}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="20" rowspan="8" class="bg-facebook-light" >
          <div class="patinfo">
            <span class="bold-1 ls-1 text-white">Address: </span>
            &nbsp;&nbsp;<span class="text-light ls-1">{{patient?.address}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="20" rowspan="8" class="bg-facebook-light" >
          <div class="patinfo">
            <span class="bold-1 ls-1 text-white">Company: </span>
            &nbsp;&nbsp;<span class="text-light ls-1">{{patient?.companyName}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="20" rowspan="1"></mat-grid-tile>
        <mat-grid-tile colspan="20" rowspan="10" class="bg-facebook">
          <button mat-raised-button (click)="editPatient()" class="bg-facebook-light shadow-light text-light">
            <clr-icon shape="pencil"></clr-icon> Edit
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div class="col-md-7 mt-2 pl-2 ">
      <div class="transcolor item-box-container">
        <div class="item-box-label transcolorfacebook mb-1">
          <mat-grid-list cols="20" rowHeight="60px" >
            <mat-grid-tile colspan="9" rowspan="1" class="text-light ls-2 bold-3 ts-2">
              ITEM LIST
            </mat-grid-tile>
            <mat-grid-tile colspan="4" rowspan="1" class="text-light ls-1" *ngIf="transType === 'CASH'">
              Add Discount:
            </mat-grid-tile>
            <mat-grid-tile colspan="7" rowspan="1" *ngIf="transType === 'CASH'">
              <button *ngFor="let discbtn of discountBtn"
              mat-raised-button (click)="addDiscount(discbtn)" class="discountBtn ml-1">
                {{discbtn}}
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <!-- selected items -->
        <div class="pr-3 item-list-con" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <item-box *ngFor="let item of items; index as index;" [index]="index"
            [itemInfo]="item" (deleteThis)="deleteItem($event)" [discount]="discount"
            (getTotal)="itemTotal($event)">
          </item-box>
        </div>
        <div class="item-footer transcolorfacebook mt-1 container-fluid">
          <div class="row">
            <div class="col-md-8 transcolorfacebook">
              <mat-grid-list cols="20" rowrHeight="10px">
                <mat-grid-tile *ngIf="transType === undefined" colspan="20" rowspan="9">
                  <!-- Transaction type button label -->
                  <div class="bg-success shadow-light p-1 pl-3 pr-3 ls-1 text-light transBtnlabel">
                    Select Transaction Type:
                  </div>
                  <!-- Transaction type button container -->
                  <div class="transbtn">
                    <button mat-raised-button class="m-1 animated jackInTheBox"
                    class="mt-2 bg-info text-light ls-1" style="background-color: #628bde !important;" *ngFor="let btn of
                    transTypeBTN "
                      (click)="changeTrans(btn.name)"
                      [disabled]="!btn.status"
                    >{{btn.name}}
                    <!--  -->
                    </button>
                  </div>
                  <div class="otherBtn " style="left: 10px">
                    <button mat-button (click)="cancel()" class="bg-danger text-light" style="left: 10px">
                      Cancel
                    </button>
                  </div>
                  <!-- <div class="otherBtn" style="right: 10px"> -->
                  <div class="otherBtn">
                    <!--<button mat-raised-button
                    (click)="addCompany()" class="ml-1 bg-facebook-light text-light" >
                      Add Company
                    </button>-->
                    <button mat-raised-button (click)="holdTrans()"
                     class="ml-1 bg-facebook-light text-light">
                      Held Transaction
                    </button>
                  </div>
                </mat-grid-tile>
                <!-- back button: to reselect transaction type -->
                <mat-grid-tile *ngIf="transType !== undefined" colspan="20" rowspan="2">
                  <button mat-raised-button class="edge animated fadeInRight back" (click)="changeTrans(undefined)">
                    <mat-icon>arrow_back_ios</mat-icon> Back
                  </button>
                  <span class="ls-1 bold-1 text-light">{{transType}}</span>
                </mat-grid-tile>
                <!-- main container of CASHIER transaction type -->
                <mat-grid-tile *ngIf="transType === 'CASH'" colspan="20" rowspan="5">
                  <div class="moneycon">
                    <label class="mr-2 text-light">Tendered: </label>
                    <button mat-raised-button class="moneybtn mr-1"
                    *ngFor="let money of moneyBtn" (click)="addMoney(money)">
                      {{money}}
                    </button>
                  </div>
                  <div class="input-group" style="width: 400px !important">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-success text-light">
                        Amount Received</span>
                    </div>
                    <input type="number" class="form-control" [formControl]="receivedAmount">
                    <div class="input-group-append">
                      <button class="btn btn-success" type="button" (click)="changeCurrency()">
                         {{currency}}
                      </button>
                    </div>
                      <button class="btn btn-danger" type="button" (click)="clear()">
                      CLEAR
                      </button>
                  </div>
                  <span *ngIf="arError !== undefined" class="badge badge-danger arError animated rubberBand">
                    <clr-icon shape="exclamation-triangle"></clr-icon>
                    {{arError}}&nbsp;
                  </span>
                </mat-grid-tile>
                <!-- main container of APE and ACCOUNT transaction type -->
                <mat-grid-tile *ngIf="transType === 'ACCOUNT' || transType === 'APE'" colspan="20" rowspan="5">
                  <company-select companyURL="getCompany" placeholder="Biller" (selectTrig)="getBiller($event)"
                    [selected]="patCompany">
                  </company-select>
                </mat-grid-tile>
                <!-- main container of HMO transaction type -->
                <mat-grid-tile *ngIf="transType === 'HMO'" colspan="20" rowspan="5">
                  <div class="input-group input-group-sm mb-3" style="top: 50px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">LOE Number</span>
                    </div>
                    <input type="text" class="form-control" [formControl]="LOENumber">
                  </div>
                  <div class="input-group input-group-sm mb-3" style="top: 85px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Account Number</span>
                    </div>
                    <input type="text" class="form-control" [formControl]="AccountNumber">
                  </div>
                  <div style="position:absolute;top: 0px;width: 80%;">
                    <company-select companyURL="getCompany" placeholder="Biller" (selectTrig)="getBiller($event)"
                      [selected]="patCompany">
                    </company-select>
                  </div>
                </mat-grid-tile>
                <!-- save and save print container -->
                <mat-grid-tile *ngIf="transType !== undefined" colspan="20" rowspan="2" >
                  <!-- <button mat-raised-button (click)="save('HOLD')"
                  [disabled]="patient === undefined || items.length == 0 || transID != undefined"
                  style="position: absolute; left: 10px">
                  Hold Transaction</button> -->
                  <button mat-raised-button (click)="save('HOLD')" style="position: absolute; left: 10px">Hold Transaction</button>
                  <div style="position: absolute; right: 10px">
                    <button mat-raised-button
                      [disabled]="patient === undefined || items.length == 0 || arError !== undefined"
                      (click)="save('SAVE')" color="accent" class="mr-2 animated fadeIn">
                      <clr-icon shape="floppy"></clr-icon> SAVE
                    </button>
                    <button mat-raised-button
                    [disabled]="patient === undefined || items.length == 0 || arError !== undefined"
                    (click)="save('PRINT')" color="primary"
                    class="animated fadeIn bg-facebook-light">
                      <clr-icon shape="printer" ></clr-icon> SAVE & PRINT
                    </button>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
            <!-- total, subtotal, discount, change container -->
            <div class="col-md-4 mt-3 transcolorfacebook">
              <mat-grid-list cols="10" rowHeight="10px" gutterSize="0px">
                <mat-grid-tile colspan="6" rowspan="3">
                  <span class="text-white text-dark-shadow">Sub Total: </span>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                  <span class="text-dark-shadow">{{subTotal}}</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="6" rowspan="3">
                  <span class="text-white text-dark-shadow" *ngIf="transType === 'CASH'">Discounted: </span>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3" *ngIf="transType === 'CASH'">
                  <span class="text-dark-shadow">{{discounted}}</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="6" rowspan="3" [ngClass]="{'bg-facebook-light': transType === 'CASH'}">
                  <span class="text-white text-dark-shadow" style="font-size: 1.5em;" *ngIf="transType === 'CASH'">CHANGE: </span>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3" [ngClass]="{'bg-facebook-light': transType === 'CASH'}">
                  <span class="text-white text-dark-shadow font-weight-bold" style="font-size: 1.5em;" *ngIf="transType === 'CASH'">{{change | number}}</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="10" rowspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="10" rowspan="2" class="bg-success shadow-light text-light">
                  <span class="total-label ls-1 text-dark-shadow">Total Amount Due:</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="10" rowspan="5" class="bg-success shadow-light text-light" style="font-size: 2em;" >
                  <span class="ls-1 ts-3 bold-1 text-dark-shadow" >{{totalVal}}</span>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
