button {
    outline: none;
}
.mat-form-field.left, company-select{
    position: absolute;
    left:20px;
    width: 85%;
}
.mat-form-field.right{
    position: absolute;
    right:20px;
    width: 85%;
}
.close{
    float: right;
}
.submit{
    float: center;
}
