<div mat-dialog-content>
  <div class="form-group row">
    <div class="header mt-1 ls-2">
      <span class="bold-2">{{ title }}</span>
    </div>
  </div>
  <form [formGroup]="patientForm" class="mx-auto" autocomplete="off">
    <div class="form-group row">
      <div class="col-md-6">
        <mat-grid-list cols="12" rowHeight="17px" gutterSize="0px">

          <!--Company -->
          <mat-grid-tile colspan="12" rowspan="4">
            <company-select companyURL="getCompany" placeholder="Company List / Doctor" (selectTrig)="getCompany($event)"
              [selected]="patCompany">
            </company-select>
          </mat-grid-tile>

          <!--Applied Position -->
          <mat-grid-tile colspan="12" rowspan="4">
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Applied Position" formControlName="position">
            </mat-form-field>
          </mat-grid-tile>

          <!--First Name-->
          <mat-grid-tile colspan="12" rowspan="4">
            <mat-form-field class="col-md-12">
              <input matInput cdkFocusInitial placeholder="First name" formControlName="firstName" class="text-uppercase">
              <mat-hint>*Required Field</mat-hint>
              <mat-error *ngIf="patientForm.get('firstName').hasError('required')">
                First Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <!--Middle Name -->
          <mat-grid-tile colspan="12" rowspan="4">
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Middle Name" formControlName="middleName" class="text-uppercase">
              <mat-hint>*Required Field</mat-hint>
              <mat-error *ngIf="patientForm.get('middleName').hasError('required')">
                Middle Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <!--Last name-->
          <mat-grid-tile colspan="12" rowspan="4">
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Last Name" formControlName="lastName" class="text-uppercase">
              <mat-hint>*Required Field</mat-hint>
              <mat-error *ngIf="patientForm.get('lastName').hasError('required')">
                Last Name <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <!--Address -->
          <mat-grid-tile colspan="12" rowspan="4">
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Address" formControlName="address" class="text-uppercase">
              <mat-error *ngIf="patientForm.get('address').hasError('required')">
                Address is <strong>required</strong>
              </mat-error>
              <mat-hint>*Required Field</mat-hint>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>


      </div>


      <div class="col-md-6">
        <mat-grid-list cols="12" rowHeight="17px" gutterSize="0px">

          <!--Birth -->
          <mat-grid-tile colspan="12" rowspan="4">
            <mat-form-field class="col-md-12">
              <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="mm/dd/yyyy" [max]="maxDate"
                formControlName="birthdate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint>*Required Field</mat-hint>
              <mat-error *ngIf="patientForm.get('birthdate').hasError('required')">
                Birth Date is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <!--Age-->
          <mat-grid-tile colspan="12" rowspan="4">
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Age" type="number" formControlName="age">
              <mat-hint>*Required Field</mat-hint>
              <mat-error *ngIf="patientForm.get('age').hasError('required')">
                Age is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <!--Gender-->
          <mat-grid-tile colspan="12" rowspan="4">
            <mat-form-field class="col-md-12">
              <mat-select placeholder="Gender" formControlName="gender">
                <mat-option value=""></mat-option>
                <mat-option value="MALE">Male</mat-option>
                <mat-option value="FEMALE">Female</mat-option>
              </mat-select>
              <mat-hint>*Required Field</mat-hint>
              <mat-error *ngIf="patientForm.get('gender').hasError('required')">
                Gender is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <!--Contact no -->
          <mat-grid-tile colspan="12" rowspan="4">
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Contact Number" formControlName="contactNo" (keypress)=isNumber($event)>
              <mat-hint>*Required Field</mat-hint>
              <mat-error *ngIf="patientForm.get('contactNo').hasError('required')">
                Contact is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <!--Notes-->
          <mat-grid-tile colspan="12" rowspan="4">
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Notes" formControlName="notes" class="text-uppercase">
            </mat-form-field>
          </mat-grid-tile>

          <!--Senior ID / PWD ID -->
          <mat-grid-tile colspan="12" rowspan="4">
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Senior ID / PWD ID" formControlName="sid">
            </mat-form-field>
          </mat-grid-tile>

          <!--Type-->
          <mat-grid-tile colspan="12" rowspan="4" style="visibility: hidden;">
            <mat-form-field class="col-md-12">
              <mat-select placeholder="Type" formControlName="patientType">
                <mat-option value=""></mat-option>
                <mat-option value="DocPatient">Doctor's Patient</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12 text-center">

        <button mat-raised-button [disabled]="!patientForm.valid" (click)="savePatient()" color="primary">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
