<form [formGroup]="form" (ngSubmit)="formSubmit()">
  <div class="form-group row">
    <div class="col-md-12 text-center">
      <h5>Enter admin password for confirmation</h5>
    </div>
  </div>
  <div class="form-group row">
    <mat-form-field class="col-md-12">
      <input matInput type="password" formControlName="password" cdkFocusInitial placeholder="Input password">
    </mat-form-field>
  </div>
  <div class="form-group row">
    <div class="col-md-12 text-center">
      <button mat-button matDialogClose>Cancel</button>
      <button mat-raised-button color="primary" type="submit">Verify</button>
    </div>
  </div>
</form>
