<mat-form-field style="width: 100%">
  <mat-select [formControl]="itemCtrl" placeholder="Accounts" #singleSelect>
    <mat-option>
      <ngx-mat-select-search [formControl]="itemFilterCtrl" placeholderLabel="Search Item"
        (selectionChange)="changeEvent()"></ngx-mat-select-search>
    </mat-option>
    <mat-optgroup *ngFor="let items of filteredItems | async" [label]="items.name">
      <mat-option *ngFor="let item of items.items" [value]="item" style="font-size: 12px">
        <span style="white-space: pre">{{item.itemName}} -- {{ item.itemDescription }}</span><span class="price bold-1">
          {{item.itemPrice}}</span>
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
