<mat-dialog-content>
  <form [formGroup]="qcForm" (ngSubmit)="qc()">
    <div class="container-fluid">
      <div class="col-sm-12">
        <div class="card" style="border-radius: 0px; margin-top: 10px; border: 3px solid #104E8B;">
          <div class="card-header text-center">
            <b>QUEST PHIL DIAGNOSTICS MEDICAL CERTIFICATE</b>
          </div>
          <div class="card-block text-center" style="height: 2in;">
            <p class="para">
              <b>Medical Examination Rating System</b> (DOH, Bureau of Licensing and Regulation; Administrative Code no.
              85-A series 1990)
            </p>
            <br>
            <div class="row mx-2">
              <div class="col text-center">
                <p class="cert">I certify that I have examined
                  <u>{{ patientDatas?.lastName + ', ' + patientDatas?.firstName + ' ' + patientDatas?.middleName }}</u>
                  and found applicant of <u>{{ patientDatas?.companyName }}</u>
                  with a classification of <u class="{{ class }}">{{ class }}</u> as of
                  <u>{{ (classification?.creationDate == null) ? date : classification?.creationDate }}</u>.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <p class="labelName">Others/Notes:</p>
              </div>
              <div class="col-sm-4">
                <p class="line {{ notes }}">{{ classification?.notes == 'NORMAL' ? '' : classification?.notes }}</p>
              </div>
              <div class="col-sm-2">
                <p class="labelName">Physician:</p>
              </div>
              <div class="col-sm-4">
                <p class="line">{{ pes?.doctor }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <p class="labelName"></p>
              </div>
              <div class="col-sm-4">
                <p class="lineName"></p>
              </div>
              <div class="col-sm-2">
                <p class="labelName">License:</p>
              </div>
              <div class="col-sm-4">
                <p class="lineName">{{ pes?.license }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card" style="border-radius: 0px; margin-top: 10px;">
          <div class="card-header text-center">
            <b>LABORATORY SCIENCES RESULT</b>
          </div>
          <div class="card-block" style="height: 5.7in; margin-left: 25px; margin-left: 25px;">
            <div class="row" style="padding-left: 13px;">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <p class="labelName">HEMATOLOGY</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="labelName">Complete Blood Count</p>
                  </div>
                </div>
                <div class="row" *ngIf="hemaDatas?.cbcrbc !== '' && hemaDatas?.cbcrbc !== 'N/A'">
                  <div class="col-5">
                    <p class="labelName">Red Blood</p>
                  </div>
                  <div class="col-2">
                    <p class="lineRes">{{ hemaDatas?.cbcrbc == '' ? '-' : hemaDatas?.cbcrbc }}</p>
                  </div>
                  <div class="col-2">
                    <p class="labelName">X10^6/L</p>
                  </div>
                  <div class="col-3">
                    <p class="labelName">4.32~5.72</p>
                  </div>
                </div>
                <div class="row" *ngIf="hemaDatas?.cbcrbc == '' && hemaDatas?.cbcrbc == 'N/A'">
                  <div class="col-5">
                    <p class="labelName">White Blood</p>
                  </div>
                  <div class="col-2">
                    <p class="lineRes">{{ hemaDatas?.cbcrbc == '' ? '-' : hemaDatas?.whiteBlood }}</p>
                  </div>
                  <div class="col-2">
                    <p class="labelName">%x10^9/L</p>
                  </div>
                  <div class="col-3">
                    <p class="labelName">4.23~11.07</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Hemoglobin</p>
                  </div>
                  <div class="col-2">
                    <p class="lineRes">{{ hemaDatas?.hemoglobin == '' ? '-' : hemaDatas?.hemoglobin }}</p>
                  </div>
                  <div class="col-2">
                    <p class="labelName">g/L</p>
                  </div>
                  <div class="col-3">
                    <p class="labelName">{{ hemaDatas?.hemoNR == '' ? '-' : hemaDatas?.hemoNR }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Hematocrit</p>
                  </div>
                  <div class="col-2">
                    <p class="lineRes">{{ hemaDatas?.hematocrit == '' ? '-' : hemaDatas?.hematocrit }}</p>
                  </div>
                  <div class="col-2">
                    <p class="labelName">VF</p>
                  </div>
                  <div class="col-3">
                    <p class="labelName">{{ hemaDatas?.hemaNR == '' ? '-' : hemaDatas?.hemaNR }}</p>
                  </div>
                </div>
                <!-- <div class="row">
            <div class="col"><p class="labelName">Differential Count</p></div>
          </div>
          <div class="row">
            <div class="col-5"><p class="labelName">Neutrophils</p></div>
            <div class="col-2"><p class="lineRes"><?php echo $data1['Neutrophils'] ?></p></div>
            <div class="col-2"><p class="labelName">%</p></div>
            <div class="col-3"><p class="labelName">34-71</p></div>
          </div>
          <div class="row">
            <div class="col-5"><p class="labelName">Lymphocytes</p></div>
            <div class="col-2"><p class="lineRes"><?php echo $data1['Lymphocytes'] ?></p></div>
            <div class="col-2"><p class="labelName">%</p></div>
            <div class="col-3"><p class="labelName">22-53</p></div>
          </div>
          <div class="row">
            <div class="col-5"><p class="labelName">Monocytes</p></div>
            <div class="col-2"><p class="lineRes"><?php echo $data1['Monocytes'] ?></p></div>
            <div class="col-2"><p class="labelName">%</p></div>
            <div class="col-3"><p class="labelName">5-12</p></div>
          </div> -->
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Other/Notes</p>
                  </div>
                  <div class="col">
                    <p class="lineRes1 {{ cbcot }}">{{ hemaDatas?.cbcot == '' ? 'NORMAL' : hemaDatas?.cbcot }}</p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <p class="labelName">SEROLOGY</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">HBsAg</p>
                  </div>
                  <div class="col">
                    <p class="lineRes1 {{ hbsag }}">{{ seroDatas?.hbsAG == '' ? '-' : seroDatas?.hbsAG }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Pregnancy Test</p>
                  </div>
                  <div class="col">
                    <p class="lineRes1 {{ pt }}">{{ microDatas?.pregTest == '' ? '-' : microDatas?.pregTest }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Others/Notes</p>
                  </div>
                  <div class="col">
                    <p class="lineRes1">{{ seroDatas?.seroOt == '' ? 'NORMAL' : seroDatas?.seroOt }}</p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <p class="labelName">DRUG TESTING</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Methamphethamine</p>
                  </div>
                  <div class="col">
                    <p class="lineRes1 {{ meth }}">{{ toxiDatas?.meth == '' ? '-' : toxiDatas?.meth }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Tetrahydrocanabinol</p>
                  </div>
                  <div class="col">
                    <p class="lineRes1 {{ tetra }}">{{ toxiDatas?.tetra == '' ? '-' : toxiDatas?.tetra }}</p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <p class="labelName">FECALYSIS</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Color</p>
                  </div>
                  <div class="col">
                    <p class="lineRes1">{{ microDatas?.fecColor == '' ? '-' : microDatas?.fecColor }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Consistency</p>
                  </div>
                  <div class="col">
                    <p class="lineRes1">{{ microDatas?.fecCon== '' ? '-' : microDatas?.fecCon }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Microscopic Findings</p>
                  </div>
                  <div class="col">
                    <p class="lineRes1">{{ microDatas?.fecMicro == '' ? '-' : microDatas?.fecMicro }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Others/Notes</p>
                  </div>
                  <div class="col">
                    <p class="lineRes1">{{ microDatas?.fecOt == '' ? 'NORMAL' : microDatas?.fecOt }}</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col">
                    <p class="labelName">CLINICAL MICROSCOPY</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="labelName">Complete Urinalysis</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="labelName">Physical/Chemical</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Color</p>
                  </div>
                  <div class="col-3">
                    <p class="lineRes1">{{ microDatas?.uriColor == '' ? '-' : microDatas?.uriColor }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Transparency</p>
                  </div>
                  <div class="col-3">
                    <p class="lineRes1">{{ microDatas?.uriTrans == '' ? '-' : microDatas?.uriTrans }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">pH</p>
                  </div>
                  <div class="col-3">
                    <p class="lineRes1">{{ microDatas?.uriPh == '' ? '-' : microDatas?.uriPh }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Sp.Gravity</p>
                  </div>
                  <div class="col-3">
                    <p class="lineRes1">{{ microDatas?.uriSp == '' ? '-' : microDatas?.uriSp }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Protein</p>
                  </div>
                  <div class="col-3">
                    <p class="lineRes1">{{ microDatas?.uriPro == '' ? '-' : microDatas?.uriPro }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Glucose</p>
                  </div>
                  <div class="col-3">
                    <p class="lineRes1">{{ microDatas?.uriGlu == '' ? '-' : microDatas?.uriGlu }}</p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-8">
                    <p class="labelName">Microscopic</p>
                  </div>
                  <div class="col-4">
                    <p class="labelName">Normal Range</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">RBC</p>
                  </div>
                  <div class="col-2">
                    <p class="lineRes1">{{ microDatas?.rbc == '' ? '-' : microDatas?.rbc }}</p>
                  </div>
                  <div class="col-2">
                    <p class="labelName">/hpf</p>
                  </div>
                  <div class="col">
                    <p class="labelName">0-3</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">WBC</p>
                  </div>
                  <div class="col-2">
                    <p class="lineRes1">{{ microDatas?.wbc == '' ? '-' : microDatas?.wbc }}</p>
                  </div>
                  <div class="col-2">
                    <p class="labelName">/hpf</p>
                  </div>
                  <div class="col">
                    <p class="labelName">0-5</p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">E.Cells</p>
                  </div>
                  <div class="col-2">
                    <p class="lineRes1">{{ microDatas?.ecells == '' ? '-' : microDatas?.ecells }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">M.Threads</p>
                  </div>
                  <div class="col-2">
                    <p class="lineRes1">{{ microDatas?.mthreads == '' ? '-' : microDatas?.mthreads }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Amorphous</p>
                  </div>
                  <div class="col-2">
                    <p class="lineRes1">{{ microDatas?.amorph == '' ? '-' : microDatas?.amorph }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Bacteria</p>
                  </div>
                  <div class="col-2">
                    <p class="lineRes1">{{ microDatas?.bac == '' ? '-' : microDatas?.bac }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">CaOx</p>
                  </div>
                  <div class="col-2">
                    <p class="lineRes1">{{ microDatas?.coAx == '' ? '-' : microDatas?.coAx }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="labelName">Others/Notes</p>
                  </div>
                  <div class="col-7">
                    <p class="lineRes1 {{ urinotes }}" style="font-size:12px">
                      {{ microDatas?.uriOt == '' ? 'NORMAL' : microDatas?.uriOt }}</p>
                  </div>
                </div>
              </div>
            </div>
            <br><br><br>
            <div class="row">
              <div class="col text-center" style="padding-left: 0px">
                <span class="Names">
                  <br>
                  <b>{{ medical.name }}</b>
                </span>
              </div>
              <div class="col text-center" style="padding-left: 0px">
                <span class="Names">
                  <br>
                  <b>{{ quality.name }}</b>
                </span>
              </div>
              <div class="col" style="padding-left: 0px">
                <div class="sig">
                  <img src="assets/image/Emil_Sig.png" width="300px;">
                </div>
                <span class="Names text-center">
                  <br>
                  <b>{{ path.name }}</b>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col" style="padding-left: 0px">
                <span class="lineNameSig text-center"><br>
                  <b>LIC NO. {{ medical.license }}</b></span>
              </div>
              <div class="col" style="padding-left: 0px; margin-top: -30px;">
                <mat-form-field class="col-12">
                  <mat-label>Quality Control</mat-label>
                  <mat-select formControlName="qc">
                    <mat-option value="-"> - </mat-option>
                    <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
                      {{m.lastName}}, {{m.firstName}}{{m.middleName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <span class="lineNameSig text-center"><br>
                  <b>LIC NO. {{ quality.license }}</b></span> -->
              </div>
              <div class="col" style="padding-left: 0px">
                <span class="lineNameSig text-center"><br>
                  <b>LIC NO. {{ path.license }}</b></span>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <p class="labelName">Registered Medical Technologist</p>
              </div>
              <div class="col text-center">
                <p class="labelName">Quality Control</p>
              </div>
              <div class="col text-center">
                <p class="labelName">Pathologist</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card" style="border-radius: 0px; margin-top: 10px;">
          <div class="card-header text-center">
            <b>RADIOLOGY REPORT</b>
          </div>
          <div class="card-block" style="height: 2.2in; margin-left: 25px; margin-right: 25px;">
            <div class="row">
              <div class="col">
                <p class="lineName" style="padding-top: 10px;">{{ rad?.comment }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="labelName" style="padding-top: 10px;">IMPRESSION:</p>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <p class="lineName" style="padding-top: 10px;"></p>
              </div>
              <div class="col-10">
                <p class="lineName" style="padding-top: 10px;">{{ rad?.impression }}</p>
              </div>
            </div>
            <br>
            <div class="row mt-4" style="margin-left: 28px;">
              <div class="col-6 text-center" style="padding-left: 0px">
                <span class="lineNameSig"><br><b>{{ rad?.qa }}</b></span>
              </div>
              <div class="col-6 text-center" style="padding-left: 0px">
                <span class="lineNameSig"><br><b>{{ rad?.radiologist }}</b></span>
              </div>
            </div>
            <div class="row">
              <div class="col-6 text-center" style="padding-top: 0px">
                <span class="labelName"><b>Quality Assurance</b></span>
              </div>
              <div class="col-6 text-center" style="padding-top: 0px">
                <span class="labelName"><b>Radiologist</b></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row mt-2">
        <div class="col-md-12 text-center">
          <button type="button" mat-raised-button color="accent" mat-dialog-close="close">
            <mat-icon>close</mat-icon> Cancel
          </button>
          <button type="submit" mat-raised-button color="primary" class="ml-1">
            <mat-icon>add_circle</mat-icon> {{ typeLabel }}
          </button>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
