<mat-dialog-content>
  <patient-info [id]="id" class="sticky-top"></patient-info>
  <form [formGroup]="sero" autocomplete="off">
    <div class="container mb-3">
      <div class="row">
        <div class="header mt-1 ls-2">
          <span *ngIf="update" class="bold-2">UPDATE</span>
          <span *ngIf="!update" class="bold-2">ADD</span>
          <span class="bold-2"> SEROLOGY </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mt-2">
          <div class="row mt-2 m-1">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Serology</div>
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <mat-form-field class="col">
                      <mat-label>HBsAg</mat-label>
                      <mat-select formControlName="hbsAG">
                        <mat-option value="N/A">N/A</mat-option>
                        <mat-option *ngFor="let r of react" [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <mat-form-field class="col">
                      <mat-label>Anti-HAV</mat-label>
                      <mat-select formControlName="antiHav">
                        <mat-option value="N/A">N/A</mat-option>
                        <mat-option *ngFor="let r of react" [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <mat-form-field class="col">
                      <mat-label>VDRL/RPR</mat-label>
                      <mat-select formControlName="vdrl">
                        <mat-option value="N/A">N/A</mat-option>
                        <mat-option *ngFor="let r of react" [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <mat-form-field class="col">
                      <mat-label>Anti-HBS</mat-label>
                      <mat-select formControlName="antiHBS">
                        <mat-option value="N/A">N/A</mat-option>
                        <mat-option *ngFor="let r of react" [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <mat-form-field class="col">
                      <mat-label>HBeAG</mat-label>
                      <mat-select formControlName="hbeAG">
                        <mat-option value="N/A">N/A</mat-option>
                        <mat-option *ngFor="let r of react" [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <mat-form-field class="col">
                      <mat-label>Anti-Hbe</mat-label>
                      <mat-select formControlName="antiHBE">
                        <mat-option value="N/A">N/A</mat-option>
                        <mat-option *ngFor="let r of react" [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <mat-form-field class="col">
                      <mat-label>Anti-Hbc</mat-label>
                      <mat-select formControlName="antiHBC">
                        <mat-option value="N/A">N/A</mat-option>
                        <mat-option *ngFor="let r of react" [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <mat-form-field class="col-8">
                      <input matInput placeholder="Prostate specific antigen ( PSA )" formControlName="psanti">
                    </mat-form-field>
                    <div class="col-4 pt-3">
                      <span class="nvText">ng/mL 0-4</span>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <mat-form-field class="col-8">
                      <mat-label>TPPA</mat-label>
                      <mat-select formControlName="tppa">
                        <mat-option value="N/A">N/A</mat-option>
                        <mat-option *ngFor="let r of foo" [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="row mt-2 m-1">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Typhidot</div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col">
                      <mat-label>IgM</mat-label>
                      <mat-select formControlName="tydotigM">
                        <mat-option value="N/A">N/A</mat-option>
                        <mat-option *ngFor="let r of foo" [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col">
                      <mat-label>IgG</mat-label>
                      <mat-select formControlName="tydotigG">
                        <mat-option value="N/A">N/A</mat-option>
                        <mat-option *ngFor="let r of foo" [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="row mt-2 m-1">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Thyroid</div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col-8">
                      <input matInput placeholder="TSH" formControlName="tsh">
                    </mat-form-field>
                    <div class="col-4 pt-3">
                      <span class="nvText">uIU/mL 0.4 - 5.0</span>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col-8">
                      <input matInput placeholder="FT3" formControlName="ft3">
                    </mat-form-field>
                    <div class="col-4 pt-3">
                      <span class="nvText">ng/mL 0.52 - 1.85</span>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col-8">
                      <input matInput placeholder="T3" formControlName="t3">
                    </mat-form-field>
                    <div class="col-4 pt-3">
                      <span class="nvText">ng/dL 81.0 - 178.0</span>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col-8">
                      <input matInput placeholder="FT4" formControlName="ft4">
                    </mat-form-field>
                    <div class="col-4 pt-3">
                      <span class="nvText">ng/dL 0.8 - 2.0</span>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col-8">
                      <input matInput placeholder="T4" formControlName="t4">
                    </mat-form-field>
                    <div class="col-4 pt-3">
                      <span class="nvText">ug/dL 4.4 - 11.6</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="row mt-2 m-1">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">C-Reactive Protein</div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col-8">
                      <input matInput placeholder="Dilution" formControlName="crpdil">
                    </mat-form-field>
                    <div class="col-4 pt-3">
                      <span class="nvText">uIU/mL 0.4 - 5.0</span>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col-8">
                      <input matInput placeholder="Result" formControlName="crpres">
                    </mat-form-field>
                    <div class="col-4 pt-3">
                      <span class="nvText"> &lt; 6 mg/L</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="row mt-2 m-1">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Human Immunodeficiency Viruses ( HIV )</div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col">
                      <mat-label>Test 1</mat-label>
                      <mat-select formControlName="hiv1">
                        <mat-option value="N/A">N/A</mat-option>
                        <mat-option *ngFor="let r of react" [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col">
                      <mat-label>Test 2</mat-label>
                      <mat-select formControlName="hiv2">
                        <mat-option value="N/A">N/A</mat-option>
                        <mat-option *ngFor="let r of react" [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="row mt-2 m-1">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">CEA</div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col-8">
                      <input matInput placeholder="Carcinoembryonic Antigen" formControlName="cea">
                    </mat-form-field>
                    <div class="col-4 pt-3">
                      <span class="nvText">ng/mL 0 - 5</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="row mt-2 m-1">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">AFP</div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col-8">
                      <input matInput placeholder="Alpha-Fetoprotein" formControlName="afp">
                    </mat-form-field>
                    <div class="col-4 pt-3">
                      <span class="nvText">IU/mL 0.5-5.5</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="row mt-2 m-1">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">CA125</div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col-8">
                      <input matInput placeholder="Cancer Antigen 125" formControlName="ca125">
                    </mat-form-field>
                    <div class="col-4 pt-3">
                      <span class="nvText">U/mL 0 - 35</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="row mt-2 m-1">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">CA19-9</div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col-8">
                      <input matInput placeholder="Cancer Antigen 19-9" formControlName="ca19">
                    </mat-form-field>
                    <div class="col-4 pt-3">
                      <span class="nvText">U/mL 0 - 39</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="row mt-2 m-1">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">CA15-3</div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col-8">
                      <input matInput placeholder="Cancer Antigen 15-3" formControlName="ca15">
                    </mat-form-field>
                    <div class="col-4 pt-3">
                      <span class="nvText">U/mL 0 - 25</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="row mt-2 m-1">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Other Notes</div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col">
                      <textarea matInput placeholder="Notes" style="height:30px;" formControlName="seroOt"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



   
      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="row mt-2 m-1">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">COVID</div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col">
                      <mat-label>SARS-Cov2 IgG</mat-label>
                      <mat-select formControlName="sarsg">
                        <mat-option value="N/A">N/A</mat-option>
                        <mat-option *ngFor="let r of react" [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <mat-form-field class="col">
                      <mat-label>SARS-Cov2 IgM</mat-label>
                      <mat-select formControlName="sarsm">
                        <mat-option value="N/A">N/A</mat-option>
                        <mat-option *ngFor="let r of react" [value]="r">
                          {{r}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      



      <!-- lab pesonnel -->
      <div class="row mb-4">
        <div class="col-md-12 mt-2">
          <div class="row mt-2">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Laboratory Personnel</div>
              <mat-form-field class="col-3">
                <!-- Get from transaction biller -->
                <input matInput placeholder="Clinician/Walk-In" [value]="transaction?.biller" disabled>
              </mat-form-field>
              <mat-form-field class="col-3">
                <mat-label>Medical Technologist</mat-label>
                <mat-select formControlName="medID">
                  <mat-option value=""> - </mat-option>
                  <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
                    {{m.lastName}}, {{m.firstName}}&nbsp;{{m.middleName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-3">
                <mat-label>Quality Control</mat-label>
                <mat-select formControlName="qualityID">
                  <mat-option value=""> - </mat-option>
                  <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
                    {{m.lastName}}, {{m.firstName}}&nbsp;{{m.middleName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-3">
                <mat-label>Pathologist</mat-label>
                <mat-select formControlName="pathID">
                  <mat-option value=""> - </mat-option>
                  <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
                    {{m.lastName}}, {{m.firstName}}&nbsp;{{m.middleName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto" style="width: 65px;">
      <button mat-raised-button color="primary" class="mb-3" (click)="addSero()" *ngIf="!update">ADD</button>
      <button mat-raised-button color="accent" class="mb-3" (click)="updateSero()" *ngIf="update">UPDATE</button>
    </div>
  </form>
</mat-dialog-content>
