<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-12">
      <img src="assets/image/QPDHeader.jpg" height="100px" width="100%">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-11 mx-auto text-center">
      <img src="{{ xrayImg }}" width="100%" height="1100">
    </div>
    <div class="col-md-11 mx-auto">
      <div class="row">
        <div class="col-md-12">
          <div class="bg-dark clearfix text-white">
            <p class="h5 float-left ml-2">{{ patientData?.lastName }},{{ patientData?.firstName}}
              {{ patientData?.middleName }}</p>
            <p class="h5 float-right mr-2">{{ patientData?.age }} {{ (patientData?.gender == 'FEMALE') ? 'F' : 'M' }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="bg-dark clearfix text-white">
            <p class="h5 float-left ml-2">{{ transData?.transactionDate | date: 'dd-MM-yyyy' }}</p>
            <p class="h5 float-right mr-2">{{ xrayData?.xrayType }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="bg-dark clearfix text-white">
            <p class="h5 float-left ml-2">{{ transData?.transactionId }}</p>
            <p class="h5 float-right mr-2">{{ xrayData?.radTech }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="position: absolute; bottom: 0; left: 0;">
      <img src="assets/image/QISFooter.png" height="50px" width="100%">
    </div>
  </div>
</div>
