<mat-dialog-content>
  <div class="container" style="margin-bottom: -25px;">
    <div class="form-group row">
      <div class="col-md-9">
        <button mat-raised-button color="accent" (click)="excel()" [disabled]="heldData.length == 0">Excel</button>
        <button mat-raised-button color="primary" (click)="pdf()" [disabled]="heldData.length == 0" class="ml-1"
          *ngIf="companyName !== 'VXI'">PDF</button>
        <mat-form-field class="ml-2" *ngIf="companyName !== 'VXI'">
          <mat-label>Type</mat-label>
          <mat-select [value]="typeDefault" (selectionChange)="change($event.value)">
            <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="col-md-12">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search patient">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z2 table-con">
    <table mat-table [dataSource]="dataSource" matSort class="table">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="200px">
          <span style="text-transform: uppercase;" class="ls-1 bold-2">
            <span>{{column}}</span>
          </span>
        </th>
        <td mat-cell *matCellDef="let element" fxFlex="200px">
          <span>
            {{element[column]}}
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100, 500]" class="mat-paginator-sticky"></mat-paginator>
  </div>
</mat-dialog-content>
