<mat-grid-list cols="2" rowHeight="10px">
    <mat-grid-tile colspan="2" rowspan="4">
      <h1 matDialogTitle>{{Title}}</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="5" style="font-size: 12px; ">
      {{Content}}
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="3">
      <button mat-button matDialogClose (click)="cancel()">{{cancelBTN}}</button>
      <button mat-raised-button matDialogClose color="accent" (click)="barcode()" class="mr-2" *ngIf="barCodeBTN == 'Barcode'">{{barCodeBTN}}</button>
      <button mat-raised-button color="primary" cdkFocusInitial (click)="ok()">{{okBTN}}</button>
    </mat-grid-tile>
</mat-grid-list>
