.main{
    width: 587px;
    font-size: 12px;
}
.left{
    position: absolute;
    left: 5px;
}
.right{
    position: absolute;
    right: 5px;
}

.fsize{
   font-size: 14px;
}

table, td, th {
  border: 1px dashed black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td{
  font-family: "Century Gothic";
}
@media screen {
    :host {
      display: none;
    }
  }

@media print {
	.page-break	{ display: block; page-break-before: always; }
}
