<mat-grid-list cols="20" rowHeight="8px" class="main">
  <mat-grid-tile colspan="20" rowspan="2">
    <span class="left">{{today}}</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="20" rowspan="2" class="bold-1 fsize" >
    QUEST INFO SYSTEM
  </mat-grid-tile>
  <mat-grid-tile colspan="20" rowspan="2" class="bold-1 fsize">
      END OF THE DAY REPORT
    </mat-grid-tile>

  <mat-grid-tile colspan="20" rowspan="2">
    {{from}} 05:00:00 to {{to}} 20:00:00
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span class= "left bold-1">SlsActvt</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
     <span class= "bold-1">Sales</span>
    </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span class=" bold-1 ">Return</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span class="bold-1 ">Net</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="5" rowspan="2">
    <span class= "left ">NonTxbl:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
     <span >{{total}}</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span> </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span>{{total}}</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="5" rowspan="2">
    <span class= "left">Subttl:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span>{{total}}</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span> </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span>{{total}}</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="5" rowspan="2">
    <span class= "left">Ttl Act:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span>{{total}}</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
      <span>0.00</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
      <span>{{total}}</span>
  </mat-grid-tile>



  <mat-grid-tile colspan="20" rowspan="2" class="bold-1 fsize">
    RECEIPT COUNTS
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2" >
  <span class="left">Sales:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
  <span>{{sales}}</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left">Returns:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span>{{return}}</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left">Held:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span>{{heldCount}}</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left">Deposits:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span>0</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left">Reversed:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span>0</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left">Payouts:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span>0</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="20" rowspan="2">
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left bold-1"  >Dollar(USD)</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2" class="bold-1">
    <span>{{usd}}</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left">Paid In:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
  <span>{{paidIn - hmo}}</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
  <span class="left">Paid Out:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
  <span>{{paidOut - hmo}}</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
      <span class="left">Net:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span>{{total - at - hmo | number}}</span>
  </mat-grid-tile>

   <mat-grid-tile colspan="20" rowspan="2">
   </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left font-weight-bold">Total Cash & Account Sales:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span class="bold-1">{{total}}</span>
  </mat-grid-tile>

  <!-- <mat-grid-tile colspan="15" rowspan="2">
      <span class="left">Net Sales Activity:</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="2">
        <span class="bold-1">{{total}}</span>
    </mat-grid-tile>

    <mat-grid-tile colspan="15" rowspan="2">
      <span class="left">Charge to Account</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="2">
      <span class="bold-1">{{at}}</span>
    </mat-grid-tile>

    <mat-grid-tile colspan="15" rowspan="2">
      <span class="left">Gift Certificate used:</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="2">
      <span >0.00</span>
    </mat-grid-tile>

    <mat-grid-tile colspan="15" rowspan="2">
      <span class="left">Gift Cards Used:</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="2">
      <span >0.00</span>
    </mat-grid-tile>


    <mat-grid-tile colspan="15" rowspan="2">
      <span class="left">Net Deposits used:</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="2">
      <span >0.00</span>
    </mat-grid-tile>

    <mat-grid-tile colspan="15" rowspan="2">
      <span class="left">Payouts:</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="2">
      <span >0.00</span>
    </mat-grid-tile>


    <mat-grid-tile colspan="15" rowspan="2">
      <span class="left bold-1">Total Available for Deposit:</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="2">
    <span class="bold-1">{{total - at}}</span>
    </mat-grid-tile> -->

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left">Total Balibago sales:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span class="bold-1">{{total - hygiene - hmo - at - ape | number}}</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
  <span class="left">Total Hygiene:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span class="bold-1">{{hygiene}}</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
  <span class="left">Total Held:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span class="bold-1">{{held}}</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left font-weight-bold">Total Cash Sales:</span>
  </mat-grid-tile>
 <mat-grid-tile colspan="5" rowspan="2">
  <span class="bold-1">{{total - hmo - at - ape | number}}</span>
 </mat-grid-tile>

 <br>

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left">Charge to Account</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span class="bold-1">{{at}}</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left">Charge to HMO:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span class="bold-1">{{hmo}}</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left">Charge to APE</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span class="bold-1">({{ape}})</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left font-weight-bold">Total Account & HMO:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span class="bold-1">{{at + hmo + ape}}</span>
  </mat-grid-tile>

  <mat-grid-tile colspan="15" rowspan="2">
    <span class="left bold-1">Total Available for Deposit:</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">
    <span class="bold-1">{{total - at - hmo | number}}</span>
  </mat-grid-tile>

</mat-grid-list>

<mat-grid-tile class="page-break" colspan="20" rowspan="2">
</mat-grid-tile>

<mat-grid-list cols="20" rowHeight="10px" class="main">
  <mat-grid-tile colspan="15" rowspan="2" class="bold-1">
    Held Listing
  </mat-grid-tile>
</mat-grid-list>

<div class="main">
  <div class="container-fluid">
    <table width="100%">
      <thead>
        <tr>
          <th><b>Amount</b></th>
          <th><b>Name</b></th>
          <th><b>BillTo</b></th>
          <th><b>Time</b></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let held of heldData">
          <td>{{held?.trans.grandTotal}}</td>
          <td><b>{{held?.pat.fullName}}</b></td>
          <td>{{held?.trans.biller}}</td>
          <td>{{held?.trans.transactionDate}}</td>
        </tr>
        <tr>
          <td><b>{{held}}</b></td>
          <td><b>Total</b></td>
          <td><b>{{heldCount}}--HELD</b></td>
        </tr>
      </tbody>
    </table>
    <!-- <div class = "row bold-1">
      <div class = "col-2">
        <span class="left">Amount</span>
      </div>
      <div class = "col-5">
          Name
      </div>
      <div class = "col-5">
          BillTo
      </div>
    </div> -->

    <!-- <div class = "row" *ngFor="let account of accountData">
      <div class = "col-2">
          <span class="right pr-5">{{account?.trans.grandTotal}}</span>
      </div>
      <div class = "col-5">
          {{account?.pat.fullName}}
      </div>
      <div class = "col-5">
          {{account?.trans.biller}}
      </div>
    </div>

    <div class = "row bold-1">
      <div class = "col-2">
        <span class="right pr-5">{{at}}</span>
      </div>
      <div class="col-5">
        Total
      </div>
      <div class = "col-5">
      {{ac}}--ACCOUNTS
      </div>
    </div> -->

  </div>


</div>

<mat-grid-list cols="20" rowHeight="10px" class="main">
  <mat-grid-tile colspan= "15" rowspan="2" class="bold-1">
    Account Listing
  </mat-grid-tile>
</mat-grid-list>

<div class = "main">
  <div class = "container-fluid">
    <table width="100%">
      <thead>
        <tr>
          <th><b>Amount</b></th>
          <th><b>Name</b></th>
          <th><b>BillTo</b></th>
          <th><b>Time</b></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accountData">
          <td>{{account?.trans.grandTotal}}</td>
          <td><b>{{account?.pat.fullName}}</b></td>
          <td>{{account?.trans.biller}}</td>
          <td>{{account?.trans.transactionDate}}</td>
        </tr>
        <tr>
          <td><b>{{at + hmo}}</b></td>
          <td><b>Total</b></td>
          <td><b>{{ac}}--ACCOUNTS</b></td>
        </tr>
      </tbody>
    </table>

    <!-- <div class = "row bold-1">
      <div class = "col-2">
        <span class="left">Amount</span>
      </div>
      <div class = "col-5">
          Name
      </div>
      <div class = "col-5">
          BillTo
      </div>
    </div> -->

    <!-- <div class = "row" *ngFor="let account of accountData">
      <div class = "col-2">
          <span class="right pr-5">{{account?.trans.grandTotal}}</span>
      </div>
      <div class = "col-5">
          {{account?.pat.fullName}}
      </div>
      <div class = "col-5">
          {{account?.trans.biller}}
      </div>
    </div>

    <div class = "row bold-1">
      <div class = "col-2">
        <span class="right pr-5">{{at}}</span>
      </div>
      <div class="col-5">
        Total
      </div>
      <div class = "col-5">
      {{ac}}--ACCOUNTS
      </div>
    </div> -->

  </div>


</div>

