<div class="col-md-12">
  <div class="card" style="border-radius: 0px; margin-top: 20px;border-width: 0px">
    <div class="card-header text-center">
      <b>LABORATORY RESULTS</b>
    </div>
    <div class="card-block">
      <!--Serology-->
      <div class="container-fluid" id="serology">
        <div class="row">
          <div class="col-12 labelName">
            SEROLOGY
          </div>
        </div>


        
        <div class="row">
          <div class="col-4 seroname">
            COVID
          </div>
        </div>

        <div class="row" >
          <div class="col-5 seroname">
            SARS-Cov2 IgG
          </div>
          <div class="col-3 serores">
            {{ serology?.sarsg }}
          </div>
        </div>

        <div class="row">
          <div class="col-5 seroname">
            SARS-Cov2 IgM
          </div>
          <div class="col-3 serores">
            {{ serology?.sarsm }}
          </div>
        </div>



        <div class="row" *ngIf="serology?.hbsAG !== '' && serology?.hbsAG != 'N/A'">
          <div class="col-5 seroname">
            HBsAG
          </div>
          <div class="col-3 serores">
            {{ serology?.hbsAG }}
          </div>
        </div>
        <div class="row" *ngIf="serology?.antiHav !== '' && serology?.antiHav != 'N/A'">
          <div class="col-5 seroname">
            Anti Hav
          </div>
          <div class="col-3 serores">
            {{ serology?.antiHav }}
          </div>
        </div>
        <div class="row" *ngIf="serology?.vdrl !== '' && serology?.vdrl != 'N/A'">
          <div class="col-5 seroname">
            VDRL/RPR Screening
          </div>
          <div class="col-3 serores">
            {{ serology?.vdrl }}
          </div>
        </div>
        <div class="row" *ngIf="serology?.antiHBS !== '' && serology?.antiHBS != 'N/A'">
          <div class="col-5 seroname">
            Anti-HBS
          </div>
          <div class="col-3 serores">
            {{ serology?.antiHBS }}
          </div>
        </div>
        <div class="row" *ngIf="serology?.hbeAG !== '' && serology?.hbeAG != 'N/A'">
          <div class="col-5 seroname">
            Anti-HBS
          </div>
          <div class="col-3 serores">
            {{ serology?.hbeAG }}
          </div>
        </div>
        <div class="row" *ngIf="serology?.antiHBE !== '' && serology?.antiHBE != 'N/A'">
          <div class="col-5 seroname">
            Anti-HBS
          </div>
          <div class="col-3 serores">
            {{ serology?.antiHBE }}
          </div>
        </div>
        <div class="row" *ngIf="serology?.antiHBC !== '' && serology?.antiHBC != 'N/A'">
          <div class="col-5 seroname">
            Anti-HBC
          </div>
          <div class="col-3 serores">
            {{ serology?.antiHBC }}
          </div>
        </div>
        <div class="row" *ngIf="serology?.tydotigM !== '' && serology?.tydotigM != 'N/A'">
          <div class="col-4 seroname">
            TYPHIDOT
          </div>
          <div class="col-1 resunit">
            IgM:
          </div>
          <div class="col-3  serores">
            {{ serology?.tydotigM }}
          </div>
        </div>
        <div class="row" *ngIf="serology?.tydotigM !== '' && serology?.tydotigM != 'N/A'">
          <div class="col-4 seroname">
          </div>
          <div class="col-1 resunit">
            IgG:
          </div>
          <div class="col-3 serores">
            {{ serology?.tydotigG }}
          </div>
        </div>
        <div class="row" *ngIf="serology?.psanti !== '' && serology?.psanti != 'N/A'">
          <div class="col-5 seroname">PSA ( Prostate-Specific Antigen )</div>
          <div class="col-2 serores">
            {{ serology?.psanti }}
          </div>
          <div class="col-1"></div>
          <div class="col-2">
            <p class="resunit">ng/mL 0-4</p>
          </div>
        </div>
        <div class="row" *ngIf="serology?.tppa !== '' && serology?.tppa != 'N/A'">
          <div class="col-5 seroname">TPPA</div>
          <div class="col-2 serores">
            {{ serology?.tppa }}
          </div>
        </div>
        <div class="row" *ngIf="serology?.cea !== '' && serology?.cea != 'N/A'">
          <div class="col-5 seroname">Carcinoembryonic Antigen (CEA)</div>
          <div class="col-2 serores">
            {{ serology?.cea }}
          </div>
          <div class="col-1"></div>
          <div class="col-2">
            <p class="resunit">ng/mL 0 - 5</p>
          </div>
        </div>
        <div class="row" *ngIf="serology?.afp !== '' && serology?.afp != 'N/A'">
          <div class="col-5 seroname">Alpha-fetoprotein (AFP)</div>
          <div class="col-2 serores">
            {{ serology?.afp }}
          </div>
          <div class="col-1"></div>
          <div class="col-2">
            <p class="resunit">IU/mL 0.5 - 5.5</p>
          </div>
        </div>
        <div class="row" *ngIf="serology?.ca125 !== '' && serology?.ca125 != 'N/A'">
          <div class="col-5 seroname">Cancer Antigen 125 (CA 125)</div>
          <div class="col-2 serores">
            {{ serology?.ca125 }}
          </div>
          <div class="col-1"></div>
          <div class="col-2">
            <p class="resunit">U/mL 0 - 35</p>
          </div>
        </div>
        <div class="row" *ngIf="serology?.ca19 !== '' && serology?.ca19 != 'N/A'">
          <div class="col-5 seroname">CA 19-9</div>
          <div class="col-2 serores">
            {{ serology?.ca19 }}
          </div>
          <div class="col-1"></div>
          <div class="col-2">
            <p class="resunit">U/mL 0 - 39</p>
          </div>
        </div>
        <div class="row" *ngIf="serology?.ca15 !== '' && serology?.ca15 != 'N/A'">
          <div class="col-5 seroname">Cancer Antigen 15-3 (CA 15-3)</div>
          <div class="col-2 serores">
            {{ serology?.ca15 }}
          </div>
          <div class="col-1"></div>
          <div class="col-2">
            <p class="resunit">U/mL 0 - 25</p>
          </div>
        </div>
        <div class="row" *ngIf="serology?.tsh !== '' && serology?.tsh != 'N/A'">
          <div class="col-5 seroname">Thyroid Stimulating Hormone (TSH)</div>
          <div class="col-2 serores">
            {{ serology?.tsh }}
          </div>
          <div class="col-1"></div>
          <div class="col-2">
            <p class="resunit">uIU/mL 0.4-5.0</p>
          </div>
        </div>
        <div class="row" *ngIf="serology?.ft3 !== '' && serology?.ft3 != 'N/A'">
          <div class="col-5 seroname">Free Triiodothyronine (FT3)</div>
          <div class="col-2 serores">
            {{ serology?.ft3 }}
          </div>
          <div class="col-1"></div>
          <div class="col-2">
            <p class="resunit">ng/dL 0.52-1.85</p>
          </div>
        </div>
        <div class="row" *ngIf="serology?.ft4 !== '' && serology?.ft4 != 'N/A'">
          <div class="col-5 seroname">Free Thyroxine (FT4)</div>
          <div class="col-2 serores">
            {{ serology?.ft4 }}
          </div>
          <div class="col-1"></div>
          <div class="col-2">
            <p class="resunit">ng/dL 4.4-11.6</p>
          </div>
        </div>
        <div class="row" *ngIf="serology?.crpdil !== '' && serology?.crpdil != 'N/A'">
          <div class="col-4 seroname">
            C-Reactive Protein (CRP)
          </div>
          <div class="col-1 resunit">
            Dilution:
          </div>
          <div class="col-2  serores">
            {{ serology?.crpdil }}
          </div>
        </div>
        <div class="row">
          <div class="col-4 seroname">
          </div>
          <div class="col-1 resunit">
            Result:
          </div>
          <div class="col-2 serores">
            {{ serology?.crpres }}
          </div>
          <div class="col-1"></div>
          <div class="col-2">
            <p class="resunit">< 6 mg/L </p>
          </div>
        </div>
        <div class="row" *ngIf="serology?.hiv1 !== '' && serology?.hiv1 != 'N/A'">
          <div class="col-4 seroname">
            Human Immunodeficiency Viruses ( HIV )
          </div>
        </div>
        <div class="row" *ngIf="serology?.hiv1 !== '' && serology?.hiv1 != 'N/A'">
          <div class="col-5 seroname">
            TEST 1
          </div>
          <div class="col-3 serores">
            {{ serology?.hiv1 }}
          </div>
        </div>
        <div class="row" *ngIf="serology?.hiv1 !== '' && serology?.hiv1 != 'N/A'">
          <div class="col-5 seroname">
            TEST 2
          </div>
          <div class="col-3 serores">
            {{ serology?.hiv1 }}
          </div>
        </div>
        

        <div class="row" *ngIf="serology?.sarsg !== '' && serology?.sarsg != 'N/A'">
          <div class="col-4 seroname">
            COVID
          </div>
        </div>

        <div class="row" *ngIf="serology?.sarsg !== '' && serology?.sarsg != 'N/A'">
          <div class="col-5 seroname">
            SARS-Cov2 IgG
          </div>
          <div class="col-3 serores">
            {{ serology?.sarsg }}
          </div>
        </div>

        <div class="row" *ngIf="serology?.sarsm !== '' && serology?.sarsm != 'N/A'">
          <div class="col-5 seroname">
            SARS-Cov2 IgM
          </div>
          <div class="col-3 serores">
            {{ serology?.sarsm }}
          </div>
        </div>




        <div class="row" *ngIf="serology?.seroOt !== '' && serology?.seroOt != 'N/A'">
          <div class="col-5 seroname">
            OTHER NOTES
          </div>
          <div class="col-5 serores">
            {{ serology?.seroOt }}
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 labelName pt-5">
            DRUG TEST SCREENING
          </div>
        </div>
        <div class="row">
          <div class="col-5 names p-4" style="font-size: 20px">
            Methamphethamine
          </div>
          <div class="col-4 line p-4">
            {{ toxicology?.meth }}
          </div>
        </div>
        <div class="row">
          <div class="col-5 names p-4" style="font-size: 20px">
            Tetrahydrocanabinol
          </div>
          <div class="col-4 line p-4 ">
            {{ toxicology?.tetra }}
          </div>
        </div>
        <div class="row">
          <div class="col-5 names p-4" style="font-size: 20px">
            DRUG TEST RESULT
          </div>
          <div class="col-4 line p-4 " style="font-size: 20px">
            {{ toxicology?.drugtest }}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
