<mat-dialog-content>
<patient-info [id]="transactionId" class="sticky-top"></patient-info>
<form [formGroup]="basictwo" autocomplete="off">
  <div class="container mb-3">
    <div class="row">
      <div class="header mt-1 ls-2">
        <span *ngIf="update"><span class="bold-2">U</span>P<span class="bold-2">D</span>ATE</span>
        <span *ngIf="!update"><span class="bold-2">A</span>DD</span>
        <span class="bold-2">BASIC TWO</span>
      </div>
    </div>

    <!-- Clinical Microscopy -->
    <div class="row">
      <div class="col-md-9 mx-auto mt-2">
        <div class="row mt-2">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">CLINICAL MICROSCOPY</div>
            <div class="row">
              <div class="col-8">
                <div class="bold-1 pl-2 pr-2">Complete Urinalysis</div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-3">
                <div class="bold-1 pl-2 pr-2">Physical/Chemical</div>
              </div>
              <div class="col-3">
                <div class="bold-1 pl-2 pr-2">Microscopic</div>
              </div>
              <div class="col-4">
                <div class="bold-1 pl-2 pr-2">Normal Range</div>
              </div>
            </div>
            <div class="row">
              <mat-form-field class="col-3 ml-3">
                <mat-label>Color: </mat-label>
                <mat-select value="-" formControlName="uriColor">
                  <mat-option *ngFor="let color of colors" [value]="color">{{ color }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-3">
                <mat-label>RBC: </mat-label>
                <input matInput formControlName="rbc">
              </mat-form-field>
              <div class="col-4">
                <div class="row">
                  <div class="col">
                    <div class="bold-1 pl-2 pr-2 mt-3">/hpf</div>
                  </div>
                  <div class="col">
                    <div class="bold-1 pl-2 pr-2 mt-3">0-3</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <mat-form-field class="col-3 ml-3">
                <mat-label>Transparency : </mat-label>
                <mat-select value="-" formControlName="uriTrans">
                  <mat-option *ngFor="let transparency of transparencys" [value]="transparency">{{ transparency }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-3">
                <mat-label>WBC : </mat-label>
                <input matInput formControlName="wbc">
              </mat-form-field>
              <div class="col-4">
                <div class="row">
                  <div class="col">
                    <div class="bold-1 pl-2 pr-2 mt-3">/hpf</div>
                  </div>
                  <div class="col">
                    <div class="bold-1 pl-2 pr-2 mt-3">0-5</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <mat-form-field class="col-3 ml-3">
                <mat-label>pH : </mat-label>
                <mat-select value="-" formControlName="uriPh">
                  <mat-option *ngFor="let pH of pHs" [value]="pH">{{ pH }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-3">
                <mat-label>E.Cells : </mat-label>
                <mat-select value="NONE" formControlName="ecells">
                  <mat-option *ngFor="let count of counts" [value]="count">{{ count }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-3 ml-3">
                <mat-label>Sp.Gravity : </mat-label>
                <mat-select value="-" formControlName="uriSp">
                  <mat-option *ngFor="let spGrav of spGravs" [value]="spGrav">{{ spGrav }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-3">
                <mat-label>M.Threads : </mat-label>
                <mat-select value="NONE" formControlName="mthreads">
                  <mat-option *ngFor="let count of counts" [value]="count">{{ count }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-3 ml-3">
                <mat-label>Protien : </mat-label>
                <mat-select value="-" formControlName="uriPro">
                  <mat-option *ngFor="let countNum of countNums" [value]="countNum">{{ countNum }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-3">
                <mat-label>Bacteria : </mat-label>
                <mat-select value="NONE" formControlName="bac">
                  <mat-option *ngFor="let count of counts" [value]="count">{{ count }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-3 ml-3">
                <mat-label>Glucose : </mat-label>
                <mat-select value="-" formControlName="uriGlu">
                  <mat-option *ngFor="let countNum of countNums" [value]="countNum">{{ countNum }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-3">
                <mat-label>Amorphous : </mat-label>
                <mat-select value="NONE" formControlName="amorph">
                  <mat-option *ngFor="let count of counts" [value]="count">{{ count }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-3 ml-3">
                <mat-label>OTHERS/NOTES : </mat-label>
                <input matInput formControlName="uriOt">
              </mat-form-field>
              <mat-form-field class="col-3">
                <mat-label>CaOx : </mat-label>
                <mat-select value="NONE" formControlName="coAx">
                  <mat-option *ngFor="let count of counts" [value]="count">{{ count }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

 <!-- lab pesonnel -->
 <div class="row mb-4 mx-auto">
  <div class="col-md-12 mt-2">
    <div class="row mt-2">
      <div class="bold-1 p-3 des">
        <div class="bold-1 title pl-2 pr-2">Laboratory Personnel</div>
        <mat-form-field class="col-3">
          <!-- Get from transaction biller -->
          <input matInput placeholder="Clinician/Walk-In" [value]="transaction?.biller" disabled>
        </mat-form-field>
        <mat-form-field class="col-3">
          <mat-label>Medical Technologist</mat-label>
          <mat-select formControlName="medID">
            <mat-option value=""> - </mat-option>
            <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
              {{m.lastName}}, {{m.firstName}}{{m.middleName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-3">
          <mat-label>Quality Control</mat-label>
          <mat-select formControlName="qualityID">
            <mat-option value=""> - </mat-option>
            <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
              {{m.lastName}}, {{m.firstName}}{{m.middleName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-3">
          <mat-label>Pathologist</mat-label>
          <mat-select formControlName="pathID">
            <mat-option value=""> - </mat-option>
            <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
              {{m.lastName}}, {{m.firstName}}{{m.middleName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="mx-auto" style="width: 65px;">
  <button mat-raised-button color="accent" class="mb-3" (click)="updatebasictwo()" *ngIf="update">UPDATE</button>
  <button mat-raised-button color="primary" class="mb-3" (click)="addbasictwo()" *ngIf="!update">ADD</button>
</div>
</form>
</mat-dialog-content>
