<mat-dialog-content>
  <div class="container">
    <div class="form-group row">
      <div class="col-md-12 text-center">
        <div class="header mt-1 ls-2 mb-3">
          <span class="bold-2">PATIENT INFORMATION</span>
        </div>
      </div>
      <div class="col-md-3">
        <p class="h6">Name:</p>
        <p class="h6 font-weight-bold">
          {{ patientDatas?.fullName }}</p>
      </div>
      <div class="col-md-3">
        <p class="h6">Address:</p>
        <p class="h6 font-weight-bold">{{ patientDatas?.address }}</p>
      </div>
      <div class="col-md-3">
        <p class="h6">Age:</p>
        <p class="h6 font-weight-bold">{{ patientDatas?.age }}</p>
      </div>
      <div class="col-md-3">
        <p class="h6">Gender:</p>
        <p class="h6 font-weight-bold">{{ patientDatas?.gender }}</p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12 text-center">
        <div class="header mt-1 ls-2 mb-3">
          <span class="bold-2">Request Form</span>
        </div>
      </div>
      <div class="col-md-4">
        <mat-card class="mat-elevation-z8">
          <mat-card-header>
            <mat-card-title>Category</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-divider></mat-divider>
            <mat-action-list style="max-height: 200px; overflow-y: auto;">
              <button mat-list-item *ngFor="let category of categories" (click)="selectCategory(category['docReqCatId'])">{{ category?.category }}</button>
            </mat-action-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="mat-elevation-z8 h-100">
          <mat-card-header>
            <mat-card-title>Test</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-divider></mat-divider>
            <mat-action-list style="max-height: 200px; overflow-y: auto;">
              <button mat-list-item *ngFor="let sub of subCategories" (click)="selectSub(sub['docReqOptionId'])">{{ sub?.option }}</button>
            </mat-action-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="mat-elevation-z8 h-100">
          <mat-card-header>
            <mat-card-title>Selected</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-divider></mat-divider>
            <mat-action-list style="max-height: 200px; overflow-y: auto;">
              <button mat-list-item *ngFor="let select of selects" (click)="removeSelected(select['id'])">{{ select?.label }}</button>
            </mat-action-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-4 mx-auto mt-2">
        <mat-card class="mat-elevation-z8 h-100" style="max-height: 200px;">
          <mat-card-header>
            <mat-card-title>Other Tests</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-divider></mat-divider>
            <mat-form-field class="col-md-12">
              <textarea matInput #otherTests></textarea>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <mat-divider class="py-2"></mat-divider>

    <div class="form-group row mt-1">
      <div class="col-md-12 text-right">
        <button type="button" mat-raised-button color="warn" class="mr-1" (click)="close()">
          <mat-icon>cancel</mat-icon> Cancel
        </button>

        <button type="button" mat-raised-button color="primary" class="mr-1" (click)="submit()">
          <mat-icon>save</mat-icon> Save
        </button>

        <button type="button" mat-raised-button color="accent" (click)="reset()">
          <mat-icon>undo</mat-icon> Reset
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>
