<mat-dialog-content>
  <div class="container py-3">

    <!-- <div class="form-group row">
      <div class="col-md-12 text-right">
        <button mat-raised-button color="primary" mat-dialog-close="update"><mat-icon>edit</mat-icon> Update</button>
      </div>
    </div> -->

    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">OTHER SECTIONS</span>


                </div>

                <a routerLink="/laboratory/basic-two" mat-raised-button color="primary"
                class="ml-2">
                <mat-icon>polymer</mat-icon> BASIC 2
              </a>

              </div>

            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

      </div>

</mat-dialog-content>
