<transaction-list [listType]="listType" [filmType]="filmType" transType="xrayMarker" [dateFromFilm]="dateFromFilm"
  [dateToFilm]="dateToFilm" (filmInventory)="onFilmInventory($event)" (datas)="onDatas($event)">
</transaction-list>

<hr>

<div class="container-fluid py-3">
  <div class="form-group row">
    <div class="col-md-12">
      <button mat-raised-button color="primary" (click)="genCsv()">Generate CSV</button>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4 mx-auto mat-elevation-z4">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="header mt-1 ls-2 mb-3">
            <span class="bold-2">Film Count</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let filmCount of filmCounts">
              <div class="d-flex justify-content-between">
                <p class="h6">{{ filmCount['name'] }} Film Count:</p>
                <p class="h6">{{ filmCount['count'] }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
