.col-4{
    text-align: center;
}
.underline{
    border-bottom: solid 1px black;
}
.border{
    border: solid 0.5px rgb(83, 83, 83);
}
.lic{
    font-size: 12px;
}
.med{
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
}
.label{
    color: #16036b;
}
.sig{
    position: absolute;
    top: -30px;
}
.lineLabel {
  color: #104E8B;
  font-family: "Times New Roman";
}
.lineValue {
  color: #000;
  font-weight: bold;
}
