<h1 matDialogTitle>
  <span *ngIf="id == 'undefined'">Add New ITEM</span>
  <span *ngIf="id != 'undefined'">Update ITEM</span>
</h1>
<form [formGroup]="item" autocomplete="off">
<mat-dialog-content>
    <mat-form-field style="width: 300px">
      <input matInput
      placeholder="Item Name"
      formControlName="itemName" cdkFocusInitial>
    </mat-form-field><br>
    <mat-form-field style="width: 300px">
      <input matInput
      placeholder="Item Description"
      formControlName="itemDescription" >
    </mat-form-field><br>
    <mat-form-field style="width: 300px">
        <input matInput
        type = "number"
        placeholder = "Item Price"
        formControlName = "itemPrice" >
    </mat-form-field><br>
    <mat-form-field style="width: 300px">
        <mat-label>Department</mat-label>
        <mat-select formControlName="itemType">
          <mat-option *ngFor="let dep of IS.itemType" [value]="dep">{{dep}}</mat-option>
        </mat-select>
    </mat-form-field><br>
    <mat-form-field style="width: 300px">
        <mat-label>Needed Test</mat-label>
        <mat-select formControlName="neededTest">
          <mat-option *ngFor="let test of IS.itemTest" [value]="test.value">{{test.view}}</mat-option>
        </mat-select>
    </mat-form-field><br>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>cancel</button>
  <button mat-raised-button *ngIf="id != 'undefined'"
  color      = "primary"
  [disabled] = "!item.valid"
  (click)    = "update()"
  >Update</button>
  <button mat-raised-button *ngIf="id == 'undefined'"
  color      = "primary"
  [disabled] = "!item.valid"
  (click)    = "create()"
  >Create</button>
</mat-dialog-actions>
</form>
