<div class="row">
  <div class="col-8" style="margin-top: 5px;">
    <img src="assets/QPDHEADER.jpg" class="img-fluid" width="95%">
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col">
        <p class="lineLabel">Name: {{ patientData?.fullName }}</p>
      </div>
      <div class="col">
        <p class="lineLabel">Date: {{ math.dateNow() }}</p>
      </div>
    </div>

    <div class="row" style="margin-top: -10px;">
      <div class="col">
        <p class="lineLabel">Age: {{ patientData?.age }}</p>
      </div>
      <div class="col">
        <p class="lineLabel">Gender: {{ patientData?.gender }}</p>
      </div>
    </div>

    <div class="row" style="margin-top: -10px;">
      <div class="col">
        <p class="lineLabel">Address: </p>
      </div>
    </div>

    <div class="row" style="margin-top: -10px;">
      <div class="col">
        <p class="lineLabel">{{ patientData?.address }}</p>
      </div>
    </div>
  </div>
</div>
