<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="margin-top: 5px;">
      <img src="assets/image/QPDHeader.jpg" height="100px" width="100%">
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card" style="border-radius: 0px;  margin-top: 20px; ">
      <div class="card-header text-center"><b>QUEST PHIL DIAGNOSTICS</b></div>
      <div class="card-block" style="height: 1.3in; margin-left: 25px; margin-right: 25px; margin-bottom: 10px;">

        <div class="row">
          <div class="col">
            <p class="labelName">Name:</p>
          </div>
          <div class="col-6">
            <span class="lineName" style="margin-left: -80px;">
              {{ patientDatas?.lastName + ', ' + patientDatas?.firstName + ' ' + patientDatas?.middleName }}</span>
          </div>
          <div class="col-2 text-right">
            <p class="labelName">X-Ray Number:</p>
          </div>
          <div class="col">
            <span class="lineName">{{ rad?.xrayID }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="labelName">Gender:</p>
          </div>
          <div class="col-6">
            <span class="lineName" style="margin-left: -80px;">
              {{ patientDatas?.gender }}</span>
          </div>
          <div class="col-2 text-right">
            <p class="labelName">QuestID:</p>
          </div>
          <div class="col">
            <span class="lineName">{{ patientID }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="labelName">Age:</p>
          </div>
          <div class="col-6">
            <span class="lineName" style="margin-left: -80px;">
              {{ patientDatas?.age }}</span>
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row">
          <div class="col">
            <p><span class="labelName mr-2">Date Received:</span> <u>{{ transactionDatas?.transactionDate }}</u></p>
          </div>
          <div class="col">
            <p><span class="labelName mr-2">Reported:</span> <u>{{ transactionDatas?.transactionDate }}</u></p>
          </div>
          <div class="col">
            <p><span class="labelName mr-2">Printed:</span> <u>{{ currentTime }}</u></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card" style="border-radius: 0px; margin-top: 10px;">
      <div class="card-header text-center">
        <b>RADIOLOGY REPORT</b>
      </div>
      <div class="card-block" style="height: 2.2in; margin-left: 25px; margin-right: 25px;">
        <div class="row">
          <div class="col">
            <p class="labelName" style="padding-top: 10px;">COMMENT:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <p class="lineName" style="padding-top: 10px;"></p>
          </div>
          <div class="col-10">
            <p class="lineName" style="padding-top: 10px;">{{ rad?.comment }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="labelName" style="padding-top: 10px;">IMPRESSION:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <p class="lineName" style="padding-top: 10px;"></p>
          </div>
          <div class="col-10">
            <p class="lineName" style="padding-top: 10px;">{{ rad?.impression }}</p>
          </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="row mt-4" style="margin-left: 28px; margin-top: 675px;">
          <div class="col-6 text-center" style="padding-left: 0px">
          </div>
          <div class="col-6 text-center" style="padding-left: 0px">
            <span class="lineNameSig"><br><b>{{ rad?.radiologist }} </b></span>
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-center" style="padding-top: 0px">

          </div>
          <div class="col-6 text-center" style="padding-top: 0px">
            <span class="labelName"><b>Radiologist</b></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="margin-top: 675px;">
      <img src="assets/image/QISFooter.png" height="50px" width="100%">
    </div>
  </div>
</div>
