.header{
    width: 100%;
    font-size: 20px;
    border-bottom: solid #2980b9 5px;
    padding: 5px;
    text-align: center;
}
.title{
    position: absolute;
    top: -5px;
    background-color: white
}

.des{
    border: solid #2980b9 1px;
    border-radius: 5px;
    width: 100%;
}
