<mat-dialog-content>
<patient-info [id]="id" class="sticky-top"></patient-info>
<form [formGroup]="laboratory" autocomplete="off">
  <div class="container">
    <div class="row">
      <div class="header mt-1 ls-2">
        <span *ngIf="update"><span class="bold-2">U</span>P<span class="bold-2">D</span>ATE</span>
        <span *ngIf="!update"><span class="bold-2">A</span>DD</span>
        <span> INDUSTRIAL </span>
      </div>
    </div>
    <div class="row">
      <!-- hematology -->
      <div class="col-md-12 bold-1">HEMATOLOGY</div>
      <div class="col-md-8 mt-2">
        <div class="row mt-2 ml-1">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Complete Blood Count</div>
            <div class="row">
              <div class="col-5">
                <mat-form-field class="col">
                  <input matInput placeholder="Red Blood Cells" formControlName="cbcrbc">
                </mat-form-field>
              </div>
              <div class="col-3 mt-4">X10 ^6/L</div>
              <div class="col-4 mt-4">4.32~5.72</div>
            </div>
            <div class="row">
              <div class="col-5">
                <mat-form-field class="col">
                  <input matInput placeholder="Hemoglobin" formControlName="hemoglobin">
                </mat-form-field>
              </div>
              <div class="col-2 mt-4">g/L</div>
              <div class="col-5">
                <mat-form-field class="col">
                  <mat-label>Normal Range</mat-label>
                  <!-- <input matInput type="text" formControlName="hemoNR" readonly> -->
                  <mat-select formControlName="hemoNR">
                    <mat-option value="N/A">N/A</mat-option>
                    <mat-option value="M: 137-175">
                      M: 137-175
                    </mat-option>
                    <mat-option value="F: 112-175">
                      F: 112-175
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <mat-form-field class="col">
                  <input matInput placeholder="Hematocrit" formControlName="hematocrit" cdkFocusInitial>
                </mat-form-field>
              </div>
              <div class="col-2 mt-4">VF</div>
              <div class="col-5">
                <mat-form-field class="col">
                  <mat-label>Normal Range</mat-label>
                  <!-- <input matInput type="text" formControlName="hemaNR" readonly> -->
                  <mat-select formControlName="hemaNR">
                    <mat-option value="N/A">N/A</mat-option>
                    <mat-option value="M:0.40-0.51">
                      M:0.40-0.51
                    </mat-option>
                    <mat-option value="F:0.34-0.45">
                      F:0.34-0.45
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="col">
                  <textarea matInput placeholder="Other Notes" style="height:50px;" formControlName="cbcot"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Urinalysis -->
    <div class="row">
      <div class="col-12 bold-1 mt-2">Complete Urinalysis</div>
      <div class="col-md-4 mt-2 ml-1">
        <div class="row mt-2">
          <div class="col">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2" style="margin-top: -10px;">Physical/Chemical</div>
              <mat-form-field class="col">
                <mat-label>Color</mat-label>
                <mat-select formControlName="uriColor">
                  <mat-option value=""> - </mat-option>
                  <mat-option *ngFor="let uc of urineColor" [value]="uc">
                    {{uc}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col">
                <mat-label>Transparency</mat-label>
                <mat-select formControlName="uriTrans">
                  <mat-option value=""> - </mat-option>
                  <mat-option *ngFor="let ut of urineTransparency" [value]="ut">
                    {{ut}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-12">
                <mat-label>pH</mat-label>
                <mat-select formControlName="uriPh">
                  <mat-option value=""> - </mat-option>
                  <mat-option *ngFor="let ph of ucpH" [value]="ph">
                    {{ph}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-12">
                <mat-label>Sp. Gravity</mat-label>
                <mat-select formControlName="uriSp">
                  <mat-option value=""> - </mat-option>
                  <mat-option *ngFor="let spg of ucSPG" [value]="spg">
                    {{spg}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-12">
                <mat-label>Protein</mat-label>
                <mat-select formControlName="uriPro">
                  <mat-option value=""> - </mat-option>
                  <mat-option *ngFor="let uc of ucValue" [value]="uc">
                    {{uc}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-12">
                <mat-label>Glucose</mat-label>
                <mat-select formControlName="uriGlu">
                  <mat-option value=""> - </mat-option>
                  <mat-option *ngFor="let uc of ucValue" [value]="uc">
                    {{uc}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col">
                <textarea matInput placeholder="Other Notes" style="height:153px;" formControlName="uriOt"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-2 ml-1">
        <div class="row mt-2">
          <div class="col">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2" style="margin-top: -10px;">Microscopic</div>
              <div class="row">
                <div class="col-6">
                  <mat-form-field class="col">
                    <input matInput placeholder="RBC" formControlName="rbc">
                  </mat-form-field>
                </div>
                <div class="col-3 mt-4">/hpf</div>
                <div class="col-3 mt-4">0-3</div>
              </div>
              <div class="row">
                <div class="col-6">
                  <mat-form-field class="col">
                    <input matInput placeholder="WBC" formControlName="wbc">
                  </mat-form-field>
                </div>
                <div class="col-3 mt-4">/hpf</div>
                <div class="col-3 mt-4">0-5</div>
              </div>
              <mat-form-field class="col">
                <mat-label>E.Cells</mat-label>
                <mat-select formControlName="ecells">
                  <mat-option value="NONE">NONE</mat-option>
                  <mat-option *ngFor="let mv of microscopicVal" [value]="mv">
                    {{mv}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col">
                <mat-label>M.Threads</mat-label>
                <mat-select formControlName="mthreads">
                  <mat-option value="NONE">NONE</mat-option>
                  <mat-option *ngFor="let mv of microscopicVal" [value]="mv">
                    {{mv}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col">
                <mat-label>Bacteria</mat-label>
                <mat-select formControlName="bac">
                  <mat-option value="NONE">NONE</mat-option>
                  <mat-option *ngFor="let mv of microscopicVal" [value]="mv">
                    {{mv}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col">
                <mat-label>Amorphous</mat-label>
                <mat-select formControlName="amorph">
                  <mat-option value="NONE">NONE</mat-option>
                  <mat-option *ngFor="let mv of microscopicVal" [value]="mv">
                    {{mv}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col">
                <mat-label>CaOX</mat-label>
                <mat-select formControlName="coAx">
                  <mat-option value="NONE">NONE</mat-option>
                  <mat-option *ngFor="let mv of microscopicVal" [value]="mv">
                    {{mv}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- drug screening -->
    <div class="row">
      <div class="col-md-4 mt-2">
        <div class="row mt-2 ml-1">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Drug Screening</div>
            <mat-form-field class="col">
              <mat-label>Methamphethamine</mat-label>
              <mat-select formControlName="meth">
                <mat-option value="N/A">N/A</mat-option>
                <mat-option *ngFor="let f of foo" [value]="f">
                  {{f}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col">
              <mat-label>Tetrahydrocanabinol</mat-label>
              <mat-select formControlName="tetra">
                <mat-option value="N/A">N/A</mat-option>
                <mat-option *ngFor="let f of foo" [value]="f">
                  {{f}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col">
              <mat-label>Drug Test Result</mat-label>
              <mat-select formControlName="drugtest">
                <mat-option value="N/A">N/A</mat-option>
                <mat-option *ngFor="let f of foo" [value]="f">
                  {{f}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mt-2">
        <div class="row mt-2 ml-1">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Serology</div>
            <div class="row">
              <div class="col">
                <mat-form-field class="col">
                  <mat-label>HBsAg</mat-label>
                  <mat-select formControlName="hbsAG">
                    <mat-option value="N/A">N/A</mat-option>
                    <mat-option *ngFor="let r of react" [value]="r">
                      {{r}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="col">
                  <mat-label>Pregnancy Test</mat-label>
                  <mat-select formControlName="pregTest">
                    <mat-option value="N/A">N/A</mat-option>
                    <mat-option *ngFor="let f of foo" [value]="f">
                      {{f}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="col">
                  <textarea matInput placeholder="Other Notes" style="height:30px;"
                    formControlName="seroOt"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- fecalysis -->
    <div class="row">
      <div class="col-md-4 mt-2">
        <div class="row mt-2 ml-1">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Fecalysis</div>
            <div class="row">
              <div class="col">
                <mat-form-field class="col">
                  <mat-label>Color</mat-label>
                  <mat-select formControlName="fecColor">
                    <mat-option value="N/A">N/A</mat-option>
                    <mat-option *ngFor="let fc of fecColor" [value]="fc">
                      {{fc}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="col">
                  <mat-label>Consistency</mat-label>
                  <mat-select formControlName="fecCon">
                    <mat-option value="N/A">N/A</mat-option>
                    <mat-option *ngFor="let cons of fecCons" [value]="cons">
                      {{cons}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="col">
                  <mat-label>Microscopic Findings</mat-label>
                  <mat-select formControlName="fecMicro">
                    <mat-option value="N/A">N/A</mat-option>
                    <mat-option value="NO OVA OR PARASITE SEEN">NO OVA OR PARASITE SEEN</mat-option>
                    <mat-option value="Presence of:">Presence of:</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="col">
                  <textarea matInput placeholder="Presence of..." style="height:87px;"
                    formControlName="fecOt"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- lab pesonnel -->
    <div class="row mb-4">
      <div class="col-md-12 mt-2 mx-auto">
        <div class="row mt-2">
          <div class="bold-1 p-3 des">
            <div class="bold-1 title pl-2 pr-2">Laboratory Personnel</div>
            <mat-form-field class="col-3">
              <!-- Get from transaction biller -->
              <input matInput placeholder="Clinician/Walk-In" [value]="transaction?.biller" disabled>
            </mat-form-field>
            <mat-form-field class="col-3">
              <mat-label>Medical Technologist</mat-label>
              <mat-select formControlName="medID">
                <mat-option value=""> - </mat-option>
                <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
                  {{m.lastName}}, {{m.firstName}} {{m.middleName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-3">
              <mat-label>Quality Control</mat-label>
              <mat-select formControlName="qualityID">
                <mat-option value=""> - </mat-option>
                <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
                  {{m.lastName}}, {{m.firstName}} {{m.middleName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-3">
              <mat-label>Pathologist</mat-label>
              <mat-select formControlName="pathID">
                <mat-option value=""> - </mat-option>
                <mat-option *ngFor="let m of medtech" [value]="m.personnelID">
                  {{m.lastName}}, {{m.firstName}} {{m.middleName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto" style="width: 65px;">
    <button mat-raised-button color="primary" class="mb-3" (click)="addInd()" *ngIf="!update">ADD</button>
    <button mat-raised-button color="accent" class="mb-3" (click)="updateInd()" *ngIf="update">UPDATE</button>
  </div>
</form>
</mat-dialog-content>
