.border-top{
    border-top: 4px #2980b9 !important;
}
/* width */
::-webkit-scrollbar {
    width: 2px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #2980b9;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2980b9;
}



.delete:hover button{
  display: block !important
}

.delete:hover {
  background-color: white !important;
}

.delete{
  background-color: red;
  width: 70px;
  min-height: 3px;
  cursor: pointer;
  margin: 0px auto;
}

.transCon{
  font-size: 10px;
  height: 325px;
  overflow-y: auto;
  border-top: #2980b9 2px solid;
  border-bottom: #2980b9 5px solid;
}

.mat-success {
  background-color: #2980b9;
  color: #fff;
}
