<mat-dialog-content>
  <form [formGroup]="accountForm" (ngSubmit)="accountSubmit()">
    <div class="form-group row">
      <div class="col-md-12 text-center">
        <h4>Account Settings</h4>
      </div>
    </div>

    <hr>

    <div class="form-group row">
      <mat-form-field class="col-md-12">
        <input matInput type="text" formControlName="userName" placeholder="Username" readonly>
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <input matInput type="password" formControlName="userPassTemp" placeholder="Password">
      </mat-form-field>
    </div>

    <div class="form-group row">
      <div class="col-md-12 text-right">
        <button mat-button matDialogClose type="button">Cancel</button>
        <button mat-raised-button type="submit" color="primary" [disabled]="!accountForm.valid">Update</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
