<div class="container">
  <div class="form-group row">
    <div class="col-md-12">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <div class="form-group row">
            <div class="col-md-12 text-center">
              <div class="header mt-1 ls-2 mb-3">
                <span class="bold-2">PATIENT INFORMATION</span>
              </div>
            </div>
            <div class="col-md-2">
              <p class="h6">Name:</p>
              <p class="h6 font-weight-bold">
                {{ patientDatas?.fullName }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Contact:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.contactNo }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Age:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.age }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Gender:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.gender }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Address:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.address }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Company name:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.companyName }}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-8">
      <p class="h5 mt-2 ml-2">{{ type | uppercase  }} RESULTS</p>
    </div>
    <div class="col-md-4">
      <mat-form-field class="col-md-12">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search data">
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <div class="mat-elevation-z2 table-con">
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
          <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span style="text-transform: uppercase;" class="ls-1 bold-1">
                {{column}}
              </span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{element[column]}}
              <div *ngIf="column == 'action'">
                <button type="button" mat-raised-button color="primary" (click)="view(element.transaction)">
                  <mat-icon>visibility</mat-icon> View Data
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" class="mat-paginator-sticky"></mat-paginator>
      </div>
    </div>
  </div>


  <div class="form-group row">
    <div class="col text-right">
      <button type="button" mat-raised-button color="accent" (click)="close()">
        <mat-icon>close</mat-icon> Close
      </button>
    </div>
  </div>
</div>
