<div class="container-fluid mt-4">
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 " >
          <img src="assets/image/questLogoTrans.webp" id="icon" alt="User Icon" />
        <div class="mat-elevation-z8">
          <nav mat-tab-nav-bar mat-stretch-tabs  >
              <a mat-tab-link
                 routerLink="signin"
                 routerLinkActive #rli="routerLinkActive"
                 [active]="rli.isActive">
                  <clr-icon shape="login"></clr-icon>
                  <span class="tab-text">
                    &nbsp;&nbsp;SIGN IN
                  </span>
              </a>
              <a mat-tab-link
                routerLink="signup"
                routerLinkActive #rlu="routerLinkActive"
                [active]="rlu.isActive">
                  <clr-icon shape="id-badge"></clr-icon>
                  <span class="tab-text">
                      &nbsp;&nbsp;SIGN UP
                  </span>
              </a>
            </nav>
            <router-outlet></router-outlet>
          </div>
      </div>
      <div class="col-md-4">
      </div>
  </div>

</div>

