<mat-dialog-content>
  <p class="bold-3 ls-1">{{ data.title }}</p>
  <div class="form-group row">
    <div class="col-md-12 text-center">
      <button type="button" mat-raised-button color="primary" mat-dialog-close="yes">Yes</button>
      <button type="button" mat-raised-button color="warn" mat-dialog-close="no" class="ml-2">No</button>
    </div>
  </div>
</mat-dialog-content>
