/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.s-top {
    box-shadow: 0px -15px 10px -15px #111;
}
.s-bottom {
    box-shadow: 0px 15px 10px -15px #111;
}
.s-left {
    box-shadow: -15px 0px 10px -15px #111;
}
.s-right {
    box-shadow: 15px 0px 10px -15px #111;
}
.s-top-light {
  box-shadow: 0px -15px 10px -15px #fff;
}

.s-bottom-light {
  box-shadow: 0px 15px 10px -15px #fff;
}

.s-left-light {
  box-shadow: -15px 0px 10px -15px #fff;
}

.s-right-light {
  box-shadow: 15px 0px 10px -15px #fff;
}
.text-dark-shadow {
  text-shadow: 1px 2px #000000;
}
.ls-1{
    letter-spacing: 2px;
}
.ls-2{
    letter-spacing: 5px;
}
.ls-3{
    letter-spacing: 8px;
}
.bold-none{
    font-weight: normal;
}
.bold-1{
    font-weight: bold;
}
.bold-2{
    font-weight: bolder;
}
.bold-3{
    font-weight: 1000;
}
.ts-1{
    font-size: 16px;
}
.ts-2{
    font-size: 20px;
}
.ts-3{
    font-size: 24px;
}
.edge{
    border-radius: 0px !important;
}
.cdk-overlay-pane{
  max-width: 98vw !important;
  max-height: 95vh !important;
}
.mat-dialog-content{
  max-height: 75vh !important;
}

.bg-facebook {
  background-color: #4267B2;
}

.bg-facebook-light {
  background-color: #628bde !important;
}

.bg-facebook-light-darker {
  background-color: #5173B8 !important;
}

.btn-facebook {
  color: #fff;
  background-color: #4267B2;
  border-color: #4267B2;
}

.shadow-light {
  box-shadow: 3px 3px 2px #fff;
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
@media print {
  transaction-list > * { display: none; }
  transaction > * { display: none; }

  transaction receipt { display: block; }
  transaction-list receipt { display: block; }

  report-list > * { display: none; }
  report-list sales-pdf { display: block; }

  app-billing > * { display: none; }
  app-billing billing-pdf { display: block; }

  // transaction-list lab-result { display: block; }

  app-imaging-items { display: none; }
  app-imaging-markers { display: none; }
  app-imaging-print-marker { display: block; }

  app-imaging-xray-inventory { display: none; }
  app-imaging-print-sticker { display: block; }
  app-imaging-print-sticker-id { display: block; }

  app-email-results { display: none; }
  app-report-pdf { display: block; }

  app-summary-report > * { display: none; }
  app-dialog-summary-report > * { display: none; }

  app-email-results { display: none; }
  app-pdf-summary-report { display: block; }

  /* app-patient-rec {
    display: none;
  } */

  app-clearance-history {
    display: none;
  }
  //app-display-pe-form { display: block; }

  app-docpatient-list {
    display: none;
  }

}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44,#2980b9 ),
    color-stop(0.72, #329be0),
    color-stop(0.86, #3bb1ff)
  );
}

.header {
  width: 100%;
  font-size: 20px;
  border-bottom: solid #2980b9 5px;
  padding: 5px;
  text-align: center;
}

.title {
  position: absolute;
  top: -5px;
  background-color: white
}

.des {
  border: solid #2980b9 1px;
  border-radius: 5px;
  width: 100%;
}

.nvText {
  font-size: 12px;
  height: 65px;
}

.m-custom {
  padding-left: 5px;
  padding-right: 5px;
}

.mat-success {
  background-color: #2980b9;
  color: #fff;
}

.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #000 !important;
}

.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #000 !important;
  ;
}
