<mat-dialog-content>
  <div class="container-fluid mb-3">
    <div class="form-group row">
      <div class="col-md-12 text-center">
        <div class="header mt-1 ls-2">
          <span class="bold-2">Manage Items</span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6 mt-4">
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field class="col-md-12">
              <mat-label>Item type</mat-label>
              <mat-select (selectionChange)="filterItems($event.value)" [value]="filterTable">
                <mat-option *ngFor="let table of tables" value="{{ table }}">{{ table }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6 text-right">
            <button mat-raised-button (click)="refreshItems()" class="mr-2"><mat-icon>history</mat-icon></button>
          </div>
          <div class="col-md-11 mx-auto mat-elevation-z8">
            <div style="max-height: 400px; overflow: auto;">
              <table mat-table [dataSource]="dataSource" class="table" matSort>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="primary" *ngIf="element.status == 'false'" (click)="activate(element.id)"><mat-icon>done</mat-icon></button>
                    <button mat-mini-fab color="warn" *ngIf="element.status == 'true'" (click)="deactivate(element.id)"><mat-icon>clear</mat-icon></button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="row">
          <div class="header mt-1 ls-2">
            <span class="bold-2">Add Item</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <div class="bold-1 p-3 des">
              <form [formGroup]="addMarkerForm" (ngSubmit)="addMarker()">
                <div class="bold-1 title pl-2 pr-2">Item details</div>
                <mat-form-field class="col-md-6">
                  <input matInput placeholder="Name" formControlName="name">
                </mat-form-field>
                <mat-form-field class="col-md-5">
                  <mat-label>Select Type</mat-label>
                  <mat-select (selectionChange)="table($event.value)" formControlName="type">
                    <mat-option *ngFor="let table of tables" value="{{ table }}">{{ table }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" class="ml-2" [disabled]="!addMarkerForm.valid">
                  <mat-icon>save</mat-icon> Save
                </button>
              </form>
            </div>
            <br>

            <div class="bold-1 p-3 des">
               <p>NOTE: This section is for managing imaging items.
                 Use at your own risk!</p>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
              </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
