<div class="container-fluid">
  <div class="form-group row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-content>
          <div class="form-group row">
            <div class="col-md-12 text-center">
              <div class="header mt-1 ls-2 mb-3">
                <span class="bold-2">PATIENT INFORMATION</span>
              </div>
            </div>
            <div class="col-md-2">
              <p class="h6">Name:</p>
              <p class="h6 font-weight-bold">
                {{ patientData?.fullName }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Contact:</p>
              <p class="h6 font-weight-bold">{{ patientData?.contactNo }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Age:</p>
              <p class="h6 font-weight-bold">{{ patientData?.age }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Gender:</p>
              <p class="h6 font-weight-bold">{{ patientData?.gender }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Address:</p>
              <p class="h6 font-weight-bold">{{ patientData?.address }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Company name:</p>
              <p class="h6 font-weight-bold">{{ patientData?.companyName }}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
      <button type="button" mat-raised-button color="primary" (click)="close()">
        <mat-icon>arrow_left</mat-icon> Go Back
      </button>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <microscopy-result [microscopy]="microscopy" *ngIf="type === 'microscopy'"></microscopy-result>
      <hematology-result [hematology]="hematology" *ngIf="type === 'hematology'"></hematology-result>
      <chemistry-result [chemistry]="chemistry1" *ngIf="type === 'chemistry'"></chemistry-result>
      <serotoxic-result [serology]="serology" [toxicology]="toxicology" *ngIf="type === 'serology' || type === 'toxicology'">
      </serotoxic-result>
      <div *ngIf="chemistry2">
        <chemistry-result [chemistry]="chemistry2" *ngIf="type === 'chemistry'"></chemistry-result>
      </div>
    </div>
  </div>
</div>

