.lineLabel {
  font-size: .8em;
  color: #3F65B0;
  font-family: "Times New Roman";
  font-weight: bolder;
}

.lineLabelSmall {
  color: #3F65B0;
  font-family: "Times New Roman";
  font-weight: bolder;
}

.lineValue {
  color: #000;
  font-weight: bold;
}

@media screen {
  :host {
    display: none;
  }
}
