<div class="row">
  <div class="col-8">
    <div class="card" style="border-radius: 0px; margin-top: 10px; border: 3px solid #104E8B; width: 95%; height: 600px;">
      <p class="pt-1 px-1">{{ value }}</p>
    </div>
  </div>
</div>
