<div *ngIf="type == 'doctor'" class="search-con mt-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4">
            <span class="bold-2 ls-1 mr-3"> Start Date: </span>
            <ejs-datetimepicker [formControl]='from'></ejs-datetimepicker>
          </div>
          <div class="col-md-4">
            <span class="bold-2 ls-1 mr-3"> End Date: </span>
            <ejs-datetimepicker [formControl]='to'></ejs-datetimepicker>
          </div>
          <div class="col-md-auto">
            <button mat-raised-button class="ml-4 mt-3" (click)="getData()" [color]="'success'">Filter</button>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <mat-form-field class="search-field">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Patient">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div *ngIf="type == 'sales'" class="search-con mt-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <span class="bold-2 ls-1 mr-3"> Start Date: </span>
        <ejs-datetimepicker [formControl]='from'></ejs-datetimepicker>
      </div>
      <div class="col-md-3">
        <span class="bold-2 ls-1 mr-3"> End Date: </span>
        <ejs-datetimepicker [formControl]='to'></ejs-datetimepicker>
      </div>

      <div class="col-md-1">
        <button mat-raised-button class="mt-3" (click)="setData()" [color]="'success'">Filter</button>
      </div>

      <div class="col-md-5">
        <span class="bold-2 ls-1 mr-3" style="width:30%"> GENERATE:</span>
        <mat-form-field style="width:35%">
          <mat-label>SELECT</mat-label>
          <mat-select [formControl]="generateFile">
            <mat-option *ngFor="let generate of gen" [value]="generate.value">
              {{generate.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button class="ml-4" (click)="generate()" [color]="'success'" style="width:30%"
          [disabled]="!generateFile.valid">Generate</button>
      </div>

    </div>
  </div>
</div>

<div class="mat-elevation-z2 table-con">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span style="text-transform: uppercase;" class="ls-1 bold-1">
          {{column}}
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <span [style.color]="element['color']" [ngClass]="{'font-weight-bold': column == 'patient'}">
          {{element[column]}}
        </span>
        <div *ngIf="column == 'action'">
          <!-- doctor action -->
          <div *ngIf="type == 'doctor'">
            <button mat-mini-fab color="primary" (click)="patientRec(element.patientId)"
              matTooltip="Patient Record">
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          <!-- secretary action -->
          <div *ngIf="type == 'secretary'">
            <button mat-mini-fab [color]="'success'" (click)="patientPay(element.id, element.patientId, 'payment')"
              *ngIf="!element.paid">
              <mat-icon>monetization_on</mat-icon>
            </button>
            <button mat-mini-fab [color]="'accent'" (click)="patientPay(element.id, element.patientId, 'view')"
              *ngIf="element.paid">
              <mat-icon>monetization_on</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]" class="mat-paginator-sticky"></mat-paginator>
</div>
