<div class="loader-con" *ngIf="showLoading">
  <div style="margin-top: 30vh">
    <loading></loading>
  </div>
</div>
<div class="form-group row" *ngIf="type !== 'all'">
  <div class="col-md-12 d-flex justify-content-between">
    <h5>{{ title }}</h5>
    <button mat-raised-button (click)="refresh()" color="primary">Refresh</button>
  </div>
</div>
<mat-card *ngIf="type !== 'all'">
  <mat-card-content>
    <div class="mat-elevation-z2 table-con">
      <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span style="text-transform: uppercase;" class="ls-1 bold-1">
              {{column}}
            </span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span [style.color]="element['color']" [ngClass]="{'font-weight-bold': column == 'patient'}">
              {{element[column]}}
            </span>
            <div *ngIf="column == 'action'">
              <button mat-raised-button *ngIf="type == 'pe'" color="primary" (click)="addPe(element.id)">Add PE</button>
              <button mat-raised-button *ngIf="type == 'xray'" color="primary" (click)="printMarker(element.id)">Print
                Marker</button>
              <button mat-raised-button *ngIf="type == 'phleb'" color="primary" (click)="printBarcode(element.id)">Print Barcode</button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-description container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <div class="bold-1">Purchased Items: </div>
                    <div *ngFor="let item of element.items" class="font-weight-bold">
                      + {{item.itemName}}
                      <span style="font-size:10px" *ngIf="item.itemDescription != '' && item.itemDescription != ' '">
                        - ( {{item.itemDescription}} )
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="bold-1">Patient Information: </div>
                    <div>{{element.patInfo?.contactNo}} || {{element.patInfo?.email}}</div>
                    <div>{{element.patInfo?.birthdate}} || {{element.patInfo?.gender}}</div>
                    <div class="bold-2">{{element.patInfo?.companyName}}</div>
                    <div>{{element.patInfo?.address}}</div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns; " class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">>
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 25, 100]" class="mat-paginator-sticky"></mat-paginator>
    </div>

    <div class="container py-3 mb-3" *ngIf="type == 'xray'">
      <div class="form-group row bg-white rounded border mat-elevation-z2">

        <div class="col-md-2">
          <button mat-raised-button (click)="manageMarkers()" [color]="'success'" matTooltip="Manage items"
            class="mt-3">
            <mat-icon>settings_applications</mat-icon> Manage Items
          </button>
        </div>
        <div class="col-md-10">
          <div class="form-group row">
            <div class="col-md-12">
              <p class="h6 bold-2 ls-2 mt-3">Select marker options</p>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12">
                <mat-label>Film Size</mat-label>
                <mat-select [value]="filmSizeValue" #filmSizeSelect>
                  <mat-option *ngFor="let filmSize of filmSizes" [value]="filmSize['name']">{{ filmSize['name'] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12">
                <mat-label>Rad tech</mat-label>
                <mat-select [value]="radTechValue" #radTechSelect>
                  <mat-option *ngFor="let radTech of radTechs" [value]="radTech['name']">{{ radTech['name'] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12">
                <mat-label>Body part</mat-label>
                <mat-select [value]="bodyPartValue" #bodyPartSelect>
                  <mat-option *ngFor="let bodyPart of bodyParts" [value]="bodyPart['name']">{{ bodyPart['name'] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="container-fluid" *ngIf="type == 'all'">
  <div class="form-group row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 text-center h3">Physical Exam</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12" style="height: 520px; overflow: auto; margin: auto;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" #peList *ngFor="let pe of pes; index as i;">
              <p class="h6">{{ i + 1 }}. {{ pe.name }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 text-center h3">Xray</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12" style="height: 520px; overflow: auto; margin: auto;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let xray of xrays; index as i;">
              <p class="h6">{{ i + 1 }}. {{ xray.name }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 text-center h3">Phlebotomy</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12" style="height: 520px; overflow: auto; margin: auto;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let phleb of phlebs; index as i;">
              <p class="h6">{{ i + 1 }}. {{ phleb.name }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
