<mat-dialog-content>
  <div class="container py-3">
    <!-- <div class="form-group row">
      <div class="col-md-12 text-right">
        <button mat-raised-button color="primary" mat-dialog-close="update"><mat-icon>edit</mat-icon> Update</button>
      </div>
    </div> -->
    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">PATIENT INFORMATION</span>
                </div>
              </div>
              <div class="col-md-2">
                <p class="h6">Name:</p>
                <p class="h6 font-weight-bold">
                  {{ patientDatas?.fullName }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Contact:</p>
                <p class="h6 font-weight-bold">{{ patientDatas?.contactNo }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Age:</p>
                <p class="h6 font-weight-bold">{{ patientDatas?.age }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Gender:</p>
                <p class="h6 font-weight-bold">{{ patientDatas?.gender }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Address:</p>
                <p class="h6 font-weight-bold">{{ patientDatas?.address }}</p>
              </div>
              <div class="col-md-2">
                <p class="h6">Company name:</p>
                <p class="h6 font-weight-bold">{{ patientDatas?.companyName }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <form [formGroup]="docForm" (ngSubmit)="docFormSubmit()">
              <div class="form-group row">
                <div class="col-md-12 text-center">
                  <div class="header mt-1 ls-2 mb-3">
                    <span class="bold-2">RECORDS</span>
                  </div>
                </div>
                <div class="row col-md-12">
                  <div class="col-md-3">
                    <ul class="list-group">
                      <span class="bold-2">FAMILY HISTORY</span>
                      <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between">
                          <textarea placeholder="Family History" formControlName="famHis" matInput rows="2"></textarea>
                        </li>
                      </ul>
                    </ul>
                    <ul class="list-group">
                      <span class="bold-2">PAST MEDICAL HISTORY</span>
                      <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between">
                          <textarea placeholder="Past Medical History" formControlName="pastmedHis" matInput
                            rows="2"></textarea>
                        </li>
                      </ul>
                    </ul>
                    <ul class="list-group">
                      <span class="bold-2">History of Allergies</span>
                      <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between">
                          <textarea placeholder="History of Allergies" formControlName="allergies" matInput
                            rows="2"></textarea>
                        </li>
                      </ul>
                    </ul>
                    <ul class="list-group">
                      <span class="bold-2">MEDICINE</span>
                      <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between">
                          <textarea placeholder="Medicine" formControlName="medication" matInput rows="2"></textarea>
                        </li>
                      </ul>
                    </ul>

                    <!-- <button mat-raised-button color="accent" matTooltip="Save" class="mt-3" type="button"
                      (click)="docFormSubmit()">
                      <mat-icon>save</mat-icon> Save
                    </button> -->

                    <!-- <button style="margin-left: 45px;" mat-mini-fab color="primary" matTooltip="Refresh" class="mt-3" type="button">
                      <mat-icon>refresh</mat-icon>
                    </button>

                    <button style="margin-left: 10px;" mat-mini-fab color="warn" matTooltip="Cancel" class="mt-3" type="button">
                      <mat-icon>cancel</mat-icon>
                    </button> -->
                  </div>

                  <div class="col-md-3">
                    <span class="bold-2">DATE</span>
                    <ul class="list-group h-100" style="max-height: 150px; overflow-y: auto; overflow-x: hidden;">
                      <li *ngIf="dates.length == 0">No records yet</li>
                      <li class="list-group-item d-flex justify-content-between" *ngFor="let date of dates"
                        (click)="viewFindDiag(date?.findings, date?.diagnosis)">
                        <!-- <textarea placeholder="" formControlName="allergies" matInput rows="4"></textarea> -->
                        <p>{{ date?.creationDate }}</p>
                      </li>
                    </ul>
                    <br>
                    <mat-form-field class="col-md-12">
                      <textarea matInput formControlName="CreationDate" placeholder="YYYY-MM-DD HH:MM:SS" rows="11"
                        readonly></textarea>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <span class="bold-2">PE/Lab Findings</span>
                    <ul class="list-group h-100" style="max-height: 150px; overflow-y: auto; overflow-x: hidden;">
                      <li class="list-group-item d-flex justify-content-between">
                        <p #findingsText></p>
                      </li>
                    </ul>
                    <br>
                    <mat-form-field class="col-md-12">
                      <textarea placeholder="PE/Lab Findings" formControlName="findings" matInput rows="11"></textarea>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <span class="bold-2">DIAGNOSIS/MANAGEMENT</span>
                    <ul class="list-group h-100" style="max-height: 150px; overflow-y: auto; overflow-x: hidden;">
                      <li class="list-group-item d-flex justify-content-between">
                        <p #diagnosisText></p>
                      </li>
                    </ul>
                    <br>
                    <mat-form-field class="col-md-12">
                      <textarea placeholder="Diagnosis/Management" formControlName="diagnosis" matInput
                        rows="11"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 mx-auto text-center">
                  <button mat-raised-button color="accent" matTooltip="Save" class="col-md-12 mt-3" type="button"
                    (click)="docFormSubmit()">
                    <mat-icon>save</mat-icon> Save
                  </button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <p class="h6 bold-3 ls-2 mt-3">MENU: </p>

        <div class="row">
          <div class="col-md-1">
            <button mat-mini-fab color="primary" (click)="blank(patientId)" matTooltip="Print" class="mt-3">
              <mat-icon>print</mat-icon>
            </button>
          </div>
          <div class="col-md-1">
            <button mat-mini-fab color="primary" (click)="medicine(patientId)" matTooltip="Medication" class="mt-3">
              <mat-icon>vignette</mat-icon>
            </button>
          </div>
          <div class="col-md-1">
            <button mat-mini-fab color="primary" (click)="medcert(patientId)" matTooltip="Medcert" class="mt-3">
              <mat-icon>recent_actors</mat-icon>
            </button>
          </div>
          <div class="col-md-1">
            <button mat-mini-fab color="primary" (click)="clearance(patientId)" matTooltip="Clearance" class="mt-3">
              <mat-icon>event_note</mat-icon>
            </button>
          </div>
          <div class="col-md-1">
            <button mat-mini-fab color="primary" (click)="request(patientId)" matTooltip="Request" class="mt-3">
              <mat-icon>layers</mat-icon>
            </button>
          </div>
          <!-- <div class="col-md-1">
            <button mat-mini-fab color="primary" (click)="covid(patientId)" matTooltip="Covid" class="mt-3">
              <mat-icon>polymer</mat-icon>
            </button>
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-1">
            <button mat-mini-fab color="accent" (click)="labs(patientId, 'microscopy')" matTooltip="Microscopy" class="mt-3">
              <mat-icon>visibility</mat-icon>
            </button>
          </div>

          <div class="col-md-1">
            <button mat-mini-fab color="accent" (click)="labs(patientId, 'hematology')" matTooltip="Hematology" class="mt-3">
              <mat-icon>linear_scale</mat-icon>
            </button>
          </div>

          <div class="col-md-1">
            <button mat-mini-fab color="accent" (click)="labs(patientId, 'chemistry')" matTooltip="Chemistry" class="mt-3">
              <mat-icon>share</mat-icon>
            </button>
          </div>

          <div class="col-md-1">
            <button mat-mini-fab color="accent" (click)="labs(patientId, 'serology')" matTooltip="Serology" class="mt-3">
              <mat-icon>scatter_plot</mat-icon>
            </button>
          </div>

          <!-- <div class="col-md-1">
            <button mat-mini-fab color="accent" (click)="labs(patientId, 'xray')" matTooltip="Xray" class="mt-3">
              <mat-icon>compare</mat-icon>
            </button>
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-12">
            <button mat-raised-button color="primary" matTooltip="Refresh" class="mt-3">
              <mat-icon>refresh</mat-icon> Refresh
            </button>
            &nbsp;
            <button mat-raised-button color="warn" mat-dialog-close matTooltip="Close" class="mt-3">
              <mat-icon>cancel</mat-icon> Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
