<mat-dialog-content>
  <div class="form-group row">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="medhisForm" (ngSubmit)="updateMedhis()">
          <div class="form-group row">
            <div class="col-md-12 text-center">
              <div class="header mt-1 ls-2 mb-3">
                <span class="bold-2">Add Medical History</span>
              </div>
            </div>
            <div class="col-md-6 text-right">
              <p class="bold-3 ls-1">SIGNIFICANT PAST ILLNESS</p>
            </div>
            <div class="col-md-6 text-center">
              <p class="bold-3 ls-1">YES / NO</p>
            </div>
          </div>

          <!--  -->

          <div class="row mb-3" *ngFor="let medical of medicals">
            <div class="col-md-6 text-right">
              <p class="h6 bold-3 ls-1">{{ medical.category }}</p>
            </div>
            <div class="col-md-6 text-center">
              <mat-radio-group formControlName="{{ medical.control }}">
                <mat-radio-button value="YES" color="primary" class="ml-2">
                </mat-radio-button>
                <mat-radio-button value="NO" color="primary" class="ml-2">
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-12 text-right">
              <button mat-raised-button color="accent" mat-dialog-close>
                <mat-icon>clear</mat-icon> cancel
              </button>
              <button type="submit" mat-raised-button color="primary" class="ml-2">
                <mat-icon>save</mat-icon> Save changes
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
