<mat-dialog-content>
  <!-- Name -->
  <div class="form-group row">
    <div class="col-md-12">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <div class="form-group row" >
            <div class="col-md-12 text-center">
              <div class="header mt-1 ls-2 mb-3">
                <span class="bold-2">PATIENT INFORMATION</span>
              </div>
            </div>
            <div class="col-md-2">
              <p class="h6">Name:</p>
              <p class="h6 font-weight-bold">
                {{ patientDatas?.lastName + ', ' + patientDatas?.firstName + ' ' + patientDatas?.middleName }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Contact:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.contactNo }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Age:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.age }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Gender:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.gender }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Address:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.address }}</p>
            </div>
            <div class="col-md-2">
              <p class="h6">Company name:</p>
              <p class="h6 font-weight-bold">{{ patientDatas?.companyName }}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <form [formGroup]="addClearance" (ngSubmit)="saveClearance()">
    <!-- Pertinent Medical -->
    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content >
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">PERTINENT MEDICAL HISTORY</span>
                </div>
              </div>
              <div class="row col-md-12" >
                <div class="col-md-4">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between" *ngFor="let med of medhis">
                      <mat-checkbox formControlName="{{ med['control'] }}" value="{{med['label']}}" class="bold-2" color="primary">
                        {{ med['label'] | uppercase  }}</mat-checkbox>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="list-group">
                    <span class="bold-2">Allergies</span>
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between">
                        <textarea placeholder="Allergies" formControlName="allergies" matInput rows="5"></textarea>
                      </li>
                    </ul>
                  </ul>
                  <ul class="list-group">
                      <span class="bold-2">SOCIAL HISTORY</span>
                      <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between">
                          <textarea placeholder="Social History" formControlName="socialHis" matInput  rows="5"></textarea>
                        </li>
                      </ul>
                  </ul>
                  <ul class="list-group">
                    <span class="bold-2">PREVIOUS SURGERY</span>
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between">
                        <textarea placeholder="Previous Surgery" formControlName="prevSurgery" matInput rows="5"></textarea>
                      </li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!--End-->

    <!--PE-->
    <form formGroupName="addPe">
      <div class="form-group row">
        <div class="col-md-12">
          <mat-card class="mat-elevation-z8">
            <mat-card-content>
              <div class="form-group row">
                <div class="col-md-12 text-center">
                  <div class="header mt-1 ls-2 mb-3">
                    <span class="bold-2">PHYSICAL EXAMINATION</span>
                  </div>
                </div>
                <div class="row col-md-12">
                  <div class="col-md-4">
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between">
                        <mat-form-field class="col-md-12">
                          <mat-label>BP</mat-label>
                          <input matInput required formControlName="bp" >
                        </mat-form-field>
                      </li>
                      <li class="list-group-item d-flex justify-content-between">
                        <mat-form-field class="col-md-12">
                          <mat-label>H/N</mat-label>
                          <input matInput required formControlName="hn">
                        </mat-form-field>
                      </li>
                      <li class="list-group-item d-flex justify-content-between">
                          <mat-form-field class="col-md-12">
                            <mat-label>C/L</mat-label>
                            <input matInput required formControlName="cl">
                          </mat-form-field>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between">
                        <mat-form-field class="col-md-12">
                          <mat-label>HR</mat-label>
                          <input matInput required formControlName="hr">
                        </mat-form-field>
                      </li>
                        <li class="list-group-item d-flex justify-content-between">
                        <mat-form-field class="col-md-12">
                          <mat-label>CARDIAC</mat-label>
                          <input matInput required formControlName="cardiac">
                        </mat-form-field>
                      </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <mat-form-field class="col-md-12">
                          <mat-label>ABD</mat-label>
                          <input matInput required formControlName="abd">
                        </mat-form-field>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between">
                        <mat-form-field class="col-md-12">
                          <mat-label>EXT</mat-label>
                          <input matInput required formControlName="ext">
                        </mat-form-field>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    <!--End-->
    </form>

    <!--ROS-->
    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">REVIEW OF SYSTEMS</span>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="col-md-4">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between" *ngFor="let ross of ros">
                      <mat-checkbox formControlName="{{ ross['control'] }}" value="{{ross['label']}}" class="bold-2" color="primary">
                        {{ ross['label'] | uppercase  }}</mat-checkbox>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!--End-->

    <!--Others-->
    <div class="form-group row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">WORK-UP & ASSESMENT/PLAN</span>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="col-md-6">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                      <textarea placeholder="WORK-UP" formControlName="workUp" matInput rows="10"></textarea>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                      <textarea placeholder="ASSESMENT/PLAN" formControlName="assesmentPlan" matInput rows="10"></textarea>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!--End-->
    <div class="form-group row">
      <div class="col-md-12 text-center">
        <button type="button" mat-raised-button matDialogClose color="warn" (click)="close()">Back</button>
        <button type="submit" mat-raised-button color="primary" class="ml-2">Save</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
