<mat-dialog-content>
  <patient-info [id]="tid" class="sticky-top"></patient-info>
  <form [formGroup]="form" autocomplete="off" (ngSubmit)="submit()">
    <div class="container mb-3">
      <div formGroupName="echoForm">
        <div class="row">
          <div class="header mt-1 ls-2">
            <span *ngIf="update" class="bold-2">UPDATE</span>
            <span *ngIf="!update" class="bold-2">ADD</span>
            <span class="bold-2"> 2-DIMENSIONAL ECHOCARDIOGRAM REPORT</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">LVEDD</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="lvedd">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma): </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">LVEDV</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="lvedv">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          56-104/67-155</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">LA(A-P)</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="laap">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma): 2.7-3.8/3.0-4.0</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">LVESD</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="lvesd">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma): </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">LVESV</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="lvesv">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          19-49/22-58</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">LA(R-L)</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="larl">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma): </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">LVEDD/BSA</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="lveddbsa">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma): 2.4-3.2/2.2-3.1</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">SV</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="sv">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          >65</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">LA/BSA</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="labsa">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma): 1.5-2.3 cm/m2</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">LVESD/BSA</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="lvesdbsa">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma): 1.4-2.1</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">C.O.</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="co">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          >4.5</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">A1</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="a1">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          L1</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">IVSD</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="ivsd">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          0.6-0.9/0.6-1.0</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">EF(M-Mode)</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="efm">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          >55%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">A2</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="a2">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          L2</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">IVSS</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="ivss">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">EF(Simpson's)</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="efs">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          >55%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">LAVI</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="lavi">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          >28 cc/m2</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">PWD</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="pwd">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          0.6-0.9/0.6-1.0</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">FS</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="fs">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          27-45%/24-43%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">Aorta</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="aorta">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">PWS</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="pws">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">EPSS</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="epss">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma): :
                            < 0.7  </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">LVOT</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="lvot">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          1.8-2.4</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">LVMI</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="lvmi">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          43-95/49-115</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">LVET</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="lvet">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                            </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">MV Annulus</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="mva">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          1.9-3.4</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">RWT</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="rwt">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                        0.24-0.42 </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">RV(mid)</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="rvm">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                            2.7-3.5 </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">TV Annulus</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="tva">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          1.3-2.8</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">RA (R-L)</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="rarl">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          2.9-4.5</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">RVFAC</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="rvfac">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                            </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">RVOT</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="rvot">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          2.5-2.9</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">RA/BSA</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="rabsa">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">TAPSE</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="tapse">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          ≥16mm </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">MPA</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="mpa">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma):
                          1.5-3.5</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
          </div>
          <div class="col-md-4 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-1 title pl-2 pr-2">RVWT</div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <mat-form-field class="col-6">
                        <input matInput placeholder="Result" formControlName="rvwt">
                      </mat-form-field>
                      <div class="col-6 pt-3">
                        <span class="nvText">Normal Range (Fe/Ma): : < 0.5</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
          </div>
        </div>

        <div class="row">
          <div class="header mt-1 ls-2">
            <span class="bold-2"> COLOR FLOW AND DOPPLER STUDIES</span>
          </div>
        </div>
      </div>

      <div formGroupName="colorForm">
        <div class="row">
          <div class="col-md-6 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-2 title pl-2 pr-2">LVOT</div>
                <div class="row">
                  <div class="col-md-12 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">Hemodynamic Analysis</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Velocity(m/sec)" formControlName="lvelocity">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Peak Gradient(mmHg)" formControlName="lpeakgrad">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="VTI" formControlName="lvti">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Valve Area(cm2)" formControlName="lvalve">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">Regurgitation</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Ratio" formControlName="lratio">
                              </mat-form-field>
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Jet Area" formControlName="ljetarea">
                              </mat-form-field>
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Vc(cm)" formControlName="lvc">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-2 title pl-2 pr-2">AORTIC VALVE</div>
                <div class="row">
                  <div class="col-md-12 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">Hemodynamic Analysis</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Velocity(m/sec)" formControlName="avvelocity">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Peak Gradient(mmHg)" formControlName="avpeakgrad">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="VTI" formControlName="avvti">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Valve Area(cm2)" formControlName="avvalve">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">Regurgitation</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Ratio" formControlName="avratio">
                              </mat-form-field>
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Jet Area" formControlName="avjetarea">
                              </mat-form-field>
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Vc(cm)" formControlName="avvc">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-2 title pl-2 pr-2">MITRAL VALVE</div>
                <div class="row">
                  <div class="col-md-12 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">Hemodynamic Analysis</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Velocity(m/sec)" formControlName="mvvelocity">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Peak Gradient(mmHg)" formControlName="mvpeakgrad">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="VTI" formControlName="mvvti">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Valve Area(cm2)" formControlName="mvvalve">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">Regurgitation</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Ratio" formControlName="mvratio">
                              </mat-form-field>
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Jet Area" formControlName="mvjetarea">
                              </mat-form-field>
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Vc(cm)" formControlName="mvvc">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-2 title pl-2 pr-2">TRICUSPID VALVE</div>
                <div class="row">
                  <div class="col-md-12 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">Hemodynamic Analysis</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Velocity(m/sec)" formControlName="tvvelocity">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Peak Gradient(mmHg)" formControlName="tvpeakgrad">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="VTI" formControlName="tvvti">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Valve Area(cm2)" formControlName="tvvalve">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">Regurgitation</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Ratio" formControlName="tvratio">
                              </mat-form-field>
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Jet Area" formControlName="tvjetarea">
                              </mat-form-field>
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Vc(cm)" formControlName="tvvc">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-2 title pl-2 pr-2">PULMONIC VALVE</div>
                <div class="row">
                  <div class="col-md-12 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">Hemodynamic Analysis</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Velocity(m/sec)" formControlName="pvvelocity">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Peak Gradient(mmHg)" formControlName="pvpeakgrad">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="VTI" formControlName="pvvti">
                              </mat-form-field>
                              <mat-form-field class="col-3">
                                <input matInput placeholder="Valve Area(cm2)" formControlName="pvvalve">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">Regurgitation</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Ratio" formControlName="pvratio">
                              </mat-form-field>
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Jet Area" formControlName="pvjetarea">
                              </mat-form-field>
                              <mat-form-field class="col-4">
                                <input matInput placeholder="Vc(cm)" formControlName="pvvc">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-2 title pl-2 pr-2">PULMONARY ARTERY PRESSURE</div>
                <div class="row">
                  <div class="col-md-12 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2"></div>
                        <div class="col-12">
                          <div class="row">
                            <mat-form-field class="col-4">
                              <input matInput placeholder="PAT" formControlName="pat">
                            </mat-form-field>
                            <mat-form-field class="col-4">
                              <input matInput placeholder="RVAT" formControlName="rvat">
                            </mat-form-field>
                            <mat-form-field class="col-4">
                              <input matInput placeholder="TR Jet" formControlName="trjet">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="header mt-1 ls-2">
            <span class="bold-2">DIASTOLIC FUNCTION</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-2 title pl-2 pr-2">MITRAL INFLOW</div>
                <div class="row">
                  <div class="col-md-6 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">E Wave DT</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-6">
                                <input matInput placeholder="Result" formControlName="ewave">
                              </mat-form-field>
                              <div class="col-6 pt-3">
                                <span class="nvText">Normal Range: 160-230 m/sec </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">IVRT</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-6">
                                <input matInput placeholder="Result" formControlName="ivrt">
                              </mat-form-field>
                              <div class="col-6 pt-3">
                                <span class="nvText">Normal Range: 60-90 m/sec </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-2">
            <div class="row mt-2 m-custom">
              <div class="bold-1 p-3 des">
                <div class="bold-2 title pl-2 pr-2">MITRAL ANNULUS VELOCITY</div>
                <div class="row">
                  <div class="col-md-6 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">Lat E</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-6">
                                <input matInput placeholder="Result" formControlName="late">
                              </mat-form-field>
                              <div class="col-6 pt-3">
                                <span class="nvText">m/sec </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">Med E</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-6">
                                <input matInput placeholder="Result" formControlName="mede">
                              </mat-form-field>
                              <div class="col-6 pt-3">
                                <span class="nvText">m/sec </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">Lat A</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-6">
                                <input matInput placeholder="Result" formControlName="lata">
                              </mat-form-field>
                              <div class="col-6 pt-3">
                                <span class="nvText">m/sec </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">Med A</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-6">
                                <input matInput placeholder="Result" formControlName="meda">
                              </mat-form-field>
                              <div class="col-6 pt-3">
                                <span class="nvText">m/sec </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">E</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-12">
                                <input matInput placeholder="Result" formControlName="e">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-4 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">A</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-12">
                                <input matInput placeholder="Result" formControlName="a">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 mt-2">
                    <div class="row mt-2 m-custom">
                      <div class="bold-1 p-3 des">
                        <div class="bold-1 title pl-2 pr-2">E/e Ratio</div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <mat-form-field class="col-12">
                                <input matInput placeholder="Result" formControlName="eeratio">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- lab pesonnel -->
      <div class="row mb-4">
        <div class="col-md-12 mt-2">
          <div class="row mt-2">
            <div class="bold-1 p-3 des">
              <div class="bold-1 title pl-2 pr-2">Imaging Personnel</div>
              <mat-form-field class="col-3">
                <!-- Get from transaction biller -->
                <input matInput placeholder="Clinician/Walk-In" [value]="transaction?.biller" disabled>
              </mat-form-field>
              <mat-form-field class="col-3">
                <mat-label>Echocardiographer</mat-label>
                <mat-select formControlName="echoCarID">
                  <mat-option *ngFor="let p of personnels" [value]="p.personnelID">
                    {{p.lastName}}, {{p.firstName}}&nbsp;{{p.middleName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-3">
                <mat-label>Quality Control</mat-label>
                <mat-select formControlName="qualityID">
                  <mat-option *ngFor="let p of personnels" [value]="p.personnelID">
                    {{p.lastName}}, {{p.firstName}}&nbsp;{{p.middleName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-3">
                <mat-label>Cardiologist</mat-label>
                <mat-select formControlName="cardioID">
                  <mat-option *ngFor="let p of personnels" [value]="p.personnelID">
                    {{p.lastName}}, {{p.firstName}}&nbsp;{{p.middleName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto" style="width: 65px;">
      <button mat-raised-button color="primary" class="mb-3" type="submit" *ngIf="!update">ADD</button>
      <button mat-raised-button color="accent" class="mb-3" type="submit" *ngIf="update">UPDATE</button>
    </div>
  </form>
</mat-dialog-content>
