<div class="container py-3">



  <div class="form-group row" *ngIf="!loading">
    <div class="col-md-6 mx-auto">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <form [formGroup]="importForm" (ngSubmit)="importData()">
            <div class="form-group row">
              <div class="col-md-12 text-center">
                <div class="header mt-1 ls-2 mb-3">
                  <span class="bold-2">APE/HYGIENE REGISTRATION</span>
                </div>
              </div>

              <!-- Input file -->
              <div class="col-md-6">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="file" (change)="onLoadFile($event)"
                    formControlName="file" accept=".csv">
                  <label class="custom-file-label" for="file" #fileLabel>Choose csv</label>
                </div>
              </div>

              <!-- Type -->
              <div class="col-md-6">
                <mat-form-field class="col-md-10">
                  <mat-label>Type </mat-label>
                  <mat-select [value]="typeDefault" formControlName="type" (selectionChange)="changeType($event)">
                    <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Item ID -->
              <div class="col-md-6">
                <select-item itemURL="AllItems" placeholder="Select Items" class="col-md-12" (selectTrig)="getItem($event)">
                </select-item>
              </div>

              <!-- Item ID -->
              <div class="col-md-6">
                <mat-form-field class="col-md-10">
                  <mat-label>Item ID's </mat-label>
                  <input matInput formControlName="itemId">
                </mat-form-field>
              </div>

              <!-- Item Price -->
              <div class="col-md-6">
                <mat-form-field class="col-md-10">
                  <mat-label>Item Price's </mat-label>
                  <input matInput formControlName="itemPrice">
                </mat-form-field>
              </div>
            </div>

            <!-- Submit button -->
            <div class="form-group row">
              <div class="col-md-10 mx-auto text-right">
                <hr>
                <button mat-raised-button type="submit" color="accent" matTooltip="Import csv"><mat-icon>save_alt</mat-icon> Import</button>
              </div>
            </div>


          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

<div class="form-group row" *ngIf="loading">
  <div class="lds-hourglass"></div>
</div>


</div>
