<mat-dialog-content>
  <div class="form-group row">
    <div class="col-md-10 mx-auto text-center">
      <!-- <img src="assets/image/loading1.gif" alt="Loading GIF" class="img-fluid rounded"> -->
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="col-md-9 mx-auto text-center">
      <p class="h4">{{ title }}...</p>
    </div>
  </div>
</mat-dialog-content>
