<div class="container-fluid">
    <div class="form-group row mt-3">
      <div class="col-md-8">
        <p class="h5 bold-3 ls-2 p-3">List of patients</p>
      </div>
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <input matInput (keyup)="searchPatient($event.target.value)" placeholder="Search Patient">
        </mat-form-field>
      </div>
      <div class="col-md-12" style="height: 500px; overflow: auto;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-md-12">
          <div *ngIf="currentUrl !== 'record'">
            <ng-container matColumnDef="transactionId">
              <th mat-header-cell *matHeaderCellDef> Transaction No. </th>
              <td mat-cell *matCellDef="let element"> {{element.transactionId}} </td>
            </ng-container>
          </div>

          <ng-container matColumnDef="patientId">
            <th mat-header-cell *matHeaderCellDef> Patient ID </th>
            <td mat-cell *matCellDef="let element"> {{element.patientID || element.patientId}} </td>
          </ng-container>

          <div *ngIf="currentUrl === 'record'">
            <ng-container matColumnDef="dateUpdate">
              <th mat-header-cell *matHeaderCellDef> Last Update </th>
              <td mat-cell *matCellDef="let element"> {{element.dateUpdate}} </td>
            </ng-container>
          </div>

          <ng-container matColumnDef="transactionDate">
            <th mat-header-cell *matHeaderCellDef> Transaction Date </th>
            <td mat-cell *matCellDef="let element"> {{element.transactionDate}} </td>
          </ng-container>

          <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef> Company Name </th>
            <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
          </ng-container>

          <div *ngIf="currentUrl !== 'record'">
            <ng-container matColumnDef="patientName">
              <th mat-header-cell *matHeaderCellDef> Patient Name </th>
              <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
            </ng-container>
          </div>
          <div *ngIf="currentUrl === 'record'">
            <ng-container matColumnDef="patientName">
              <th mat-header-cell *matHeaderCellDef> Patient Name </th>
              <td mat-cell *matCellDef="let element">
                {{element.lastName + ', ' + element.firstName + ' ' + element.middleName}} </td>
            </ng-container>
          </div>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="currentUrl === 'summary'">
                <button mat-raised-button color="primary" (click)="peSummary(element.patientId, element.transactionId)"><mat-icon>assignment</mat-icon> Summary</button>
              </div>
              <div *ngIf="currentUrl === 'list'">
                <a routerLink="/pe/add/{{ element.patientId + '/' + element.transactionId }}" mat-raised-button
                  color="primary" *ngIf="element.dataStatus == 'without'">
                  <mat-icon>add_circle</mat-icon> Record
                </a>
                <button mat-raised-button color="accent" (click)="peData(element.patientId, element.transactionId)"  *ngIf="element.dataStatus == 'with'">
                  <mat-icon>visibility</mat-icon> Record
                </button>
              </div>
              <div *ngIf="currentUrl === 'record'">
                <button mat-raised-button color="primary" (click)="editInfo(element.patientID)">
                  <mat-icon>edit</mat-icon> Update
                </button>
              </div>
              <div *ngIf="currentUrl === 'certificate'">
                <button mat-mini-fab color="primary" (click)="peForm(element.patientId, element.transactionId)" matTooltip="Print" >
                  <mat-icon>print</mat-icon>
                </button>

              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="col-md-12 text-right">
        <mat-paginator [pageSizeOptions]="[10, 25, 100, 500]"></mat-paginator>
      </div>
    </div>
  </div>
